In [1]:
import sys
sys.path.insert(1, 'C:/Users/pnknv/Documents/GitHub/yadisk_loader')
from main_utils import *
from dadata import Dadata

In [2]:
def get_config_1(get_only_start_time=False):
    config = configparser.ConfigParser()
    config.read('config.ini')

    ssh_host = config['database']['ssh_host_main']  # переключить на ssh_host_main для работы на прод сервере
    ssh_port = int(config['database']['ssh_port'])
    ssh_username = config['database']['ssh_username']
    ssh_password = config['database']['ssh_password']
    database_username = config['database']['database_username']
    database_password = config['database']['database_password']
    database_name = config['database']['database_name'] # переключить на database_name для работы на прод сервере
    localhost = config['database']['localhost']
    localhost_port = int(config['database']['localhost_port'])
    table_name = config['database']['table_name']

    ya_token = config['yandex']['ya_token']
    ya_api = config['yandex']['ya_api']
    ya_link = config['yandex']['ya_link']

    start_time = int(config['start_time']['daily_start_hour'])

    if get_only_start_time == False:
        return ssh_host, ssh_port, ssh_username, ssh_password, database_username, database_password, database_name, \
               localhost, localhost_port, table_name, ya_token, ya_api, ya_link
    else:
        return start_time

In [3]:
ssh_host, ssh_port, ssh_username, ssh_password, \
database_username, database_password, database_name, \
localhost, localhost_port, table_name, ya_token, ya_api, ya_link = get_config_1()

In [4]:
sql_server, sql_engine = get_sql_engine(ssh_host, ssh_port, ssh_username, ssh_password, localhost, 
                                        localhost_port, database_username, database_password, database_name)

In [5]:
sql_engine

Engine(mariadb+pymysql://app_nedvizhk_usr:***@127.0.0.1:52687/app_nedvizhka_db)

In [6]:
exist_ad_id, error_getting_ad_id = get_exist_ad_id(sql_engine, 'cian')

In [7]:
exist_ad_id

            ad_id
0       272391397
1       272330693
2       272390645
3       272382949
4       272328204
...           ...
742314  286660382
742315  286660385
742316  286661575
742317  286661796
742318  286661960

[742319 rows x 1 columns]

In [8]:
exist_ad_id = exist_ad_id.ad_id.to_list()

In [9]:
df = pd.read_csv('циан 25-04-23 (без дублей).csv', delimiter=',')

In [10]:
df['ad_id'] = df['Ссылка'].apply(lambda x: x.split('/')[-2])
df.ad_id = df.ad_id.astype(int)

In [11]:
len(df)

126440

In [12]:
df_realty_new = df[~df.ad_id.isin(exist_ad_id)]

In [13]:
len(df_realty_new)

31999