In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import sys
sys.path.insert(1, 'C:/Users/pnknv/Documents/GitHub/yadisk_loader')
from main_utils import *

# logging

In [3]:
import logging
import time
from pathlib import Path
import shutil

In [4]:
logging.basicConfig(filename=(Path.cwd()/'ya_loader_testing.log').as_posix(), filemode='w', encoding='cp1251', 
                    level=logging.INFO, format='%(asctime)s [%(levelname)-8s] %(message)s')

# connect

In [5]:
ssh_host, ssh_port, ssh_username, ssh_password, \
database_username, database_password, database_name, \
localhost, localhost_port, table_name, ya_token, ya_api, ya_link = get_config()

In [6]:
sql_server, sql_engine = get_sql_engine()

In [7]:
local_save_dir_avito = create_load_save_dir('avito')
local_save_dir_cian = create_load_save_dir('cian')

In [8]:
sql_engine

Engine(mariadb+pymysql://app_nedvizhk_usr:***@127.0.0.1:50295/app_nedvizhka_db)

# files

In [9]:
handled_files_avito = get_saved_files_names('avito')
handled_files_cian = get_saved_files_names('cian')

In [10]:
files_to_process_avito = ['28-06-23 (без дублей).csv']
files_to_process_cian = ['циан 28-06-23 (без дублей).csv']

# process

In [16]:
# check avito from ilya
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty(local_save_dir_cian, filename,
                                                                      sql_engine, 'cian')

обработка файла циан 28-06-23 (без дублей).csv для cian

In [17]:
# check avito from ilya
for filename in files_to_process_avito:
    # обработка realty циан
    print('обработка файла {} для avito'.format(filename))
    df_avito_realty, file_date, error_file_processing = process_realty(local_save_dir_avito, filename,
                                                                      sql_engine, 'avito')

обработка файла 28-06-23 (без дублей).csv для avito

In [18]:
df_avito_realty.head(2)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2
0,3,2700219577,2,None,3,Краснодар; р-н Карасунский; ул. им. Мачуги В.Н...,41.5,17,23,https://www.avito.ru/krasnodar/kvartiry/1-k._k...,2023-06-28,0,41,Застройщик,1,6308300.0,152007.0
1,3,2700272605,2,None,3,Краснодар; р-н Карасунский; ул. им. Мачуги В.Н...,41.5,15,23,https://www.avito.ru/krasnodar/kvartiry/1-k._k...,2023-06-28,0,41,Застройщик,1,6308300.0,152007.0

In [63]:
df_avito_realty['c_name'] = df_avito_realty.addr.apply(lambda x: x.split('; ')[0])

# cian

In [179]:
df_realty_new = df_cian_realty.sample(40000, random_state=42).reset_index(drop=True)

In [180]:
df_realty_new

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,price,price_sqrm
0,2,286467368,2.0,NaN,5,Краснодарский край; Краснодар; Прикубанский; Л...,78.0,10,20,https://krasnodar.cian.ru/sale/flat/286467368/,2023-06-28,0,348,Риелтор,1,7550000,96795
1,2,287782468,2.0,NaN,2,Краснодарский край; Краснодар; Прикубанский; у...,25.0,14,19,https://krasnodar.cian.ru/sale/flat/287782468/,2023-06-28,0,348,Агентство недвижимости,1,2300000,92000
2,2,283916252,2.0,43.0,3,Краснодарский край; Краснодар; Центральный; мк...,56.0,9,21,https://krasnodar.cian.ru/sale/flat/283916252/,2023-06-28,0,348,Собственник,1,6000000,107143
3,2,287500544,19.0,510.0,3,Саратовская область; Саратов; р-н Заводской; б...,39.4,9,10,https://saratov.cian.ru/sale/flat/287500544/,2023-06-28,0,348,NaN,1,4510000,114467
4,2,284635734,5.0,NaN,3,Краснодарский край; Анапа; улица Крылова; 113к4,35.0,3,10,https://anapa.cian.ru/sale/flat/284635734/,2023-06-28,0,348,Агентство недвижимости,1,6699000,191400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,2,284839251,3.0,285.0,3,Краснодарский край; Сочи; р-н Центральный; мкр...,35.0,2,3,https://sochi.cian.ru/sale/flat/284839251/,2023-06-28,0,348,Агентство недвижимости,1,5000000,142857
39996,2,289057085,17.0,405.0,3,Томская область; Томск; р-н Октябрьский; мкр. ...,55.2,7,7,https://tomsk.cian.ru/sale/flat/289057085/,2023-06-28,0,348,Застройщик,1,8280000,150000
39997,2,280113311,3.0,292.0,4,Краснодарский край; Сочи; р-н Адлерский; мкр. ...,65.0,9,13,https://sochi.cian.ru/sale/flat/280113311/,2023-06-28,0,348,Агентство недвижимости,1,11450000,176154
39998,2,288577629,18.0,454.0,4,Новосибирская область; Новосибирск; р-н Советс...,42.0,2,4,https://novosibirsk.cian.ru/sale/flat/288577629/,2023-06-28,0,348,Агентство недвижимости,1,5000000,119048
39999,2,277373547,3.0,373.0,4,Краснодарский край; Сочи; р-н Адлерский; улица...,52.0,10,12,https://sochi.cian.ru/sale/flat/277373547/,2023-06-28,0,348,Собственник,1,19500000,375000

In [181]:
def count_jkh_addr(engine):
    count_jkh_addr_query = \
        """SELECT city_id, c.name, c.url_avito, count(*) as cnt_jkh
            from jkh_houses jh 
            left join city c 
            on c.id = city_id 
            group by city_id """
    try:
        con_obj = engine.connect()
        count_jkh_addr_db = pd.read_sql(text(count_jkh_addr_query), con=con_obj)
        count_jkh_addr_db['cnt'] = count_jkh_addr_db['cnt_jkh'] * 0.05
        count_jkh_addr_db['cnt'] = count_jkh_addr_db['cnt'].astype('int')
        count_jkh_addr_db['cnt_ddt'] = 0
        count_jkh_addr_db['cnt_left_after_limit'] = 0
        con_obj.close()
        exc_code = None
    except Exception as exc:
        logging.error(traceback.format_exc())
        count_jkh_addr_db = None
        exc_code = exc.code
    return count_jkh_addr_db, exc_code

In [182]:
count_jkh_addr_df,  err = count_jkh_addr(sql_engine)

In [183]:
count_jkh_addr_df

,city_id,name,url_avito,cnt_jkh,cnt,cnt_ddt,cnt_left_after_limit
0,1,Владивосток,vladivostok,3576,178,0,0
1,2,Краснодар,krasnodar,13915,695,0,0
2,3,Сочи,sochi,4515,225,0,0
3,4,Новороссийск,novorossiysk,3440,172,0,0
4,5,Анапа,anapa,787,39,0,0
5,6,Армавир,armavir,1518,75,0,0
6,7,Челябинск,chelyabinsk,13229,661,0,0
7,8,Магнитогорск,magnitogorsk,2841,142,0,0
8,9,Миасс,miass,1063,53,0,0
9,10,Копейск,kopeysk,1917,95,0,0
10,11,Златоуст,zlatoust,1334,66,0,0
11,12,Казань,kazan,11968,598,0,0
12,13,Набережные Челны,naberezhnye_chelny,1333,66,0,0
13,14,Нижнекамск,nizhnekamsk,810,40,0,0
14,15,Альметьевск,almetevsk,1083,54,0,0
15,16,Зеленодольск,zelenodolsk,612,30,0,0
16,17,Томск,tomsk,3757,187,0,0
17,18,Новосибирск,novosibirsk,8631,431,0,0
18,19,Саратов,saratov,6407,320,0,0
19,20,Калининград,kaliningrad,6526,326,0,0

In [184]:
df_realty_new.head(2)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,price,price_sqrm
0,2,286467368,2.0,NaN,5,Краснодарский край; Краснодар; Прикубанский; Л...,78.0,10,20,https://krasnodar.cian.ru/sale/flat/286467368/,2023-06-28,0,348,Риелтор,1,7550000,96795
1,2,287782468,2.0,NaN,2,Краснодарский край; Краснодар; Прикубанский; у...,25.0,14,19,https://krasnodar.cian.ru/sale/flat/287782468/,2023-06-28,0,348,Агентство недвижимости,1,2300000,92000

In [185]:
# 1 обрабатывать ddt только те объявы которые есть в jkh по city_name (в моменте отсеивания адреса - для этого добавить разноформатный c_name для авито и циана)
# 2 каунт каждого города, сравнение с таблицой из jkh - преобразовавть в словарь
# 3 каунт каждый раз прибавлять в запросе к дадате, просчитывать при отсеивании в начале скрипта
# 4 возвращать строчку с площадкой + список городов и обработанные/оставшиеся значения для случаев переполнения

In [186]:
def filter_addr_for_dadata_t(addrString, cnt_df, source):
    addrList = addrString.split('; ')
    min_len = 3 if source == 'avito' else 4
    city_name = addrList[0 if source == 'avito' else 1]
    
    # короткий адрес
    flag_less = len(addrList) < min_len
    # номер дома corrupt
    flag_notHouse = len(addrList[-1]) > 10
    # нет номера дома
    flag_notHouseNum = not any(del_el in addrList[-1] for del_el in [str(n) for n in range(0,10)])
    # города нет в jkh
    flag_notKnownCity = city_name not in cnt_df.name.unique()
    # переполнение лимита запросов
    if not flag_notKnownCity:
        flag_overlimit = cnt_df[cnt_df.name == city_name][['cnt', 'cnt_ddt']].diff(axis=1).iloc[0,1] > 0
        if flag_overlimit:
            cnt_df.loc[cnt_df['name'].isin([city_name]), 'cnt_left_after_limit'] += 1
    else:
        # если города нет - будет 2 флага прерывания
        flag_overlimit = True
    
    if flag_less or flag_notHouse or flag_notHouseNum or flag_notKnownCity or flag_overlimit:
        return None
    else:
        if source == 'cian':
            addrList = list(filter(lambda c: 'мкр' not in c, addrList))
        else:
            addrList = list(filter(lambda c: not any(del_el in c for del_el in [str(i) for i in range(0,10)] if 'мкр' in c), addrList))
            # addrList = list(filter(lambda c: 'мкр' in c, addrList))
        return '; '.join(addrList)

In [38]:
# check if in city
ss = 'avito'
addrList = df_realty_new.iloc[0,5].split('; ')
addrList[1 if ss == 'avito' else 0] not in count_jkh_addr_df.name.unique()

False

In [98]:
# check overlimit
ss = 'avito'
addrList = df_realty_new.iloc[0,5].split('; ')
count_jkh_addr_df[count_jkh_addr_df.name == 'Краснодар'][['cnt', 'cnt_ddt']].diff(axis=1).iloc[0,1]

-13913

In [99]:
# check overlimit _2
ss = 'avito'
addrList = df_realty_new.iloc[0,5].split('; ')
jkh_addr_df[jkh_addr_df.name == 'Краснодар'][['cnt', 'cnt_ddt']].diff(axis=1).iloc[0,1]

-13915

In [47]:
# add + 1
addr_ = df_realty_new.iloc[0,5]
count_jkh_addr_df.loc[count_jkh_addr_df['name'].isin([addr_.split('; ')[1 if ss == 'avito' else 0]]), 'cnt_ddt'] += 1

In [187]:
jkh_addr_df,  err = count_jkh_addr(sql_engine)
source = 'cian'
not_addr = []
for i, row in df_realty_new.drop_duplicates(subset='addr').iterrows():
        addr = filter_addr_for_dadata_t(row.addr, jkh_addr_df, source)
        if addr:
            # d_res = dadata.clean("address", addr)
            if True:
                jkh_addr_df.loc[jkh_addr_df['name'].isin([addr.split('; ')[0 if source == 'avito' else 1]]), 'cnt_ddt'] += 1
            
#             dh_df.loc[len(dh_df.index)] = [d_res['house_fias_id'], str(d_res), d_res['geo_lat'], d_res['geo_lon'],
#                                            d_res['street'],
#                                            d_res['house'], d_res['qc'], d_res['result'], d_res['qc_geo'], row.addr]
        else:
            # write ad_id and addr to txt
#             with open(bad_addr_txt_root, 'a') as wr:
#                 wr.writelines(f"{row.ad_id}: {row.addr}" + ',\n')
#             wr.close()
#             bad_addr += 1
            not_addr.append(row.addr)

In [188]:
len(not_addr)

12966

In [189]:
jkh_addr_df

,city_id,name,url_avito,cnt_jkh,cnt,cnt_ddt,cnt_left_after_limit
0,1,Владивосток,vladivostok,3576,178,0,0
1,2,Краснодар,krasnodar,13915,695,696,2013
2,3,Сочи,sochi,4515,225,226,1786
3,4,Новороссийск,novorossiysk,3440,172,173,452
4,5,Анапа,anapa,787,39,40,652
5,6,Армавир,armavir,1518,75,18,0
6,7,Челябинск,chelyabinsk,13229,661,662,443
7,8,Магнитогорск,magnitogorsk,2841,142,0,0
8,9,Миасс,miass,1063,53,0,0
9,10,Копейск,kopeysk,1917,95,0,0
10,11,Златоуст,zlatoust,1334,66,0,0
11,12,Казань,kazan,11968,598,599,1592
12,13,Набережные Челны,naberezhnye_chelny,1333,66,0,0
13,14,Нижнекамск,nizhnekamsk,810,40,0,0
14,15,Альметьевск,almetevsk,1083,54,0,0
15,16,Зеленодольск,zelenodolsk,612,30,0,0
16,17,Томск,tomsk,3757,187,188,751
17,18,Новосибирск,novosibirsk,8631,431,432,3628
18,19,Саратов,saratov,6407,320,321,639
19,20,Калининград,kaliningrad,6526,326,327,707

In [194]:
df_realty_new_t = df_realty_new.drop_duplicates(subset='addr')

In [195]:
df_realty_new_t['c_name'] = df_realty_new_t.addr.apply(lambda x: x.split('; ')[1])

In [197]:
df_realty_new_t.c_name.value_counts().reset_index()

                              index  c_name
0                       Новосибирск    4069
1                         Краснодар    2815
2                            Казань    2226
3                              Сочи    2046
4                         Челябинск    1117
5                       Калининград    1077
6                           Саратов     969
7                             Томск     941
8                             Анапа     702
9                      Новороссийск     653
10                          Армавир      23
11  Анапа муниципальное образование       3
12                     Зеленоградск       2
13                 Сосновский район       2
14                       Сириус пгт       1
15            Верхнеуслонский район       1
16                    Томский район       1

# avito

In [198]:
df_realty_new = df_avito_realty.sample(40000, random_state=42).reset_index(drop=True)

In [199]:
jkh_addr_df,  err = count_jkh_addr(sql_engine)
source = 'avito'
not_addr = []
for i, row in df_realty_new.drop_duplicates(subset='addr').iterrows():
        addr = filter_addr_for_dadata_t(row.addr, jkh_addr_df, source)
        if addr:
            # d_res = dadata.clean("address", addr)
            if True:
                jkh_addr_df.loc[jkh_addr_df['name'].isin([addr.split('; ')[0 if source == 'avito' else 1]]), 'cnt_ddt'] += 1
            
#             dh_df.loc[len(dh_df.index)] = [d_res['house_fias_id'], str(d_res), d_res['geo_lat'], d_res['geo_lon'],
#                                            d_res['street'],
#                                            d_res['house'], d_res['qc'], d_res['result'], d_res['qc_geo'], row.addr]
        else:
            # write ad_id and addr to txt
#             with open(bad_addr_txt_root, 'a') as wr:
#                 wr.writelines(f"{row.ad_id}: {row.addr}" + ',\n')
#             wr.close()
#             bad_addr += 1
            not_addr.append(row.addr)

In [131]:
len(not_addr)

9920

In [200]:
jkh_addr_df

,city_id,name,url_avito,cnt_jkh,cnt,cnt_ddt,cnt_left_after_limit
0,1,Владивосток,vladivostok,3576,178,0,0
1,2,Краснодар,krasnodar,13915,695,696,2485
2,3,Сочи,sochi,4515,225,226,2109
3,4,Новороссийск,novorossiysk,3440,172,173,259
4,5,Анапа,anapa,787,39,40,435
5,6,Армавир,armavir,1518,75,57,0
6,7,Челябинск,chelyabinsk,13229,661,662,293
7,8,Магнитогорск,magnitogorsk,2841,142,0,0
8,9,Миасс,miass,1063,53,0,0
9,10,Копейск,kopeysk,1917,95,0,0
10,11,Златоуст,zlatoust,1334,66,0,0
11,12,Казань,kazan,11968,598,599,1071
12,13,Набережные Челны,naberezhnye_chelny,1333,66,0,0
13,14,Нижнекамск,nizhnekamsk,810,40,0,0
14,15,Альметьевск,almetevsk,1083,54,0,0
15,16,Зеленодольск,zelenodolsk,612,30,0,0
16,17,Томск,tomsk,3757,187,188,218
17,18,Новосибирск,novosibirsk,8631,431,432,1782
18,19,Саратов,saratov,6407,320,321,462
19,20,Калининград,kaliningrad,6526,326,327,615

# to report

In [209]:
report_limits_df = jkh_addr_df[jkh_addr_df.cnt < jkh_addr_df.cnt_ddt]
report_limits_df['cnt_new'] = report_limits_df.cnt_ddt + report_limits_df.cnt_left_after_limit

In [211]:
report_limits_df['br1'] = '('
report_limits_df['br2'] = ')'
report_limits_df['sl'] = '/'
report_limits_df['sp'] = '$'
t_limit_txt = report_limits_df[['name', 'sp', 'br1', 'cnt_ddt', 'sl', 'cnt_new', 'br2']].to_string(index=False, header=False)

In [223]:
rep_text = ''
t_limit_1 = [i.split('$') for i in t_limit_txt.split('\n')]
const = max([len(i[0]) for i in t_limit_1])
try:
    for i in t_limit_1:
        i[0] = " ".join(i[0].split())
        i[1] = " ".join(i[1].replace(' ', '').replace('(', ' (').split())
        i.insert(1, "\xa0" * (const - 1 - len(i[0])))
    t_limit_2 = [' '.join(ele) for ele in t_limit_1]
    for j in t_limit_2:
        rep_text += j + '\n'
except:
    err_txt = 'Ошибка запроса к Dadata, проверь баланс'
    rep_text += err_txt + '\n'

In [224]:
print(rep_text)

Краснодар     (696/3181)
Сочи          (226/2335)
Новороссийск  (173/432)
Анапа         (40/475)
Челябинск     (662/955)
Казань        (599/1670)
Томск         (188/406)
Новосибирск   (432/2214)
Саратов       (321/783)
Калининград   (327/942)