In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import sys
sys.path.insert(1, 'C:/Users/pnknv/Documents/GitHub/yadisk_loader')
from main_utils import *

In [3]:
st_time = datetime.now()
print('Скрипт запущен: ', get_today_date())

Скрипт запущен:  18/04/2023, 00:33:19

# чтение локальных файлов

In [4]:
ilya_c = pd.read_csv('циан 16-04-23 (без дублей) new.csv', delimiter=',', encoding='utf8')

In [5]:
ilya_c.head(5)

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Адрес,Дата публикации,Тип продавца,Продавец
0,https://kazan.cian.ru/sale/flat/286179179/,"1-комн. кв., 44,7 м², 1/10 этаж",1-комн. кв.,"44,7 м²",1/10 этаж,7700000,172260,NaN,Республика Татарстан;Казань;р-н Кировский;мкр....,"вчера (вчера, 14:40)",Агентство недвижимости,Альтера
1,https://kazan.cian.ru/sale/flat/286178456/,"1-комн. кв., 43,2 м², 3/24 этаж",1-комн. кв.,"43,2 м²",3/24 этаж,7125000,164931,ЖК «Ракета»,Республика Татарстан;Казань;р-н Советский;улиц...,"два дня назад (13 апр, 14:17)",Риелтор,ID 67064013
2,https://kazan.cian.ru/sale/flat/286176086/,"1-комн. кв., 40,8 м², 4/19 этаж",1-комн. кв.,"40,8 м²",4/19 этаж,7500000,183824,ЖК «Золотая середина»,Республика Татарстан;Казань;р-н Ново-Савиновск...,"вчера (14 апр, 10:54)",Агентство недвижимости,Альтера
3,https://kazan.cian.ru/sale/flat/286172402/,"2-комн. кв., 60 м², 4/7 этаж",2-комн. кв.,60 м²,4/7 этаж,7599000,126650,NaN,Республика Татарстан;Казань;р-н Приволжский;мк...,"1 минуту назад (сегодня, 10:29)",Агентство недвижимости,Ключ
4,https://kazan.cian.ru/sale/flat/286167953/,"2-комн. кв., 45 м², 5/12 этаж",2-комн. кв.,45 м²,5/12 этаж,7500000,166667,ЖК «ул. Максимова»,Республика Татарстан;Казань;р-н Авиастроительн...,"два дня назад (13 апр, 11:34)",Агентство недвижимости,ID 63036280

In [6]:
ilya_a = pd.read_csv('16-04-23 (без дублей).csv', delimiter=';', encoding='utf8')

In [7]:
ilya_a.head(5)

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Район,Улица,Дата публикации,Тип продавца,Продавец,Ссылка на продавца,Завершённых объявлений
0,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 45 м², 5/5 эт.",2-к. квартира,45 м²,5/5 эт.,3500000,77778.0,NaN,р-н Октябрьский,"ул. Мичурина, 61Б",4 дня назад,Агентство,Городской центр недвижимости,https://www.avito.ru/user/95e1bbf88375e37753b4...,190
1,https://www.avito.ru/tomsk/kvartiry/3-k._kvart...,"3-к. квартира, 62,3 м², 1/17 эт.",3-к. квартира,"62,3 м²",1/17 эт.,4980000,79936.0,NaN,NaN,"ул. Титова , д. 12",1 день назад,Застройщик,ОАО ТДСК,https://www.avito.ru/user/aa5496618ee23df30923...,500
2,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 61,3 м², 6/6 эт.",2-к. квартира,"61,3 м²",6/6 эт.,6009360,98032.0,NaN,NaN,"ул. Василия Кандинского, д. 8",1 день назад,Застройщик,"""СЗ""Карьероуправление""",https://www.avito.ru/user/4187eee51af74e5107d1...,129
3,https://www.avito.ru/tomsk/kvartiry/1-k._kvart...,"1-к. квартира, 34,9 м², 7/9 эт.",1-к. квартира,"34,9 м²",7/9 эт.,3300000,94556.0,NaN,р-н Советский,"Сибирская ул., 104",6 часов назад,Агентство,Перспектива24-Томск,https://www.avito.ru/user/b1f3c879b3fd07d3d782...,NaN
4,https://www.avito.ru/tomsk/kvartiry/1-k._kvart...,"1-к. квартира, 32 м², 9/9 эт.",1-к. квартира,32 м²,9/9 эт.,2430000,75938.0,NaN,р-н Октябрьский,"ул. Мичурина, 6А",4 дня назад,Частное лицо,NaN,NaN,NaN

# процесс импорта

In [8]:
ssh_host, ssh_port, ssh_username, ssh_password, \
database_username, database_password, database_name, \
localhost, localhost_port, table_name, ya_token, ya_api, ya_link = get_config()

In [9]:
sql_server, sql_engine = get_sql_engine(ssh_host, ssh_port, ssh_username, ssh_password, localhost, 
                                        localhost_port, database_username, database_password, database_name)

In [10]:
local_save_dir_avito = create_load_save_dir('avito')
local_save_dir_cian = create_load_save_dir('cian')

In [11]:
handled_files_avito = get_saved_files_names('avito')
handled_files_cian = get_saved_files_names('cian')

In [12]:
files_to_process_avito = ['16-04-23 (без дублей).csv']
files_to_process_cian = ['циан 16-04-23 (без дублей) new.csv']

### cian

In [14]:
# check cian from ilya
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty(local_save_dir_cian, filename,
                                                                      sql_engine, 'cian')

обработка файла циан 16-04-23 (без дублей) new.csv для cian
добавлен новый район "кварталы 68" в districts функцией district_from_rn_mkrn
добавлен новый район "кварталы 38" в districts функцией district_from_rn_mkrn
добавлен новый район "кварталы 25" в districts функцией district_from_rn_mkrn
Успешно обработан файл циан 16-04-23 (без дублей) new.csv для realty

In [15]:
df_cian_realty.head(2)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,price,price_sqrm
0,2,286179179,12.0,179,3,Республика Татарстан; Казань; р-н Кировский; м...,44.7,1,10,https://kazan.cian.ru/sale/flat/286179179/,2023-04-16,0,292,Агентство недвижимости,1,7700000,172260
1,2,286178456,12.0,362,3,Республика Татарстан; Казань; р-н Советский; у...,43.2,3,24,https://kazan.cian.ru/sale/flat/286178456/,2023-04-16,0,292,Риелтор,1,7125000,164931

In [16]:
exist_ad_id_cian, error_getting_ad_id = get_exist_ad_id(sql_engine, 'cian')
exist_ad_id_cian = exist_ad_id_cian.ad_id.to_list()

In [17]:
cian_realty_exist = df_cian_realty[df_cian_realty.ad_id.isin(exist_ad_id_cian)][list_realty_cols]
cian_realty_new = df_cian_realty[~df_cian_realty.ad_id.isin(exist_ad_id_cian)][list_realty_cols]

In [18]:
print(len(cian_realty_new))
print(len(cian_realty_exist))
cian_realty_new.head(2)

80582
0

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
0,2,286179179,12.0,179,3,Республика Татарстан; Казань; р-н Кировский; м...,44.7,1,10,https://kazan.cian.ru/sale/flat/286179179/,2023-04-16,0,292,Агентство недвижимости,1
1,2,286178456,12.0,362,3,Республика Татарстан; Казань; р-н Советский; у...,43.2,3,24,https://kazan.cian.ru/sale/flat/286178456/,2023-04-16,0,292,Риелтор,1

In [19]:
c_1day = pd.read_csv("циан 15-04-23 (без дублей) new.csv", delimiter=',', encoding='utf8')
c_1m = pd.read_csv("циан 16-03-23 (без дублей).csv", delimiter=';', encoding='utf8')
c_1day['ad_id'] = c_1day['Ссылка'].apply(lambda x: x.split('/')[-2])
c_1m['ad_id'] = c_1m['Ссылка'].apply(lambda x: x.split('/')[-2])
c_1day_adids = c_1day.ad_id.unique().tolist()
c_1m_adids = c_1m.ad_id.unique().tolist()
print(len(c_1day_adids))
print(len(c_1m_adids))

81784
64130

In [20]:
print(len(df_cian_realty[df_cian_realty.ad_id.isin(c_1day_adids)][list_realty_cols]))
print(len(df_cian_realty[~df_cian_realty.ad_id.isin(c_1day_adids)][list_realty_cols]))
print(len(df_cian_realty[df_cian_realty.ad_id.isin(c_1m_adids)][list_realty_cols]))
print(len(df_cian_realty[~df_cian_realty.ad_id.isin(c_1m_adids)][list_realty_cols]))

77680
2902
36167
44415

In [45]:
df_cian_realty.to_csv('processed_cian_16.csv')

### avito

In [21]:
# check avito from ilya
for filename in files_to_process_avito:
    # обработка realty циан
    print('обработка файла {} для avito'.format(filename))
    df_avito_realty, file_date, error_file_processing = process_realty(local_save_dir_avito, filename,
                                                                      sql_engine, 'avito')

обработка файла 16-04-23 (без дублей).csv для avito
Успешно обработан файл 16-04-23 (без дублей).csv для realty

In [40]:
print(len(df_avito_realty))
df_avito_realty.head(2)

120188

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2
0,3,2888300632,17,391,4,Томск; р-н Октябрьский; ул. Мичурина; 61Б,45.0,5,5,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,2023-04-16,0,1,Агентство,1,3500000.0,77778.0
1,3,2882533936,17,None,5,Томск; ул. Титова ; д. 12,62.3,1,17,https://www.avito.ru/tomsk/kvartiry/3-k._kvart...,2023-04-16,0,1,Застройщик,1,4980000.0,79936.0

In [41]:
a_1day = pd.read_csv("15-04-23 (без дублей).csv", delimiter=';', encoding='utf8')
a_1m = pd.read_csv("16-03-23 (без дублей).csv", delimiter=';', encoding='utf8')
a_1day['ad_id'] = a_1day['Ссылка'].apply(lambda x: x.split('_')[-1])
a_1m['ad_id'] = a_1m['Ссылка'].apply(lambda x: x.split('_')[-1])
a_1day_adids = a_1day.ad_id.unique().tolist()
a_1m_adids = a_1m.ad_id.unique().tolist()
print(len(a_1day_adids))
print(len(a_1m_adids))

121829
121053

In [42]:
print(len(df_avito_realty[df_avito_realty.ad_id.isin(a_1day_adids)][list_realty_cols]))
print(len(df_avito_realty[~df_avito_realty.ad_id.isin(a_1day_adids)][list_realty_cols]))
print(len(df_avito_realty[df_avito_realty.ad_id.isin(a_1m_adids)][list_realty_cols]))
print(len(df_avito_realty[~df_avito_realty.ad_id.isin(a_1m_adids)][list_realty_cols]))

114448
5740
75569
44619

In [44]:
df_avito_realty.to_csv('processed_avito_16.csv')

# обновленный функционал для обращения к dadata и записи в иные таблицы

In [100]:
from dadata import Dadata
token = "f288b25edb6d05b5ceb4d957376104a181c4adee"
secret = "9d337ae6b9901a6708802eaca6d7055ce2c64772"
dadata = Dadata(token, secret)

In [101]:
df_avito_realty = pd.read_csv('processed_avito_16.csv', index_col=0)
df_cian_realty = pd.read_csv('processed_cian_16.csv', index_col=0)

In [102]:
df_avito_realty_sample = df_avito_realty.sample(500, random_state=111)
df_cian_realty_sample = df_cian_realty.sample(500, random_state=111)

In [106]:
st_time = datetime.now()
df_avito_realty_sample['data'] = None
for i, row in df_avito_realty_sample.iterrows():
    dadata_result = dadata.clean("address", row.addr)
    df_avito_realty_sample.at[i, 'data'] = dadata_result
datetime.now() - st_time

datetime.timedelta(seconds=174, microseconds=565384)

In [107]:
# авито: 
# запрос к дадате 500 адресов - 3 минуты
# за день приходит 5700 записей по 7 городам
# в итоге время загрузки увеличивается на 5700/500 * 3 = 34 минуты

In [164]:
df_avito_realty_sample.to_csv('dadata_avito_16_sample.csv')

In [152]:
st_time = datetime.now()
df_cian_realty_sample['data'] = None
for i, row in df_cian_realty_sample.iterrows():
    dadata_result = dadata.clean("address", '; '.join([row.addr.split('; ')[index] for index in [0, 1, -2, -1]]))
    df_cian_realty_sample.at[i, 'data'] = dadata_result
datetime.now() - st_time

datetime.timedelta(seconds=151, microseconds=198536)

In [157]:
# циан: 
# запрос к дадате 500 адресов - 2.5 минуты
# за день приходит 2700 записей по 7 городам
# в итоге время загрузки увеличивается на 2902/500 * 3 = 17 минуты

In [163]:
df_cian_realty_sample.to_csv('dadata_cian_16_sample.csv')