In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
import sys
sys.path.insert(1, 'C:/Users/pnknv/Documents/GitHub/yadisk_loader')
from main_utils import *

In [3]:
ssh_host, ssh_port, ssh_username, ssh_password, \
database_username, database_password, database_name, \
localhost, localhost_port, table_name, ya_token, ya_api, ya_link = get_config()

In [4]:
sql_server, sql_engine = get_sql_engine()

In [5]:
sql_server

<class 'sshtunnel.SSHTunnelForwarder'> object
ssh gateway: 92.53.64.66:22
proxy: no
username: root
authentication: {'password': '6hv66fhY3JF4HfwJ', 'pkeys': [('ssh-rsa', b'41789c651127e8b2874571444b75b184')]}
hostkey: not checked
status: started
keepalive messages: every 5.0 sec
tunnel connection check: disabled
concurrent connections: allowed
compression: not requested
logging level: ERROR
local binds: [('0.0.0.0', 0)]
remote binds: [('127.0.0.1', 3306)]

# tg query

In [6]:
import requests
import json

In [7]:
a = json.loads("""{"ok":true,"result":{"message_id":4667,"sender_chat":{"id":-1001683557389,"title":"\u041d\u0435\u0434\u0432\u0438\u0436\u043a\u0430.alarm","type":"channel"},"chat":{"id":-1001683557389,"title":"\u041d\u0435\u0434\u0432\u0438\u0436\u043a\u0430.alarm","type":"channel"},"date":1687949230,"text":"\u0442\u0435\u043a\u0441"}}""")

In [8]:
# requests.post(a)

In [9]:
def send_to_telegram(message):

    apiToken = '5082654068:AAF7quCLZ4xuTq2FBdo3POssdJsM_FRHwTs'
    chatID = '515382482'
    apiURL = f'https://api.telegram.org/bot{apiToken}/sendMessage'

    try:
        response = requests.post(apiURL, json={'chat_id': chatID, 'text': message})
        print(response.text)
    except Exception as e:
        print(e)

send_to_telegram("Hello from Python!")

{"ok":false,"error_code":401,"description":"Unauthorized"}

# create stats

In [10]:
dadata_rep_df, error_loading_files = create_dadata_rep(sql_engine)

In [11]:
dadata_rep_df

    id              name  ddt_total  ddt_cian  ddt_avito
0    1       Владивосток          0         0          0
1    2         Краснодар          0         0          0
2    3              Сочи          0         0          0
3    4      Новороссийск          0         0          0
4    5             Анапа          0         0          0
5    6           Армавир          0         0          0
6    7         Челябинск          0         0          0
7    8      Магнитогорск          0         0          0
8    9             Миасс          0         0          0
9   10           Копейск          0         0          0
10  11          Златоуст          0         0          0
11  12            Казань          0         0          0
12  13  Набережные Челны          0         0          0
13  14        Нижнекамск          0         0          0
14  15       Альметьевск          0         0          0
15  16      Зеленодольск          0         0          0
16  17             Томск          0         0          0
17  18       Новосибирск          0         0          0
18  19           Саратов          0         0          0
19  20       Калининград          0         0          0
20  21          Тольятти          0         0          0
21  22            Самара          0         0          0
22  23        Красноярск          0         0          0

In [27]:
ddt_c = pd.read_csv(f'saved_data_csv/cian_dadata_request.csv', encoding='cp1251', index_col=0)

In [28]:
ddt_c

,house_fias_id,data,geo_lat,geo_lon,street,house,qc,result,qc_geo,ad_id,addr
0,NaN,{'source': 'Челябинская область; Челябинск; р-...,55.174415,61.337401,Университетская Набережная,8,0.0,"г Челябинск, ул Университетская Набережная, д 8",2.0,290471117,Челябинская область; Челябинск; р-н Калинински...
1,NaN,{'source': 'Краснодарский край; Краснодар; При...,45.040160,38.975965,NaN,NaN,1.0,"г Краснодар, р-н Прикубанский",4.0,290553323,Краснодарский край; Краснодар; Прикубанский; Л...
2,091d0fe2-8363-488a-b683-eb200fea366d,{'source': 'Томская область; Томск; р-н Ленинс...,56.524052,84.975729,Мира,72,0.0,"г Томск, пр-кт Мира, д 72",0.0,290539315,Томская область; Томск; р-н Ленинский; мкр. Ра...
3,c91baa39-05c1-4797-8c71-18943f0c1cdc,{'source': 'Томская область; Томск; р-н Октябр...,56.576570,85.102042,NaN,60,0.0,"г Томск, п Светлый, д 60",0.0,290529437,Томская область; Томск; р-н Октябрьский; пос. ...
4,accade85-9c64-4b5b-ac86-c70126190624,{'source': 'Томская область; Томск; р-н Кировс...,56.463151,84.984577,Кирова,53/7,0.0,"г Томск, пр-кт Кирова, д 53/7",0.0,290509488,Томская область; Томск; р-н Кировский; проспек...
...,...,...,...,...,...,...,...,...,...,...,...
2792,9875c9b9-7811-41c7-86fd-a9a722ee44c2,{'source': 'Краснодарский край; Анапа; бульвар...,44.895043,37.316328,Босфорский,14,0.0,"Краснодарский край, г Анапа, б-р Босфорский, д 14",4.0,290506901,Краснодарский край; Анапа; бульвар Босфорский; 14
2793,NaN,"{'source': 'Краснодарский край; Анапа; 36А', '...",44.895043,37.316328,NaN,NaN,1.0,"Краснодарский край, г Анапа",4.0,290505066,Краснодарский край; Анапа; 12-й мкр; 36А
2794,NaN,{'source': 'Краснодарский край; Краснодар; При...,45.114185,38.920341,Западный Обход,2,1.0,"г Краснодар, ул Западный Обход, д 2 к 3",1.0,288556761,Краснодарский край; Краснодар; Прикубанский; ш...
2795,82aaeac8-7d33-4afc-86ec-826d93edc22e,{'source': 'Краснодарский край; Краснодар; При...,45.077419,39.040172,им. Героя Георгия Бочарникова,2,1.0,"г Краснодар, ул им. Героя Георгия Бочарникова,...",2.0,290007647,Краснодарский край; Краснодар; Прикубанский; у...
2796,8034091c-17ed-4ffe-86a0-f97336db95d6,{'source': 'Краснодарский край; Краснодар; Кар...,44.989475,39.069290,им. Валерия Гассия,4/7,1.0,"г Краснодар, ул им. Валерия Гассия, д 4/7",1.0,290172045,Краснодарский край; Краснодар; Карасунский; ул...

In [17]:
ddt_av = pd.read_csv(f'saved_data_csv/avito_dadata_request.csv', encoding='cp1251', index_col=0)

In [18]:
fill_dadata_report(dadata_rep_df, ddt_av, 'avito')

In [21]:
fill_dadata_report(dadata_rep_df, ddt_c, 'cian')

In [22]:
dadata_rep_df

    id              name  ddt_total  ddt_cian  ddt_avito
0    1       Владивосток          0         0          0
1    2         Краснодар          0       253        443
2    3              Сочи          0       226          0
3    4      Новороссийск          0        53         59
4    5             Анапа          0        40          0
5    6           Армавир          0         2          0
6    7         Челябинск          0        47        615
7    8      Магнитогорск          0         0          0
8    9             Миасс          0         0          0
9   10           Копейск          0         0          0
10  11          Златоуст          0         0          0
11  12            Казань          0       114        239
12  13  Набережные Челны          0         0          0
13  14        Нижнекамск          0         0          0
14  15       Альметьевск          0         0          0
15  16      Зеленодольск          0         0          0
16  17             Томск          0        54        134
17  18       Новосибирск          0       382         50
18  19           Саратов          0        84          0
19  20       Калининград          0       140          0
20  21          Тольятти          0         0          0
21  22            Самара          0         0          0
22  23        Красноярск          0         0          0

In [23]:
common_rep_df = create_common_rep()

In [24]:
report_df_append(common_rep_df, 'parse_date', '2023-28-06')
report_df_append(common_rep_df, 'c_total', 115869)
report_df_append(common_rep_df, 'av_total', 53462)
report_df_append(common_rep_df, 'c_new', 2550)
report_df_append(common_rep_df, 'av_new', 2473)
report_df_append(common_rep_df, 'c_adr_total', 30000)
report_df_append(common_rep_df, 'av_adr_total', 31000)
report_df_append(common_rep_df, 'c_adr_new', 1000)
report_df_append(common_rep_df, 'av_adr_new', 479)

In [25]:
common_rep_df

,parse_date,c_total,av_total,c_new,av_new,c_adr_total,av_adr_total,c_adr_new,av_adr_new
0,2023-28-06,115869,53462,2550,2473,30000,31000,1000,479

In [17]:
report_txt = report_text(common_rep_df, dadata_rep_df)
if report_txt:
    run_bot_send_msg(report_txt)

In [17]:
print(rrr)

Обработаны объявления от 2023-28-06
   всего 169331  -  ( 115869 / 53462 )
     new   5023  -  (   2550 /  2473 )
    адр.  61000  -  (  30000 / 31000 )
адр. new   1479  -  (   1000 /   479 )

dadata
2 Краснодар _______ 136 ( 136 / - )
3 Сочи ____________ 131 ( 131 / - )
4 Новороссийск ____ 61 ( 17 / 44 )
5 Анапа ___________ 31 ( 31 / - )
6 Армавир _________ 1 ( 1 / - )
7 Челябинск _______ 16 ( 16 / - )
12 Казань _________ 176 ( 52 / 124 )
17 Томск __________ 15 ( 15 / - )
18 Новосибирск ____ 321 ( 167 / 154 )
19 Саратов ________ 73 ( 73 / - )
20 Калининград ____ 51 ( 51 / - )

In [18]:
import telebot

bot = telebot.TeleBot('5384767557:AAGBM487FW6lZq6D3z7ct44ADqyMjjjXpxc')
chat_id = '-1001683557389'

def send_tg(message):
    bot.send_message(chat_id, message)

@bot.message_handler(content_types=['text'])
def get_text_messages(message):
    if message.text == "Привет":
        bot.send_message(message.from_user.id, "Привет")

In [19]:
if rrr:
    send_tg(rrr)
else:
    pass

In [20]:
bot.stop_bot()

In [41]:
rep_text = str()
rep_text += f'Обработаны объявления от {common_rep_df.iloc[0,0]}\n'

temp = pd.DataFrame(columns=['text', 'total', 'c', 'av'])
c_r = common_rep_df.copy().to_dict('r')[0]
temp.loc[len(temp)] = ['всего', c_r['c_total'] + c_r['av_total'], c_r['c_total'], c_r['av_total']]
temp.loc[len(temp)] = ['new', c_r['c_new'] + c_r['av_new'], c_r['c_new'], c_r['av_new']]
temp.loc[len(temp)] = ['адр.', c_r['c_adr_total'] + c_r['av_adr_total'], c_r['c_adr_total'], c_r['av_adr_total']]
temp.loc[len(temp)] = ['адр. new', c_r['c_adr_new'] + c_r['av_adr_new'], c_r['c_adr_new'], c_r['av_adr_new']]
temp['br1'] = '('
temp['br2'] = ')'
temp['sl'] = '/'
temp['sp1'] =' - '
temp['sp'] =' - '
temp = temp[['text', 'sp1', 'total', 'sp', 'br1', 'c', 'sl', 'av', 'br2']]

t_txt = temp.to_string(index=False, header=False)
t_txt_1 = [i.split(' - ') for i in t_txt.split('\n')]
const = max([len(i[0]) for i in t_txt_1])
const_2 = max([len(i[1]) for i in t_txt_1])
for i in t_txt_1:
    i[0] = " ".join(i[0].split())
    i[1] = " ".join(i[1].split())
    i.insert(1, "\xa0"*(const - len(i[0])))
    i.insert(3, "\xa0"*(const_2 - 1 - len(i[2])))
for j in [' '.join(ele) for ele in t_txt_1]:
    rep_text += j + '\n'

In [42]:
print(rep_text)

Обработаны объявления от 2023-28-06
всего      169331    ( 115869 / 53462 )
new        5023      (   2550 /  2473 )
адр.       61000     (  30000 / 31000 )
адр. new   1479      (   1000 /   479 )

In [88]:
rep_text = str()
rep_text += f'Обработаны объявления от {common_rep_df.iloc[0,0]}\n'

temp = pd.DataFrame(columns=['text', 'total', 'c', 'av'])
c_r = common_rep_df.copy().to_dict('r')[0]
temp.loc[len(temp)] = ['всего', c_r['c_total'] + c_r['av_total'], c_r['c_total'], c_r['av_total']]
temp.loc[len(temp)] = ['new', c_r['c_new'] + c_r['av_new'], c_r['c_new'], c_r['av_new']]
temp.loc[len(temp)] = ['адр.', c_r['c_adr_total'] + c_r['av_adr_total'], c_r['c_adr_total'], c_r['av_adr_total']]
temp.loc[len(temp)] = ['адр. new', c_r['c_adr_new'] + c_r['av_adr_new'], c_r['c_adr_new'], c_r['av_adr_new']]
temp['br1'] = '('
temp['br2'] = ')'
temp['sl'] = '/'
temp['sp1'] =' - '
temp['sp'] ='$'
temp = temp[['text', 'sp1', 'total', 'sp', 'br1', 'c', 'sl', 'av', 'br2']]
t_txt = temp.to_string(index=False, header=False)

In [90]:
print(t_txt)

   всего  -  169331   ( 115869 / 53462 )
     new  -    5023   (   2550 /  2473 )
    адр.  -   61000   (  30000 / 31000 )
адр. new  -    1479   (   1000 /   479 )

In [95]:
def report_text_dev(common_rep_df, dadata_rep_df):
    try:
        # полный кал
        rep_text = str()
        rep_text += f'Обработаны объявления от {common_rep_df.iloc[0,0]}\n'

        temp = pd.DataFrame(columns=['text', 'total', 'c', 'av'])
        c_r = common_rep_df.copy().to_dict('r')[0]
        temp.loc[len(temp)] = ['всего', c_r['c_total'] + c_r['av_total'], c_r['c_total'], c_r['av_total']]
        temp.loc[len(temp)] = ['new', c_r['c_new'] + c_r['av_new'], c_r['c_new'], c_r['av_new']]
        temp.loc[len(temp)] = ['адр.', c_r['c_adr_total'] + c_r['av_adr_total'], c_r['c_adr_total'], c_r['av_adr_total']]
        temp.loc[len(temp)] = ['адр. new', c_r['c_adr_new'] + c_r['av_adr_new'], c_r['c_adr_new'], c_r['av_adr_new']]
        temp['br1'] = '('
        temp['br2'] = ')'
        temp['sl'] = '/'
        temp['sp1'] =' - '
        temp['sp'] ='$'
        temp = temp[['text', 'sp1', 'total', 'sp', 'br1', 'c', 'sl', 'av', 'br2']]
        
        t_txt = temp.to_string(index=False, header=False)
        t_txt_1 = [i.split(' - ') for i in t_txt.split('\n')]
        const = max([len(i[0]) for i in t_txt_1])
        const_2 = max([len(i[1]) for i in t_txt_1])
        for i in t_txt_1:
            i[0] = "".join(i[0].replace(' ', '').split())
            i[1] = " ".join(i[1].replace(' ', '').replace('$', ' ').split())
            i.insert(1, "\xa0"*(const - 2 - len(i[0])))
            i.insert(3, "\xa0")
        for j in [' '.join(elele) for elele in t_txt_1]:
            rep_text += j + '\n'
        
        rep_text +=  '\n'

        temp_ddt = dadata_rep_df.copy()
        temp_ddt['ddt_total'] = temp_ddt['ddt_cian'] + temp_ddt['ddt_avito']
        temp_ddt = temp_ddt[temp_ddt.ddt_total != 0]
        temp_ddt.replace(to_replace = 0, value = '-', inplace=True)
    
        temp_ddt['br1'] = '('
        temp_ddt['br2'] = ')'
        temp_ddt['sl'] = '/'
        temp_ddt['sp'] =' '
        temp_ddt['sp1'] ='$'
        temp_ddt = temp_ddt[['id', 'name', 'sp1', 'ddt_total', 'sp', 'br1', 'ddt_cian', 'sl', 'ddt_avito', 'br2']]
        
        rep_text += 'dadata' + '\n' 
        
        t_ddt_txt = temp_ddt.to_string(index=False, header=False)
        t_ddt_1 = [i.split('$') for i in t_ddt_txt.split('\n')]
        const = max([len(i[0]) for i in t_ddt_1])
        for i in t_ddt_1:
            i[0] = " ".join(i[0].split())
            i[1] = " ".join(i[1].split())
            i.insert(1, "\xa0"*(const - 2 - len(i[0])))
        t_ddt_2 = [' '.join(ele) for ele in t_ddt_1]
        for j in t_ddt_2:
            rep_text += j + '\n'
        

        with open(f'saved_data_csv/tg_report_{c_r["parse_date"]}.txt', 'w') as rep_file:
            rep_file.write(rep_text)
        rep_file.close()
    
        return rep_text
    except:
#         logging.error('Ошибка при создании отчета для tg')
#         logging.error(traceback.format_exc())
        return

In [96]:
rrr = report_text_dev(common_rep_df, dadata_rep_df)

In [97]:
rrr

'Обработаны объявления от 2023-28-06\nвсего \xa0\xa0 169331 (115869/53462) \xa0\nnew \xa0\xa0\xa0\xa0 5023 (2550/2473) \xa0\nадр. \xa0\xa0\xa0 61000 (30000/31000) \xa0\nадр.new  1479 (1000/479) \xa0\n\ndadata\n2 Краснодар \xa0\xa0\xa0 136 ( 136 / - )\n3 Сочи \xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 131 ( 131 / - )\n4 Новороссийск  61 ( 17 / 44 )\n5 Анапа \xa0\xa0\xa0\xa0\xa0\xa0\xa0 31 ( 31 / - )\n6 Армавир \xa0\xa0\xa0\xa0\xa0 1 ( 1 / - )\n7 Челябинск \xa0\xa0\xa0 16 ( 16 / - )\n12 Казань \xa0\xa0\xa0\xa0\xa0 176 ( 52 / 124 )\n17 Томск \xa0\xa0\xa0\xa0\xa0\xa0 15 ( 15 / - )\n18 Новосибирск  321 ( 167 / 154 )\n19 Саратов \xa0\xa0\xa0\xa0 73 ( 73 / - )\n20 Калининград  51 ( 51 / - )\n'

In [98]:
for i in rrr.split('\n'):
    print(i)

Обработаны объявления от 2023-28-06
всего    169331 (115869/53462)
new      5023 (2550/2473)
адр.     61000 (30000/31000)
адр.new  1479 (1000/479)

dadata
2 Краснодар     136 ( 136 / - )
3 Сочи          131 ( 131 / - )
4 Новороссийск  61 ( 17 / 44 )
5 Анапа         31 ( 31 / - )
6 Армавир       1 ( 1 / - )
7 Челябинск     16 ( 16 / - )
12 Казань       176 ( 52 / 124 )
17 Томск        15 ( 15 / - )
18 Новосибирск  321 ( 167 / 154 )
19 Саратов      73 ( 73 / - )
20 Калининград  51 ( 51 / - )

In [25]:
print(rrr)

Обработаны объявления от 2023-28-06
всего      169331    ( 115869 / 53462 )
new        5023      (   2550 /  2473 )
адр.       61000     (  30000 / 31000 )
адр.new    1479      (   1000 /   479 )

dadata
2 Краснодар ______ 136 ( 136 / - )
3 Сочи ___________ 131 ( 131 / - )
4 Новороссийск ___ 61 ( 17 / 44 )
5 Анапа __________ 31 ( 31 / - )
6 Армавир ________ 1 ( 1 / - )
7 Челябинск ______ 16 ( 16 / - )
12 Казань ________ 176 ( 52 / 124 )
17 Томск _________ 15 ( 15 / - )
18 Новосибирск ___ 321 ( 167 / 154 )
19 Саратов _______ 73 ( 73 / - )
20 Калининград ___ 51 ( 51 / - )

In [168]:
import telebot

bot = telebot.TeleBot('5384767557:AAGBM487FW6lZq6D3z7ct44ADqyMjjjXpxc')
chat_id = '-1001683557389'

def send_tg(message):
    bot.send_message(chat_id, message)

@bot.message_handler(content_types=['text'])
def get_text_messages(message):
    if message.text == "Привет":
        bot.send_message(message.from_user.id, "Привет")

In [169]:
if rrr:
    send_tg(rrr)
else:
    pass

In [170]:
bot.stop_bot()