In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import sys
sys.path.insert(1, 'C:/Users/pnknv/Documents/GitHub/yadisk_loader')
from main_utils import *

# logging

In [3]:
import logging
import time
from pathlib import Path
import shutil

In [4]:
logging.basicConfig(filename=(Path.cwd()/'ya_loader.log').as_posix(), filemode='w', encoding='cp1251', 
                    level=logging.INFO, format='%(asctime)s [%(levelname)-8s] %(message)s')

In [5]:
logging.info('asd')

# connect and values

In [5]:
ssh_host, ssh_port, ssh_username, ssh_password, \
database_username, database_password, database_name, \
localhost, localhost_port, table_name, ya_token, ya_api, ya_link = get_config()

In [6]:
sql_server, sql_engine = get_sql_engine()

In [7]:
local_save_dir_avito = create_load_save_dir('avito')
local_save_dir_cian = create_load_save_dir('cian')

In [8]:
sql_engine

Engine(mariadb+pymysql://app_nedvizhk_usr:***@127.0.0.1:50566/app_nedvizhka_db)

In [9]:
handled_files_avito = get_saved_files_names('avito')
handled_files_cian = get_saved_files_names('cian')

In [10]:
files_to_process_avito = ['28-06-23 (без дублей).csv']
files_to_process_cian = ['циан 28-06-23 (без дублей).csv']

# process

In [16]:
# check avito from ilya
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty(local_save_dir_cian, filename,
                                                                      sql_engine, 'cian')

обработка файла циан 28-06-23 (без дублей).csv для cian

In [17]:
# check avito from ilya
for filename in files_to_process_avito:
    # обработка realty циан
    print('обработка файла {} для avito'.format(filename))
    df_avito_realty, file_date, error_file_processing = process_realty(local_save_dir_avito, filename,
                                                                      sql_engine, 'avito')

обработка файла 28-06-23 (без дублей).csv для avito

In [18]:
exist_ad_id, error_getting_ad_id = get_exist_ad_id(sql_engine, 'cian')
exist_ad_id = exist_ad_id.ad_id.to_list()

In [19]:
df = df_cian_realty.copy()

In [20]:
df.ad_id = df.ad_id.astype('int64')
df_realty_exist = df[df.ad_id.isin(exist_ad_id)][list_realty_cols]
df_realty_new = df[~df.ad_id.isin(exist_ad_id)][list_realty_cols]

# вместо dadata (дополнения)

In [21]:
def find_new_addr(cities, engine):
    addr_query = f"""SELECT city_id, addr, district_id, house_id, jkh_id, dadata_houses_id
                     FROM realty 
                     where city_id in {cities}
                     -- GROUP BY addr, district_id, house_id, jkh_id"""
    try:
        con_obj = engine.connect()
        addr_db = pd.read_sql(text(addr_query), con=con_obj)
        con_obj.close()
        exc_str = None
    except Exception as exc:
        print('a')
        logging.error(traceback.format_exc())
        addr_db = None
        exc_str = exc
    return addr_db, exc_str

In [22]:
addr_df, exc = find_new_addr(tuple(int(i) for i in filter(lambda v: v==v, df_realty_new.city_id.unique())), sql_engine)

In [23]:
addr_df

,city_id,addr,district_id,house_id,jkh_id,dadata_houses_id
0,2,Краснодарский край; Краснодар; Прикубанский; у...,NaN,72572.0,47572.0,103673.0
1,2,Краснодарский край; Краснодар; Карасунский; мк...,32.0,3302.0,48673.0,11862.0
2,2,Краснодарский край; Краснодар; Прикубанский; м...,33.0,3303.0,47459.0,12069.0
3,2,Краснодарский край; Краснодар; Прикубанский; у...,NaN,72675.0,48448.0,103705.0
4,2,Краснодарский край; Краснодар; Прикубанский; м...,34.0,75856.0,NaN,NaN
...,...,...,...,...,...,...
847803,18,Новосибирск; р-н Ленинский; ул. Титова; стр. 44,433.0,NaN,75402.0,305867.0
847804,18,Новосибирск; р-н Ленинский; ул. Титова; стр. 44,433.0,NaN,75402.0,305867.0
847805,18,Новосибирск; р-н Ленинский; ул. Титова; стр. 44,433.0,NaN,75402.0,305867.0
847806,18,Новосибирск; р-н Ленинский; ул. Титова; стр. 44,433.0,NaN,75402.0,305867.0
847807,18,Новосибирск; р-н Ленинский; ул. Титова; стр. 44,433.0,NaN,75402.0,305867.0

In [24]:
addr_df_filtered = addr_df.sort_values(by=['house_id', 'jkh_id'], ascending=False).drop_duplicates(subset=['city_id','addr'], keep="first").reset_index(drop=True)

In [25]:
addr_df_filtered

,city_id,addr,district_id,house_id,jkh_id,dadata_houses_id
0,18,Новосибирская область; Новосибирск; р-н Ленинс...,482.0,97989.0,73701.0,385690.0
1,18,Новосибирская область; Новосибирск; р-н Кировс...,560.0,97988.0,NaN,356313.0
2,18,Новосибирская область; Новосибирск; р-н Дзержи...,434.0,97985.0,NaN,408755.0
3,18,Новосибирская область; Новосибирск; р-н Ленинс...,433.0,97984.0,NaN,408749.0
4,18,Новосибирская область; Новосибирск; р-н Советс...,477.0,97983.0,NaN,408672.0
...,...,...,...,...,...,...
69307,18,Новосибирск; Железнодорожный район; Прибрежная...,NaN,NaN,NaN,409339.0
69308,18,Новосибирск; Армавирская ул.; 27,NaN,NaN,NaN,409342.0
69309,18,Новосибирск; ул. Фрунзе; 4,NaN,NaN,NaN,409343.0
69310,18,Новосибирск; Горская ул.; 2/1,NaN,NaN,NaN,409354.0
69311,18,Новосибирск; пл. Карла Маркса,NaN,NaN,NaN,NaN

### cian

In [26]:
df_cian_realty

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,price,price_sqrm
0,2,288076640,2.0,NaN,4,Краснодарский край; Краснодар; Центральный; ул...,47.00,1,1,https://krasnodar.cian.ru/sale/flat/288076640/,2023-06-28,0,327,NaN,1,5700000,121277
1,2,288013797,2.0,NaN,5,Краснодарский край; Краснодар; Центральный; ул...,55.90,5,5,https://krasnodar.cian.ru/sale/flat/288013797/,2023-06-28,0,327,Агентство недвижимости,1,5700000,101968
2,2,287963811,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; у...,64.40,14,17,https://krasnodar.cian.ru/sale/flat/287963811/,2023-06-28,0,327,Собственник,1,5700000,88509
3,2,287905825,2.0,53.0,4,Краснодарский край; Краснодар; Прикубанский; м...,57.00,10,16,https://krasnodar.cian.ru/sale/flat/287905825/,2023-06-28,0,327,Агентство недвижимости,1,5700000,100000
4,2,287885919,2.0,NaN,4,Краснодарский край; Краснодар; Западный; Центр...,41.00,3,4,https://krasnodar.cian.ru/sale/flat/287885919/,2023-06-28,0,327,Собственник,1,5700000,139024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117741,2,289223254,5.0,NaN,5,Краснодарский край; Анапа; Терская улица,90.00,5,5,https://anapa.cian.ru/sale/flat/289223254/,2023-06-28,0,327,Агентство недвижимости,1,11500000,127778
117742,2,289223108,5.0,NaN,3,Краснодарский край; Анапа; Терская улица; 79,57.20,1,10,https://anapa.cian.ru/sale/flat/289223108/,2023-06-28,0,327,Агентство недвижимости,1,9250000,161713
117743,2,289222245,5.0,NaN,5,Краснодарский край; Анапа; улица Ленина,80.00,4,16,https://anapa.cian.ru/sale/flat/289222245/,2023-06-28,0,327,Агентство недвижимости,1,11600000,145000
117744,2,289209497,5.0,NaN,4,Краснодарский край; Анапа; улица Крылова; 13к2,54.15,9,9,https://anapa.cian.ru/sale/flat/289209497/,2023-06-28,0,327,Риелтор,1,9300000,171745
117745,2,289202496,5.0,NaN,6,Краснодарский край; Анапа; улица Ленина,88.10,3,5,https://anapa.cian.ru/sale/flat/289202496/,2023-06-28,0,327,Агентство недвижимости,1,9250000,104994

In [27]:
exist_ad_id, error_getting_ad_id = get_exist_ad_id(sql_engine, 'cian')
exist_ad_id = exist_ad_id.ad_id.to_list()

In [28]:
df = df_cian_realty.copy()

In [29]:
df.ad_id = df.ad_id.astype('int64')
df_realty_exist = df[df.ad_id.isin(exist_ad_id)][list_realty_cols]
df_realty_new = df[~df.ad_id.isin(exist_ad_id)][list_realty_cols]

In [30]:
df_realty_new

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
54,2,288474627,2.0,NaN,5,Краснодарский край; Краснодар; Центральный,78.17,4,16,https://krasnodar.cian.ru/sale/flat/288474627/,2023-06-28,0,327,Представитель застройщика,1
57,2,288482254,2.0,NaN,3,Краснодарский край; Краснодар; Прикубанский; С...,51.70,2,16,https://krasnodar.cian.ru/sale/flat/288482254/,2023-06-28,0,327,Представитель застройщика,1
58,2,286495627,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; Д...,57.30,5,16,https://krasnodar.cian.ru/sale/flat/286495627/,2023-06-28,0,327,Представитель застройщика,1
61,2,288024128,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; С...,56.60,4,16,https://krasnodar.cian.ru/sale/flat/288024128/,2023-06-28,0,327,Представитель застройщика,1
68,2,288028152,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; С...,56.90,2,16,https://krasnodar.cian.ru/sale/flat/288028152/,2023-06-28,0,327,Представитель застройщика,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117741,2,289223254,5.0,NaN,5,Краснодарский край; Анапа; Терская улица,90.00,5,5,https://anapa.cian.ru/sale/flat/289223254/,2023-06-28,0,327,Агентство недвижимости,1
117742,2,289223108,5.0,NaN,3,Краснодарский край; Анапа; Терская улица; 79,57.20,1,10,https://anapa.cian.ru/sale/flat/289223108/,2023-06-28,0,327,Агентство недвижимости,1
117743,2,289222245,5.0,NaN,5,Краснодарский край; Анапа; улица Ленина,80.00,4,16,https://anapa.cian.ru/sale/flat/289222245/,2023-06-28,0,327,Агентство недвижимости,1
117744,2,289209497,5.0,NaN,4,Краснодарский край; Анапа; улица Крылова; 13к2,54.15,9,9,https://anapa.cian.ru/sale/flat/289209497/,2023-06-28,0,327,Риелтор,1
117745,2,289202496,5.0,NaN,6,Краснодарский край; Анапа; улица Ленина,88.10,3,5,https://anapa.cian.ru/sale/flat/289202496/,2023-06-28,0,327,Агентство недвижимости,1

In [31]:
df_realty_new_m = df_realty_new.merge(addr_df_filtered[['city_id','addr','house_id','jkh_id','dadata_houses_id']], on=['city_id','addr'], how='left')

In [32]:
df_realty_new_m.head(5)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
0,2,288474627,2.0,NaN,5,Краснодарский край; Краснодар; Центральный,78.17,4,16,https://krasnodar.cian.ru/sale/flat/288474627/,2023-06-28,0,327,Представитель застройщика,1,84572.0,NaN,NaN
1,2,288482254,2.0,NaN,3,Краснодарский край; Краснодар; Прикубанский; С...,51.70,2,16,https://krasnodar.cian.ru/sale/flat/288482254/,2023-06-28,0,327,Представитель застройщика,1,84494.0,NaN,NaN
2,2,286495627,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; Д...,57.30,5,16,https://krasnodar.cian.ru/sale/flat/286495627/,2023-06-28,0,327,Представитель застройщика,1,84548.0,NaN,NaN
3,2,288024128,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; С...,56.60,4,16,https://krasnodar.cian.ru/sale/flat/288024128/,2023-06-28,0,327,Представитель застройщика,1,84565.0,NaN,NaN
4,2,288028152,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; С...,56.90,2,16,https://krasnodar.cian.ru/sale/flat/288028152/,2023-06-28,0,327,Представитель застройщика,1,84565.0,NaN,NaN

In [33]:
df_realty_new_found = df_realty_new_m.query('not house_id.isnull() & not jkh_id.isnull()')

In [34]:
def find_empty_districts(house_ids, engine):
    find_distr_query = f"""SELECT h.district_id as district_id, h.id as house_id
                        from houses h
                        where h.id in {house_ids if len(house_ids) != 0 else '(0)'}"""
    try:
        con_obj = engine.connect()
        distr_db = pd.read_sql(text(find_distr_query), con=con_obj)
        con_obj.close()
        exc_str = None
    except Exception as exc:
        logging.error(traceback.format_exc())
        distr_db = None
        exc_str = exc
    return distr_db, exc_str

In [35]:
empty_distr_house_id = tuple(int(i) for i in filter(lambda v: v==v, df_realty_new_found.query('district_id.isnull()').house_id.unique()))
found_empty_distr_df = find_empty_districts(empty_distr_house_id, sql_engine)

In [36]:
found_empty_distr_df = found_empty_distr_df[0]
found_empty_distr_df.query('not district_id.isnull()')

     district_id  house_id
0           49.0      6715
1          195.0      6836
2          189.0      7257
691         37.0     92903
692         37.0     92906
693         37.0     92909
694         36.0     92910
695         37.0     92911
696         48.0     92913
697         37.0     92918
698         36.0     92921
699         41.0     92931
700         41.0     92933

In [37]:
len(df_realty_new_found.query('district_id.isnull()').house_id.unique())

705

In [38]:
df_realty_new_found[df_realty_new_found.district_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
199,2,287945180,5.0,NaN,3,Краснодарский край; Анапа; улица Крылова; 17к3,46.00,4,9,https://anapa.cian.ru/sale/flat/287945180/,2023-06-28,0,327,Агентство недвижимости,1,83387.0,77130.0,119052.0
245,2,288312965,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; у...,48.86,11,12,https://krasnodar.cian.ru/sale/flat/288312965/,2023-06-28,0,327,Представитель застройщика,1,84465.0,48555.0,103755.0
314,2,289166955,5.0,NaN,3,Краснодарский край; Анапа; улица Толстого; 130к2,42.20,17,19,https://anapa.cian.ru/sale/flat/289166955/,2023-06-28,0,327,Агентство недвижимости,1,60181.0,77622.0,105635.0
315,2,289166948,5.0,NaN,4,Краснодарский край; Анапа; Солнечная улица; 54,64.70,2,4,https://anapa.cian.ru/sale/flat/289166948/,2023-06-28,0,327,Агентство недвижимости,1,60254.0,77526.0,105336.0
319,2,289125654,5.0,NaN,3,Краснодарский край; Анапа; улица Ленина; 180к2,41.20,5,5,https://anapa.cian.ru/sale/flat/289125654/,2023-06-28,0,327,Агентство недвижимости,1,61242.0,77239.0,105503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25458,2,289240216,5.0,NaN,4,Краснодарский край; Анапа; Крымская улица; 38,70.00,1,4,https://anapa.cian.ru/sale/flat/289240216/,2023-06-28,0,327,Агентство недвижимости,1,59776.0,77146.0,105231.0
25460,2,289228325,5.0,NaN,4,Краснодарский край; Анапа; улица 40 лет Победы...,61.40,3,9,https://anapa.cian.ru/sale/flat/289228325/,2023-06-28,0,327,Агентство недвижимости,1,60318.0,76932.0,105382.0
25462,2,289228309,5.0,NaN,4,Краснодарский край; Анапа; улица Мирная; 29к1,64.00,2,8,https://anapa.cian.ru/sale/flat/289228309/,2023-06-28,0,327,Агентство недвижимости,1,61145.0,77316.0,105570.0
25463,2,289228302,5.0,NaN,4,Краснодарский край; Анапа; шоссе Супсехское; 39к9,66.80,9,18,https://anapa.cian.ru/sale/flat/289228302/,2023-06-28,0,327,Агентство недвижимости,1,60074.0,77569.0,105697.0
25465,2,289228296,5.0,NaN,4,Краснодарский край; Анапа; шоссе Супсехское; 39к6,66.80,17,18,https://anapa.cian.ru/sale/flat/289228296/,2023-06-28,0,327,Агентство недвижимости,1,61023.0,77566.0,105694.0

In [39]:
if len(found_empty_distr_df) != 0:
    df_realty_new_found = df_realty_new_found.merge(found_empty_distr_df, on=['house_id'], how='left')
    df_realty_new_found['district_id_x'] = df_realty_new_found['district_id_x'].fillna(df_realty_new_found['district_id_y'])
    df_realty_new_found.rename(columns={'district_id_x': 'district_id'}, inplace=True)
    df_realty_new_found.drop(['district_id_y'], axis=1, inplace=True)
else:
    pass

In [40]:
len(df_realty_new_found.query('district_id.isnull()').house_id.unique())

692

In [41]:
df_realty_new_found

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
0,2,289015212,18.0,434.0,3,Новосибирская область; Новосибирск; р-н Дзержи...,28.3,1,1,https://novosibirsk.cian.ru/sale/flat/289015212/,2023-06-28,0,327,Риелтор,1,86652.0,68316.0,331665.0
1,2,289013104,18.0,449.0,2,Новосибирская область; Новосибирск; р-н Калини...,19.0,2,17,https://novosibirsk.cian.ru/sale/flat/289013104/,2023-06-28,0,327,Агентство недвижимости,1,39027.0,76323.0,301828.0
2,2,289010778,18.0,461.0,2,Новосибирская область; Новосибирск; р-н Октябр...,28.0,10,10,https://novosibirsk.cian.ru/sale/flat/289010778/,2023-06-28,0,327,Агентство недвижимости,1,39979.0,69534.0,141622.0
3,2,289009159,18.0,436.0,2,Новосибирская область; Новосибирск; р-н Кировс...,23.0,1,10,https://novosibirsk.cian.ru/sale/flat/289009159/,2023-06-28,0,327,Агентство недвижимости,1,41247.0,70893.0,302292.0
4,2,289006817,18.0,487.0,2,Новосибирская область; Новосибирск; р-н Первом...,19.8,8,17,https://novosibirsk.cian.ru/sale/flat/289006817/,2023-06-28,0,327,Агентство недвижимости,1,40879.0,73951.0,301310.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13261,2,289240216,5.0,NaN,4,Краснодарский край; Анапа; Крымская улица; 38,70.0,1,4,https://anapa.cian.ru/sale/flat/289240216/,2023-06-28,0,327,Агентство недвижимости,1,59776.0,77146.0,105231.0
13262,2,289228325,5.0,NaN,4,Краснодарский край; Анапа; улица 40 лет Победы...,61.4,3,9,https://anapa.cian.ru/sale/flat/289228325/,2023-06-28,0,327,Агентство недвижимости,1,60318.0,76932.0,105382.0
13263,2,289228309,5.0,NaN,4,Краснодарский край; Анапа; улица Мирная; 29к1,64.0,2,8,https://anapa.cian.ru/sale/flat/289228309/,2023-06-28,0,327,Агентство недвижимости,1,61145.0,77316.0,105570.0
13264,2,289228302,5.0,NaN,4,Краснодарский край; Анапа; шоссе Супсехское; 39к9,66.8,9,18,https://anapa.cian.ru/sale/flat/289228302/,2023-06-28,0,327,Агентство недвижимости,1,60074.0,77569.0,105697.0
13265,2,289228296,5.0,NaN,4,Краснодарский край; Анапа; шоссе Супсехское; 39к6,66.8,17,18,https://anapa.cian.ru/sale/flat/289228296/,2023-06-28,0,327,Агентство недвижимости,1,61023.0,77566.0,105694.0

In [42]:
df_realty_new_dadata = df_realty_new_m.query('house_id.isnull() or jkh_id.isnull()')

In [43]:
df_realty_new_dadata.drop(['house_id', 'jkh_id', 'dadata_houses_id'], axis=1, inplace=True)

In [44]:
df_realty_new_dadata

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
0,2,288474627,2.0,NaN,5,Краснодарский край; Краснодар; Центральный,78.17,4,16,https://krasnodar.cian.ru/sale/flat/288474627/,2023-06-28,0,327,Представитель застройщика,1
1,2,288482254,2.0,NaN,3,Краснодарский край; Краснодар; Прикубанский; С...,51.70,2,16,https://krasnodar.cian.ru/sale/flat/288482254/,2023-06-28,0,327,Представитель застройщика,1
2,2,286495627,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; Д...,57.30,5,16,https://krasnodar.cian.ru/sale/flat/286495627/,2023-06-28,0,327,Представитель застройщика,1
3,2,288024128,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; С...,56.60,4,16,https://krasnodar.cian.ru/sale/flat/288024128/,2023-06-28,0,327,Представитель застройщика,1
4,2,288028152,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; С...,56.90,2,16,https://krasnodar.cian.ru/sale/flat/288028152/,2023-06-28,0,327,Представитель застройщика,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25471,2,289223254,5.0,NaN,5,Краснодарский край; Анапа; Терская улица,90.00,5,5,https://anapa.cian.ru/sale/flat/289223254/,2023-06-28,0,327,Агентство недвижимости,1
25472,2,289223108,5.0,NaN,3,Краснодарский край; Анапа; Терская улица; 79,57.20,1,10,https://anapa.cian.ru/sale/flat/289223108/,2023-06-28,0,327,Агентство недвижимости,1
25473,2,289222245,5.0,NaN,5,Краснодарский край; Анапа; улица Ленина,80.00,4,16,https://anapa.cian.ru/sale/flat/289222245/,2023-06-28,0,327,Агентство недвижимости,1
25474,2,289209497,5.0,NaN,4,Краснодарский край; Анапа; улица Крылова; 13к2,54.15,9,9,https://anapa.cian.ru/sale/flat/289209497/,2023-06-28,0,327,Риелтор,1
25475,2,289202496,5.0,NaN,6,Краснодарский край; Анапа; улица Ленина,88.10,3,5,https://anapa.cian.ru/sale/flat/289202496/,2023-06-28,0,327,Агентство недвижимости,1

In [45]:
df_realty_new_dadata_cp = df_realty_new_dadata.copy()
# df_realty_new_dadata_cp.drop_duplicates(subset='addr', inplace=True)

In [47]:
def dadata_request_dev(df, file_date, source):
    addr_to_dadata_origin = []
    addr_to_dadata = []
    addr_filtered = []
    st_time = datetime.now()
    file_date = str(file_date)
    # dadata_credentials
    token = "f288b25edb6d05b5ceb4d957376104a181c4adee"
    secret = "9d337ae6b9901a6708802eaca6d7055ce2c64772"
    dadata = Dadata(token, secret)
    # create df for dadata_house_loading
    local_save_dir_data = create_ddt_save_dir('data')
    try:
        logging.info('попытка загрузить данные dadata из {}'.format(local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv'))
        dh_df = pd.read_csv(local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv',
                            index_col=0,
                            encoding='cp1251')
        dh_df.drop(['ad_id'], axis=1, inplace=True)
        dh_df.drop_duplicates(inplace=True)
        exist_ddt_addr = dh_df.addr.unique().tolist()
        logging.info('удалось загрузить исторические данные dadata')
        df_for_count = df.drop_duplicates(subset='addr')
        count_zapros = df_for_count[~df_for_count.addr.isin(exist_ddt_addr)]
    except:
        logging.error('нет исторических данных {} - будет создан новый df для запросов к dadata'.format(
            local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv'))
        dh_df = pd.DataFrame(columns=['house_fias_id', 'data', 'geo_lat', 'geo_lon', 'street', 'house', 'qc', 'result', 'qc_geo', 'addr'])
        exist_ddt_addr = False
        count_zapros = df.drop_duplicates(subset='addr')
        time.sleep(10)
    # logging.info('количество запросов к dadata составит: {}'.format(
        # len(set(df.addr.unique().tolist()) - set(dh_df.addr.unique().tolist()))))
    # count bad addr and missed queries
    bad_addr = 0
    # to upload dadata result right away when query crashes
    uploading_cnt = 0
    # create dir for bad_addr to store
    bad_addr_txt_root = (
                Path(local_save_dir_data) / f'{source}_bad_addr_{file_date[:10].replace("-", "_")}.txt').as_posix()
    bad_req_txt_root = (
                Path(local_save_dir_data) / f'{source}_bad_request_{file_date[:10].replace("-", "_")}.txt').as_posix()
    # tqdm to logger for dadata request
    logger = logging.getLogger()
    tqdm_out = TqdmToLogger(logger, level=logging.INFO)
    # dadata request
    time.sleep(3)
    logging.info('количество запросов к dadata составит: {}'.format(len(set(df.addr.unique().tolist()) - set(dh_df.addr.unique().tolist()))))
    for i, row in tqdm(df.drop_duplicates(subset='addr').iterrows(), total=count_zapros.shape[0],
                       file=tqdm_out, mininterval=10):
        if exist_ddt_addr:
            if row.addr in exist_ddt_addr:
                continue
            else:
                pass
        else:
            pass
        try:
            addr = filter_addr_for_dadata(row.addr, source)
            if addr:
                addr_to_dadata_origin.append(row.addr)
                addr_to_dadata.append(addr)
#                 d_res = dadata.clean("address", addr)
#                 dh_df.loc[len(dh_df.index)] = [d_res['house_fias_id'], str(d_res), d_res['geo_lat'], d_res['geo_lon'],
#                                                d_res['street'],
#                                                d_res['house'], d_res['qc'], d_res['result'], d_res['qc_geo'], row.addr]
            else:
                addr_filtered.append(row.addr)
                # write ad_id and addr to txt
                with open(bad_addr_txt_root, 'a') as wr:
                    wr.writelines(f"{row.ad_id}: {row.addr}" + ',\n')
                wr.close()
                bad_addr += 1
        except Exception as exc:
            logging.error('{}, try reconnect'.format(traceback.format_exc()))
            if uploading_cnt == 0:
                dh_df.to_csv(
                    local_save_dir_data + f'/{source}_dadata_request_err_{file_date[:10].replace("-", "_")}.csv',
                    encoding='cp1251')
                uploading_cnt += 1
            # write ad_id and addr to txt
            with open(bad_req_txt_root, 'a') as wr:
                wr.writelines(f"{row.ad_id}: {row.addr}" + ',\n')
            wr.close()
            bad_addr += 1
            time.sleep(3)
            dadata.close()
            dadata = Dadata(token, secret)
    try:
        dadata.close()
        logging.info('dadata con closed succesfully')
    except:
        logging.error('dadata con was not closed succesfully')

    logging.info('обращение к DDT по {}/{} адресам из {} заняло {}'.format(len(df.drop_duplicates(subset='addr')) - bad_addr,
                                                                           len(df.drop_duplicates(subset='addr')),
                                                                           source, datetime.now() - st_time))
#     dh_df = dh_df[dh_df['addr'].isin(df.addr.unique().tolist())]

#     dh_df = df.merge(dh_df, on=['addr'], how='left')
#     dh_df = dh_df[['house_fias_id', 'data', 'geo_lat', 'geo_lon', 'street', 'house', 'qc', 'result', 'qc_geo', 'ad_id', 'addr']]
#     dh_df_filtered = dh_df[~dh_df.data.isna()]

#     logging.info('обращение к DDT выполнено для {}/{} новых объявлений, найден fias для {}'.format(len(dh_df_filtered),
#                                                                                                    len(dh_df),
#                                                                                                    len(dh_df.query('not house_fias_id.isnull()'))))
#     dh_df_filtered.to_csv(local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv', encoding='cp1251')

#     return dh_df_filtered
    return addr_to_dadata_origin, addr_to_dadata, addr_filtered

In [48]:
addr_to_dadata_origin_cian, addr_to_dadata_cian, addr_filtered_cian \
    = dadata_request_dev(df_realty_new_dadata_cp, '28-06-2023', 'cian')

In [49]:
len(df_realty_new_dadata_cp.addr.unique().tolist())

4130

In [50]:
len(addr_to_dadata_origin_cian)

3520

In [51]:
len(addr_to_dadata_cian)

3520

In [52]:
len(addr_filtered_cian)

610

In [53]:
len(addr_to_dadata_cian) * 0.15

528.0

In [122]:
with open('cian_addr_ddt_0106.txt', 'w+') as cwr:
    for c_addr in addr_to_dadata_cian:
        cwr.write(c_addr+'\n')
cwr.close()

In [123]:
with open('cian_addr_no_ddt_0106.txt', 'w+') as cwr:
    for c_addr in addr_filtered_cian:
        cwr.write(c_addr+'\n')
cwr.close()

In [372]:
# local_save_dir_data = create_ddt_save_dir('data')
# file_date = '17-05-2023'
# bad_addr_txt_root = (Path(local_save_dir_data)/f'cian_bad_addr_{file_date[:10].replace("-", "_")}.txt').as_posix()
# with open(bad_addr_txt_root, 'r') as f:
#     a = f.read()
# f.close()
# a = a.split(',\n')

# a_df = pd.DataFrame(columns=['ad_id', 'addr'])
# for i in a:
#     try:
#         a_df.loc[len(a_df)] = [i.split(': ')[0], i.split(': ')[1]]
#     except:
#         print(i)

In [409]:
df_dadata_houses

,house_fias_id,data,geo_lat,geo_lon,street,house,qc,result,qc_geo,ad_id,addr
2,NaN,{'source': 'Новосибирская область; Новосибирск...,54.981981,82.894425,им. Карла Маркса,84/7,1.0,"г Новосибирск, пл им. Карла Маркса, д 84/7",2.0,274988115,Новосибирская область; Новосибирск; р-н Ленинс...
3,cbc0c29c-9da4-4650-bab5-c80b9ed4b222,{'source': 'Краснодарский край; Краснодар; Кар...,45.001670,39.069906,Автолюбителей,1,1.0,"г Краснодар, ул Автолюбителей, д 1",0.0,286939616,Краснодарский край; Краснодар; Карасунский; мк...
5,NaN,{'source': 'Новосибирская область; Новосибирск...,55.028191,82.921149,им. Дуси Ковальчук,248/2,1.0,"г Новосибирск, пл им. Дуси Ковальчук, д 248/2",4.0,267760983,Новосибирская область; Новосибирск; р-н Заельц...
6,NaN,{'source': 'Новосибирская область; Новосибирск...,55.028191,82.921149,им. Дуси Ковальчук,248/2,1.0,"г Новосибирск, пл им. Дуси Ковальчук, д 248/2",4.0,267760989,Новосибирская область; Новосибирск; р-н Заельц...
7,NaN,{'source': 'Новосибирская область; Новосибирск...,55.028191,82.921149,им. Дуси Ковальчук,248/2,1.0,"г Новосибирск, пл им. Дуси Ковальчук, д 248/2",4.0,267760980,Новосибирская область; Новосибирск; р-н Заельц...
...,...,...,...,...,...,...,...,...,...,...,...
2734,21026ea1-0de6-4759-ab07-088f0b31b7d0,{'source': 'Новосибирская область; Новосибирск...,55.068922,82.915507,Красный,220,1.0,"г Новосибирск, пр-кт Красный, д 220",0.0,283665326,Новосибирская область; Новосибирск; р-н Заельц...
2735,NaN,{'source': 'Новосибирская область; Новосибирск...,55.024230,82.927921,Октябрьская магистраль,340,1.0,"г Новосибирск, ул Октябрьская магистраль, д 340",2.0,279047180,Новосибирская область; Новосибирск; р-н Октябр...
2736,NaN,{'source': 'Новосибирская область; Новосибирск...,55.041209,83.023376,Коминтерна,120,1.0,"г Новосибирск, ул Коминтерна, д 120 стр 6/1",1.0,279933782,Новосибирская область; Новосибирск; р-н Дзержи...
2738,NaN,{'source': 'Новосибирская область; Новосибирск...,55.024230,82.927921,Октябрьская магистраль,67,1.0,"г Новосибирск, ул Октябрьская магистраль, д 67",2.0,280214513,Новосибирская область; Новосибирск; р-н Октябр...
2739,NaN,{'source': 'Новосибирская область; Новосибирск...,55.025673,82.970300,Гаранина,33/4,1.0,"г Новосибирск, ул Гаранина, д 33/4",1.0,284925270,Новосибирская область; Новосибирск; р-н Октябр...

In [410]:
df_realty_new_test = df_realty_new_found.append(df_realty_new_dadata_cp, ignore_index=True)

In [411]:
df_realty_new_test

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
0,2,287462313,3.0,286.0,3,Краснодарский край; Сочи; р-н Хостинский; мкр....,84.00,21,26,https://sochi.cian.ru/sale/flat/287462313/,2023-05-17,0,314,Агентство недвижимости,1,7667.0,62968.0,53588.0
1,2,280147688,2.0,34.0,3,Краснодарский край; Краснодар; Прикубанский; м...,44.76,4,17,https://krasnodar.cian.ru/sale/flat/280147688/,2023-05-17,0,314,Представитель застройщика,1,75098.0,52178.0,12381.0
2,2,287465693,17.0,405.0,4,Томская область; Томск; р-н Октябрьский; мкр. ...,52.10,3,5,https://tomsk.cian.ru/sale/flat/287465693/,2023-05-17,0,314,Агентство недвижимости,1,36026.0,65058.0,70643.0
3,2,287465688,17.0,408.0,5,Томская область; Томск; р-н Октябрьский; мкр. ...,56.30,2,5,https://tomsk.cian.ru/sale/flat/287465688/,2023-05-17,0,314,Агентство недвижимости,1,84100.0,64146.0,125820.0
4,2,287465685,17.0,394.0,3,Томская область; Томск; р-н Ленинский; улица К...,30.00,7,9,https://tomsk.cian.ru/sale/flat/287465685/,2023-05-17,0,314,Агентство недвижимости,1,34926.0,65259.0,70292.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,2,279047180,18.0,442.0,5,Новосибирская область; Новосибирск; р-н Октябр...,65.95,9,20,https://novosibirsk.cian.ru/sale/flat/279047180/,2023-05-17,0,314,Застройщик,1,NaN,NaN,NaN
3896,2,279933782,18.0,434.0,5,Новосибирская область; Новосибирск; р-н Дзержи...,80.99,18,22,https://novosibirsk.cian.ru/sale/flat/279933782/,2023-05-17,0,314,Застройщик,1,NaN,NaN,NaN
3897,2,287201079,18.0,446.0,2,Новосибирская область; Новосибирск; р-н Заельц...,61.40,20,25,https://novosibirsk.cian.ru/sale/flat/287201079/,2023-05-17,0,314,Представитель застройщика,1,NaN,NaN,NaN
3898,2,280214513,18.0,442.0,5,Новосибирская область; Новосибирск; р-н Октябр...,61.90,25,25,https://novosibirsk.cian.ru/sale/flat/280214513/,2023-05-17,0,314,Застройщик,1,NaN,NaN,NaN
3899,2,284925270,18.0,442.0,5,Новосибирская область; Новосибирск; р-н Октябр...,60.10,12,17,https://novosibirsk.cian.ru/sale/flat/284925270/,2023-05-17,0,314,Застройщик,1,NaN,NaN,NaN

In [ ]:
['source_id','ad_id','city_id','district_id','type_id','addr','square','floor','house_floors','link','date','status','version','offer_from','status_new','house_id','jkh_id','dadata_houses_id']

In [34]:
len(df_realty_new_m)

3900

In [35]:
len(df_realty_new_m.query('house_id.isnull() & jkh_id.isnull()'))

159

In [36]:
len(df_realty_new_m.query('house_id.isnull() & not jkh_id.isnull()'))

0

In [37]:
len(df_realty_new_m.query('not house_id.isnull() & jkh_id.isnull()'))

2581

In [38]:
len(df_realty_new_m.query('not house_id.isnull() & jkh_id.isnull()').addr.unique())

613

In [39]:
len(df_realty_new_m.query('not house_id.isnull() & not jkh_id.isnull()'))

1160

In [40]:
len(df_realty_new_m.query('not house_id.isnull()'))

3741

In [41]:
# всего вхождений
len(df_realty_new[df_realty_new.addr.isin(addr_df_filtered.addr.to_list())])

3757

In [42]:
# запросов к ddt
len(df_realty_new_m.query('house_id.isnull() or jkh_id.isnull()').addr.unique())

762

In [43]:
3757 - 3900

-143

##### check not house_id.isnull() & jkh_id.isnull()

In [44]:
check_query = f"""SELECT *
                 FROM houses 
                 where id in {tuple(df_realty_new_m.query('not house_id.isnull() & jkh_id.isnull()').house_id.unique().astype(int))}"""
con_obj = sql_engine.connect()
check_df = pd.read_sql(text(check_query), con=con_obj)

In [45]:
# уникальных house_id
len(df_realty_new_m.query('not house_id.isnull() & jkh_id.isnull()').addr.unique())

613

In [46]:
df_realty_new_m.query('not house_id.isnull() & jkh_id.isnull()').city_id.value_counts(normalize=True)

2.0     0.662146
18.0    0.098411
3.0     0.065091
20.0    0.044944
7.0     0.042232
5.0     0.021310
4.0     0.020535
19.0    0.016660
12.0    0.015498
6.0     0.010849
17.0    0.002325
Name: city_id, dtype: float64

In [47]:
# записей в houses с id где в реалти """not house_id.isnull() & jkh_id.isnull()""" 714
check_df

,id,city_id,district_id,addr,jkh_id,address_for_dadata,dadata_houses_id
0,3340,2,40.0,Краснодарский край; Краснодар; Прикубанский; м...,None,Краснодарский край; Краснодар; Прикубанский; у...,13841.0
1,3342,2,44.0,Краснодарский край; Краснодар; Карасунский; мк...,None,Краснодарский край; Краснодар; Карасунский; Со...,14140.0
2,3808,7,56.0,Челябинская область; Челябинск; р-н Курчатовск...,None,Челябинская область; Челябинск; р-н Курчатовск...,8099.0
3,3826,7,82.0,Челябинская область; Челябинск; р-н Курчатовск...,None,Челябинская область; Челябинск; р-н Курчатовск...,8965.0
4,37862,18,433.0,Новосибирская область; Новосибирск; р-н Ленинс...,None,Новосибирская область; Новосибирск; р-н Ленинс...,139529.0
...,...,...,...,...,...,...,...
604,96095,12,147.0,Республика Татарстан; Казань; р-н Вахитовский;...,None,None,NaN
605,96140,18,463.0,Новосибирская область; Новосибирск; р-н Железн...,None,Новосибирская область; Новосибирск; р-н Железн...,343345.0
606,96146,18,446.0,Новосибирская область; Новосибирск; р-н Заельц...,None,None,NaN
607,96195,18,463.0,Новосибирская область; Новосибирск; р-н Железн...,None,Новосибирская область; Новосибирск; р-н Железн...,352755.0
608,96286,18,434.0,Новосибирская область; Новосибирск; р-н Дзержи...,None,Новосибирская область; Новосибирск; р-н Дзержи...,375601.0

In [48]:
# из тех записей в houses есть 94 где непустой jkh_id
len(check_df[~check_df.jkh_id.isna()])

0

In [49]:
check_df[~check_df.jkh_id.isna()]

Empty DataFrame
Columns: [id, city_id, district_id, addr, jkh_id, address_for_dadata, dadata_houses_id]
Index: []

### avito

In [54]:
df_avito_realty.head(5)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2
0,3,2700219577,2,None,3,Краснодар; р-н Карасунский; ул. им. Мачуги В.Н...,41.5,17,23,https://www.avito.ru/krasnodar/kvartiry/1-k._k...,2023-06-28,0,20,Застройщик,1,6308300.0,152007.0
1,3,2700272605,2,None,3,Краснодар; р-н Карасунский; ул. им. Мачуги В.Н...,41.5,15,23,https://www.avito.ru/krasnodar/kvartiry/1-k._k...,2023-06-28,0,20,Застройщик,1,6308300.0,152007.0
2,3,2699919676,2,None,3,Краснодар; р-н Карасунский; ул. им. Мачуги В.Н...,41.5,14,23,https://www.avito.ru/krasnodar/kvartiry/1-k._k...,2023-06-28,0,20,Застройщик,1,6308300.0,152007.0
3,3,2700052212,2,None,3,Краснодар; р-н Карасунский; ул. им. Мачуги В.Н...,41.5,14,23,https://www.avito.ru/krasnodar/kvartiry/1-k._k...,2023-06-28,0,20,Застройщик,1,6308300.0,152007.0
4,3,2700122140,2,None,3,Краснодар; р-н Карасунский; ул. им. Мачуги В.Н...,41.5,13,23,https://www.avito.ru/krasnodar/kvartiry/1-k._k...,2023-06-28,0,20,Застройщик,1,6308300.0,152007.0

In [55]:
exist_ad_id, error_getting_ad_id = get_exist_ad_id(sql_engine, 'avito')
exist_ad_id = exist_ad_id.ad_id.to_list()

In [56]:
df = df_avito_realty.copy()

In [57]:
df.ad_id = df.ad_id.astype('int64')
df_realty_exist = df[df.ad_id.isin(exist_ad_id)][list_realty_cols]
df_realty_new = df[~df.ad_id.isin(exist_ad_id)][list_realty_cols]

In [58]:
df_realty_new = df_realty_new[df_realty_new.city_id.isin([4,12,18])]

In [59]:
len(df_realty_new)

10824

In [60]:
df_realty_new_m = df_realty_new.merge(addr_df_filtered[['city_id','addr','house_id','jkh_id','dadata_houses_id']], on=['city_id','addr'], how='left')

In [61]:
df_realty_new_m.head(5)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
0,3,3035862224,4,None,3,Новороссийск; улица Мурата Ахеджака; 3,33.0,11,15,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
1,3,3035900991,4,None,3,Новороссийск; улица Мурата Ахеджака; 3,33.2,8,15,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
2,3,3036082713,4,None,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,6,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
3,3,3036539277,4,None,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,14,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
4,3,3035875225,4,None,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,12,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0

In [62]:
df_realty_new_found = df_realty_new_m.query('not house_id.isnull() & not jkh_id.isnull()')

In [63]:
def find_empty_districts(house_ids, engine):
    find_distr_query = f"""SELECT h.district_id as district_id, h.id as house_id
                        from houses h
                        where h.id in {house_ids if len(house_ids) != 0 else '(0)'}"""
    try:
        con_obj = engine.connect()
        distr_db = pd.read_sql(text(find_distr_query), con=con_obj)
        con_obj.close()
        exc_str = None
    except Exception as exc:
        logging.error(traceback.format_exc())
        distr_db = None
        exc_str = exc
    return distr_db, exc_str

In [64]:
empty_distr_house_id = tuple(int(i) for i in filter(lambda v: v==v, df_realty_new_found.query('district_id.isnull()').house_id.unique()))
found_empty_distr_df = find_empty_districts(empty_distr_house_id, sql_engine)

In [65]:
found_empty_distr_df = found_empty_distr_df[0]
found_empty_distr_df.query('not district_id.isnull()')

      district_id  house_id
0             506      4634
1             144      4636
2             140      4637
3             506      4640
4             280     10807
...           ...       ...
1973          361     97064
1974          144     97067
1975          154     97108
1976          435     97404
1977          187     97921

[1978 rows x 2 columns]

In [66]:
len(df_realty_new_found.query('district_id.isnull()').house_id.unique())

1978

In [67]:
df_realty_new_found[df_realty_new_found.district_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
0,3,3035862224,4,None,3,Новороссийск; улица Мурата Ахеджака; 3,33.0,11,15,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
1,3,3035900991,4,None,3,Новороссийск; улица Мурата Ахеджака; 3,33.2,8,15,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
2,3,3036082713,4,None,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,6,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
3,3,3036539277,4,None,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,14,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
4,3,3035875225,4,None,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,12,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10817,3,3159921518,18,None,5,Новосибирск; ул. Адриена Лежена; 10/3,80.1,9,10,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1,38510.0,68773.0,316597.0
10820,3,3043248622,18,None,5,Новосибирск; р-н Калининский; Калининский райо...,74.4,6,17,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1,87702.0,74845.0,363598.0
10821,3,3068273119,18,None,5,Новосибирск; Ипподромская ул.; 31,57.0,8,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1,41865.0,71748.0,305966.0
10822,3,2903888604,18,None,5,Новосибирск; ул. Виктора Уса; 7/1,105.0,4,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1,43654.0,69734.0,321243.0
10823,3,3068491048,18,None,5,Новосибирск; Ипподромская ул.; 31,57.0,9,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1,41865.0,71748.0,305966.0

In [68]:
if len(found_empty_distr_df) != 0:
    df_realty_new_found = df_realty_new_found.merge(found_empty_distr_df, on=['house_id'], how='left')
    df_realty_new_found['district_id_x'] = df_realty_new_found['district_id_x'].fillna(df_realty_new_found['district_id_y'])
    df_realty_new_found.rename(columns={'district_id_x': 'district_id'}, inplace=True)
    df_realty_new_found.drop(['district_id_y'], axis=1, inplace=True)
else:
    pass

In [69]:
len(df_realty_new_found.query('district_id.isnull()').house_id.unique())

0

In [70]:
df_realty_new_found

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
0,3,3035862224,4,280,3,Новороссийск; улица Мурата Ахеджака; 3,33.0,11,15,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
1,3,3035900991,4,280,3,Новороссийск; улица Мурата Ахеджака; 3,33.2,8,15,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
2,3,3036082713,4,280,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,6,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
3,3,3036539277,4,280,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,14,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
4,3,3035875225,4,280,4,Новороссийск; улица Мурата Ахеджака; 3,59.1,12,15,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-06-28,0,20,Застройщик,1,10853.0,54442.0,296494.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4356,3,3159921518,18,434,5,Новосибирск; ул. Адриена Лежена; 10/3,80.1,9,10,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1,38510.0,68773.0,316597.0
4357,3,3043248622,18,440,5,Новосибирск; р-н Калининский; Калининский райо...,74.4,6,17,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1,87702.0,74845.0,363598.0
4358,3,3068273119,18,438,5,Новосибирск; Ипподромская ул.; 31,57.0,8,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1,41865.0,71748.0,305966.0
4359,3,2903888604,18,560,5,Новосибирск; ул. Виктора Уса; 7/1,105.0,4,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1,43654.0,69734.0,321243.0
4360,3,3068491048,18,438,5,Новосибирск; Ипподромская ул.; 31,57.0,9,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1,41865.0,71748.0,305966.0

In [71]:
df_realty_new_dadata = df_realty_new_m.query('house_id.isnull() or jkh_id.isnull()')

In [72]:
df_realty_new_dadata.drop(['house_id', 'jkh_id', 'dadata_houses_id'], axis=1, inplace=True)

In [73]:
df_realty_new_dadata

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
6,3,2748771592,12,None,5,Казань; р-н Советский; с. Константиновка; стр. 4,60.8,5,17,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-06-28,0,20,Застройщик,1
7,3,3100343375,12,None,5,Казань; р-н Советский; ул. Халитова; 4,80.0,26,26,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-06-28,0,20,Застройщик,1
8,3,3035814768,12,None,5,Казань; р-н Советский; ул. Халитова; 4,80.0,20,26,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-06-28,0,20,Застройщик,1
9,3,3036661251,12,None,2,Казань; р-н Советский; с. Константиновка; стр. 4,26.8,13,17,https://www.avito.ru/kazan/kvartiry/kvartira-s...,2023-06-28,0,20,Застройщик,1
10,3,3099794484,12,None,2,Казань; р-н Советский; ул. Халитова; 4,23.1,14,26,https://www.avito.ru/kazan/kvartiry/kvartira-s...,2023-06-28,0,20,Застройщик,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10812,3,2257940874,18,None,5,Новосибирск; Кировский район; Северо-Чемской ж...,100.0,1,6,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1
10814,3,3015870378,18,None,5,Новосибирск; ул. Никитина; жилой дом,62.0,5,25,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1
10815,3,3079680335,18,None,5,Новосибирск; Большевистская ул.; 116,56.2,17,18,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1
10818,3,3068693776,18,None,5,Новосибирск; ул. Крылова; 57,58.0,2,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1
10819,3,3130396855,18,None,5,Новосибирск; Большевистская ул.; 32/1,71.9,10,25,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1

In [74]:
df_realty_new_dadata_cp = df_realty_new_dadata.copy()
# df_realty_new_dadata_cp.drop_duplicates(subset='addr', inplace=True)

In [77]:
def dadata_request_dev(df, file_date, source):
    addr_to_dadata_origin = []
    addr_to_dadata = []
    addr_filtered = []
    st_time = datetime.now()
    file_date = str(file_date)
    # dadata_credentials
    token = "f288b25edb6d05b5ceb4d957376104a181c4adee"
    secret = "9d337ae6b9901a6708802eaca6d7055ce2c64772"
    dadata = Dadata(token, secret)
    # create df for dadata_house_loading
    local_save_dir_data = create_ddt_save_dir('data')
    try:
        logging.info('попытка загрузить данные dadata из {}'.format(local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv'))
        dh_df = pd.read_csv(local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv',
                            index_col=0,
                            encoding='cp1251')
        dh_df.drop(['ad_id'], axis=1, inplace=True)
        dh_df.drop_duplicates(inplace=True)
        exist_ddt_addr = dh_df.addr.unique().tolist()
        logging.info('удалось загрузить исторические данные dadata')
        df_for_count = df.drop_duplicates(subset='addr')
        count_zapros = df_for_count[~df_for_count.addr.isin(exist_ddt_addr)]
    except:
        logging.error('нет исторических данных {} - будет создан новый df для запросов к dadata'.format(
            local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv'))
        dh_df = pd.DataFrame(columns=['house_fias_id', 'data', 'geo_lat', 'geo_lon', 'street', 'house', 'qc', 'result', 'qc_geo', 'addr'])
        exist_ddt_addr = False
        count_zapros = df.drop_duplicates(subset='addr')
        time.sleep(10)
    # logging.info('количество запросов к dadata составит: {}'.format(
        # len(set(df.addr.unique().tolist()) - set(dh_df.addr.unique().tolist()))))
    # count bad addr and missed queries
    bad_addr = 0
    # to upload dadata result right away when query crashes
    uploading_cnt = 0
    # create dir for bad_addr to store
    bad_addr_txt_root = (
                Path(local_save_dir_data) / f'{source}_bad_addr_{file_date[:10].replace("-", "_")}.txt').as_posix()
    bad_req_txt_root = (
                Path(local_save_dir_data) / f'{source}_bad_request_{file_date[:10].replace("-", "_")}.txt').as_posix()
    # tqdm to logger for dadata request
    logger = logging.getLogger()
    tqdm_out = TqdmToLogger(logger, level=logging.INFO)
    # dadata request
    time.sleep(3)
    logging.info('количество запросов к dadata составит: {}'.format(len(set(df.addr.unique().tolist()) - set(dh_df.addr.unique().tolist()))))
    for i, row in tqdm(df.drop_duplicates(subset='addr').iterrows(), total=count_zapros.shape[0],
                       file=tqdm_out, mininterval=10):
        if exist_ddt_addr:
            if row.addr in exist_ddt_addr:
                continue
            else:
                pass
        else:
            pass
        try:
            addr = filter_addr_for_dadata(row.addr, source)
            if addr:
                addr_to_dadata_origin.append(row.addr)
                addr_to_dadata.append(addr)
#                 d_res = dadata.clean("address", addr)
#                 dh_df.loc[len(dh_df.index)] = [d_res['house_fias_id'], str(d_res), d_res['geo_lat'], d_res['geo_lon'],
#                                                d_res['street'],
#                                                d_res['house'], d_res['qc'], d_res['result'], d_res['qc_geo'], row.addr]
            else:
                addr_filtered.append(row.addr)
                # write ad_id and addr to txt
                with open(bad_addr_txt_root, 'a') as wr:
                    try:
                        wr.writelines(f"{row.ad_id}: {row.addr}" + ',\n')
                    except:
                        pass
                wr.close()
                bad_addr += 1
        except Exception as exc:
            logging.error('{}, try reconnect'.format(traceback.format_exc()))
            if uploading_cnt == 0:
                dh_df.to_csv(
                    local_save_dir_data + f'/{source}_dadata_request_err_{file_date[:10].replace("-", "_")}.csv',
                    encoding='cp1251')
                uploading_cnt += 1
            # write ad_id and addr to txt
            with open(bad_req_txt_root, 'a') as wr:
                try:
                    wr.writelines(f"{row.ad_id}: {row.addr}" + ',\n')
                except:
                    pass
            wr.close()
            bad_addr += 1
            time.sleep(3)
            dadata.close()
            dadata = Dadata(token, secret)
    try:
        dadata.close()
        logging.info('dadata con closed succesfully')
    except:
        logging.error('dadata con was not closed succesfully')

    logging.info('обращение к DDT по {}/{} адресам из {} заняло {}'.format(len(df.drop_duplicates(subset='addr')) - bad_addr,
                                                                           len(df.drop_duplicates(subset='addr')),
                                                                           source, datetime.now() - st_time))
#     dh_df = dh_df[dh_df['addr'].isin(df.addr.unique().tolist())]

#     dh_df = df.merge(dh_df, on=['addr'], how='left')
#     dh_df = dh_df[['house_fias_id', 'data', 'geo_lat', 'geo_lon', 'street', 'house', 'qc', 'result', 'qc_geo', 'ad_id', 'addr']]
#     dh_df_filtered = dh_df[~dh_df.data.isna()]

#     logging.info('обращение к DDT выполнено для {}/{} новых объявлений, найден fias для {}'.format(len(dh_df_filtered),
#                                                                                                    len(dh_df),
#                                                                                                    len(dh_df.query('not house_fias_id.isnull()'))))
#     dh_df_filtered.to_csv(local_save_dir_data + f'/{source}_dadata_request_{file_date[:10].replace("-", "_")}.csv', encoding='cp1251')

#     return dh_df_filtered
    return addr_to_dadata_origin, addr_to_dadata, addr_filtered

In [78]:
addr_to_dadata_origin_av, addr_to_dadata_av, addr_filtered_av \
    = dadata_request_dev(df_realty_new_dadata_cp, '28-06-2023', 'avito')

In [79]:
df_realty_new_dadata_cp

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
6,3,2748771592,12,None,5,Казань; р-н Советский; с. Константиновка; стр. 4,60.8,5,17,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-06-28,0,20,Застройщик,1
7,3,3100343375,12,None,5,Казань; р-н Советский; ул. Халитова; 4,80.0,26,26,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-06-28,0,20,Застройщик,1
8,3,3035814768,12,None,5,Казань; р-н Советский; ул. Халитова; 4,80.0,20,26,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-06-28,0,20,Застройщик,1
9,3,3036661251,12,None,2,Казань; р-н Советский; с. Константиновка; стр. 4,26.8,13,17,https://www.avito.ru/kazan/kvartiry/kvartira-s...,2023-06-28,0,20,Застройщик,1
10,3,3099794484,12,None,2,Казань; р-н Советский; ул. Халитова; 4,23.1,14,26,https://www.avito.ru/kazan/kvartiry/kvartira-s...,2023-06-28,0,20,Застройщик,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10812,3,2257940874,18,None,5,Новосибирск; Кировский район; Северо-Чемской ж...,100.0,1,6,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1
10814,3,3015870378,18,None,5,Новосибирск; ул. Никитина; жилой дом,62.0,5,25,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1
10815,3,3079680335,18,None,5,Новосибирск; Большевистская ул.; 116,56.2,17,18,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1
10818,3,3068693776,18,None,5,Новосибирск; ул. Крылова; 57,58.0,2,9,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Собственник,1
10819,3,3130396855,18,None,5,Новосибирск; Большевистская ул.; 32/1,71.9,10,25,https://www.avito.ru/novosibirsk/kvartiry/3-k....,2023-06-28,0,20,Агентство недвижимости,1

In [80]:
len(df_realty_new_dadata_cp.addr.unique().tolist())

2545

In [81]:
len(addr_to_dadata_origin_av)

2389

In [82]:
len(addr_to_dadata_av)

2389

In [83]:
len(addr_filtered_av)

156

In [84]:
len(addr_to_dadata_av) * 0.15

358.34999999999997

In [159]:
with open('av_addr_ddt_0106.txt', 'w+') as awr:
    for a_addr in addr_to_dadata_av:
        awr.write(a_addr+'\n')
awr.close()

In [160]:
with open('av_addr_no_ddt_0106.txt', 'w+') as awr:
    for a_addr in addr_filtered_av:
        awr.write(a_addr+'\n')
awr.close()

In [419]:
len(df_realty_new_m)

1084

In [420]:
len(df_realty_new_m.query('house_id.isnull() & jkh_id.isnull()'))

595

In [421]:
len(df_realty_new_m.query('house_id.isnull() & not jkh_id.isnull()'))

12

In [422]:
len(df_realty_new_m.query('not house_id.isnull() & jkh_id.isnull()'))

0

In [423]:
len(df_realty_new_m.query('not house_id.isnull() & not jkh_id.isnull()'))

477

In [424]:
len(df_realty_new_m.query('not house_id.isnull()'))

477

In [158]:
# всего вхождений
len(df_realty_new[df_realty_new.addr.isin(addr_df_filtered.addr.to_list())])

973

In [159]:
# запросов к ddt будет
len(df_realty_new_m.query('house_id.isnull() or jkh_id.isnull()').addr.unique())

323

In [161]:
# запросов к ddt было бы
len(df_realty_new)

1084

In [167]:
df_realty_new_m

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,house_id,jkh_id,dadata_houses_id
0,3,2923439480,4,None,3,Новороссийск; Краснодарский край,30.0,7,10,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-05-17,0,12,Агентство недвижимости,1,10900.0,55124.0,299614.0
1,3,3234614546,4,None,2,Новороссийск; Краснодарский край,21.1,16,23,https://www.avito.ru/novorossiysk/kvartiry/kva...,2023-05-17,0,12,Собственник,1,10900.0,55124.0,299614.0
2,3,2451247286,4,None,2,Новороссийск; Краснодарский край,25.0,5,12,https://www.avito.ru/novorossiysk/kvartiry/kva...,2023-05-17,0,12,Собственник,1,10900.0,55124.0,299614.0
3,3,2490212627,4,None,4,Новороссийск,48.2,24,24,https://www.avito.ru/novorossiysk/kvartiry/2-k...,2023-05-17,0,12,Собственник,1,16604.0,55031.0,297689.0
4,3,3045635019,4,None,3,Новороссийск; Краснодарский край,44.0,5,15,https://www.avito.ru/novorossiysk/kvartiry/1-k...,2023-05-17,0,12,Собственник,1,10900.0,55124.0,299614.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,3,3040278640,18,None,3,Новосибирск; пр-т Красный; стр. 236,52.2,13,25,https://www.avito.ru/novosibirsk/kvartiry/1-k....,2023-05-17,0,12,Застройщик,1,NaN,NaN,340415.0
1080,3,3039811993,18,None,3,Новосибирск; пр-т Красный; стр. 236,52.2,11,25,https://www.avito.ru/novosibirsk/kvartiry/1-k....,2023-05-17,0,12,Застройщик,1,NaN,NaN,340415.0
1081,3,3039999802,18,None,3,Новосибирск; пр-т Красный; стр. 236,52.2,10,25,https://www.avito.ru/novosibirsk/kvartiry/1-k....,2023-05-17,0,12,Застройщик,1,NaN,NaN,340415.0
1082,3,2874374576,12,None,3,Казань; ул. Адмиралтейская; стр. 2,47.4,4,8,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-17,0,12,Застройщик,1,NaN,NaN,279483.0
1083,3,2823342653,18,None,3,Новосибирск; ул. Чехова; жилой дом,46.0,3,11,https://www.avito.ru/novosibirsk/kvartiry/1-k....,2023-05-17,0,12,Агентство недвижимости,1,NaN,NaN,NaN

In [28]:
df_dadata_cian = pd.read_csv('saved_data_csv/cian_dadata_request_2023_04_30.csv', encoding='cp1251', index_col=0)

In [15]:
df_cian_realty['ad_id'] = df_cian_realty['ad_id'].astype('int64')
df_dadata_cian['ad_id'] = df_dadata_cian['ad_id'].astype('int64')

In [16]:
df_cian_realty_empty = df_cian_realty[(df_cian_realty.district_id.isna()) & (df_cian_realty.ad_id.isin(df_dadata_cian.ad_id.unique()))]

In [17]:
only_districts_cian, exc = get_districts_from_house(df_dadata_cian, sql_engine)

In [18]:
only_districts_cian_filtered = only_districts_cian.sort_values('district_id', ascending=False).drop_duplicates('ad_id', keep='first').sort_index()

In [19]:
only_districts_cian_filtered['ad_id'] = only_districts_cian_filtered['ad_id'].astype('int64')

In [20]:
df_realty_new_extra = df_cian_realty_empty.merge(
                only_districts_cian_filtered[['ad_id', 'house_id', 'jkh_id', 'dadata_houses_id']],
                on='ad_id', how='left')

In [21]:
df_realty_new_extra

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,price,price_sqrm,house_id,jkh_id,dadata_houses_id
0,2,285683506,2.0,NaN,4,Краснодарский край; Краснодар; Прикубанский; у...,55.32,1,10,https://krasnodar.cian.ru/sale/flat/285683506/,2023-04-30,0,305,Застройщик,1,5450000,98518,NaN,NaN,272900
1,2,286738011,5.0,NaN,4,Краснодарский край; Анапа; улица Чехова; 4Б,48.60,9,9,https://anapa.cian.ru/sale/flat/286738011/,2023-04-30,0,305,Агентство недвижимости,1,6500000,133745,61277.0,77651.0,272971
2,2,286726096,5.0,NaN,4,Краснодарский край; Анапа; 12-й мкр; 34,55.10,9,9,https://anapa.cian.ru/sale/flat/286726096/,2023-04-30,0,305,Агентство недвижимости,1,6690000,121416,NaN,NaN,272972
3,2,286713244,5.0,NaN,3,Краснодарский край; Анапа; Черноморская улица; 39,37.00,6,7,https://anapa.cian.ru/sale/flat/286713244/,2023-04-30,0,305,Агентство недвижимости,1,6500000,175676,80835.0,77645.0,272973
4,2,286712210,5.0,NaN,3,Краснодарский край; Анапа; Новороссийская улиц...,53.00,9,12,https://anapa.cian.ru/sale/flat/286712210/,2023-04-30,0,305,Агентство недвижимости,1,6600000,124528,59737.0,77346.0,272974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,2,286824961,2.0,NaN,3,Краснодарский край; Краснодар; Прикубанский; у...,37.65,17,19,https://krasnodar.cian.ru/sale/flat/286824961/,2023-04-30,0,305,Риелтор,1,4800000,127490,73652.0,48407.0,280443
853,2,286712686,2.0,NaN,3,Краснодарский край; Краснодар; Прикубанский; у...,39.00,2,16,https://krasnodar.cian.ru/sale/flat/286712686/,2023-04-30,0,305,Агентство недвижимости,1,4800000,123077,NaN,NaN,280448
854,2,286853785,2.0,NaN,3,Краснодарский край; Краснодар; Прикубанский; у...,41.20,8,16,https://krasnodar.cian.ru/sale/flat/286853785/,2023-04-30,0,305,Риелтор,1,4450000,108010,NaN,NaN,280449
855,2,286832271,2.0,NaN,3,Краснодарский край; Краснодар; Карасунский; Па...,43.50,6,18,https://krasnodar.cian.ru/sale/flat/286832271/,2023-04-30,0,305,Агентство недвижимости,1,4450000,102299,74193.0,49244.0,280450
856,2,286817719,2.0,NaN,3,Краснодарский край; Краснодар; Прикубанский; у...,39.00,15,18,https://krasnodar.cian.ru/sale/flat/286817719/,2023-04-30,0,305,Собственник,1,4450000,114103,73717.0,48395.0,280451

In [25]:
only_districts_cian_filtered[only_districts_cian_filtered.ad_id.isin(df_realty_new_extra[~df_realty_new_extra.jkh_id.isna()].ad_id.to_list())]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
104,c35f43ff-5df0-4ed0-8058-0ff49d3481cc,286738011,NaN,61277.0,77651.0,272971
106,bf02494a-03b5-420a-8ec9-7837c42120a9,286713244,NaN,80835.0,77645.0,272973
107,583c27a0-9aa7-4452-bf47-c2a0129fa4cc,286712210,NaN,59737.0,77346.0,272974
108,615910c2-a0f8-4e7c-9fe1-2f379eaf55ac,286711967,NaN,60646.0,77476.0,272975
109,f583a2dc-4900-47d0-bde6-0b1e7c50d5a2,286711964,NaN,61289.0,76975.0,272976
...,...,...,...,...,...,...
20174,c52d2891-f777-4906-8908-ee91ed6ade8c,286768339,48.0,4732.0,49465.0,287582
20214,c52d2891-f777-4906-8908-ee91ed6ade8c,286716493,48.0,4732.0,49465.0,287609
20586,b70cbb23-1bad-4fb8-b86a-960aabbdb5da,286848028,41.0,6359.0,52189.0,287866
20592,bce1777d-b0fa-4a9b-93b8-23b1e14c0819,286795368,37.0,84644.0,47202.0,287868
20653,8d6b335c-2b1f-4327-ad3b-c974a3d521d3,286711225,37.0,85049.0,47405.0,287915

In [26]:
a = only_districts_cian_filtered[only_districts_cian_filtered.ad_id.isin(df_realty_new_extra[~df_realty_new_extra.jkh_id.isna()].ad_id.to_list())]

In [ ]:
df_realty_new_extra[~df_realty_new_extra.jkh_id.isna()].jkh_id.unique()

In [ ]:
update_jkh_district_foreign(df_realty_new_extra_pre, only_districts_filtered, sql_engine)

In [33]:
common_ids = '1,2,3'
source = 'avito'

In [34]:
update_table_query = f"""update realty join temp_realty_new on realty.ad_id=temp_realty_new.ad_id
                                            set realty.source_id = temp_realty_new.source_id,
                                                realty.city_id = temp_realty_new.city_id,
                                                {'realty.district_id = temp_realty_new.district_id,' if source == 'cian' else ''}
                                                realty.type_id = temp_realty_new.type_id,
                                                realty.addr = temp_realty_new.addr,
                                                realty.square = temp_realty_new.square,
                                                realty.floor = temp_realty_new.floor,
                                                realty.house_floors = temp_realty_new.house_floors,
                                                realty.link = temp_realty_new.link,
                                                realty.date = temp_realty_new.date,
                                                realty.status = realty.status,
                                                realty.version = temp_realty_new.version,
                                                realty.offer_from = temp_realty_new.offer_from,
                                                realty.status_new = temp_realty_new.status_new,
                                                realty.house_id = temp_realty_new.house_id
                                            WHERE realty.ad_id in {common_ids}"""

In [35]:
update_table_query

'update realty join temp_realty_new on realty.ad_id=temp_realty_new.ad_id\n                                            set realty.source_id = temp_realty_new.source_id,\n                                                realty.city_id = temp_realty_new.city_id,\n                                                \n                                                realty.type_id = temp_realty_new.type_id,\n                                                realty.addr = temp_realty_new.addr,\n                                                realty.square = temp_realty_new.square,\n                                                realty.floor = temp_realty_new.floor,\n                                                realty.house_floors = temp_realty_new.house_floors,\n                                                realty.link = temp_realty_new.link,\n                                                realty.date = temp_realty_new.date,\n                                                realty.status = realty.status,\n                                                realty.version = temp_realty_new.version,\n                                                realty.offer_from = temp_realty_new.offer_from,\n                                                realty.status_new = temp_realty_new.status_new,\n                                                realty.house_id = temp_realty_new.house_id\n                                            WHERE realty.ad_id in 1,2,3'

In [30]:
# check avito from ilya
for filename in files_to_process_avito:
    # обработка realty циан
    print('обработка файла {} для avito'.format(filename))
    df_avito_realty, file_date, error_file_processing = process_realty(local_save_dir_avito, filename,
                                                                      sql_engine, 'avito')

обработка файла 30-04-23 (без дублей).csv для avito

In [31]:
df_avito_realty = df_avito_realty[df_avito_realty.city_id==12]

In [32]:
df_avito_realty[~df_avito_realty.district_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2
15116,3,2934681288,12,362.0,5,Казань; р-н Советский; Интернациональная ул.; ...,82.9,4,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-04-30,0,3,Агентство недвижимости,1,10200000.0,123040.0
15118,3,2603203402,12,362.0,5,Казань; р-н Советский; ул. Александра Курынова...,73.0,3,19,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-04-30,0,3,Застройщик,1,9568240.0,131072.0
15128,3,2843085353,12,362.0,5,Казань; р-н Советский; ул. Галии Кайбицкой; 5,68.0,4,7,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-04-30,0,3,Агентство недвижимости,1,6600000.0,97059.0
15132,3,2602972316,12,362.0,5,Казань; р-н Советский; ул. Александра Курынова...,75.2,16,19,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-04-30,0,3,Застройщик,1,10002930.0,133018.0
15133,3,2790842350,12,362.0,5,Казань; р-н Советский; ул. Академика Глушко; 6,76.2,16,18,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-04-30,0,3,Агентство недвижимости,1,7950000.0,104331.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177695,3,2678997190,12,361.0,4,Казань; р-н Приволжский; ул. Генерала Ерина; с...,89.6,3,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-30,0,3,Застройщик,1,11225405.0,125284.0
177696,3,2679695316,12,361.0,4,Казань; р-н Приволжский; ул. Генерала Ерина; с...,89.5,4,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-30,0,3,Застройщик,1,11206616.0,125214.0
177697,3,2678847771,12,361.0,4,Казань; р-н Приволжский; ул. Генерала Ерина; с...,89.8,3,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-30,0,3,Застройщик,1,10849479.0,120818.0
177698,3,2678829101,12,361.0,4,Казань; р-н Приволжский; ул. Генерала Ерина; с...,89.6,3,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-30,0,3,Застройщик,1,10828937.0,120859.0
177699,3,2679492534,12,361.0,4,Казань; р-н Приволжский; ул. Генерала Ерина; с...,89.5,4,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-30,0,3,Застройщик,1,10810813.0,120791.0

In [46]:
df_avito_realty.ad_id = df_avito_realty.ad_id.astype('int64')

In [47]:
df_avito_realty

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2
17280,3,2934681288,12,362.0,5,Казань; р-н Советский; Интернациональная ул.; ...,82.9,4,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,10200000.0,123040
17281,3,2957130899,12,NaN,5,Казань; Ломжинская ул.; 6,65.5,7,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6250000.0,95420
17282,3,2825690969,12,NaN,5,Казань; ул. Голубятникова; 26,65.0,2,9,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6900000.0,106154
17283,3,2311849390,12,NaN,5,Казань; ул. Павлюхина; 110В,65.0,21,22,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,192308
17284,3,2924238725,12,362.0,5,Казань; р-н Советский; ул. Натана Рахлина; 13к2,75.0,11,19,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,9550000.0,127333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173584,3,2283646734,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0
173585,3,2283720351,12,NaN,3,Казань; с. Усады; корп. 1,37.6,6,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0
173586,3,2282914508,12,NaN,3,Казань; с. Усады; корп. 1,37.6,9,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0
173587,3,2283633491,12,NaN,3,Казань; с. Усады; корп. 1,37.6,2,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0
173588,3,2283386887,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0

In [48]:
df_dadata = pd.read_csv('saved_data_csv/avito_dadata_request_2023_04_28.csv', encoding='cp1251', index_col=0)

In [49]:
len(df_dadata.ad_id.unique())

17525

In [51]:
df_avito_realty_ddt = df_avito_realty[df_avito_realty.ad_id.isin(df_dadata.ad_id.unique())]

In [ ]:
# обновления

In [303]:
def get_districts_from_house_new(df, engine):
    unique_fias = tuple(df.dropna(subset='house_fias_id').house_fias_id.unique())
    unique_ad_id = tuple(df.dropna(subset='ad_id').ad_id.unique())
    get_districts_query = \
    """select dh.house_fias_id, dh.ad_id, jh.district_id, h.id as house_id, jh.id as jkh_id, dh.id as dadata_houses_id
            from dadata_houses dh 
            join jkh_houses jh 
            on (jh.house_fias_id = dh.house_fias_id and dh.ad_id is not null)
            left outer join houses h 
            on (h.jkh_id = jh.id and jh.id is not null and h.jkh_id != 0 and h.jkh_id is not null)
            where dh.house_fias_id in {}""".format(unique_fias)
    get_districts_query_2 = \
    """select dh.house_fias_id, dh.ad_id, jh.district_id, h.id as house_id, jh.id as jkh_id, dh.id as dadata_houses_id
            from dadata_houses dh 
            left outer join jkh_houses jh 
            on (jh.house_fias_id = dh.house_fias_id and dh.ad_id is not null)
            left outer join houses h 
            on (h.jkh_id = jh.id and jh.id is not null and h.jkh_id is not null)
            where dh.ad_id in {}""".format(unique_ad_id)
    get_districts_query_3 = \
    """select dh.house_fias_id, dh.ad_id, jh.district_id, h.id as house_id, jh.id as jkh_id, dh.id as dadata_houses_id
            from dadata_houses dh 
            left outer join jkh_houses jh 
            on (jh.house_fias_id = dh.house_fias_id and dh.ad_id is not null)
            left outer join houses h 
            on (h.jkh_id = jh.id and jh.id is not null and h.jkh_id is not null)
            where dh.house_fias_id ='90ea5076-ae1d-46ba-8dd4-ebca2af6ccac'"""
    try:
        con_obj = engine.connect()
        con_obj.close()
    except:
        try:
            server, engine = get_sql_engine()
            logging.info('подключение к базе восстановлено')
        except Exception as exc:
            logging.error('не удается подключиться к базе: {}'.format(traceback.format_exc()))
            return None, exc
    try:
        time.sleep(3)
        con_obj = engine.connect()
        districts_db = pd.read_sql(text(get_districts_query_2), con=con_obj)
        con_obj.close()
        exc = None
    except Exception as exc:
        logging.error('get districts from house connection failed')
        logging.error(traceback.format_exc())
        districts_db = None
    return districts_db, exc

In [52]:
only_districts, exc = get_districts_from_house(df_dadata, sql_engine)

In [53]:
only_districts_filtered = only_districts.sort_values('district_id', ascending=False).drop_duplicates('ad_id', keep='first').sort_index()

In [55]:
only_districts_filtered

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
0,6588a060-63e9-47fd-9e72-7a0236f668a1,2510901675,361.0,87934.0,30289.0,254871
4,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,364.0,32339.0,55535.0,254872
5,2d7ffb72-bebc-48f8-8748-fb47bbb84c67,2879171679,139.0,12604.0,33204.0,254873
8,7ae0e8ae-1e8c-4312-b654-c667d3c8a2f8,2638986159,NaN,NaN,NaN,254874
9,ff16b3b9-cfcf-4d09-924b-86b237924695,2922084253,NaN,NaN,NaN,254875
...,...,...,...,...,...,...
32361,cea7069f-2cf9-42ae-b5a6-8be1e56e130f,2481496259,NaN,NaN,NaN,272391
32362,5eea8d9c-da35-482f-b8cf-c7c5c6c8d959,2682059587,182.0,30657.0,30495.0,272392
32364,835f082f-7119-4448-8462-568b58641918,2766218965,364.0,11879.0,57418.0,272393
32366,beb366f9-eee0-4f39-80e8-e10171a1f212,2679128139,NaN,NaN,NaN,272394
32367,a088717d-2743-4e1e-8738-39b31ee84762,2544177804,183.0,83372.0,32640.0,272395

In [57]:
len(only_districts_filtered.dadata_houses_id.unique())

17525

In [56]:
only_districts_filtered[only_districts_filtered.dadata_houses_id.isna()]

Empty DataFrame
Columns: [house_fias_id, ad_id, district_id, house_id, jkh_id, dadata_houses_id]
Index: []

In [58]:
only_districts_filtered['ad_id'] = only_districts_filtered['ad_id'].astype('int64')
df_avito_realty['ad_id'] = df_avito_realty['ad_id'].astype('int64')

In [59]:
df_avito_realty = df_avito_realty[df_avito_realty.city_id==12]

In [60]:
df_realty_new_extra = df_avito_realty_ddt.merge(
                only_districts_filtered[['ad_id', 'house_id', 'jkh_id', 'dadata_houses_id']],
                on='ad_id', how='left')

In [266]:
df_realty_new_extra[~df_realty_new_extra.dadata_houses_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
0,3,2510901675,12,NaN,4,Казань; Ботаническая ул.; 9,48.0,5,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Агентство недвижимости,1,4650000.0,96875.0,NaN,30289.0,254871.0
1,3,2878344292,12,364.0,4,Казань; р-н Кировский; ул. Айрата Арсланова; 6А,62.0,13,18,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Собственник,1,4650000.0,75000.0,12108.0,55535.0,254872.0
2,3,2879171679,12,NaN,4,Казань; ул. Нурсултана Назарбаева; 78,43.0,1,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Агентство недвижимости,1,4650000.0,108140.0,12604.0,33204.0,254873.0
3,3,2638986159,12,NaN,4,Казань; д. Куюки; 16-й квартал; 17,70.2,2,3,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Собственник,1,4650000.0,66239.0,NaN,NaN,254874.0
4,3,2922084253,12,NaN,4,Казань; д. Куюки; 4-й квартал; 12,77.0,2,3,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Агентство недвижимости,1,4650000.0,60390.0,NaN,NaN,254875.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19370,3,2481496259,12,NaN,4,Казань; д. Куюки; Азовская ул.; 3,51.6,2,4,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Агентство недвижимости,1,4644000.0,90000.0,NaN,NaN,272391.0
19371,3,2682059587,12,NaN,4,Казань; ул. Восстания; 5,45.7,1,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Агентство недвижимости,1,4649999.0,101751.0,30657.0,30495.0,272392.0
19372,3,2766218965,12,364.0,4,Казань; р-н Кировский; пр-т Ильгама Шакирова; 11А,48.0,3,17,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Агентство недвижимости,1,4650000.0,96875.0,11879.0,57418.0,272393.0
19373,3,2679128139,12,361.0,4,Казань; р-н Приволжский; ул. Ярышлар; 6,44.5,8,19,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Собственник,1,4650000.0,104494.0,NaN,NaN,272394.0
19374,3,2544177804,12,NaN,4,Казань; ул. Маршала Чуйкова; 28,47.8,4,5,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-04-28,0,2,Собственник,1,4650000.0,97280.0,83372.0,32640.0,272395.0

In [61]:
df_realty_new_extra[~df_realty_new_extra.dadata_houses_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
0,3,2934681288,12,362.0,5,Казань; р-н Советский; Интернациональная ул.; ...,82.9,4,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,10200000.0,123040,12696.0,57442.0,263988
1,3,2957130899,12,NaN,5,Казань; Ломжинская ул.; 6,65.5,7,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6250000.0,95420,NaN,32452.0,264056
2,3,2311849390,12,NaN,5,Казань; ул. Павлюхина; 110В,65.0,21,22,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,192308,18810.0,33377.0,264128
3,3,2814942529,12,NaN,5,Казань; пр-т Альберта Камалеева; 6,103.0,8,16,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,13550000.0,131553,20495.0,29985.0,264324
4,3,2847071267,12,360.0,5,Казань; р-н Ново-Савиновский; ул. Маршала Чуйк...,65.0,8,9,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,7050000.0,108462,86280.0,32680.0,264083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,3,2283646734,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259720
15461,3,2283720351,12,NaN,3,Казань; с. Усады; корп. 1,37.6,6,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259721
15462,3,2282914508,12,NaN,3,Казань; с. Усады; корп. 1,37.6,9,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259722
15463,3,2283633491,12,NaN,3,Казань; с. Усады; корп. 1,37.6,2,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259723
15464,3,2283386887,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259724

In [93]:
df_realty_new_extra_pre = df_realty_new_extra.copy()

In [95]:
update_jkh_district_foreign(df_realty_new_extra_pre, only_districts_filtered, sql_engine)

In [96]:
df_realty_new_extra[(df_realty_new_extra.district_id.isna()) & (~df_realty_new_extra.jkh_id.isna())]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
1,3,2957130899,12,NaN,5,Казань; Ломжинская ул.; 6,65.5,7,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6250000.0,95420,NaN,32452.0,264056
2,3,2311849390,12,NaN,5,Казань; ул. Павлюхина; 110В,65.0,21,22,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,192308,18810.0,33377.0,264128
3,3,2814942529,12,NaN,5,Казань; пр-т Альберта Камалеева; 6,103.0,8,16,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,13550000.0,131553,20495.0,29985.0,264324
6,3,2871646713,12,NaN,5,Казань; ул. Фатыха Амирхана; 38,66.0,8,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,6650000.0,100758,86357.0,34499.0,264041
7,3,3018056197,12,NaN,5,Казань; ул. Седова; 3,49.9,5,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,5700000.0,114228,20390.0,34006.0,264317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15400,3,2265968797,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,12,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261092
15401,3,2266366359,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,11,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261093
15402,3,2266626864,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,11,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261094
15403,3,2265979387,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.3,5,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,190557.0,88134.0,29579.0,261095
15404,3,2266298720,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,14,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261096

In [97]:
df_realty_new_extra_pre[(df_realty_new_extra_pre.district_id.isna()) & (~df_realty_new_extra_pre.jkh_id.isna())]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
539,3,2522861669,12,NaN,5,Казань; Вахитовский район; ул. Толстого; 14,140.0,5,7,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,41000000.0,292857,NaN,34363.0,264518
638,3,2878279403,12,NaN,5,Казань; ул. Маяковского; 4А,71.5,4,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,174825,NaN,32717.0,264788
697,3,1134311747,12,NaN,6,Казань; ул. Кул Гали; 5А,128.0,8,10,https://www.avito.ru/kazan/kvartiry/4-k._kvart...,2023-05-01,0,3,Собственник,1,17000000.0,132813,NaN,32221.0,264757
718,3,2854268548,12,NaN,5,Казань; пр-т Ямашева; 79,75.0,1,14,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,7770000.0,103600,NaN,35322.0,264833
945,3,981736669,12,NaN,5,Казань; Приволжский район; ул. Рихарда Зорге; 100,68.0,2,9,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,8500000.0,125000,NaN,33903.0,265035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10655,3,2680129470,12,NaN,4,Казань; ул. Право-Булачная; д. 51,97.8,3,6,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Застройщик,1,30220082.0,308999,NaN,59346.0,256745
10656,3,2680786134,12,NaN,4,Казань; ул. Право-Булачная; д. 51,100.0,2,6,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Застройщик,1,29968620.0,299686,NaN,59346.0,256747
12582,3,2970977090,12,NaN,4,Казань; ул. Рихарда Зорге; 100,46.1,5,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,7600000.0,164859,NaN,33903.0,258894
12771,3,2950826353,12,NaN,4,Казань; ул. Айдарова; 25А,54.0,8,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Собственник,1,7350000.0,136111,NaN,29711.0,259096
13043,3,2954589822,12,NaN,4,Казань; Ютазинская ул.; 6Бк1,55.7,7,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6950000.0,124776,NaN,35251.0,259381

In [81]:
def update_jkh_district_1(df_realty, df_districts, engine):
    df_realty_check_upd = df_realty.copy()
    distr_to_update = pd.DataFrame(columns=['jkh_id', 'new_distr'])
    for i, val in df_realty.iterrows():
        try:
            flagNan = np.isnan(val.district_id)
        except:
            flagNan = val.district_id == None
        if flagNan or val.district_id == 'unknown_district' or val.district_id == None:
            try:
                df_realty.at[i, 'district_id'] = df_districts[df_districts.ad_id == val.ad_id].district_id.iloc[0]
            except:
                df_realty.at[i, 'district_id'] = None
        else:
            try:
                new_district = df_districts[df_districts.ad_id == val.ad_id].district_id.iloc[0]
                if val.district_id != new_district:
                    # print('distr', val.district_id, 'in current', val.ad_id, 'but', new_district, 'in new_df')
                    distr_to_update.loc[len(distr_to_update)] = [int(val.jkh_id), val.district_id]
            except:
                pass
    print('Получены несовпадения районов c jkh, обновление районов в jkh_houses для {} записей'.format(len(distr_to_update)))
    distr_to_update.drop_duplicates(inplace=True)
    # для статистики
    pre_distr_cnt = len(df_realty_check_upd[df_realty_check_upd.district_id.isna()])
    post_distr_cnt = len(df_realty[df_realty.district_id.isna()])
    distr_diff_cnt = post_distr_cnt - pre_distr_cnt
    logging.info('Добавлено районов к объявлениям realty: {} - было {} стало {}'.format(distr_diff_cnt,
                                                                                        pre_distr_cnt,
                                                                                        post_distr_cnt))
    logging.info('Есть несовпадения районов c jkh, обновление районов в jkh для {} записей'.format(len(distr_to_update)))
    return distr_to_update, df_realty

In [89]:
def update_jkh_district_new(df_realty, df_districts, engine):
    df_realty_check_upd = df_realty.copy()
    distr_to_update = pd.DataFrame(columns=['jkh_id', 'new_distr'])
    for i, val in df_realty.iterrows():
        try:
            flagNan = np.isnan(val.district_id)
        except:
            flagNan = val.district_id == None
        if flagNan or val.district_id == 'unknown_district' or val.district_id == None:
            try:
                df_realty.at[i, 'district_id'] = df_districts[df_districts.ad_id == val.ad_id].district_id.iloc[0]
            except:
                df_realty.at[i, 'district_id'] = None
        else:
            try:
                new_district = df_districts[df_districts.ad_id == val.ad_id].district_id.iloc[0]
                if val.district_id != new_district:
                    # print('distr', val.district_id, 'in current', val.ad_id, 'but', new_district, 'in new_df')
                    distr_to_update.loc[len(distr_to_update)] = [int(val.jkh_id), val.district_id]
            except:
                pass
    distr_to_update.drop_duplicates(inplace=True)
    # для статистики
    pre_distr_cnt = len(df_realty_check_upd[df_realty_check_upd.district_id.isna()])
    post_distr_cnt = len(df_realty[df_realty.district_id.isna()])
    distr_diff_cnt = post_distr_cnt - pre_distr_cnt
    logging.info('Добавлено районов к объявлениям realty: {} - было {} стало {}'.format(distr_diff_cnt,
                                                                                        pre_distr_cnt,
                                                                                        post_distr_cnt))
    logging.info('Есть несовпадения районов c jkh, обновление районов в jkh для {} записей'.format(len(distr_to_update)))

In [82]:
to_upd, new_real = update_jkh_district_1(df_realty_new_extra_pre, only_districts_filtered, sql_engine)

Получены несовпадения районов c jkh, обновление районов в jkh_houses для 262 записей

In [84]:
new_real[new_real.district_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
13,3,3028159813,12,NaN,5,Казань; Приволжский район; микрорайон Горки-3;...,96.3,7,9,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,11480000.0,119211,NaN,NaN,264191
21,3,2086595898,12,NaN,5,Казань; ул. Островского; 9/3,92.8,4,6,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,16000000.0,172414,NaN,NaN,264919
37,3,2140821435,12,NaN,5,Казань; с. Новое Шигалеево; ул. Габдуллы Тукая; 6,50.0,3,3,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,5800000.0,116000,NaN,NaN,265053
39,3,2735282497,12,NaN,5,Казань; Приволжский район; микрорайон Горки-3;...,65.0,2,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,7800000.0,120000,NaN,NaN,265787
41,3,2843065969,12,NaN,5,Казань; ул. Братьев Батталовых; 20Ак2,72.0,14,25,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,10990000.0,152639,NaN,NaN,264145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,3,2283646734,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259720
15461,3,2283720351,12,NaN,3,Казань; с. Усады; корп. 1,37.6,6,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259721
15462,3,2282914508,12,NaN,3,Казань; с. Усады; корп. 1,37.6,9,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259722
15463,3,2283633491,12,NaN,3,Казань; с. Усады; корп. 1,37.6,2,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259723
15464,3,2283386887,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259724

In [87]:
new_real[(new_real.district_id.isna()) & (~new_real.jkh_id.isna())]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
539,3,2522861669,12,NaN,5,Казань; Вахитовский район; ул. Толстого; 14,140.0,5,7,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,41000000.0,292857,NaN,34363.0,264518
638,3,2878279403,12,NaN,5,Казань; ул. Маяковского; 4А,71.5,4,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,174825,NaN,32717.0,264788
697,3,1134311747,12,NaN,6,Казань; ул. Кул Гали; 5А,128.0,8,10,https://www.avito.ru/kazan/kvartiry/4-k._kvart...,2023-05-01,0,3,Собственник,1,17000000.0,132813,NaN,32221.0,264757
718,3,2854268548,12,NaN,5,Казань; пр-т Ямашева; 79,75.0,1,14,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,7770000.0,103600,NaN,35322.0,264833
945,3,981736669,12,NaN,5,Казань; Приволжский район; ул. Рихарда Зорге; 100,68.0,2,9,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,8500000.0,125000,NaN,33903.0,265035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10655,3,2680129470,12,NaN,4,Казань; ул. Право-Булачная; д. 51,97.8,3,6,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Застройщик,1,30220082.0,308999,NaN,59346.0,256745
10656,3,2680786134,12,NaN,4,Казань; ул. Право-Булачная; д. 51,100.0,2,6,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Застройщик,1,29968620.0,299686,NaN,59346.0,256747
12582,3,2970977090,12,NaN,4,Казань; ул. Рихарда Зорге; 100,46.1,5,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,7600000.0,164859,NaN,33903.0,258894
12771,3,2950826353,12,NaN,4,Казань; ул. Айдарова; 25А,54.0,8,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Собственник,1,7350000.0,136111,NaN,29711.0,259096
13043,3,2954589822,12,NaN,4,Казань; Ютазинская ул.; 6Бк1,55.7,7,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6950000.0,124776,NaN,35251.0,259381

In [85]:
df_realty_new_extra[(df_realty_new_extra.district_id.isna()) & ()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
1,3,2957130899,12,NaN,5,Казань; Ломжинская ул.; 6,65.5,7,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6250000.0,95420,NaN,32452.0,264056
2,3,2311849390,12,NaN,5,Казань; ул. Павлюхина; 110В,65.0,21,22,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,192308,18810.0,33377.0,264128
3,3,2814942529,12,NaN,5,Казань; пр-т Альберта Камалеева; 6,103.0,8,16,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,13550000.0,131553,20495.0,29985.0,264324
6,3,2871646713,12,NaN,5,Казань; ул. Фатыха Амирхана; 38,66.0,8,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,6650000.0,100758,86357.0,34499.0,264041
7,3,3018056197,12,NaN,5,Казань; ул. Седова; 3,49.9,5,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,5700000.0,114228,20390.0,34006.0,264317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,3,2283646734,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259720
15461,3,2283720351,12,NaN,3,Казань; с. Усады; корп. 1,37.6,6,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259721
15462,3,2282914508,12,NaN,3,Казань; с. Усады; корп. 1,37.6,9,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259722
15463,3,2283633491,12,NaN,3,Казань; с. Усады; корп. 1,37.6,2,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259723
15464,3,2283386887,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259724

In [86]:
df_realty_new_extra[(df_realty_new_extra.district_id.isna()) & (~df_realty_new_extra.jkh_id.isna())]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
1,3,2957130899,12,NaN,5,Казань; Ломжинская ул.; 6,65.5,7,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6250000.0,95420,NaN,32452.0,264056
2,3,2311849390,12,NaN,5,Казань; ул. Павлюхина; 110В,65.0,21,22,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,192308,18810.0,33377.0,264128
3,3,2814942529,12,NaN,5,Казань; пр-т Альберта Камалеева; 6,103.0,8,16,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,13550000.0,131553,20495.0,29985.0,264324
6,3,2871646713,12,NaN,5,Казань; ул. Фатыха Амирхана; 38,66.0,8,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,6650000.0,100758,86357.0,34499.0,264041
7,3,3018056197,12,NaN,5,Казань; ул. Седова; 3,49.9,5,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,5700000.0,114228,20390.0,34006.0,264317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15400,3,2265968797,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,12,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261092
15401,3,2266366359,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,11,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261093
15402,3,2266626864,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,11,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261094
15403,3,2265979387,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.3,5,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,190557.0,88134.0,29579.0,261095
15404,3,2266298720,12,NaN,3,Казань; ул. Аделя Кутуя; д. 4,41.0,14,19,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,7870000.0,191951.0,88134.0,29579.0,261096

In [90]:
update_jkh_district_new(df_realty_new_extra_pre, only_districts_filtered, sql_engine)

In [65]:
to_upd.drop_duplicates(inplace=True)

In [66]:
to_upd

      jkh_id  new_distr
0    55782.0      362.0
1    34412.0      362.0
2    33697.0      364.0
3    33560.0      362.0
5    29440.0      364.0
..       ...        ...
239  35395.0      364.0
250  30653.0      360.0
251  30659.0      360.0
259  29846.0      362.0
260  29744.0      362.0

[141 rows x 2 columns]

In [68]:
to_upd.new_distr.value_counts()

362.0    84
364.0    22
359.0    12
360.0    11
361.0     8
365.0     4
Name: new_distr, dtype: int64

In [69]:
df_realty_new_extra[df_realty_new_extra.district_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
1,3,2957130899,12,NaN,5,Казань; Ломжинская ул.; 6,65.5,7,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6250000.0,95420,NaN,32452.0,264056
2,3,2311849390,12,NaN,5,Казань; ул. Павлюхина; 110В,65.0,21,22,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,192308,18810.0,33377.0,264128
3,3,2814942529,12,NaN,5,Казань; пр-т Альберта Камалеева; 6,103.0,8,16,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,13550000.0,131553,20495.0,29985.0,264324
6,3,2871646713,12,NaN,5,Казань; ул. Фатыха Амирхана; 38,66.0,8,10,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,6650000.0,100758,86357.0,34499.0,264041
7,3,3018056197,12,NaN,5,Казань; ул. Седова; 3,49.9,5,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,5700000.0,114228,20390.0,34006.0,264317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,3,2283646734,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259720
15461,3,2283720351,12,NaN,3,Казань; с. Усады; корп. 1,37.6,6,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259721
15462,3,2282914508,12,NaN,3,Казань; с. Усады; корп. 1,37.6,9,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259722
15463,3,2283633491,12,NaN,3,Казань; с. Усады; корп. 1,37.6,2,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259723
15464,3,2283386887,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259724

In [70]:
df_realty_new_extra_pre[df_realty_new_extra_pre.district_id.isna()]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
13,3,3028159813,12,NaN,5,Казань; Приволжский район; микрорайон Горки-3;...,96.3,7,9,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,11480000.0,119211,NaN,NaN,264191
21,3,2086595898,12,NaN,5,Казань; ул. Островского; 9/3,92.8,4,6,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,16000000.0,172414,NaN,NaN,264919
37,3,2140821435,12,NaN,5,Казань; с. Новое Шигалеево; ул. Габдуллы Тукая; 6,50.0,3,3,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,5800000.0,116000,NaN,NaN,265053
39,3,2735282497,12,NaN,5,Казань; Приволжский район; микрорайон Горки-3;...,65.0,2,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,7800000.0,120000,NaN,NaN,265787
41,3,2843065969,12,NaN,5,Казань; ул. Братьев Батталовых; 20Ак2,72.0,14,25,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,10990000.0,152639,NaN,NaN,264145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,3,2283646734,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259720
15461,3,2283720351,12,NaN,3,Казань; с. Усады; корп. 1,37.6,6,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259721
15462,3,2282914508,12,NaN,3,Казань; с. Усады; корп. 1,37.6,9,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259722
15463,3,2283633491,12,NaN,3,Казань; с. Усады; корп. 1,37.6,2,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259723
15464,3,2283386887,12,NaN,3,Казань; с. Усады; корп. 1,37.6,10,10,https://www.avito.ru/kazan/kvartiry/1-k._kvart...,2023-05-01,0,3,Застройщик,1,5094800.0,135500.0,NaN,NaN,259724

In [71]:
df_realty_new_extra_pre[(df_realty_new_extra_pre.district_id.isna()) & (~df_realty_new_extra_pre.jkh_id.isna())]

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,Цена,Цена за м2,house_id,jkh_id,dadata_houses_id
539,3,2522861669,12,NaN,5,Казань; Вахитовский район; ул. Толстого; 14,140.0,5,7,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,41000000.0,292857,NaN,34363.0,264518
638,3,2878279403,12,NaN,5,Казань; ул. Маяковского; 4А,71.5,4,5,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,12500000.0,174825,NaN,32717.0,264788
697,3,1134311747,12,NaN,6,Казань; ул. Кул Гали; 5А,128.0,8,10,https://www.avito.ru/kazan/kvartiry/4-k._kvart...,2023-05-01,0,3,Собственник,1,17000000.0,132813,NaN,32221.0,264757
718,3,2854268548,12,NaN,5,Казань; пр-т Ямашева; 79,75.0,1,14,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,7770000.0,103600,NaN,35322.0,264833
945,3,981736669,12,NaN,5,Казань; Приволжский район; ул. Рихарда Зорге; 100,68.0,2,9,https://www.avito.ru/kazan/kvartiry/3-k._kvart...,2023-05-01,0,3,Собственник,1,8500000.0,125000,NaN,33903.0,265035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10655,3,2680129470,12,NaN,4,Казань; ул. Право-Булачная; д. 51,97.8,3,6,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Застройщик,1,30220082.0,308999,NaN,59346.0,256745
10656,3,2680786134,12,NaN,4,Казань; ул. Право-Булачная; д. 51,100.0,2,6,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Застройщик,1,29968620.0,299686,NaN,59346.0,256747
12582,3,2970977090,12,NaN,4,Казань; ул. Рихарда Зорге; 100,46.1,5,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,7600000.0,164859,NaN,33903.0,258894
12771,3,2950826353,12,NaN,4,Казань; ул. Айдарова; 25А,54.0,8,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Собственник,1,7350000.0,136111,NaN,29711.0,259096
13043,3,2954589822,12,NaN,4,Казань; Ютазинская ул.; 6Бк1,55.7,7,9,https://www.avito.ru/kazan/kvartiry/2-k._kvart...,2023-05-01,0,3,Агентство недвижимости,1,6950000.0,124776,NaN,35251.0,259381

In [72]:
df_realty_new_extra_pre[(df_realty_new_extra_pre.district_id.isna()) & (~df_realty_new_extra_pre.jkh_id.isna())].jkh_id.to_list()

[34363.0,
 32717.0,
 32221.0,
 35322.0,
 33903.0,
 33388.0,
 59346.0,
 32886.0,
 30084.0,
 59346.0,
 34522.0,
 35430.0,
 32314.0,
 30525.0,
 30084.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 31579.0,
 31579.0,
 30008.0,
 33106.0,
 34321.0,
 29711.0,
 32411.0,
 31200.0,
 35422.0,
 33127.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 35422.0,
 32556.0,
 35424.0,
 32988.0,
 35418.0,
 35418.0,
 35420.0,
 30989.0,
 29914.0,
 33308.0,
 31143.0,
 32868.0,
 33257.0,
 31143.0,
 30721.0,
 30989.0,
 30721.0,
 33726.0,
 34393.0,
 32023.0,
 33726.0,
 33726.0,
 33726.0,
 30286.0,
 35251.0,
 35251.0,
 34274.0,
 35391.0,
 32232.0,
 34561.0,
 34598.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 59346.0,
 33903.0,
 29711.0,
 35251.0]

In [276]:
df_avito_realty.district_id.value_counts()

362.0    4123
361.0     622
364.0     580
360.0     269
359.0      78
365.0      15
Name: district_id, dtype: int64

In [279]:
test_ = df_realty_new_extra_pre[df_realty_new_extra_pre.district_id.isna()]

In [283]:
tuple(test_[~test_.jkh_id.isna()].jkh_id.unique())

(30721.0,
 30989.0,
 34393.0,
 32023.0,
 32168.0,
 33726.0,
 30286.0,
 35251.0,
 34274.0,
 35391.0,
 32232.0,
 34561.0,
 59346.0,
 34598.0,
 33903.0,
 29711.0,
 34363.0,
 32221.0,
 32717.0,
 35322.0,
 33388.0,
 30084.0,
 32886.0,
 35430.0,
 34522.0,
 32314.0,
 30525.0,
 31579.0,
 30008.0,
 33106.0,
 34321.0,
 32411.0,
 31200.0,
 35422.0,
 33127.0,
 33867.0,
 32988.0,
 32556.0,
 35424.0,
 35418.0,
 35420.0,
 32379.0,
 29914.0,
 33308.0,
 31143.0,
 32868.0,
 33257.0)

In [134]:
only_districts_filtered[~only_districts_filtered.jkh_id.isna()]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
0,6588a060-63e9-47fd-9e72-7a0236f668a1,2510901675,361.0,NaN,30289.0,254871
2,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,364.0,12108.0,55535.0,254872
5,2d7ffb72-bebc-48f8-8748-fb47bbb84c67,2879171679,139.0,12604.0,33204.0,254873
10,8862ddbe-77ad-4438-9d28-3f969fadcbf6,2954220804,161.0,27981.0,30127.0,254876
15,3fdbdab0-28a3-4d58-850e-2641a6ec90df,2926834317,182.0,13498.0,32032.0,254880
...,...,...,...,...,...,...
32418,9ba300cc-f343-4a27-b9cc-2cafff9e5f6c,2756001181,168.0,26541.0,32330.0,272387
32422,8eeabff0-11a9-4613-9a58-a591f5a62bc8,2538270207,168.0,NaN,33817.0,272390
32426,5eea8d9c-da35-482f-b8cf-c7c5c6c8d959,2682059587,182.0,30657.0,30495.0,272392
32428,835f082f-7119-4448-8462-568b58641918,2766218965,364.0,11879.0,57418.0,272393
32431,a088717d-2743-4e1e-8738-39b31ee84762,2544177804,183.0,83372.0,32640.0,272395

In [138]:
len(only_districts_filtered[~only_districts_filtered.jkh_id.isna()].house_fias_id.unique())

3052

In [74]:
only_districts_filtered[only_districts_filtered.duplicated(subset=['house_fias_id'])].house_fias_id.to_list()

['ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '835f082f-7119-4448-8462-568b58641918',
 'b884f8ed-0f0e-4d28-bd68-bf60f55568d7',
 '6b56d27e-d2a6-4729-821e-40f41c56a922',
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad',
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '24a85512-8a06-4aae-9f69-4aac9fce45e7',
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '04139d95-25f0-45e3-b85a-2fd6a6ed0570',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '28467aff-327f-4286-8d8c-d15664082ae5',
 '28467aff-327f-4286-8d8c-d15664082ae5',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 'a3fdd741-855d-4cc6-8141-25b15ad0e8f3',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '03f738fa-d43f-4ff5-98ef-7c61b9c837d2',
 '9cb55c17-4e80-40bc-beff-5d499ac4fc3d',
 'c73a1aec-6ba7-4c9f-ab26-2a4f41c062fe',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '2a1b9dd6-d796-4cdf-b06b-b842272a603c',
 '28467aff-327f-4286-8d8c-d15664082ae5',
 'c73a1aec-6ba7-4c9f-ab26-2a4f41c062fe',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 'ae290269-947e-4562-a0b9-89f6a6211e4a',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 'f81bc761-63d8-4fb2-917f-ecfe0d665dfa',
 '94d0563f-5130-42f9-a4c9-7b7a3798a1f3',
 '23d89a0f-8c62-46f4-bf8d-cb6b3d7b20f4',
 '194eda0e-1103-4d8b-b103-f018c28b161a',
 'a3fdd741-855d-4cc6-8141-25b15ad0e8f3',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '94d0563f-5130-42f9-a4c9-7b7a3798a1f3',
 'f81bc761-63d8-4fb2-917f-ecfe0d665dfa',
 '835f082f-7119-4448-8462-568b58641918',
 '9cb55c17-4e80-40bc-beff-5d499ac4fc3d',
 '94b5d7e7-2a36-4a86-9781-46eeb609f049',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 'c52bc032-f740-4039-ace5-90fcea7e7c5f',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '7c7eec98-8a12-40ba-8db8-394909eeece2',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '2135f212-d981-400e-875d-6e21320f5aa0',
 '194eda0e-1103-4d8b-b103-f018c28b161a',
 '14b7f024-fb6e-4f8b-8710-2fe5b88e2209',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '194eda0e-1103-4d8b-b103-f018c28b161a',
 '42b9b90c-3e3b-47bd-b644-ed247898423e',
 '194eda0e-1103-4d8b-b103-f018c28b161a',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '31d3f890-3a77-4ffc-9e17-7e3fcb9b3f5f',
 '6b649c4e-f909-47dd-8cc1-8a35dfb5192a',
 '8b0b01b0-5175-4375-b28c-1383737b6164',
 '8e8296d8-f3e1-4478-961f-b50781bae779',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '3d117a5d-3b6b-42ee-919d-43220c221b07',
 'b32f2625-e485-44da-b37f-267f4094f604',
 '1c9b157c-996e-47fa-8164-0a547c6c4060',
 '3502ad8e-847d-465d-b61f-e4bb87f00bd7',
 '28467aff-327f-4286-8d8c-d15664082ae5',
 'bbf1c0e4-7f79-40d4-ab95-98713b4c2267',
 'b7de98dc-bb62-4784-a2f8-a01127ac9ce2',
 '42d22c7b-61e5-41c6-b026-69f234067bda',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 '42d22c7b-61e5-41c6-b026-69f234067bda',
 '1f5b546d-ea57-4680-ab21-5990afb2cb7e',
 '515283c2-b7ce-41c9-872a-b80d2608dbf1',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '8239cd0d-1d90-415d-baea-4298fc27144e',
 '73a657c8-6106-4440-b0a3-5ff583b5f880',
 '515283c2-b7ce-41c9-872a-b80d2608dbf1',
 'bd81c268-5d6e-432e-a9c5-06ca54d1e800',
 '036d231b-63dd-4668-8a0c-e4d94c7f20f7',
 'be98aac1-4be3-4c28-a0ff-7a847ebeb76e',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 'f503dd1a-fa54-44f0-a619-3fd172ea962f',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 'a73ae614-a2a8-475f-b6cd-0a2f4c39c2f4',
 '6c3935af-ae1d-4bee-bb2a-0f1adc5d45b1',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'a73ae614-a2a8-475f-b6cd-0a2f4c39c2f4',
 '5c3b9bc4-bb17-4ba5-80d0-56758bff3a54',
 '870bd615-eb95-4ec4-a487-e0461ebff598',
 '69c1f0f4-25d9-4480-a942-e574b964dcd6',
 'd4b2285e-817f-4c5f-86bb-d7cbc314b99a',
 '8f69776d-08ae-4ca9-8f85-e0b71e9ad52b',
 'a73ae614-a2a8-475f-b6cd-0a2f4c39c2f4',
 '1ab6dd29-1046-4928-aa6c-789efa835897',
 '3502ad8e-847d-465d-b61f-e4bb87f00bd7',
 '884c37c8-a5c9-4072-8071-7c746323b76a',
 'b32f2625-e485-44da-b37f-267f4094f604',
 '9ef559b3-20bd-4a3b-94b9-fac179117400',
 '2a71e6bf-6ec0-4218-88c7-1f4070bf619a',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 'ccda081c-27eb-4e0b-9f00-83b0b972c2af',
 '915383c2-c294-4705-b6ac-a9e5375d7579',
 '25df6384-f2b3-4e17-bf58-2bdf5f57db56',
 '483d1363-00cd-4798-9a57-96275c04c7ed',
 '42d22c7b-61e5-41c6-b026-69f234067bda',
 '23d89a0f-8c62-46f4-bf8d-cb6b3d7b20f4',
 'cf80d557-c467-475b-8d68-8721c65a971c',
 '7c7eec98-8a12-40ba-8db8-394909eeece2',
 '534af3b7-5f52-45ed-8a26-9b864a19c68c',
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c',
 '39e7bf70-a7f2-43d0-a8c9-9545e2c990ea',
 'b280dccd-5861-477d-91d8-c25fc72888f2',
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c',
 '6b649c4e-f909-47dd-8cc1-8a35dfb5192a',
 '96b8f541-9b7c-40ee-ac00-8b26f7d384e1',
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c',
 'e8bdbbe5-851b-4e84-8139-bdc9f7736fc2',
 '10117443-3f71-4e91-aa42-82106730f684',
 'a0525c4b-0bdf-436d-9dee-080bd361958f',
 'f9ab35c7-42d9-4542-82ee-14dcdba722da',
 '10117443-3f71-4e91-aa42-82106730f684',
 '4fcfd4ea-2773-4d68-9292-50f894c52084',
 '1f5b546d-ea57-4680-ab21-5990afb2cb7e',
 '2a71e6bf-6ec0-4218-88c7-1f4070bf619a',
 '2a71e6bf-6ec0-4218-88c7-1f4070bf619a',
 '94b5d7e7-2a36-4a86-9781-46eeb609f049',
 'bfde1e26-b975-4287-99da-1dd9d6736757',
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c',
 '362750bb-2c30-4ccf-b01e-496b79932119',
 'd3d45cac-a822-409d-bd3b-f8d81fb4b4c8',
 'ed712093-ad63-4c39-b4a9-4ec0dfcc1d04',
 'b161a19c-454e-4c9a-a5c6-ab09736814ff',
 '46362dbb-cb3e-4b94-898b-d84610d069a2',
 '036d231b-63dd-4668-8a0c-e4d94c7f20f7',
 '114b1855-f178-4fc0-a9f4-eb97abbdffc6',
 '98ab0edc-2982-4d9f-8c6f-003f87dbe04a',
 'af365e05-db75-4492-ad3c-4efca0dec390',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 '815f034d-83b3-4a9b-9802-0ed2cfeeda5c',
 '98ab0edc-2982-4d9f-8c6f-003f87dbe04a',
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c',
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c',
 '28c23c74-37f6-481e-a900-cbe075fa081d',
 '98ab0edc-2982-4d9f-8c6f-003f87dbe04a',
 '114b1855-f178-4fc0-a9f4-eb97abbdffc6',
 '114b1855-f178-4fc0-a9f4-eb97abbdffc6',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 '8e8296d8-f3e1-4478-961f-b50781bae779',
 'a73ae614-a2a8-475f-b6cd-0a2f4c39c2f4',
 '37191c6f-7e37-4b6a-9e5b-687000443949',
 'af365e05-db75-4492-ad3c-4efca0dec390',
 'd3d45cac-a822-409d-bd3b-f8d81fb4b4c8',
 '93451c87-2e88-40c3-a5b1-5b1b8e7886de',
 '98db9221-15d0-4a7d-9626-7d8510b4d32e',
 'af365e05-db75-4492-ad3c-4efca0dec390',
 'ba3e9f38-e9ff-4f51-b1e3-26f7a154da45',
 '37191c6f-7e37-4b6a-9e5b-687000443949',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '6eaab78f-a4c1-456b-a62a-97340795b95e',
 '77783f48-1624-4106-a7d0-a2d7fb0e299e',
 '37191c6f-7e37-4b6a-9e5b-687000443949',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 '29562c98-d5c2-47ac-a030-f132cb8c0d2d',
 '125a31ed-2b47-4e2c-ae33-e476d7a43467',
 '219671f1-e39c-4c6c-98d3-e277320667aa',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '125a31ed-2b47-4e2c-ae33-e476d7a43467',
 '398171f8-c50c-4f21-9c7d-759a46c96c5b',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 '85072402-ffb4-46ad-9fcd-beadabe604ec',
 'fbb310d7-3ca3-400e-ad92-24f5bfa568f8',
 'e8bdbbe5-851b-4e84-8139-bdc9f7736fc2',
 '35d71e45-3472-4588-97bd-160c376b96c5',
 '7b7c3f19-2eb8-4e62-8956-ffb5d130568d',
 '92e76ff7-a83a-4055-ade2-7e7d00b1371e',
 '8abdac20-914e-4cbe-a43f-7ca6682b73ee',
 '8e8296d8-f3e1-4478-961f-b50781bae779',
 '8abdac20-914e-4cbe-a43f-7ca6682b73ee',
 '92e76ff7-a83a-4055-ade2-7e7d00b1371e',
 '2da5b2c8-a15c-4526-9567-a9f66769eb19',
 '327e4d5d-68b2-4d9e-945d-a02bc27e9ed6',
 'a6d5a526-79fe-4189-9d8f-7c35ba31ff74',
 'c524eaa2-81ae-49c0-a679-04c1190ee320',
 '6c07c6ed-e04a-4830-a639-474f9b1ca8c5',
 '77783f48-1624-4106-a7d0-a2d7fb0e299e',
 '28467aff-327f-4286-8d8c-d15664082ae5',
 'd2e8e4a1-8702-41e5-a4ac-9f12c3173351',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '92e76ff7-a83a-4055-ade2-7e7d00b1371e',
 '77783f48-1624-4106-a7d0-a2d7fb0e299e',
 '9b457fe8-9ade-4e0c-b749-508f65773683',
 '1e5665f7-843e-4afa-b280-561c4f3b461c',
 '79897459-0b0e-46d5-9fe7-3bac8a24dc8d',
 '29562c98-d5c2-47ac-a030-f132cb8c0d2d',
 '77783f48-1624-4106-a7d0-a2d7fb0e299e',
 'ebe48454-c141-486d-ad13-630406cbb476',
 '6f809055-6aac-47c4-8382-d778d047aecd',
 '7c7eec98-8a12-40ba-8db8-394909eeece2',
 '0b3e3bce-edec-47b5-9d27-f9be48d58e45',
 'c2f84aec-8121-45bd-8f9c-c7f9a17a960d',
 'd3324428-69f3-422b-a7f8-91a8998007dd',
 '9a4578cd-c941-451a-a987-0ed74d9bcf7b',
 '1ae5f0e5-b669-4c2a-b92f-dba6a4656a29',
 '515283c2-b7ce-41c9-872a-b80d2608dbf1',
 '8e8296d8-f3e1-4478-961f-b50781bae779',
 '4bb91149-dc01-4753-af45-c2213192d4dc',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '8c1e4b38-f483-4557-aa6a-a5b887b34cd8',
 '92e76ff7-a83a-4055-ade2-7e7d00b1371e',
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c',
 '29a75b23-fff5-4ce1-9d7b-c6c176ad82db',
 '845add97-5565-4a7d-a8fb-c12a436580cb',
 '4f117885-eda6-45d8-8a90-19156c38b8b4',
 '6ea21190-d242-4d39-98d6-14f9d69e0b7e',
 'a6d5a526-79fe-4189-9d8f-7c35ba31ff74',
 'd52e2a6c-24f7-4b8d-896f-8efe4d8f4e74',
 '8abdac20-914e-4cbe-a43f-7ca6682b73ee',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '8abdac20-914e-4cbe-a43f-7ca6682b73ee',
 'b2753ad4-2b12-40a5-bae8-bb788b1072bc',
 'f503dd1a-fa54-44f0-a619-3fd172ea962f',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '2d746e86-d8eb-4213-a3b3-632c0f21295a',
 '658396cd-d1b7-4787-bf76-851c18212257',
 '4fcfd4ea-2773-4d68-9292-50f894c52084',
 '15338a43-432f-4c4a-af56-37fd58eb334a',
 'b161a19c-454e-4c9a-a5c6-ab09736814ff',
 '59a6c0ae-9521-40c6-9f5b-c5a3412e6dfa',
 'ff567684-5f38-4174-b98c-903c35aafd4f',
 'aca0c06b-cf1f-4ac6-8c84-6814b8a41f25',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 'c87db123-05c1-46cb-9aff-81f357199750',
 '58f5683c-4ce3-4045-854e-c3080eb8644c',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 '82f86bbd-67b7-4a84-923b-897f3e577f22',
 'eb71b3b0-ba10-4825-b9c6-367673cd1894',
 '1ae5f0e5-b669-4c2a-b92f-dba6a4656a29',
 'cf80d557-c467-475b-8d68-8721c65a971c',
 'a5399567-ed30-4c7c-b196-afefaec37a55',
 'b33e918c-d911-43c4-b5c8-4e66eaf5b742',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '8e8296d8-f3e1-4478-961f-b50781bae779',
 'd3324428-69f3-422b-a7f8-91a8998007dd',
 '98ab0edc-2982-4d9f-8c6f-003f87dbe04a',
 'cc74dad0-10ae-441c-ad09-5c0eb9aeb6db',
 '6e743090-95fb-44f5-8f8e-d45521f1d46d',
 'ed712093-ad63-4c39-b4a9-4ec0dfcc1d04',
 '3502ad8e-847d-465d-b61f-e4bb87f00bd7',
 '9e9137a8-e33a-4a96-8f76-d3e76e9a3646',
 'a2164aa0-0041-4219-b663-671a44600c60',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'bae997e6-a0db-45fe-9862-9511a8c458b2',
 '8abdac20-914e-4cbe-a43f-7ca6682b73ee',
 '3502ad8e-847d-465d-b61f-e4bb87f00bd7',
 '45a20114-543f-47e1-a905-a31eeeb6f5fd',
 'be3eb1a6-7f6e-45e0-8dbd-de135bd94cfd',
 '7cf57386-b5aa-45a8-8a67-598292f67a0a',
 '5c3b9bc4-bb17-4ba5-80d0-56758bff3a54',
 '4a70f5ad-1d15-44d0-ac90-03187072c14e',
 '5c3b9bc4-bb17-4ba5-80d0-56758bff3a54',
 '9e9137a8-e33a-4a96-8f76-d3e76e9a3646',
 '45a20114-543f-47e1-a905-a31eeeb6f5fd',
 '46ec5caa-f825-4aa3-9ad8-4d94503cfe96',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '0a7964eb-ce14-471f-9ca8-744249701c19',
 '4a70f5ad-1d15-44d0-ac90-03187072c14e',
 '7cf57386-b5aa-45a8-8a67-598292f67a0a',
 'be3eb1a6-7f6e-45e0-8dbd-de135bd94cfd',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'be3eb1a6-7f6e-45e0-8dbd-de135bd94cfd',
 '2e883f6a-7a86-40ed-b57a-5e89df600356',
 '8c1e4b38-f483-4557-aa6a-a5b887b34cd8',
 '4998202f-bb10-4675-b8fd-79f0acdf3c95',
 '57fe2078-c15f-46bf-a489-e7846a6fb261',
 '84fd2b35-ebb8-4cb8-ada6-a5da0b937859',
 '7c7eec98-8a12-40ba-8db8-394909eeece2',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'c71e24e6-7c03-47be-be6d-39bb469f7528',
 'aab23614-ff65-42d6-a04b-1a28a0c70211',
 '45a20114-543f-47e1-a905-a31eeeb6f5fd',
 '8060b854-9c18-4505-b387-95eafacc994a',
 '57fe2078-c15f-46bf-a489-e7846a6fb261',
 '138e7c67-7ebb-490f-89dc-60c530abaad4',
 'fe45bc27-1254-4676-a1b5-330ca585394c',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 'ebe48454-c141-486d-ad13-630406cbb476',
 'bb7e3d0b-28ab-4daf-99ea-2ed2c4af7b4e',
 '91cbe4fe-cb96-4cb7-a163-a6f76154492d',
 '59a6c0ae-9521-40c6-9f5b-c5a3412e6dfa',
 '573b134a-61cc-4da6-a1ca-bbc3066e52ff',
 '5c16ac3f-2dc6-480e-a184-3a564ca05ead',
 'ebe48454-c141-486d-ad13-630406cbb476',
 '63c22c91-8def-4c23-8de1-f205f289a57d',
 'd73d9e31-e4db-456a-96a6-00ab03510d57',
 '1e5665f7-843e-4afa-b280-561c4f3b461c',
 '286e4d3c-3eb2-4309-bc77-b6ac8de6e7dc',
 'cd4e7bc6-1b75-4bdd-99c9-5ab253a98b8b',
 'd99a51c4-6c0e-4828-9350-f5a83c154a33',
 '209bbeb5-424a-45e0-aaaf-c808c42d1863',
 'a2164aa0-0041-4219-b663-671a44600c60',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 'd99a51c4-6c0e-4828-9350-f5a83c154a33',
 '96959aa2-8771-4b3d-a05e-5eae0cbb9efc',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 'be3eb1a6-7f6e-45e0-8dbd-de135bd94cfd',
 '9e9137a8-e33a-4a96-8f76-d3e76e9a3646',
 '7a617660-ce15-4b45-8a6e-95f7b2305588',
 '2531bdae-f35f-4b9d-b929-1cbcc3fc75b1',
 'a9bacc12-ed64-4e30-a2fb-72f9bf635cd7',
 '55524bc3-ee36-42f2-aeef-884c02d480d7',
 'cff48f73-923f-4a7b-83f3-7940ba73eb37',
 '188a2b98-e613-4835-8d66-1bc8c7f84d47',
 '468e9bf2-8c53-41a7-b6ee-bb9ef59d213b',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 '209bbeb5-424a-45e0-aaaf-c808c42d1863',
 '098b990d-e60b-4051-8c5d-a00de93f28ee',
 'e8e18442-3cc1-48e2-bfdd-96b843de8507',
 '1048c1b8-3fd8-4497-90fd-6367aa37c586',
 'a77cb55a-2385-475e-a94d-8a9b2dc15cc3',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '47b68bdd-87a0-4d30-9304-97f192b45f9e',
 'cff48f73-923f-4a7b-83f3-7940ba73eb37',
 'aa6f8d2a-6ae0-4efb-b4d3-4487e3e62a9b',
 '00537e96-c84b-4ecc-8b46-6c6cb89bc726',
 '6ab827fb-4a49-403b-ac48-d8ea9ef408d7',
 'cff48f73-923f-4a7b-83f3-7940ba73eb37',
 'b2753ad4-2b12-40a5-bae8-bb788b1072bc',
 'abe68cfa-5477-4df1-9b73-916ef06ce715',
 '3e9dd02b-00e8-44a5-9d14-83b65bf17580',
 '8abdac20-914e-4cbe-a43f-7ca6682b73ee',
 'eadca04e-f655-4d24-bc48-96d09b3e2497',
 '9e9137a8-e33a-4a96-8f76-d3e76e9a3646',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'aa6f8d2a-6ae0-4efb-b4d3-4487e3e62a9b',
 'ebe48454-c141-486d-ad13-630406cbb476',
 '2a1b9dd6-d796-4cdf-b06b-b842272a603c',
 '24ce3dbe-e520-4c5c-b47f-6ffbbb216d00',
 '28ee4986-fd24-40a1-96aa-91cf31a94002',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 '00537e96-c84b-4ecc-8b46-6c6cb89bc726',
 '31371459-a82e-45c8-a659-75f954b4490e',
 '45a20114-543f-47e1-a905-a31eeeb6f5fd',
 'ea479e6b-f4c9-4c79-8833-ae9a301e58aa',
 '472bb6a5-9250-4be9-be5e-4bc48993c750',
 '0f2c69fe-93cf-42a8-8ae2-f95f167f9fec',
 '7cf57386-b5aa-45a8-8a67-598292f67a0a',
 '7cf57386-b5aa-45a8-8a67-598292f67a0a',
 '0f2c69fe-93cf-42a8-8ae2-f95f167f9fec',
 'a2164aa0-0041-4219-b663-671a44600c60',
 'ea479e6b-f4c9-4c79-8833-ae9a301e58aa',
 '7c7eec98-8a12-40ba-8db8-394909eeece2',
 '6e743090-95fb-44f5-8f8e-d45521f1d46d',
 'eb71b3b0-ba10-4825-b9c6-367673cd1894',
 '098b990d-e60b-4051-8c5d-a00de93f28ee',
 '96959aa2-8771-4b3d-a05e-5eae0cbb9efc',
 'dffb40e6-fcbc-4de0-aeb1-38e4958c7270',
 '55524bc3-ee36-42f2-aeef-884c02d480d7',
 'dffb40e6-fcbc-4de0-aeb1-38e4958c7270',
 '93451c87-2e88-40c3-a5b1-5b1b8e7886de',
 'b71e9eff-9c76-4c3f-86ce-da5cf871d2a6',
 '7c7eec98-8a12-40ba-8db8-394909eeece2',
 '0de0f514-9cd8-48b3-a3a0-55614ca99848',
 '8bd5e503-ff91-43e9-9fc6-c94352e3f63e',
 '00537e96-c84b-4ecc-8b46-6c6cb89bc726',
 'dda786b0-0a3d-4b31-bed7-7a9a7d2b7e86',
 'dffb40e6-fcbc-4de0-aeb1-38e4958c7270',
 '8501a9cc-8baa-499c-8f7c-7f070bfa3b4f',
 '169eafd1-743f-409f-bf71-0856bc1ad9c2',
 '468e9bf2-8c53-41a7-b6ee-bb9ef59d213b',
 '286e4d3c-3eb2-4309-bc77-b6ac8de6e7dc',
 '468e9bf2-8c53-41a7-b6ee-bb9ef59d213b',
 '468e9bf2-8c53-41a7-b6ee-bb9ef59d213b',
 '65164600-dc0a-4605-a208-823628e0192b',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 '7cf57386-b5aa-45a8-8a67-598292f67a0a',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 '12b85202-9ad8-476e-8456-65a4929fdf3f',
 '8221a127-264d-47be-be52-af7db7fd692a',
 '468e9bf2-8c53-41a7-b6ee-bb9ef59d213b',
 '6c6ec2a0-92e1-4342-8a0d-8243dfd1f490',
 '870bd615-eb95-4ec4-a487-e0461ebff598',
 '286e4d3c-3eb2-4309-bc77-b6ac8de6e7dc',
 '6b90135d-4b52-452d-8fa9-6a8e41ce76ab',
 'eb755578-15b0-465f-92ae-15790607d038',
 '4f5cdd9a-8a10-4ec7-b839-b81420ef8e45',
 'db4fca76-1985-4f4d-b3df-d70797583673',
 '3a9323a3-c602-49a2-b332-f23ef093e7fc',
 'af651f38-0350-4abd-8399-cf9af164185c',
 '398b12e1-9479-4071-8ca1-326210c813d2',
 'aa6f8d2a-6ae0-4efb-b4d3-4487e3e62a9b',
 '4411e013-1f65-4c68-a177-d588cd29bdaf',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 'b2753ad4-2b12-40a5-bae8-bb788b1072bc',
 'b2753ad4-2b12-40a5-bae8-bb788b1072bc',
 'eb20b321-8b50-42c4-abeb-e14ad2bc7874',
 '021c729e-2ec5-4e57-9b5d-80cf37a452eb',
 '6c6ec2a0-92e1-4342-8a0d-8243dfd1f490',
 'dffb40e6-fcbc-4de0-aeb1-38e4958c7270',
 '38902e49-2101-426f-930b-698b344fd353',
 '8c1e4b38-f483-4557-aa6a-a5b887b34cd8',
 'eb299ce3-b319-432a-9f41-0b4ae3dcc708',
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91',
 'fe45bc27-1254-4676-a1b5-330ca585394c',
 '0a7964eb-ce14-471f-9ca8-744249701c19',
 '16f77686-06d8-4d2f-9b22-b4892b8bf90d',
 '4aa5c444-3ca8-4d51-89c0-d9e671a86a58',
 '04124822-6eff-4b78-a2cf-6887509f2582',
 'f5f57e71-46c8-4c47-bee0-697355f8397a',
 'a4750a8b-3794-4cac-a5f7-f617656d61c9',
 'd638058e-36e0-4f19-8ed9-0f54abcd392b',
 '0a7964eb-ce14-471f-9ca8-744249701c19',
 '04124822-6eff-4b78-a2cf-6887509f2582',
 'dffb40e6-fcbc-4de0-aeb1-38e4958c7270',
 '4caa0b5f-fdf0-49a0-9d3f-974882b9050c',
 '38902e49-2101-426f-930b-698b344fd353',
 '6b90135d-4b52-452d-8fa9-6a8e41ce76ab',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 '7d67be24-ffb4-4c21-b9e4-1e56d2421616',
 'ea479e6b-f4c9-4c79-8833-ae9a301e58aa',
 '9e6aeea1-b9ff-4f46-b4c1-701cc986f273',
 '7d67be24-ffb4-4c21-b9e4-1e56d2421616',
 '88d81227-4fe2-48e6-a15a-72d92436f064',
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad',
 'bae997e6-a0db-45fe-9862-9511a8c458b2',
 'b2753ad4-2b12-40a5-bae8-bb788b1072bc',
 'ea479e6b-f4c9-4c79-8833-ae9a301e58aa',
 '36032e05-0ac5-4bec-ad3a-d20a94ffc5b4',
 'bcb15867-4598-40ec-9b9f-4af4be15a3c7',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 'eb5e2df1-1316-457f-8678-14660b77254f',
 '4006c845-e588-45d4-88d0-f30bbc616e61',
 '0d9c28b9-46c5-44a5-a88b-a5fd44f62d26',
 '93451c87-2e88-40c3-a5b1-5b1b8e7886de',
 '6c6b9792-adb5-4890-bb39-fea027f487db',
 'c7cc79ca-58e1-40e9-b875-f79da9f56d3f',
 'dffb40e6-fcbc-4de0-aeb1-38e4958c7270',
 'db58a6dc-dc8c-4b40-b62e-7c976bb2df52',
 '96959aa2-8771-4b3d-a05e-5eae0cbb9efc',
 '6c6b9792-adb5-4890-bb39-fea027f487db',
 '4caa0b5f-fdf0-49a0-9d3f-974882b9050c',
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 'a2164aa0-0041-4219-b663-671a44600c60',
 'bcb15867-4598-40ec-9b9f-4af4be15a3c7',
 '36032e05-0ac5-4bec-ad3a-d20a94ffc5b4',
 'bcb15867-4598-40ec-9b9f-4af4be15a3c7',
 'ea479e6b-f4c9-4c79-8833-ae9a301e58aa',
 '77783f48-1624-4106-a7d0-a2d7fb0e299e',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad',
 '38902e49-2101-426f-930b-698b344fd353',
 'b2753ad4-2b12-40a5-bae8-bb788b1072bc',
 'd8fc1049-2a42-48c1-a69b-d75404a08f13',
 '414dcaea-5c4f-470e-9700-765d6c8a7fb4',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 '04bef5e2-082a-426f-b28c-2472a3313547',
 '28ee4986-fd24-40a1-96aa-91cf31a94002',
 '49463cef-215d-4668-bc9e-4f909d8c95c5',
 'd4adcbe1-058a-45aa-90a8-f5f6a7c8f24f',
 'd818696c-b014-496f-bdf7-3870b34e52d1',
 '531912ce-3ba9-4a51-9fd6-d2b7fa8473b1',
 '82de1900-b45c-496f-b156-c89a1dedc70b',
 '188a2b98-e613-4835-8d66-1bc8c7f84d47',
 '09ddbc26-e9d9-462a-bed4-7756744f1d53',
 '16927fe5-9091-4095-a1b0-c7f9be92cbe3',
 '75cba338-6a10-4546-8df6-15dc456fca75',
 'dda786b0-0a3d-4b31-bed7-7a9a7d2b7e86',
 '9ef30bce-4225-4dd9-9110-429e33ee2416',
 '098b990d-e60b-4051-8c5d-a00de93f28ee',
 '30cac1f7-63bb-48cd-8e8f-a607230ecc36',
 '098b990d-e60b-4051-8c5d-a00de93f28ee',
 '38902e49-2101-426f-930b-698b344fd353',
 '92e76ff7-a83a-4055-ade2-7e7d00b1371e',
 '12cf0e85-447b-4563-ad43-6e67bcaf4849',
 'dffb40e6-fcbc-4de0-aeb1-38e4958c7270',
 '4f5cdd9a-8a10-4ec7-b839-b81420ef8e45',

In [75]:
asdads=only_districts_filtered[only_districts_filtered.house_fias_id.isin(only_districts_filtered[only_districts_filtered.duplicated(subset=['house_fias_id'])].house_fias_id.to_list())]
cnt = {}
for i, val in asdads.iterrows():
    try:
        cnt[val.house_fias_id].append(val.district_id)
    except:
        cnt[val.house_fias_id] = [val.district_id]

In [76]:
cnt

{'8e8296d8-f3e1-4478-961f-b50781bae779': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '2d7ffb72-bebc-48f8-8748-fb47bbb84c67': [139.0, 139.0],
 '7ae0e8ae-1e8c-4312-b654-c667d3c8a2f8': [nan, nan],
 'bd88ade3-edaa-4475-b970-90b85036aa08': [nan, nan, nan, nan, nan, nan],
 'ecfcf811-0b7d-41a1-8ed9-30ed096e6c91': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 'e067bf42-a4c3-40a8-b949-c67d8458356d': [nan, nan, nan, nan, nan, nan, nan],
 '835f082f-7119-4448-8462-568b58641918': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 'f81bc761-63d8-4fb2-917f-ecfe0d665dfa': [167.0, 167.0, 167.0],
 '6b56d27e-d2a6-4729-821e-40f41c56a922': [359.0, 359.0, 359.0, 359.0],
 '28467aff-327f-4286-8d8c-d15664082ae5': [360.0,
  360.0,
  360.0,
  360.0,
  360.0,
  360.0],
 'd0dba3a7-8c58-4e48-808e-8640fc5a9c2d': [175.0, 175.0],
 'c52bc032-f740-4039-ace5-90fcea7e7c5f': [145.0, 145.0],
 '6d3c3563-135c-4c81-bfd3-8e4fef24abfd': [362.0, 362.0],
 '04139d95-25f0-45e3-b85a-2fd6a6ed0570': [nan, nan],
 '2ac84c20-3d30-4637-a024-38c94c8889ed': [161.0, 161.0],
 '24a85512-8a06-4aae-9f69-4aac9fce45e7': [nan, nan, nan, nan],
 '1ab6dd29-1046-4928-aa6c-789efa835897': [169.0, 169.0],
 '5c3b9bc4-bb17-4ba5-80d0-56758bff3a54': [161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0,
  161.0],
 '360b7326-ab9b-4c55-831f-23be99a916f9': [362.0, 362.0, 362.0],
 '36561f3e-7445-4b6b-858c-4453648d5b81': [nan, nan],
 'de1c2927-9df1-43b4-898a-8fd57b6491c1': [362.0, 362.0],
 '8b0b01b0-5175-4375-b28c-1383737b6164': [362.0, 362.0],
 '6f4dd577-6ab2-4db4-824f-2065a204b09d': [364.0, 364.0, 364.0, 364.0],
 '2a4e2368-f2c8-48e2-b0de-6e1ca3b9b554': [nan, nan, nan, nan, nan],
 '23d89a0f-8c62-46f4-bf8d-cb6b3d7b20f4': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '94b5d7e7-2a36-4a86-9781-46eeb609f049': [362.0, 362.0, 362.0, 362.0],
 '2cf623e6-c38d-404b-a724-fc6abf910b2f': [360.0, 360.0],
 'd4b2285e-817f-4c5f-86bb-d7cbc314b99a': [359.0, 359.0, 359.0],
 'aca03b44-2786-471a-880d-834138c040fe': [158.0, 158.0, 158.0],
 '18834ff2-25ee-4d06-a253-35c6cb0ddc76': [nan, nan, nan],
 'dbd5c26d-65ba-4d1d-b33f-dfe416c8c48f': [nan, nan, nan, nan, nan],
 'af891c0b-8ddb-472d-8180-76ad2680d1dc': [168.0, 168.0],
 'b884f8ed-0f0e-4d28-bd68-bf60f55568d7': [168.0,
  168.0,
  168.0,
  168.0,
  168.0,
  168.0],
 '901e2dd8-8875-4b71-9e39-3a6cf509514e': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 '9d6b246e-571c-4171-97e9-5910a73a9619': [141.0, 141.0],
 'b32f2625-e485-44da-b37f-267f4094f604': [364.0, 364.0, 364.0, 364.0, 364.0],
 'f47a3784-2f82-4ab3-9367-4309c41a3f0b': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 '42b9b90c-3e3b-47bd-b644-ed247898423e': [nan, nan],
 'd2e8e4a1-8702-41e5-a4ac-9f12c3173351': [151.0, 151.0, 151.0],
 '03f738fa-d43f-4ff5-98ef-7c61b9c837d2': [nan, nan],
 'f7d95d1f-99f7-4895-9648-a33fb3d6a825': [362.0, 362.0],
 '343fa4cf-bff0-4240-857b-fc27fda0092a': [175.0, 175.0],
 '52174f6b-5024-4281-a1f3-9a744480af0d': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 'f503dd1a-fa54-44f0-a619-3fd172ea962f': [nan, nan, nan],
 '6083ae2d-7294-4aac-ba70-94ad33aa81a1': [359.0, 359.0],
 '19de8c0b-a619-420a-929a-7e0fc6c61f04': [168.0, 168.0],
 'cea7069f-2cf9-42ae-b5a6-8be1e56e130f': [nan, nan, nan, nan, nan],
 '9fd01551-250a-4d4e-85f6-2219d00b8001': [158.0, 158.0],
 '071d19a1-bd72-455b-9239-5535eed7e24d': [175.0, 175.0, 175.0],
 '6a87804f-4937-4752-9c38-7ee0810664b3': [175.0, 175.0],
 'c73a1aec-6ba7-4c9f-ab26-2a4f41c062fe': [nan, nan, nan],
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 'f4504b6a-a6a2-4820-9945-dbaae7f1366f': [175.0, 175.0],
 '3d117a5d-3b6b-42ee-919d-43220c221b07': [nan, nan],
 'd24d2e25-c108-411b-abec-fb15b4f4bba6': [359.0, 359.0],
 '5c16ac3f-2dc6-480e-a184-3a564ca05ead': [359.0, 359.0],
 '286e98ad-d5ad-4333-a4cc-ba39e5cd1744': [nan, nan, nan, nan],
 'eb71b3b0-ba10-4825-b9c6-367673cd1894': [359.0, 359.0, 359.0, 359.0, 359.0],
 '8501a9cc-8baa-499c-8f7c-7f070bfa3b4f': [nan, nan],
 '4fcfd4ea-2773-4d68-9292-50f894c52084': [nan, nan, nan, nan],
 'ccda081c-27eb-4e0b-9f00-83b0b972c2af': [159.0, 159.0],
 '02911266-01e5-4a0e-b3e0-9ace763edb24': [175.0, 175.0],
 '8a430fae-6265-4b54-bbfb-fb4be8159180': [362.0, 362.0, 362.0],
 '738bc803-5db7-428d-97da-184aca491692': [nan, nan],
 '94d0563f-5130-42f9-a4c9-7b7a3798a1f3': [364.0, 364.0, 364.0, 364.0, 364.0],
 'a3fdd741-855d-4cc6-8141-25b15ad0e8f3': [182.0, 182.0, 182.0],
 '35d71e45-3472-4588-97bd-160c376b96c5': [362.0, 362.0, 362.0],
 '7c7eec98-8a12-40ba-8db8-394909eeece2': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 'cd2a8121-50a4-4bd8-930b-267f2c5498cd': [152.0, 152.0, 152.0],
 '9cb55c17-4e80-40bc-beff-5d499ac4fc3d': [nan, nan, nan],
 '915383c2-c294-4705-b6ac-a9e5375d7579': [nan, nan],
 '2135f212-d981-400e-875d-6e21320f5aa0': [360.0, 360.0, 360.0],
 '2a1b9dd6-d796-4cdf-b06b-b842272a603c': [140.0, 140.0, 140.0],
 '2531bdae-f35f-4b9d-b929-1cbcc3fc75b1': [152.0, 152.0],
 '14b7f024-fb6e-4f8b-8710-2fe5b88e2209': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 '96b8f541-9b7c-40ee-ac00-8b26f7d384e1': [362.0, 362.0],
 'fdeeb1e2-9010-49a2-becb-8c3fcaead966': [359.0, 359.0, 359.0],
 '40f018df-9d7a-46f2-8a70-2bf260b4fbcc': [362.0, 362.0],
 'd689b3b6-c5d7-4eab-a35d-3e689af403e8': [152.0, 152.0],
 '33ca6ed2-c8b0-4b32-918d-f4d9d2d7f88b': [364.0, 364.0, 364.0],
 '3a2d665b-0c67-4c66-852e-49b769c69a3a': [182.0, 182.0, 182.0],
 'bdb37659-eb46-4349-90ee-08a0f4f74f55': [179.0, 179.0],
 'ae290269-947e-4562-a0b9-89f6a6211e4a': [152.0, 152.0, 152.0],
 '0e287d84-d048-4955-a8f9-4c4a6f9ca449': [178.0, 178.0, 178.0, 178.0, 178.0],
 '870bd615-eb95-4ec4-a487-e0461ebff598': [154.0, 154.0, 154.0],
 '58f5683c-4ce3-4045-854e-c3080eb8644c': [359.0, 359.0, 359.0],
 'c955113f-f89b-423c-808b-3eede3fc37f8': [145.0, 145.0],
 '194eda0e-1103-4d8b-b103-f018c28b161a': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '211bd499-b851-4ee0-8c7d-fd2b21dbdbc5': [154.0, 154.0],
 '673fd21f-d935-4e10-8395-dafe6f93023b': [362.0, 362.0],
 'bfde1e26-b975-4287-99da-1dd9d6736757': [nan, nan, nan],
 '41b5c30f-bfb9-49a2-ae33-161d0e302288': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 '2a71e6bf-6ec0-4218-88c7-1f4070bf619a': [152.0, 152.0, 152.0, 152.0, 152.0],
 'e89db177-d49c-4aac-80b7-d096fc851ff8': [362.0, 362.0],
 '6eaab78f-a4c1-456b-a62a-97340795b95e': [147.0, 147.0],
 '83ad8ec4-7fad-4947-b7df-cf6bd216894b': [nan, nan, nan, nan],
 '4751b863-1121-4ffc-b0fe-f3c8d1ebf53b': [152.0, 152.0, 152.0],
 'e5dec049-4cd1-4066-8d88-24377fc055c1': [362.0, 362.0, 362.0],
 'bbf1c0e4-7f79-40d4-ab95-98713b4c2267': [145.0, 145.0, 145.0],
 'eadca04e-f655-4d24-bc48-96d09b3e2497': [nan, nan, nan, nan, nan, nan, nan],
 'b24ad300-49db-464f-8606-6b90a0b569f0': [362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0],
 '8239cd0d-1d90-415d-baea-4298fc27144e': [nan, nan, nan, nan],
 '3502ad8e-847d-465d-b61f-e4bb87f00bd7': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 'beb366f9-eee0-4f39-80e8-e10171a1f212': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 '327e4d5d-68b2-4d9e-945d-a02bc27e9ed6': [359.0, 359.0, 359.0],
 '3cb2577b-564e-4940-86dd-e4abe281d6ab': [163.0, 163.0, 163.0, 163.0],
 'a77cb55a-2385-475e-a94d-8a9b2dc15cc3': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 '7e27cdf1-0468-41d1-bfbd-6babf8bc53ca': [161.0, 161.0],
 'badc40e8-a692-4c98-b63e-828df41de4c4': [362.0, 362.0],
 '515283c2-b7ce-41c9-872a-b80d2608dbf1': [nan, nan, nan, nan, nan, nan],
 'bd81c268-5d6e-432e-a9c5-06ca54d1e800': [168.0, 168.0],
 '6cb90243-bc0f-4f07-8b1c-5d4e70d3dc6e': [175.0, 175.0, 175.0, 175.0],
 '6b649c4e-f909-47dd-8cc1-8a35dfb5192a': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '46362dbb-cb3e-4b94-898b-d84610d069a2': [364.0, 364.0],
 'c995b2e1-890c-4d25-b2bd-8eb37efc70b4': [168.0, 168.0],
 'd74e3db7-afdd-4261-a892-9c1d5dc9db25': [nan, nan],
 '36d60ac8-adac-4775-bfcf-4d0b029a3563': [175.0, 175.0],
 '25fd39e3-d8ef-4e17-a68b-78ed136f3058': [359.0, 359.0],
 'b7de98dc-bb62-4784-a2f8-a01127ac9ce2': [140.0, 140.0],
 '036d231b-63dd-4668-8a0c-e4d94c7f20f7': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '93b8f995-b5f0-4eab-9f77-749fb83f4e4d': [171.0, 171.0, 171.0],
 'f448ff4e-3248-40fd-8c61-a010d3619c94': [360.0,
  360.0,
  360.0,
  360.0,
  360.0,
  360.0,
  360.0],
 '29a75b23-fff5-4ce1-9d7b-c6c176ad82db': [nan, nan, nan, nan, nan, nan, nan],
 '4985c24a-0e03-47b8-abb6-97680ecc4a19': [nan, nan, nan, nan, nan, nan],
 '857b4f22-959f-4e8f-8e04-80a950f441df': [361.0, 361.0, 361.0],
 'aca0c06b-cf1f-4ac6-8c84-6814b8a41f25': [167.0, 167.0, 167.0],
 'ec62e26a-0cf7-4bfc-9f0f-a1162d5ac034': [141.0, 141.0],
 '204918c2-fed1-4071-ae20-b04838182a35': [nan, nan, nan, nan],
 '31d3f890-3a77-4ffc-9e17-7e3fcb9b3f5f': [157.0, 157.0],
 '18018e50-4601-4b4f-a284-cfa77ff85e0e': [152.0, 152.0],
 '301ba2d6-d5d6-4635-a1a8-49e7ca1fd5ed': [nan, nan, nan, nan],
 'e0ab33f8-4e6e-497a-b80b-951d4a5bd0d2': [362.0, 362.0],
 '23d99f59-cacb-4680-93a3-805327b66161': [nan, nan, nan],
 'c8d5c8e5-9a47-43cf-861e-c64323e7e314': [154.0, 154.0, 154.0, 154.0, 154.0],
 'db33fbc9-a53f-49da-bc07-0001bd276e97': [nan, nan, nan, nan, nan, nan],
 '66e1e5fc-7db5-42de-a7ef-2787c0cd7a8a': [152.0, 152.0],
 'df2cd5f2-8f63-4927-b47f-73452cfd7091': [175.0, 175.0],
 'ffa9f7cd-9b01-44e2-9172-4c134d2012df': [nan, nan],
 '73a657c8-6106-4440-b0a3-5ff583b5f880': [182.0, 182.0, 182.0],
 '9ef559b3-20bd-4a3b-94b9-fac179117400': [361.0, 361.0],
 '44e97dbd-5140-4c98-825a-f9d59f3a87e6': [152.0, 152.0],
 '9a4578cd-c941-451a-a987-0ed74d9bcf7b': [147.0, 147.0],
 'd02417fc-7e60-4af1-9cce-622159e58a42': [nan, nan, nan, nan, nan],
 '25df6384-f2b3-4e17-bf58-2bdf5f57db56': [161.0, 161.0],
 '063a3ffc-b34f-4b1d-8733-f1b57234200b': [364.0, 364.0, 364.0],
 '854b03d3-8b3e-441d-9047-996b960ec719': [168.0, 168.0],
 'ad8ed7d6-4216-428e-8b66-12b247f8f281': [359.0, 359.0],
 'b161a19c-454e-4c9a-a5c6-ab09736814ff': [362.0, 362.0, 362.0],
 '1c9b157c-996e-47fa-8164-0a547c6c4060': [362.0, 362.0],
 '0b2ac027-e2ba-454f-82e3-cba03f20ee5c': [359.0, 359.0],
 'cf80d557-c467-475b-8d68-8721c65a971c': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 'ff567684-5f38-4174-b98c-903c35aafd4f': [161.0, 161.0, 161.0],
 '98ab0edc-2982-4d9f-8c6f-003f87dbe04a': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '7a3ed3a9-34c9-43f2-b198-7f75a72f23c7': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 'e84a5fc1-0bd2-4df7-ad06-379e49fbd9c8': [nan, nan],
 '42d22c7b-61e5-41c6-b026-69f234067bda': [nan, nan, nan, nan],
 'a73ae614-a2a8-475f-b6cd-0a2f4c39c2f4': [362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0,
  362.0],
 'f9ab35c7-42d9-4542-82ee-14dcdba722da': [147.0, 147.0, 147.0],
 '6c3935af-ae1d-4bee-bb2a-0f1adc5d45b1': [361.0, 361.0],
 'f27e1a42-c299-4101-88f8-c7f895e5645d': [nan, nan, nan, nan],
 '96959aa2-8771-4b3d-a05e-5eae0cbb9efc': [nan, nan, nan, nan, nan, nan, nan],
 '2a9359be-e223-4cf1-bd0a-cf92c04c5cdf': [nan, nan, nan, nan, nan, nan],
 '1930df63-2c87-4d9f-9ed0-f20cc07416ba': [361.0, 361.0, 361.0],
 '805fa9f1-c42d-42a7-8751-1c8ebfb5a36b': [nan, nan, nan, nan],
 'a088717d-2743-4e1e-8738-39b31ee84762': [183.0, 183.0],
 '6c6ec2a0-92e1-4342-8a0d-8243dfd1f490': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 '18d7b163-c471-4585-8905-c1503bfac04c': [158.0, 158.0, 158.0],
 'c5b72783-e294-4466-bab6-a296a0cbfc36': [362.0, 362.0],
 '69c1f0f4-25d9-4480-a942-e574b964dcd6': [nan, nan, nan, nan, nan, nan, nan],
 '80a0949e-1ff6-486b-9a06-9de04755b4f8': [145.0, 145.0],
 '483d1363-00cd-4798-9a57-96275c04c7ed': [362.0, 362.0],
 'a38bfc3b-49fc-47d3-8e55-f932a0929a04': [nan, nan, nan],
 '1f5b546d-ea57-4680-ab21-5990afb2cb7e': [364.0, 364.0, 364.0],
 '4d01c1b1-9c19-4e7a-895f-162806d9fc87': [168.0, 168.0],
 'ae541f58-b558-4515-a02f-834e0dceda04': [168.0, 168.0, 168.0],
 '91cbe4fe-cb96-4cb7-a163-a6f76154492d': [168.0, 168.0, 168.0],
 'b280dccd-5861-477d-91d8-c25fc72888f2': [362.0, 362.0, 362.0],
 'e8bdbbe5-851b-4e84-8139-bdc9f7736fc2': [140.0, 140.0, 140.0],
 'fe75a708-b6c6-406e-89b7-2da58869c906': [361.0, 361.0, 361.0, 361.0, 361.0],
 'a67cf00d-90aa-43bd-927c-526eb024298e': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '55b067cd-682c-46b8-9145-d787eb8e1947': [362.0, 362.0],
 '7f74797a-7353-4485-98f0-a21b0be627be': [158.0, 158.0, 158.0],
 'be98aac1-4be3-4c28-a0ff-7a847ebeb76e': [141.0, 141.0],
 '16698118-2582-4e73-bb13-9cf134da1792': [364.0, 364.0, 364.0],
 '815f034d-83b3-4a9b-9802-0ed2cfeeda5c': [364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0,
  364.0],
 '0026629f-3da0-4cf1-9d6a-39fed1e24e0f': [151.0, 151.0],
 '92d0e4f9-7870-4fd1-9bf3-a6b0bc3a4ed8': [364.0, 364.0],
 '10117443-3f71-4e91-aa42-82106730f684': [183.0, 183.0, 183.0],
 'fc053eaa-706a-45fd-86b0-2f724dffecaa': [172.0, 172.0, 172.0, 172.0, 172.0],
 '8f69776d-08ae-4ca9-8f85-e0b71e9ad52b': [152.0, 152.0, 152.0],
 '820baf7c-c922-412b-8dc2-30dcae01697a': [188.0, 188.0],
 'cb950b72-7c32-4f12-9d18-29de58d986e6': [158.0, 158.0, 158.0, 158.0],
 'bcb33126-16f3-4adf-8fa0-0232218cb216': [nan, nan, nan, nan, nan, nan],
 '1bef4272-ffb5-4914-bf17-fede83f10fa3': [139.0, 139.0],
 '1ae5f0e5-b669-4c2a-b92f-dba6a4656a29': [360.0, 360.0, 360.0, 360.0],
 '286e4d3c-3eb2-4309-bc77-b6ac8de6e7dc': [361.0, 361.0, 361.0, 361.0, 361.0],
 'a0525c4b-0bdf-436d-9dee-080bd361958f': [nan, nan, nan, nan],
 '6dec82b5-014c-4bb0-82eb-5c7470b75cb8': [nan, nan, nan],
 'adfd550a-1f89-4eb1-a0fc-d83e7e6674c3': [172.0, 172.0, 172.0, 172.0, 172.0],
 '7b7c3f19-2eb8-4e62-8956-ffb5d130568d': [183.0, 183.0],
 'ddcd9e0b-9abe-4587-a711-fb361483418f': [359.0, 359.0],
 'e04a2405-91f5-4479-bf7f-8627ec0843bd': [152.0, 152.0],
 '8bbee91e-bcfe-483b-a077-353fbaf615ba': [171.0, 171.0],
 '884c37c8-a5c9-4072-8071-7c746323b76a': [159.0, 159.0, 159.0],
 '3c48100e-45c4-4654-8c1e-12170d37cd08': [169.0, 169.0],
 '12818d76-89c7-42ed-afdb-7dedc2406981': [168.0, 168.0],
 '3cd898fc-2847-410e-bb63-ca1a163b1ddd': [nan, nan],
 '286f0638-89e0-47a8-b874-4517663dc07f': [168.0, 168.0],
 '46ec5caa-f825-4aa3-9ad8-4d94503cfe96': [139.0, 139.0],
 '6c07c6ed-e04a-4830-a639-474f9b1ca8c5': [154.0, 154.0],
 '37191c6f-7e37-4b6a-9e5b-687000443949': [nan, nan, nan, nan, nan],
 'df8eae18-c4b5-4e47-82b5-93bfc1f5d8cc': [nan, nan, nan, nan],
 '18fc82bb-5778-4373-b536-2a3645dbee0d': [364.0, 364.0],
 '65164600-dc0a-4605-a208-823628e0192b': [171.0, 171.0, 171.0, 171.0],
 'e47a5ce0-9683-4e56-89c6-c4736c8d99c1': [171.0, 171.0, 171.0],
 'db7cc4d2-95f9-45fb-ba93-6094b46f280c': [183.0,

In [118]:
only_districts_filtered.groupby(['house_fias_id', 'district_id']).nunique()

,,ad_id,house_id,jkh_id,dadata_houses_id
house_fias_id,district_id,,,,
000e6c7c-7760-4e97-89c7-58d3959a7d00,162.0,2,1,1,2
0026629f-3da0-4cf1-9d6a-39fed1e24e0f,151.0,2,1,1,2
002e0496-aa0c-4546-9fd8-73aba3c62df5,156.0,1,1,1,1
005dc7d8-c6a3-4c05-afb5-b4caf88b8bcd,158.0,1,1,1,1
0069df84-1870-4725-89af-254631d3badf,362.0,1,1,1,1
...,...,...,...,...,...
ffaaf9de-3695-4077-a50f-b1b4c22dcd1a,150.0,12,3,2,12
ffc5a9c2-d27c-4efc-8d77-7c8e2577597e,362.0,9,3,1,9
ffd547ec-5b85-442b-a0bf-01757f3abf11,143.0,1,1,1,1
ffe804d6-b895-4c4c-8157-e4b44ff81757,362.0,1,1,1,1
fffc39f3-38ba-4246-81cb-4e177f0df3f6,159.0,2,1,1,2

In [121]:
test1 = only_districts_filtered.groupby(['house_fias_id']).nunique().reset_index()

In [127]:
tuple(test1[test1.district_id == 0].house_fias_id.unique())

('00537e96-c84b-4ecc-8b46-6c6cb89bc726',
 '00d89e6c-37ee-40da-9179-1ccfe3fe756f',
 '00f1bdfb-7e2f-457d-8aec-42f1beee96c6',
 '0108abe8-95e9-4f78-a424-b7e8e0abd7b4',
 '018c3085-f9a3-45fd-97bf-2bbe63a326ad',
 '01b3f01d-db4a-4f9f-ab87-59ee5e88094b',
 '0268af69-5929-47c4-a4ff-02f3aa680b2d',
 '0351be99-2ba4-4569-bb1c-7505e0fc2a1d',
 '03f738fa-d43f-4ff5-98ef-7c61b9c837d2',
 '04139d95-25f0-45e3-b85a-2fd6a6ed0570',
 '0444020f-d96c-42c2-8e6e-a82e32186d49',
 '0497b4e5-8315-4953-859a-f2c1b5f1f83d',
 '04a74c6f-e75b-4a77-a214-3a5890750cd2',
 '05f5156f-a755-42ce-aceb-59fe233dafd2',
 '065d0257-fa4c-4182-9d3b-1a9399a1e7c0',
 '06c99bf3-6e85-4403-bcdc-7a6ef873e941',
 '07085e48-b89d-425d-9bff-61e5afd78877',
 '07494bdc-9b57-4fca-b953-000c774926a0',
 '0760f0e2-c6fa-45f4-8189-59af6d0c62f0',
 '07797b6e-d3db-468d-9587-1a7b64eb5a73',
 '079ceec6-6193-4348-9337-7483c0f64773',
 '09154cc9-ba83-4742-9fba-eade92e1b70d',
 '092f3126-13be-4919-a1d0-b63f2c541bda',
 '09631361-0777-41bd-af2f-9a1f4cf86c4e',
 '098b990d-e60b-4051-8c5d-a00de93f28ee',
 '09e03521-6b40-4466-b70b-462c20e48ba8',
 '09ec94ba-ad9f-457e-ba38-c99ae65f90cc',
 '0a2f205c-57a3-406c-9be5-760fed957839',
 '0aef0006-b3b9-4346-b898-915cb25c6837',
 '0c848ac6-27d5-447a-95ab-d4306bc4831b',
 '0d2f4b8e-05db-4acf-9dfc-9e45ccd85ba7',
 '0d5af7bb-02dc-40ce-9795-662971dd7ef4',
 '0d74c192-efcf-4d38-97c1-4bc788aa5268',
 '0dd2a0a1-c9aa-4a89-8bff-79796eceae71',
 '0e41e0dd-326a-4ecf-9a02-3c726a5c2b70',
 '0e54dfb2-efa5-4586-ba94-633a43c315ab',
 '0eb1da50-9f8f-41b9-82b5-914e57caaf0d',
 '0f11253c-cb28-4b2e-8561-5b13852fc6f0',
 '103b8a48-6ad4-4f05-8725-d592ae74afae',
 '10aa9201-cd68-40fd-8578-d2117d9f6e0f',
 '1102eef7-f993-4f68-87ce-5e09a5ce4606',
 '1134753c-d729-4f3d-9989-fca37dcab5e9',
 '1161e52a-cf66-4bce-8f04-02fa6a30821c',
 '124eb25d-63eb-408f-bee2-1caa57c51f83',
 '12a80314-f87e-4e60-bde3-0739e297f293',
 '12bb2f01-ca52-45ee-bb38-a818587915cf',
 '12cf0e85-447b-4563-ad43-6e67bcaf4849',
 '13c93635-eaac-4327-8e75-168e2d049945',
 '1495616d-47a4-409b-a0ce-febca86e85e1',
 '14b7f024-fb6e-4f8b-8710-2fe5b88e2209',
 '14c11c60-e9ee-483d-8acb-e8a0bf79a1e9',
 '1517f02b-3195-4210-b317-827b9ce0431b',
 '1585ae88-b836-4551-b03f-0249fd3e8558',
 '169eafd1-743f-409f-bf71-0856bc1ad9c2',
 '18834ff2-25ee-4d06-a253-35c6cb0ddc76',
 '190bddaf-fbd9-4474-883e-b5040016fe0c',
 '19c2d7f7-50cb-449a-919f-c39181b8ae33',
 '19c2f7fc-2a06-4683-88d7-1864dd850696',
 '1b765603-7028-4a72-9e86-f6c56e61d538',
 '1b7d4483-21dc-4547-ab1c-6f140bc4bc81',
 '1b8df3e0-41fb-4ab4-ad0a-07d5782e5c57',
 '1c2f294a-1e15-4687-9124-c833fe9ffb11',
 '1c61069b-1acd-4caa-b471-4452443f2653',
 '1d0bb925-7f08-4f18-9c7e-7ac1e56aede6',
 '1d37669d-a60f-4830-a7c5-05efc73d3708',
 '1d59cb07-298e-4527-a262-0f22103d787b',
 '1dce7d55-19b9-4eb5-98a2-9cca8153a09d',
 '1e14cabe-a0e1-46ba-aa12-22e1ebcffc33',
 '1e5665f7-843e-4afa-b280-561c4f3b461c',
 '1ea5722a-a62c-4a39-ba6f-c202e189db75',
 '1ee478e5-a3f9-4957-a96c-553fe783f508',
 '1ef04546-05fb-4df1-9634-61389f93008b',
 '1fb0ca93-c8f8-492b-8896-2b207c5a54db',
 '1fbbae2d-5bf7-4dc8-a229-a687e2f03aac',
 '204918c2-fed1-4071-ae20-b04838182a35',
 '20493c20-8efb-4f5a-8b21-2ccb42bf19c4',
 '208eb691-882e-4a0d-87a6-face6324cfe9',
 '20906cf8-e0f8-4a97-adf5-3fad9eb58900',
 '209bbeb5-424a-45e0-aaaf-c808c42d1863',
 '20a85c26-6d1d-4839-ac13-49ef80683a89',
 '2163ff76-3dad-42dc-a0ca-4ffea47fe359',
 '21888a39-dee5-4c22-bceb-777b1dd68ccc',
 '22c45a75-f0da-45c8-9382-cc52d0cb663b',
 '23d99f59-cacb-4680-93a3-805327b66161',
 '24a104f3-2d98-4a7e-839d-89d27f2dc6d1',
 '24a85512-8a06-4aae-9f69-4aac9fce45e7',
 '24ce3dbe-e520-4c5c-b47f-6ffbbb216d00',
 '250792a6-163e-4704-8434-e14b09f38cb7',
 '250ff2db-734d-4867-baa7-7be4d9229086',
 '254984a8-6b47-4335-ac50-a1acd78e17bd',
 '25883f22-dab0-4358-947c-273f88e994bd',
 '258a2904-470d-4f45-9375-9cf89587bd35',
 '26663eab-b368-4c32-ae62-1b99990a31df',
 '269c0367-2339-4acf-a3f6-7f7fdb3dd887',
 '272f9716-cefc-4bf5-88d8-4d3871d8c3bc',
 '2735059c-0fb7-4704-b1ca-9cb08f88c7e3',
 '273a65b1-5cd8-4902-a8a4-e2371e783a52',
 '27c056b8-aee9-4e4e-a2ea-7612f8f9edf4',
 '286e98ad-d5ad-4333-a4cc-ba39e5cd1744',
 '28a96d77-f506-4bfc-9a59-b02ff53acda6',
 '28c23c74-37f6-481e-a900-cbe075fa081d',
 '28da39da-d4bf-41b4-8da3-25a79afb9461',
 '28ee4986-fd24-40a1-96aa-91cf31a94002',
 '29a75b23-fff5-4ce1-9d7b-c6c176ad82db',
 '2a0f8076-6db6-4098-96bb-e46fae78b832',
 '2a240e5c-9e16-422f-b001-53939af0c386',
 '2a4e2368-f2c8-48e2-b0de-6e1ca3b9b554',
 '2a5c5b28-b15d-4cac-b807-18bf7111d96d',
 '2a9359be-e223-4cf1-bd0a-cf92c04c5cdf',
 '2b02174a-c380-4431-bb5c-f3ddf56f40d6',
 '2b07c2b1-3e96-4970-a4e2-96dbf0e37344',
 '2bd48ad7-7b1a-4913-84d8-50216604808a',
 '2c8e5137-16df-4349-b9a9-3b659c2a3669',
 '2cdf8a98-1cba-4e0e-b537-2c0259349f61',
 '2d746e86-d8eb-4213-a3b3-632c0f21295a',
 '2da5b2c8-a15c-4526-9567-a9f66769eb19',
 '2e0571e9-7538-42f3-b595-07ca6d44ee49',
 '2e17e947-b510-4e01-b43a-5f36773b2611',
 '2e24b180-dc8e-400d-956a-bf7f2de92b3d',
 '2e4fa40c-2a00-47bf-8ea4-7ca980cf343a',
 '2f20cd8c-c23c-4e11-bb53-2c2ffa437c6b',
 '2f42d9a3-a98d-4151-8977-bd83d4ac2810',
 '301ba2d6-d5d6-4635-a1a8-49e7ca1fd5ed',
 '314eb05e-26a5-4155-b85a-26daea2f6e29',
 '3162b2e9-8d57-4c19-805b-9910e40eae14',
 '31bc144e-6535-491d-91e1-de37b5752207',
 '31cb8052-6405-46b7-87c5-40b3a8f0ef4a',
 '321bc882-ef7d-4f41-b4a4-11d34c1aa268',
 '327bbdb8-77ff-4969-b006-30ee3d9746be',
 '32bd9192-0868-4c5f-b214-1086e3cc3707',
 '32bea10b-3712-4c5e-8594-0d4552a3177e',
 '32befeac-a8c1-48b9-855d-bd8ad8868f2b',
 '32c07074-026c-4a3f-a1dc-6ca610e16d42',
 '337b2396-6a8a-45ca-a3f3-ca450288a7c1',
 '35df7150-4d28-4f2a-a373-85e8901567b3',
 '3616ced3-4cde-4fa9-98d9-6fc59f20d9c2',
 '3653ba9e-87fb-4821-8418-da7361b5892c',
 '36561f3e-7445-4b6b-858c-4453648d5b81',
 '366f847b-bfdc-4bd6-84a0-21d7a78c62c9',
 '369eb451-15cd-47bf-81dd-5f7b79b5fb3a',
 '37191c6f-7e37-4b6a-9e5b-687000443949',
 '37fc9168-0e4e-4474-94ad-ae5e80fd14ff',
 '3849e986-0397-4f87-92ba-0444e044adb3',
 '38780167-f831-4974-8c13-4cda22f4581c',
 '391b2d15-8060-45f3-86c6-e2f175a3e522',
 '3c19c5ff-0c2e-4f5c-a84f-44620b3edfc2',
 '3cd898fc-2847-410e-bb63-ca1a163b1ddd',
 '3cf40283-1ca9-45ba-a809-b874ab3a275c',
 '3d117a5d-3b6b-42ee-919d-43220c221b07',
 '3e2d26ea-eeb1-442e-b6b2-39643da15a0b',
 '3e4574ea-e669-4c4d-866e-594668d3e8a7',
 '3e9dd02b-00e8-44a5-9d14-83b65bf17580',
 '3f0cb7e2-f2da-42b6-a9b9-f26985acc5a8',
 '3f81e436-ff31-429c-a89f-982736ee1f59',
 '410b3b07-a37e-4d55-99d7-89fda2b78d06',
 '4152156d-3f84-48bd-bf24-15d63dad1ea5',
 '41b5c30f-bfb9-49a2-ae33-161d0e302288',
 '42b9b90c-3e3b-47bd-b644-ed247898423e',
 '42cbb8c1-6286-4377-a7dd-58a5c60993c8',
 '42d22c7b-61e5-41c6-b026-69f234067bda',
 '437e9c4a-c0a7-4e0b-b2d9-1b9e768d40f5',
 '4384f466-48e3-41a5-b20c-11e105d7626c',
 '43d6db21-d9dd-41b2-b594-a7f81ea14d25',
 '447c7e42-6c67-4bf4-8d2c-f5770682ab2d',
 '448a4092-4434-4e71-961d-b81cf319733d',
 '44db72d0-4a14-452f-aa7a-6556be67f790',
 '45a20114-543f-47e1-a905-a31eeeb6f5fd',
 '45e047ce-c5ab-423f-aaad-08a9f5a2778f',
 '46776b6d-146a-4ec7-b393-f63079b8ac74',
 '470faf6b-10d5-45de-8e16-682e3394752f',
 '4769e74f-2bd8-4390-bece-1986195a51b0',
 '478ffd60-d6e4-44ec-a078-8637fed8d5b0',
 '47ce2566-3232-4015-9e81-86bfaf4daaaf',
 '48a7835e-5c83-4308-a9e9-3df35023006b',
 '48ac563a-2628-4085-85d0-5b0051f3453b',
 '494f8b34-b889-423d-b98f-31c5433fd8e6',
 '4985c24a-0e03-47b8-abb6-97680ecc4a19',
 '498c4c51-5f67-4cc7-a4cf-5358d8c57694',
 '49d376c9-cfb9-4e50-9893-ef5f57b3556e',
 '4a3b7cf0-3faa-431b-b8ab-1344a7bcb7eb',
 '4ae1cf8a-60c3-4687-b3f9-48716f8db71d',
 '4af19e49-248f-41ed-8677-f0fc3d53d259',
 '4b304ead-1fac-4f43-8879-5a793e0c8d57',
 '4b70e54f-0991-457f-9acf-3703ba8028a0',
 '4b8775a3-c53f-412b-9394-519708ab8466',
 '4cac0a27-d5d7-43f3-9c16-be9f48df8162',
 '4e8ae31d-4597-471f-a878-be55f6ed08ec',
 '4e99f91c-87e4-4dfb-a1d8-489f219955dd',
 '4f20678a-6a28-4be6-85f7-cad373efa2d0',
 '4f980ac3-191a-4d4d-af1e-5f79cc5f7041',
 '4fcfd4ea-2773-4d68-9292-50f894c52084',
 '4ff5423a-714d-46f5-b2c7-34f4790833b7',
 '50e18797-e5a8-44e6-b2a8-a6ce7ed21a29',
 '515283c2-b7ce-41c9-872a-b80d2608dbf1',
 '51a473f1-c56b-4941-a779-9bf0af41f4de',
 '5222750a-fbe2-4003-aa21-81d8e00d938f',
 '526cb076-a7bd-4050-811a-a6e75a300df0',
 '53006bbe-b050-4844-b778-24f4b0e8846f',
 '53336c93-0da9-409f-9d80-836ed5958d76',
 '53c34e8e-308a-43b7-b7cf-081f0c9818c5',
 '541095ed-7a95-43ae-bffb-d71a3a272b19',
 '545a8404-4ce3-48a8-bff8-78a65e3573d4',
 '546f4bf7-4c7b-4c1c-833f-a44a94813991',
 '55bc2df5-5e8e-42e1-96ca-2096b1ecc52d',
 '55f64da0-cdfd-4da7-956f-88fb06d878b7',
 '565fa98b-fd4c-415f-90c6-3a47717c89df',
 '56b982c8-81b0-48cd-ad39-44c9413731a4',
 '5771736f-b02c-4c68-8038-69d37654ccad',
 '5798c64b-da40-4219-90df-3ec8d43c733a',
 '57a0ffce-650d-4dd1-bde1-6550630594f7',
 '58358e30-8dce-4cc2-9070-7c5ff3e2239a',
 '583ddf38-2fab-499f-a7b6-3ec37561fb5a',
 '58577244-bc49-4cd8-880a-29df505f5e9b',
 '588452b2-b98c-47d0-aad1-4a6ffae48681',
 '5887ae7c-63eb-4333-8e89-17788f36d6c3',
 '59ca6078-9b3c-4be3-8e4a-9959bafdd861',
 '59f84e1f-1c0d-4607-8fb0-bf482990d503',
 '5b284429-cd36-4145-be5c-58ae8a14bc88',
 '5bcac658-0da5-4676-849f-0f725da96103',
 '5c09d217-7fb9-480f-b8bd-0f0baf7f185f',
 '5c6c69b0-609c-4af6-bef7-35b49dcd3e91',
 '5d2a7abb-2baf-4615-9dc9-f6e0ccf53b4a',
 '5d50caaa-0018-4896-9876-04264d237c53',
 '5d91e3c0-13f2-492f-9939-a03a4af19a5d',
 '5d9bbfb1-62aa-43d1-8b78-196d355af793',
 '5dea1a06-14cc-4187-9899-e5720436d922',
 '5dfb0105-9275-4515-a290-fd37d8261e4b',
 '5e20da4d-8aca-4a42-aeac-1715c6a53637',
 '5e95a165-9974-4641-bc00-0d30403534ba',
 '5ef05779-5bf2-4a08-a866-07453e17901a',
 '5f112fd8-3181-44d9-8da6-97ebeeac51f0',
 '5f3d0d5c-f00a-4823-be06-d53d5f65f00c',
 '5f71fd5f-9ee6-4e03-bcc0-91e4a558411b',
 '5f73ae42-fcf5-4d7b-96dd-1e8766b7a615',
 '5f97763e-80e4-42db-8e91-7af64f35ac09',
 '5fc5d0df-5ed1-4b58-ae95-bf4bf99f44cc',
 '5fdeb150-44de-4b5b-be2c-a3c4bb747c67',
 '607b0fb0-d886-414f-ac26-5c0d6a6e7b44',
 '60d60cd5-5012-4f34-aad3-e66b99f251f8',
 '610c5690-59f4-4fb4-ab74-696457ea5dca',
 '61cd04aa-f3b3-4e50-ab00-bc6ec7337e26',
 '625954a1-999c-4c25-93fc-4d88d5b83b71',
 '6344d1fb-be64-4896-b8b5-0d7d71ecbb01',
 '635de6e7-81a1-42ab-9eae-678697dafbe6',
 '6461505c-5b8b-4f00-9451-778a5dab27bc',
 '647e2ccc-9a17-42b8-8552-e01a052040da',
 '64b0ca5b-1853-4e76-853c-be82a6e9c7e7',
 '6527dc34-dc51-4026-a04a-486bccbf5065',
 '65e1db32-83a2-453a-bb4a-6cf2f10ed418',
 '65e86f93-2000-4113-91fd-a78f0dd6cc6f',
 '66953c4c-d33c-4d92-afaa-b8b7fd73179b',
 '66d96693-7f9c-4982-9357-f7a1135da8b1',
 '66ded7ff-dc81-4af9-afbb-5eda4ae1230b',
 '66fe005e-9b93-4f72-9d33-6333c2825b55',
 '674d6b13-0696-4f75-bce4-78198a4d78ba',
 '67d7ea9f-a6f2-4890-bc4d-b187095a8019',
 '68d18391-c4e5-441f-be39-b6fef758835a',
 '68e141fc-51fa-4be6-a17f-ed8734970293',
 '69c1f0f4-25d9-4480-a942-e574b964dcd6',
 '69faab73-2ebb-45c3-baff-2a231ab7b193',
 '6a354c30-7568-4a4a-91fa-f5a4402d0594',
 '6b083839-067f-45d4-a767-d5a1409639d8',
 '6b20be84-5bca-4be7-81b9-03c71ac3c6b7',
 '6b90135d-4b52-452d-8fa9-6a8e41ce76ab',
 '6be2925d-cd65-46f2-bd1d-da815784abb9',
 '6c171270-f62f-45ce-b1e0-f2ca2246c87a',
 '6c6b9792-adb5-4890-bb39-fea027f487db',
 '6c6ec2a0-92e1-4342-8a0d-8243dfd1f490',
 '6dec82b5-014c-4bb0-82eb-5c7470b75cb8',
 '6dfcc466-17a0-44e0-a06e-7a950000f08a',
 '6e09e2fe-bc67-4a14-8b57-18acb66e0a20',
 '6e47c895-d259-4885-a03b-dd9834edfa8c',
 '6e743090-95fb-44f5-8f8e-d45521f1d46d',
 '6ea5eac9-e5ae-4453-a098-28187ec312d9',
 '6f4ea046-6719-4281-af31-78d9603aee13',
 '6f6fb756-a5d7-4498-b13f-05091dc2aae2',
 '6f848b50-46e9-4a94-8155-6e6f9ec2d046',
 '7048e35f-251a-4c15-b91b-dc9a3f5cf08f',
 '70f0017a-389f-4763-8057-e12268fc2aba',
 '71273e3f-5bd3-488f-b876-3cc793263e92',
 '71bb21bc-40e5-4145-96cd-99d7e24fe19c',
 '71e0a605-66ac-4160-a6ce-7d52cbbf6668',
 '720a038a-f1da-4f84-b05e-3852f2255928',
 '72221d67-97b5-4e1a-869d-f80e3de2155a',
 '72e43e08-cf28-4f7d-b270-805c7f01c03e',
 '738bc803-5db7-428d-97da-184aca491692',
 '73c649b7-970d-4514-8072-6e170963541e',
 '7467561c-02f7-4d5d-a90a-67a4256f764b',
 '74a5d476-0dbe-436a-99a4-7701d03ebf59',
 '74aa6756-a9b9-4a28-abde-7ead80c82499',
 '755ef336-0995-453d-b097-7903a9e7823f',
 '7583641c-c72b-4d55-bb9c-6a0c636fb047',
 '77783f48-1624-4106-a7d0-a2d7fb0e299e',
 '78ee499b-d9ea-4943-bfa0-2d991c84cdd0',
 '79597422-863e-46e4-8202-0e849223bd72',
 '7989df5b-fc59-4f03-8638-0b5a98f3074d',
 '79f62464-6ca0-4642-9dfa-14ac2345fd9e',
 '7a513087-b321-48e2-a62b-940fab531a2c',
 '7a5b8925-7089-4dfe-963e-e11323194d6c',
 '7aa74ca1-b16a-4a97-8b4f-eac585715ade',
 '7adf4966-6987-4495-a82a-9634f9695157',
 '7ae0e8ae-1e8c-4312-b654-c667d3c8a2f8',
 '7c06417f-2bfb-41dd-8132-1547fcbd018b',
 '7c695360-8941-45a7-b8d3-ba8be80d23ae',
 '7c7eec98-8a12-40ba-8db8-394909eeece2',
 '7cf57386-b5aa-45a8-8a67-598292f67a0a',
 '7dd62ac9-0c38-47e5-84d5-ac783c59dfec',
 '7eacc217-7e2a-4616-b1a9-2c2ed10d9e79',
 '7eb81b40-01e8-4af9-8b4a-e77ee50f0eed',
 '7f1180d1-783d-4c78-a9dd-c559542771f1',
 '7f4d173c-160e-4c0a-a570-c6df29dd975e',
 '7f8abf5c-c5fc-4f77-8ac2-d2cc9005e2ce',
 '7fbabce4-e482-49fe-8e70-efd4ecd749cd',
 '7fd762b4-1112-4e8e-8e18-8a1d9930e0fc',
 '804c9515-a53a-424f-aea8-5b62dd86b506',
 '805fa9f1-c42d-42a7-8751-1c8ebfb5a36b',
 '8160e4e9-302e-416b-a46f-79901a812df0',
 '821fe9f0-4ef8-4fdf-be8d-32b21904feb7',
 '8239cd0d-1d90-415d-baea-4298fc27144e',
 '824a8992-3cae-46af-ad90-d685efa318dd',
 '82552565-51a4-4070-a261-fe156a2caf63',
 '827eeb60-54bb-4a0a-8f73-5d2a2f08879a',
 '8331ff1f-b0fb-4229-994a-922eaad47075',
 '83ad8ec4-7fad-4947-b7df-cf6bd216894b',
 '84f80fc6-b99c-46b1-bb63-671e3d31f58f',
 '84fa2d79-7c9e-4972-9f19-ce817761f909',
 '8501a9cc-8baa-499c-8f7c-7f070bfa3b4f',
 '85ffb5bd-170a-4d39-9bae-785a3fa551b4',
 '867411e3-0352-434d-b996-4ae73931adf8',
 '86f6f149-a08e-4bcd-81e8-378ffd39261f',
 '87b32fef-5294-4c18-9982-aa0912807955',
 '88018c02-dfe9-4f46-9ed7-b78cd40941e2',
 '89c295b6-da56-46a0-8b9a-7df345eb3050',
 '89dce1df-7511-468a-9ca5-0a1e466cb007',
 '8a0232f8-6042-4fca-bdf2-33826c62936e',
 '8a28159c-1c64-4ba5-aa13-6392f0d9bd2c',
 '8ae6176c-aaf7-4dd6-9488-3c95e25d4838',
 '8b018539-6e0c-47cb-950c-88c4218c3964',
 '8bada1f1-80f6-4a70-9708-2723f683af9d',
 '8d3fd3b5-1c79-4b0c-9da5-91090855fd87',
 '8d989bce-a82a-4cf6-8f4c-a15e7a28e9b6',
 '8dc72928-dae2-4524-b162-106bfdfbfeb5',
 '8dd6c37d-e2a0-49b7-ac29-056602fb5dbc',
 '8e859d10-efc2-45dc-8a6e-0c28b5b32e1e',
 '8ff0c499-aec8-42f1-8450-8cf5a9faa544',
 '901bb4cc-5562-497d-ad86-90d34b9c94bb',
 '901e2dd8-8875-4b71-9e39-3a6cf509514e',
 '902df658-2b3d-468b-ad9e-df3e90248040',
 '90336519-970f-4de2-bfc1-f610435acd36',
 '90849450-3596-4bf9-a4c2-f8f5937d1693',
 '915383c2-c294-4705-b6ac-a9e5375d7579',
 '91599d37-fecb-441e-94ee-a54f253bb782',
 '9161f2bf-b103-47a4-b9c9-d48f3a0fb66a',
 '919d219d-b475-409e-93f0-59e0cff7bebb',
 '91a62960-7411-4140-8c03-8dce4a827097',
 '91bd243c-7814-4ee3-a1fe-933242915191',
 '91c18119-0609-4677-b7f7-f1d23bfe4ae2',
 '9260fb98-6af6-4d56-906f-20853b8bc4a7',
 '928df041-a3c1-41b1-95e4-7faf5846b4eb',
 '92da50ba-d88e-48b8-8b00-30d256461fbd',
 '93dd5940-a82b-4e15-b2f5-e3cbcd65e19e',
 '9446f0f1-c26a-4696-8fbc-68bde9032a44',
 '9487c937-53b1-429f-9a6f-03f2f938928d',
 '949cef6d-f67e-4dc5-a00d-28e588c7f2d9',
 '94e806da-ed02-44eb-b822-6d51f86d617a',
 '952f4eab-bd4f-4a53-b55b-8c8741342b00',
 '95e53cbb-c41b-412c-a7d9-9647da4ffa0e',
 '965e303f-ebdb-4898-9554-26ed50fa828b',
 '96959aa2-8771-4b3d-a05e-5eae0cbb9efc',
 '969beba7-8a7d-409e-8af4-1a0e7238bf66',
 '96f19b09-2a91-4b2b-b979-d97d379e087b',
 '9985d311-3994-4954-a9d9-71f6f0a916b6',
 '9a212184-63e4-4abf-807f-e189fad8c17c',
 '9aba9ab5-567a-4e61-9e7c-798c40ec79a1',
 '9af6135f-8805-43f6-ae0d-9a57abea2814',
 '9b49bf18-61d2-47d7-9540-aa703928844f',
 '9c7e85eb-e2a6-4056-93bd-619e0d74386e',
 '9cb55c17-4e80-40bc-beff-5d499ac4fc3d',
 '9cf35d76-5bc3-4c71-9868-c3bfbc7ea372',
 '9cf431d5-1a93-473d-9f7c-606476be51ff',
 '9d029760-4238-423d-953a-aacd733585da',
 '9e9137a8-e33a-4a96-8f76-d3e76e9a3646',
 '9ef67da7-97ab-44cc-97cf-28f92cb327d3',
 'a0525c4b-0bdf-436d-9dee-080bd361958f',
 'a0b22507-e1ad-4895-b50c-f97476736053',
 'a19e8b52-3317-49be-b03b-4f526c5cfcca',
 'a1fc5b4d-219e-42b8-806b-f171c625cf98',
 'a2164aa0-0041-4219-b663-671a44600c60',
 'a316971e-0f73-4da4-8a1c-dd27e7f4eb65',
 'a331a5f9-9bbb-48d9-a4f8-cce69cd72707',
 'a38bfc3b-49fc-47d3-8e55-f932a0929a04',
 'a3ad0991-7787-43f9-8ee5-7174a14b438f',
 'a402715e-f65b-4a7f-ac29-7d7c744087aa',
 'a4ffb063-0183-481b-a429-2418440b450d',
 'a550514b-f88a-4827-9bfb-57a81472acd4',
 'a60bdc25-046f-42cf-94d4-dc70d5ff7017',
 'a671e7d6-0498-4cca-b974-650ba352fc4a',
 'a69c41ba-8924-4001-820b-4afebe3ff5d8',
 'a75fd733-bf58-48cd-99f1-5c0d6d7cade1',
 'a77cb55a-2385-475e-a94d-8a9b2dc15cc3',
 'a788823a-0059-4bd2-b37f-41838bd0ad9c',
 'a7d736a2-c9f3-4272-b6ea-d8028886d6ed',
 'a8319c6b-7871-43a6-a114-822314d74aa4',
 'a8dac415-e9f1-440f-b189-166973b8b276',
 'a93cfe27-7410-46ed-810e-24c9f36bf0ec',
 'a9bacc12-ed64-4e30-a2fb-72f9bf635cd7',
 'a9f5c929-4b15-4df2-8e2f-5d9f40cdf79f',
 'aa6493fa-3fa2-4708-b3de-595d0c243d8d',
 'ab093523-d034-4d01-9ef1-653739788470',
 'ab5e2915-2020-4097-8485-6e2e7de497be',
 'ab95df58-89b3-40ae-bf79-79fe0a49bd5a',
 'ac0f56b3-d090-480a-baa0-9636cfa49960',
 'ac4d88a3-03d1-44fb-b4a9-c445ef89783e',
 'ac847e3d-0569-4972-a334-ab7207f5ce22',
 'ad22f43f-7f26-4615-9acc-63511486f252',
 'ad67454a-5ece-4518-9a82-2ed76cceb1b8',
 'ad7557a2-5b8f-41a3-9aec-decfa412da2a',
 'adf0df8a-c2ce-4433-86d7-4f53821a8bcc',
 'adfe09bf-cd9c-43cf-a1de-6a9822d7f9e9',
 'ae4eea1b-ef4c-4172-932b-af2aacec5657',
 'aea5dda3-468d-4750-838d-981938477fe5',
 'aeb18d66-efa2-4a9d-bccd-9693d08ca15a',
 'af5b70f5-d159-4435-918a-0b4d484033c2',
 'aff21b7e-7ddd-4595-8bd9-294ccb3809df',
 'b0e9b09d-b369-4b48-85ed-133b57b0b21e',
 'b1b98e0e-fab9-444f-b3f7-46d6507c3f23',
 'b1bfbbf5-e0e6-4e89-b42b-9a518a575beb',
 'b1de8f37-c009-4a1c-9cc2-d50313c464d3',
 'b2753ad4-2b12-40a5-bae8-bb788b1072bc',
 'b321c8a0-d6d7-478d-8e7f-7ebf92019f3a',
 'b3253248-c8f2-49f3-8757-55e3b39ceb12',
 'b3345d7d-f8ac-4ef7-8117-bfed039efbff',
 'b36ad6cd-f109-4dbf-866e-7a1c22033688',
 'b3d0c8fa-eea3-4fdf-977b-6d9171df203b',
 'b3d9db93-9888-45a4-abcd-f3efd23e080f',
 'b418ffa1-40d2-43da-84ac-c743667c98b2',
 'b44c230d-ec2d-4e35-bcb1-b001cfd93d35',
 'b4a9ca6e-04de-4443-8dcb-70a5c2dffa45',
 'b4d8d00a-bad7-41c5-9d09-3c7f32a5751a',
 'b4e01dc3-3900-4c89-8654-18d7e68ce334',
 'b4e29b0d-830f-4a32-a21c-0cfca7935329',
 'b5a9faaa-76b6-48e0-92d0-f7ac0421fea1',
 'b5cd505e-9f17-4cde-9777-657889e7449b',
 'b5e397de-86df-4960-8219-9e7bc765c1fc',
 'b5e5e88d-63ca-437f-840c-4352eb737a37',
 'b8a04a5e-dc79-4301-aa2c-51b7f5a41134',
 'ba2b7b29-a139-4244-9be9-2fdf717a8072',
 'ba55d046-5ec3-4979-be4f-844ba5f900ea',
 'baea2710-9441-442c-a625-889d2c8a46f1',
 'bafaaf6a-3893-4e8d-ae60-29ae0ccb66e2',
 'bb801b0e-3970-4567-8155-6f28e3f0dbda',
 'bba2cbcf-7175-42ba-954e-23dd820ae1e4',
 'bbffdcbe-e99e-4df3-9fe3-25d6161269fd',
 'bc030463-4d96-48a5-9fd9-74c599f6d1da',
 'bc4618f9-e97f-4b5b-b288-bed4dfe433a9',
 'bc8767e0-208a-4ad8-8dd3-971f7542c21a',
 'bcb33126-16f3-4adf-8fa0-0232218cb216',
 'bd88ade3-edaa-4475-b970-90b85036aa08',
 'be3eb1a6-7f6e-45e0-8dbd-de135bd94cfd',
 'be677674-2f80-483f-8070-9ecaa620d844',
 'beb366f9-eee0-4f39-80e8-e10171a1f212',
 'bed53cb6-3f5d-44bb-9f3f-2bb16ba1d5d6',
 'bf1e602e-cee4-46b8-83d0-0e0d4baf3f8e',
 'bf4e9ac6-12b4-4565-9b11-810394aea54b',
 'bfb9a63b-213b-496a-9c0d-2b7b24df09d5',
 'bfc6ff75-cc13-4348-9dad-8eb508abc262',
 'bfde1e26-b975-4287-99da-1dd9d6736757',
 'c06a817d-13dc-4ca6-8148-7b64f6046271',
 'c09b292b-a783-43a1-9658-2f3e0a6919e9',
 'c0ed630f-cd98-4d76-ae64-971d3235aa15',
 'c121eb00-7c5b-4a73-96cb-7ec993aef0ec',
 'c1c1dbd8-a329-4883-8a9f-1638096b4194',
 'c24445ba-23f8-41c2-a66d-0f1e9ca36f65',
 'c2bcfaa1-de7d-44b6-8d84-9dac08726e79',
 'c303a66a-49c9-489a-88d7-e603831abbdf',
 'c340ed05-6536-4e54-9954-71b21f255c92',
 'c3c18feb-ce33-4aac-b137-55a25eec7aa8',
 'c4edd562-80f5-440b-8237-a31d337dfdfd',
 'c5a7a44b-7dd5-493f-a162-cb3ada928336',
 'c5e420e1-9615-4c95-b174-fa2589e1e42c',
 'c5efc7f0-c012-446b-8909-ec53abfdcc9f',
 'c63d05d6-7f43-455a-be29-74c1f5ca72a1',
 'c6757520-b4f3-40b1-8cf5-02e5bde0bd6a',
 'c73a1aec-6ba7-4c9f-ab26-2a4f41c062fe',
 'c766f057-6efb-4b44-8c45-f29f689dc6c3',
 'c7b48720-2127-45b3-b9e0-c35d2d8d52c4',
 'c7ca65ac-e13d-4361-8323-e11b0a3bbc18',

In [128]:
# jkh где фиас не попал в выборку
get_jkh_query = \
    """select * from jkh_houses jh
    where jh.house_fias_id in {}""".format(tuple(test1[test1.district_id == 0].house_fias_id.unique()))
con_obj = sql_engine.connect()
jkh_houses_db = pd.read_sql(text(get_jkh_query), con=con_obj)
con_obj.close()

In [131]:
only_districts_filtered[only_districts_filtered.house_fias_id == '03f738fa-d43f-4ff5-98ef-7c61b9c837d2']

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
151,03f738fa-d43f-4ff5-98ef-7c61b9c837d2,2220533254,NaN,NaN,30721.0,254944
276,03f738fa-d43f-4ff5-98ef-7c61b9c837d2,2953903405,NaN,NaN,30721.0,255013

In [93]:
only_districts_old = get_districts_from_house_new(df_dadata, sql_engine)

In [94]:
only_districts_filtered_old = only_districts_old[0].sort_values('district_id', ascending=False).drop_duplicates('ad_id', keep='first').sort_index()

In [139]:
only_districts_filtered_old

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
7,bafaaf6a-3893-4e8d-ae60-29ae0ccb66e2,286670939,NaN,NaN,29914,195832
9,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362.0,19121.0,30887,195833
14,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362.0,29947.0,55859,195838
15,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364.0,12108.0,55535,195839
18,ba3e9f38-e9ff-4f51-b1e3-26f7a154da45,286672479,359.0,18995.0,33929,195842
...,...,...,...,...,...,...
23574,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151.0,13483.0,58250,272601
23576,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140.0,26570.0,31280,272638
23578,1658e177-40e0-4101-861b-81e20e9b0267,286719615,140.0,12072.0,34728,272667
23583,3cc5e75f-e65d-42e1-aaff-853204fadc9f,286770391,168.0,16992.0,33837,272687
23587,61020d70-dddf-4988-af02-bc0c5be7613b,286738634,362.0,20168.0,34352,272731

In [145]:
only_districts_filtered_old.ad_id = only_districts_filtered_old.ad_id.astype('int64')

In [147]:
only_districts_filtered_old_onlyddt = only_districts_filtered_old[only_districts_filtered_old.ad_id.isin(df_dadata.ad_id.to_list())]

In [198]:
only_districts_filtered_old_onlyddt

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
58,6588a060-63e9-47fd-9e72-7a0236f668a1,2510901675,361.0,NaN,30289,254871
62,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,364.0,32339.0,55535,254872
63,2d7ffb72-bebc-48f8-8748-fb47bbb84c67,2879171679,139.0,12604.0,33204,254873
66,8862ddbe-77ad-4438-9d28-3f969fadcbf6,2954220804,161.0,27981.0,30127,254876
68,3fdbdab0-28a3-4d58-850e-2641a6ec90df,2926834317,182.0,13498.0,32032,254880
...,...,...,...,...,...,...
23541,9ba300cc-f343-4a27-b9cc-2cafff9e5f6c,2756001181,168.0,26541.0,32330,272387
23543,8eeabff0-11a9-4613-9a58-a591f5a62bc8,2538270207,168.0,NaN,33817,272390
23546,5eea8d9c-da35-482f-b8cf-c7c5c6c8d959,2682059587,182.0,30657.0,30495,272392
23549,835f082f-7119-4448-8462-568b58641918,2766218965,364.0,31173.0,57418,272393
23550,a088717d-2743-4e1e-8738-39b31ee84762,2544177804,183.0,83372.0,32640,272395

In [199]:
only_districts_filtered_ddt = only_districts_filtered[~only_districts_filtered.jkh_id.isna()]

In [200]:
only_districts_filtered_ddt

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
0,6588a060-63e9-47fd-9e72-7a0236f668a1,2510901675,361.0,NaN,30289.0,254871
2,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,364.0,12108.0,55535.0,254872
5,2d7ffb72-bebc-48f8-8748-fb47bbb84c67,2879171679,139.0,12604.0,33204.0,254873
10,8862ddbe-77ad-4438-9d28-3f969fadcbf6,2954220804,161.0,27981.0,30127.0,254876
15,3fdbdab0-28a3-4d58-850e-2641a6ec90df,2926834317,182.0,13498.0,32032.0,254880
...,...,...,...,...,...,...
32418,9ba300cc-f343-4a27-b9cc-2cafff9e5f6c,2756001181,168.0,26541.0,32330.0,272387
32422,8eeabff0-11a9-4613-9a58-a591f5a62bc8,2538270207,168.0,NaN,33817.0,272390
32426,5eea8d9c-da35-482f-b8cf-c7c5c6c8d959,2682059587,182.0,30657.0,30495.0,272392
32428,835f082f-7119-4448-8462-568b58641918,2766218965,364.0,11879.0,57418.0,272393
32431,a088717d-2743-4e1e-8738-39b31ee84762,2544177804,183.0,83372.0,32640.0,272395

In [210]:
only_districts_filtered_old_onlyddt[only_districts_filtered_old_onlyddt.ad_id == 2879171679].iloc[0,2]

139.0

In [211]:
only_districts_filtered_ddt[only_districts_filtered_ddt.ad_id == 2879171679].iloc[0,2]

139.0

In [217]:
for i, val in only_districts_filtered_ddt.iterrows():
    val_c = only_districts_filtered_old_onlyddt[only_districts_filtered_old_onlyddt.ad_id == val.ad_id].iloc[0,4]
    if not np.isnan(val.jkh_id):
        if val.jkh_id != val_c:
            print(val.ad_id, val.jkh_id, ',', val_c)

2050846476 59522.0 , 33854
3082402743 59679.0 , 33986
2911159852 33151.0 , 58846
2958040042 55885.0 , 30038
2452016159 33151.0 , 58846
2760859309 60415.0 , 34723
2312374993 55871.0 , 30025
2948608163 31712.0 , 57516
2916408269 35000.0 , 60682
2958023049 57863.0 , 32115
3089765400 59679.0 , 33986
2658913492 30038.0 , 55885
2409057012 55885.0 , 30038
2198691517 55885.0 , 30038
2791489670 33133.0 , 58826
2958209335 33133.0 , 58826
2889328703 33133.0 , 58826
2900800110 55885.0 , 30038
2847024919 30038.0 , 55885

In [219]:
only_districts_filtered_old_onlyddt[only_districts_filtered_old_onlyddt.ad_id == 2452016159]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
9658,6a420039-4730-4dda-a48d-2c36cacf9191,2452016159,155.0,16890.0,58846,264363

In [218]:
only_districts_filtered_ddt[only_districts_filtered_ddt.ad_id == 2452016159]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
15649,6a420039-4730-4dda-a48d-2c36cacf9191,2452016159,155.0,84177.0,33151.0,264363

In [ ]:
30038.0 , 55885, 33133.0 , 58826, 59679.0 , 33986, 57863.0 , 32115, 35000.0 , 60682, 31712.0 , 57516, 55871.0 , 30025, 60415.0 , 34723, 33151.0 , 58846, 59522.0 , 33854

In [26]:
# отсеял пустые fias
df_dadata = df_dadata[~df_dadata.house_fias_id.isna()]

In [27]:
df_dadata

,house_fias_id,data,geo_lat,geo_lon,street,house,qc,result,qc_geo,ad_id
0,6588a060-63e9-47fd-9e72-7a0236f668a1,"{'source': 'Казань; Ботаническая ул.; 9', 'res...",55.766624,49.139143,Ботаническая,9,0,"г Казань, ул Ботаническая, д 9",0,2510901675
1,8e8296d8-f3e1-4478-961f-b50781bae779,{'source': 'Казань; р-н Кировский; ул. Айрата ...,55.866713,48.882206,Айрата Арсланова,6А,0,"г Казань, ул Айрата Арсланова, д 6А",0,2878344292
2,2d7ffb72-bebc-48f8-8748-fb47bbb84c67,{'source': 'Казань; ул. Нурсултана Назарбаева;...,55.770649,49.132459,Нурсултана Назарбаева,78,0,"г Казань, ул Нурсултана Назарбаева, д 78",0,2879171679
3,7ae0e8ae-1e8c-4312-b654-c667d3c8a2f8,{'source': 'Казань; д. Куюки; 16-й квартал; 17...,55.712699,49.356550,16-й Квартал,17,1,"Респ Татарстан, Пестречинский р-н, д Куюки, ул...",3,2638986159
4,ff16b3b9-cfcf-4d09-924b-86b237924695,{'source': 'Казань; д. Куюки; 4-й квартал; 12'...,55.706817,49.360008,Квартал 4,12,1,"Респ Татарстан, Пестречинский р-н, д Куюки, ул...",2,2922084253
...,...,...,...,...,...,...,...,...,...,...
17520,cea7069f-2cf9-42ae-b5a6-8be1e56e130f,{'source': 'Казань; д. Куюки; Азовская ул.; 3'...,55.712699,49.356550,Азовская,3,1,"Респ Татарстан, Пестречинский р-н, д Куюки, ул...",3,2481496259
17521,5eea8d9c-da35-482f-b8cf-c7c5c6c8d959,"{'source': 'Казань; ул. Восстания; 5', 'result...",55.835184,49.099524,Восстания,5,0,"г Казань, ул Восстания, д 5",0,2682059587
17522,835f082f-7119-4448-8462-568b58641918,{'source': 'Казань; р-н Кировский; пр-т Ильгам...,55.856566,48.904530,Ильгама Шакирова,11А,0,"г Казань, пр-кт Ильгама Шакирова, д 11А",0,2766218965
17523,beb366f9-eee0-4f39-80e8-e10171a1f212,{'source': 'Казань; р-н Приволжский; ул. Ярышл...,55.794358,49.111497,Ярышлар,6,0,"г Казань, ул Ярышлар, д 6",4,2679128139
17524,a088717d-2743-4e1e-8738-39b31ee84762,"{'source': 'Казань; ул. Маршала Чуйкова; 28', ...",55.833718,49.124207,Маршала Чуйкова,28,0,"г Казань, ул Маршала Чуйкова, д 28",0,2544177804

In [362]:
len(df_dadata.house_fias_id.unique())

3602

In [353]:
# сколько fias не попало в выборку
df_dadata[~df_dadata.house_fias_id.isin(only_districts_filtered.house_fias_id.to_list())]

,house_fias_id,data,geo_lat,geo_lon,street,house,qc,result,qc_geo,ad_id
3,7ae0e8ae-1e8c-4312-b654-c667d3c8a2f8,{'source': 'Казань; д. Куюки; 16-й квартал; 17...,55.712699,49.356550,16-й Квартал,17,1,"Респ Татарстан, Пестречинский р-н, д Куюки, ул...",3,2638986159
4,ff16b3b9-cfcf-4d09-924b-86b237924695,{'source': 'Казань; д. Куюки; 4-й квартал; 12'...,55.706817,49.360008,Квартал 4,12,1,"Респ Татарстан, Пестречинский р-н, д Куюки, ул...",2,2922084253
6,bd88ade3-edaa-4475-b970-90b85036aa08,{'source': 'Казань; д. Куюки; 13-й квартал; 6'...,55.709657,49.334784,13-й Квартал,6,1,"Респ Татарстан, Пестречинский р-н, д Куюки, ул...",0,2922233309
7,ecfcf811-0b7d-41a1-8ed9-30ed096e6c91,{'source': 'Казань; с. Высокая Гора; ул. Хасан...,55.912121,49.312806,Хасана Шайдуллина,1,1,"Респ Татарстан, Высокогорский р-н, с Высокая Г...",3,2699454555
8,ecfcf811-0b7d-41a1-8ed9-30ed096e6c91,{'source': 'Казань; с. Высокая Гора; ул. Хасан...,55.912121,49.312806,Хасана Шайдуллина,1,1,"Респ Татарстан, Высокогорский р-н, с Высокая Г...",3,2779733200
...,...,...,...,...,...,...,...,...,...,...
17511,901e2dd8-8875-4b71-9e39-3a6cf509514e,{'source': 'Казань; с. Высокая Гора; ул. Хасан...,55.912121,49.312806,Хасана Шайдуллина,2,1,"Респ Татарстан, Высокогорский р-н, с Высокая Г...",3,2967860049
17517,018c3085-f9a3-45fd-97bf-2bbe63a326ad,"{'source': 'Казань; с. Усады; д. 4.3', 'result...",59.164989,49.931556,NaN,4,1,"Кировская обл, Слободской р-н, с Казань, д 4, ...",3,2679227314
17518,ecfcf811-0b7d-41a1-8ed9-30ed096e6c91,{'source': 'Казань; с. Высокая Гора; ул. Хасан...,55.912121,49.312806,Хасана Шайдуллина,1,1,"Респ Татарстан, Высокогорский р-н, с Высокая Г...",3,2903598883
17520,cea7069f-2cf9-42ae-b5a6-8be1e56e130f,{'source': 'Казань; д. Куюки; Азовская ул.; 3'...,55.712699,49.356550,Азовская,3,1,"Респ Татарстан, Пестречинский р-н, д Куюки, ул...",3,2481496259
17523,beb366f9-eee0-4f39-80e8-e10171a1f212,{'source': 'Казань; р-н Приволжский; ул. Ярышл...,55.794358,49.111497,Ярышлар,6,0,"г Казань, ул Ярышлар, д 6",4,2679128139

In [363]:
# сколько fias не попало в выборку
len(df_dadata[~df_dadata.house_fias_id.isin(only_districts_filtered.house_fias_id.to_list())].house_fias_id.unique())

550

In [359]:
8606-13237

-4631

In [354]:
# jkh где фиас не попал в выборку
get_jkh_query = \
    """select * from jkh_houses jh
    where jh.house_fias_id in {}""".format(tuple(df_dadata[~df_dadata.house_fias_id.isin(only_districts_filtered.house_fias_id.to_list())].house_fias_id.to_list()))
con_obj = sql_engine.connect()
jkh_houses_db = pd.read_sql(text(get_jkh_query), con=con_obj)
con_obj.close()

In [355]:
jkh_houses_db

Empty DataFrame
Columns: [id, city_id, addr, square, year, floors, type, flats, series, ceiling, wall, garbage, damage, playground, sports_ground, kadastr, management_company, url, house_fias_id, dadata_houses_id, district_id, geo_district]
Index: []

[0 rows x 22 columns]

In [102]:
only_districts_old = get_districts_from_house(df_dadata, sql_engine)

In [103]:
only_districts_old_t = only_districts_old[0]
only_districts_old_t[only_districts_old_t.house_fias_id == '163abf87-030e-4aa2-ba28-a9881a95a4bc']

Empty DataFrame
Columns: [house_fias_id, ad_id, district_id, house_id, jkh_id, dadata_houses_id]
Index: []

In [28]:
only_districts_old = only_districts_old[0].drop_duplicates(subset=['house_fias_id', 'ad_id', 'district_id'], keep='last')

In [29]:
only_districts_old

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
22,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145,12417,59391,225246
27,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140,29095,57091,225255
28,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362,19121,30887,225463
30,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362,29947,55859,225468
33,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364,32339,55535,225469
...,...,...,...,...,...,...
12964,d2c07781-3fc3-4c95-b639-e1791a2a9b20,286774591,360,62716,55796,272748
12965,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,168,14584,31730,272786
12966,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155,20979,32788,272800
12968,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151,14590,58250,272849
12969,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140,26570,31280,272886

In [94]:
only_districts_old[only_districts_old.district_id.isna()]

Empty DataFrame
Columns: [house_fias_id, ad_id, district_id, house_id, jkh_id, dadata_houses_id]
Index: []

In [96]:
only_districts_old.drop_duplicates('ad_id')

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
22,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145,12417,59391,225246
27,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140,29095,57091,225255
28,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362,19121,30887,225463
30,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362,29947,55859,225468
33,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364,32339,55535,225469
...,...,...,...,...,...,...
12964,d2c07781-3fc3-4c95-b639-e1791a2a9b20,286774591,360,62716,55796,272748
12965,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,168,14584,31730,272786
12966,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155,20979,32788,272800
12968,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151,14590,58250,272849
12969,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140,26570,31280,272886

In [112]:
only_districts_new = get_districts_from_house_new(df_dadata, sql_engine)

In [115]:
only_districts_new[0]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
0,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145.0,12041,59391,195616
1,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145.0,12417,59391,195616
2,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140.0,11668,57091,195625
3,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140.0,11671,57091,195625
4,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140.0,27292,57091,195625
...,...,...,...,...,...,...
21824,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,NaN,30902,58483,272800
21825,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151.0,13483,58250,272849
21826,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151.0,14590,58250,272849
21827,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140.0,26570,31280,272886
21828,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,NaN,82716,57092,272886

In [113]:
only_districts_new[0].sort_values('district_id', ascending=False)

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
14707,4f4e23c9-2f92-44eb-a3fe-bebdebc56ac3,2687928176,365.0,26206,31070,268041
21270,4f4e23c9-2f92-44eb-a3fe-bebdebc56ac3,2925683673,365.0,26206,31070,271997
13672,71065566-3e24-4528-bcc7-659e3d1a3040,2824859754,365.0,24887,31052,267123
14740,4f4e23c9-2f92-44eb-a3fe-bebdebc56ac3,2881244274,365.0,26206,31070,268074
13104,71065566-3e24-4528-bcc7-659e3d1a3040,3091854631,365.0,24887,31052,266773
...,...,...,...,...,...,...
21820,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,NaN,24822,57531,272786
21821,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,NaN,26187,57531,272786
21823,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,NaN,30060,58483,272800
21824,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,NaN,30902,58483,272800
21828,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,NaN,82716,57092,272886

In [78]:
only_districts_t = only_districts_new[0].drop_duplicates(subset=['house_fias_id', 'ad_id', 'district_id'], keep='last')

In [79]:
only_districts_t

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
28,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145.0,12417,59391,225246
33,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140.0,29095,57091,225255
34,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362.0,19121,30887,225463
37,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,NaN,29764,56729,225463
39,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362.0,29947,55859,225468
...,...,...,...,...,...,...
21822,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155.0,20979,32788,272800
21824,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,NaN,30902,58483,272800
21826,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151.0,14590,58250,272849
21827,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140.0,26570,31280,272886
21828,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,NaN,82716,57092,272886

In [109]:
only_districts_new_2 = get_districts_from_house_new(df_dadata, sql_engine)

In [110]:
only_districts_t_2 = only_districts_new_2[0].drop_duplicates(subset=['house_fias_id', 'ad_id', 'district_id'], keep='last')

In [111]:
only_districts_t_2

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
28,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145.0,12417,59391,225246
33,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140.0,29095,57091,225255
34,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362.0,19121,30887,225463
37,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,NaN,29764,56729,225463
39,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362.0,29947,55859,225468
...,...,...,...,...,...,...
21822,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155.0,20979,32788,272800
21824,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,NaN,30902,58483,272800
21826,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151.0,14590,58250,272849
21827,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140.0,26570,31280,272886
21828,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,NaN,82716,57092,272886

In [98]:
only_districts_t_2_fin = only_districts_t_2.sort_values('district_id', ascending=False).drop_duplicates('ad_id').sort_index()

In [116]:
only_districts_t_2_fin

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
28,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145.0,12417,59391,225246
33,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140.0,29095,57091,225255
34,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362.0,19121,30887,225463
39,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362.0,29947,55859,225468
42,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364.0,32339,55535,225469
...,...,...,...,...,...,...
21818,d2c07781-3fc3-4c95-b639-e1791a2a9b20,286774591,360.0,62716,55796,272748
21819,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,168.0,14584,31730,272786
21822,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155.0,20979,32788,272800
21826,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151.0,14590,58250,272849
21827,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140.0,26570,31280,272886

In [118]:
only_districts_t_2_fin[only_districts_t_2_fin.house_fias_id == '163abf87-030e-4aa2-ba28-a9881a95a4bc']

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
11098,163abf87-030e-4aa2-ba28-a9881a95a4bc,2804890158,NaN,62780,59954,265474

In [125]:
only_districts_t_2_fin[only_districts_t_2_fin.district_id.isna()]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
54,6588a060-63e9-47fd-9e72-7a0236f668a1,2510901675,NaN,27991,56111,254871
129,0fc777ea-10c1-429c-92c0-772078fea1e0,2901450462,NaN,81888,59501,254917
134,2cf623e6-c38d-404b-a724-fc6abf910b2f,2843419079,NaN,32530,56558,254919
153,9d6b246e-571c-4171-97e9-5910a73a9619,2437132806,NaN,30937,58228,254932
164,ba4ae377-a003-4012-a954-67b3c7f5d6c3,2857281178,NaN,27563,58226,254937
...,...,...,...,...,...,...
21728,9487c937-53b1-429f-9a6f-03f2f938928d,2598277674,NaN,86934,34077,272361
21737,87fb4a2c-dd4e-4231-91ad-bbb55f2bcf38,2642014290,NaN,17090,56796,272368
21759,251e8386-cbf4-4453-b9bd-2fcf477b9ece,2872497476,NaN,27877,57358,272381
21766,58728ca7-6581-4869-94c6-1a09671975e7,2907062846,NaN,25149,60195,272385
21770,8eeabff0-11a9-4613-9a58-a591f5a62bc8,2538270207,NaN,82927,59490,272390

In [101]:
set(only_districts_t_2_fin.house_fias_id.to_list()) - set(only_districts_old.house_fias_id.to_list())

{'01a44151-90d1-434c-9725-47b6a6e34843',
 '02bba12c-ff1d-4d9b-9181-abbe83fb73be',
 '036ab0f6-42e3-45f1-bdeb-1af800a07462',
 '0436d22d-86ec-49d3-84ba-c487cfba09dd',
 '047a96a9-5c9f-4838-9e30-2345fb9c2579',
 '05f540de-20f7-40fa-9291-38e6e746327e',
 '06bfa947-3602-4364-a3e3-e46e949c10ec',
 '06db6a36-e5f0-48f0-adc3-f17b94085726',
 '0763f07b-95a9-4f3a-ac90-39b651df2032',
 '077ac6ef-4cc4-4866-a67f-33efcede4a4c',
 '089320cd-d018-45a4-952c-e8a586a7cef5',
 '08e9a33d-e945-48ba-8d85-9011ea5076e3',
 '093f50b7-4f42-46ad-bb50-e53d3ef393c3',
 '094ea74a-55ef-44ca-94c3-5371fca0de05',
 '09872708-ff73-450f-9c0b-5292d8417361',
 '09ec94ba-ad9f-457e-ba38-c99ae65f90cc',
 '09f6a7e7-544f-4b90-958e-e0c4f67166ec',
 '0ac88fa4-56de-44eb-9744-f3cf9f52664f',
 '0b0c0c02-3d49-46bc-94b8-397808566aef',
 '0b2ac027-e2ba-454f-82e3-cba03f20ee5c',
 '0b495f86-6191-4ca2-b2f1-40dcd8d1bb64',
 '0b7c3564-9a85-42f9-ad22-d9b6f3cd1959',
 '0be7d513-961c-4e48-8b53-049a0e294b6b',
 '0c289d3f-9506-45c1-b7c9-cc2c51f6a998',
 '0ce19890-ce4c-4b05-9eb1-315bf9116a30',
 '0d2a4844-349e-40fe-a50b-5bb386367515',
 '0ebc5d25-8e14-47ad-9cd5-9458c84cd739',
 '0ed91044-695a-4610-b096-b3f4939746fa',
 '0efa7fa0-f40d-4482-8355-15fef96ad486',
 '0f54f860-1ffe-4677-93c3-5cc2c7cedfdb',
 '0fc777ea-10c1-429c-92c0-772078fea1e0',
 '10d387be-a45e-4f88-a0d5-0d13db8eb70c',
 '10e219db-9a1d-4378-a5fe-c0e2823e0fe2',
 '1270a1d8-9dd0-40a8-95df-26aae8da4812',
 '12a80314-f87e-4e60-bde3-0739e297f293',
 '12d13659-a340-4e5f-b11b-3fd81166dd73',
 '1373e4e9-da3c-466c-a8af-742c3c5e4d21',
 '141a9187-50bd-44f2-9495-3d05e81e8743',
 '14657061-a635-48b8-a3f4-b3a3236264f8',
 '146faa1c-9293-4d6d-a8fe-301c354042c6',
 '163abf87-030e-4aa2-ba28-a9881a95a4bc',
 '16904e3d-e427-48c7-b0ee-fe787bc1e1e3',
 '180cbb6a-80ff-46bf-9166-6b991440c5fa',
 '18a43933-948b-41f9-865c-da44be786fd5',
 '18ed6778-f88e-400c-bbba-b770641f81d3',
 '19ae18c4-8034-4063-92e8-cb741f7baf35',
 '1b0205a8-e98b-4254-969c-592cc20da750',
 '1c32d7a3-f452-4dde-bb7a-2dfc2a97e1a1',
 '1c90137a-4c4e-4401-b879-6072b4e5549e',
 '1c9d3059-418a-4d0d-84d8-0067132052fa',
 '1cea3dfd-e2a4-4a28-8f32-c4051ad1a50b',
 '1d226bf5-b2d1-493c-827f-960a4f189536',
 '1d3c5cab-3cfa-4dc4-a52a-e3c65dad5a10',
 '1e29debb-8de0-4e00-9ae1-00773510bee5',
 '1e7eef05-07a5-4fe9-9635-c327a78451f2',
 '1ef04546-05fb-4df1-9634-61389f93008b',
 '1f728531-dfdb-4eb0-b5bc-b801ca040fdc',
 '1fea4221-79c0-49d9-b2bc-b2c05f318a32',
 '207ae099-e2c3-4fe3-ba5a-05d15248cbf6',
 '20cee3f9-308c-4731-a8c6-dcb719257c32',
 '21e30749-ced3-4151-ad8b-b2150e48651f',
 '223e1c75-1857-47b3-b1cd-8ac08985ee40',
 '23afac31-bfe5-4095-b884-6a60bced0966',
 '23c8cb8d-7374-4286-b2bd-3a9aeb27bdf1',
 '24c2432c-4cb3-4444-b36e-e75b87bb054c',
 '251e8386-cbf4-4453-b9bd-2fcf477b9ece',
 '25df6384-f2b3-4e17-bf58-2bdf5f57db56',
 '25fd39e3-d8ef-4e17-a68b-78ed136f3058',
 '26e8f18a-6991-4e4e-bd44-0bf5b638c7e6',
 '276d17aa-40ff-430c-89dc-12e4a187b207',
 '276d64ce-af9f-441a-9ed6-9096128e605a',
 '279d6420-01d4-4666-b597-cba00b900aa3',
 '27fab569-67b6-4b8c-ac75-267f0f818157',
 '28ba91ef-3145-4196-9cf9-164c148b01bc',
 '2976f242-97be-4eb3-af39-02315c926a16',
 '29aef3f3-a016-40ef-a00c-ad2e1e631241',
 '29eca6ac-273c-4b73-bffa-9ddd87c8de6a',
 '2b456daf-2e40-48cb-8d3f-db22b90988e8',
 '2b574bbd-5709-42fc-a01a-51291187a348',
 '2b970314-c01f-45bd-b0f3-296b6543c48b',
 '2ba6215c-1412-4238-b46b-17182f13108c',
 '2c4f107a-26db-4034-ae35-df5590cd1d38',
 '2cf623e6-c38d-404b-a724-fc6abf910b2f',
 '2d0fe0aa-cea9-47ba-a37f-12ccada23c10',
 '2d36a79f-5800-49a0-9e35-442b49af6888',
 '2ea23099-15c2-47fb-8336-738dde03354f',
 '2f20cd8c-c23c-4e11-bb53-2c2ffa437c6b',
 '31a01557-968f-43ea-ac60-5240aef4bf69',
 '31bc144e-6535-491d-91e1-de37b5752207',
 '31e1aea8-9c6e-4d3c-9ab3-c267ddf35048',
 '337b2396-6a8a-45ca-a3f3-ca450288a7c1',
 '33f777ba-a41a-4945-b529-00bc884e94af',
 '343961aa-1111-4551-98df-da966b808019',
 '34c6201e-f109-44f9-a27c-5f3919d043d2',
 '360f4683-b89c-4453-a543-66bba8e9e843',
 '362750bb-2c30-4ccf-b01e-496b79932119',
 '36d60ac8-adac-4775-bfcf-4d0b029a3563',
 '38bcfe7e-b414-4bf2-9369-d57d3f366a99',
 '39e7bf70-a7f2-43d0-a8c9-9545e2c990ea',
 '3a3f9324-51cb-481b-8245-6fb5faa5527b',
 '3b6d2352-af96-4d72-a028-72a336940c83',
 '3b8527ef-ec6f-4ad3-9bb5-789b8a03e997',
 '3bf5fd79-4a27-4e09-9046-6ca11e12df71',
 '3c648377-55d7-475d-904b-85f9c1f930b6',
 '3e17dce8-db73-4830-a51b-82a4d8a41ff3',
 '3ebbdd2a-2206-4549-9f05-ba758dc8c601',
 '3f02a86a-5ab8-43ba-a097-e3191338367f',
 '4358b328-c056-4a94-9ecf-2e3ace4b88d3',
 '4411e013-1f65-4c68-a177-d588cd29bdaf',
 '44e97dbd-5140-4c98-825a-f9d59f3a87e6',
 '44f288e6-0964-40f0-a6e0-7a7d76ad7174',
 '454ed0d6-bec8-4619-87c3-bfecc3f625cc',
 '458f181b-020e-4442-b187-228da811e54c',
 '45f0658d-41d9-48dd-ab63-8226ba08802c',
 '45f6cff2-6a52-4f46-9e20-526ba2512fd8',
 '46b2073c-02bc-4361-bc49-f565b51d4f37',
 '46bee1e1-b756-4ca0-936b-88fc40c1945b',
 '47257f7b-6a65-4b9e-a8a8-88e75ab208e8',
 '476285bd-02bb-41b6-85c4-3e9571afbd7e',
 '47d5fb24-b87a-4738-83e2-39382f37a7f1',
 '48955692-2afc-458a-b9bc-247476acd07c',
 '48cca38e-4f11-49df-8dd5-826cee6fbe4e',
 '4a18082e-7da2-49a5-b2ca-5585de0c1ea5',
 '4a97a6ae-a4bf-485f-b4bf-90cd80f73596',
 '4b329ad8-91c9-43c1-aa52-bc55b6b0addc',
 '4bee3b10-9a11-4d15-a015-7560f08f64fd',
 '4ca3ddb0-0d83-4740-b412-1e4b93382ad6',
 '4d23b6d8-4c3f-489c-ac36-a49b07dc3a7c',
 '4d54f7f1-753c-43fc-bdc4-77df26d03075',
 '4d600f64-21ab-45d6-a9a4-3917a50a2348',
 '4e5889b6-7295-4302-bbfd-fef519ad8fd3',
 '4f04bf34-843b-4a89-8f21-91028be4612c',
 '503f59dd-435d-4dca-9907-bc15b504bf4f',
 '50c967c5-b007-45f4-bce2-10d7ac9c6d55',
 '51333480-af89-4a40-a4b7-24ad1f745527',
 '51b94424-6d65-4910-86cc-d8884d88bd52',
 '52230160-3ccc-4f0d-87d0-969c3351a517',
 '52b15038-b00a-40e4-ba8b-38d11b351fb4',
 '52d16857-d364-465a-8feb-5c821c1df00b',
 '53ba0687-adec-4f66-bedf-84524f67f748',
 '53dc98f6-9d2a-4261-be39-0fb0a0ecfeed',
 '546b7cd0-fa44-493b-beda-76fa12fb42e3',
 '55579eb9-0599-4a09-862b-ec396460b485',
 '56580a1f-cae1-4299-988a-9809fc442355',
 '56f85efb-ceba-4bb0-b35c-2c02b7a63358',
 '57e8b154-00a5-4d40-ac47-9f6cac2826ae',
 '585420ec-ea93-42ce-bf32-cc13a231ad13',
 '58728ca7-6581-4869-94c6-1a09671975e7',
 '58c1f01b-6394-41aa-b8e6-e8e8d827806b',
 '58d2c910-edd8-41b5-b96c-3e4a03a5cded',
 '5a353066-1de3-472b-b6c8-b09e43f9fe7a',
 '5a599d01-9b77-4dbc-9eb3-230e11d27fb8',
 '5a6b385f-c820-445d-9eb6-07ffec3b8449',
 '5b9775f3-58c2-4408-b960-215276064f75',
 '5bd2ecd5-1fed-440a-8280-f156a2ba2e6f',
 '5d7c971c-d7be-4a9b-8e12-47bbf7609eba',
 '5d95a6d3-3c36-4d3a-a5b7-fdc9b5e7e984',
 '5e4f76dc-53da-43a2-8485-727a183fce47',
 '5e95a165-9974-4641-bc00-0d30403534ba',
 '5fdeb150-44de-4b5b-be2c-a3c4bb747c67',
 '6036bc04-dcc9-4c8f-a3a4-74d9b25284db',
 '60b06f3c-534f-4953-aaa3-c08d323381e3',
 '61196c17-6d61-47d8-a5a2-8fabf92bf95f',
 '619c178e-d040-4bd3-9ef6-9f817dda2854',
 '61cd04aa-f3b3-4e50-ab00-bc6ec7337e26',
 '6243d882-7cd5-4c7c-9d97-e29dca20cf04',
 '62d976f7-d7d9-4313-b71f-3a9b0839e713',
 '63b136ca-9d66-4dbd-8171-ae867c30c6e4',
 '64b16a3b-ee58-4fa7-bf8f-106c65d7105e',
 '6588a060-63e9-47fd-9e72-7a0236f668a1',
 '65e1db32-83a2-453a-bb4a-6cf2f10ed418',
 '68893140-4594-491d-84ce-664cd83d6fd4',
 '68e36b54-69f6-40c7-b43e-8f15477f40e5',
 '691be424-f8a3-4a01-97b1-d7307c3ca0b4',
 '6ab9dbaf-7111-4502-9fca-ca8c86455ac7',
 '6acfff65-9e87-4566-9c05-5dc75e90e6fe',
 '6af09a38-5d52-4110-be92-68b0b80c39df',
 '6b07618a-5cfc-47b4-bd70-f87291c0d097',
 '6b86de9b-7b1d-43da-a0dc-9177d97b57e9',
 '6bcdf7d0-338b-4e4c-9932-92990edfd65c',
 '6bf7901c-377a-4fc8-9968-0e678b2664f4',
 '6caaed87-32b8-4ed1-a196-6fb044d21a64',
 '6dc94cb6-03b7-4fbc-a76a-6978c722eec1',
 '6dcda987-a7c5-48af-8824-76695bd76e34',
 '6f043067-69e1-471c-aa45-3a747c906c37',
 '7009b25e-c294-4fd2-96d5-2a29fbb81843',
 '707a92ce-1f71-4849-a495-ad5b5452c022',
 '70a33d11-2611-4b25-8665-3cc5fb25a8c5',
 '70e3d292-e09f-4d85-928a-fc1a53d26340',
 '72b9832e-3723-48f0-913c-8722ba68753a',
 '72cb3354-4427-4aec-af61-2dcc986db4ff',
 '7383daca-9598-435a-9941-efc7ccc43596',
 '7543be03-b103-4bbf-b627-aa0ab290b53f',
 '7583641c-c72b-4d55-bb9c-6a0c636fb047',
 '7a617660-ce15-4b45-8a6e-95f7b2305588',
 '7b461996-7e44-407a-aed1-882a9b9ae4ac',
 '7bcdb666-dc70-4913-95fc-3362f8f3361c',
 '7bdbf034-6f48-46ef-93ab-60f6f867efcb',
 '7bf177f6-54da-466e-98a7-f3f5fa5ec3e9',
 '7c06417f-2bfb-41dd-8132-1547fcbd018b',
 '7d7fba24-1eb0-4b84-8c63-8724d62e7dad',
 '7e9deedc-d645-40f6-939f-b8de3aefbab9',
 '7f3773e5-7222-4411-85fa-5c4d18839f5f',
 '8037c7ee-c57c-4dc1-9520-4e4481ef53a1',
 '8060b854-9c18-4505-b387-95eafacc994a',
 '80a89fdd-97b9-4ea0-922b-8289cd9d3956',
 '82160671-81eb-40f5-8807-4056a9f3394b',
 '827eeb60-54bb-4a0a-8f73-5d2a2f08879a',
 '82801c99-c718-40b5-a4bc-312f6ecc04e6',
 '82f1fcb6-1196-4c9b-9efe-ad6c936c2750',
 '8569ea0a-d961-4c8b-ad21-28b3784643ae',
 '857cc85e-b740-480f-96d3-acb730f78f1c',
 '860857d7-089c-4669-ab7d-01a0c062f79e',
 '87a5cfab-fd38-4b41-87b8-84afdfbc414a',
 '87fb4a2c-dd4e-4231-91ad-bbb55f2bcf38',
 '88dbe4ef-2505-4b9f-8871-c8cfd8d311f1',
 '8aa61643-7eb9-4b92-873e-62ee8f6d9cf4',
 '8afe611d-34cd-44b2-b84f-b121768b1c7c',
 '8b0f00f0-bf6f-4e8d-bf34-d12475b7fdfa',
 '8bbee91e-bcfe-483b-a077-353fbaf615ba',
 '8c02cd75-f641-4c33-aec2-43798ebfbdca',
 '8d517111-0744-4377-8ce0-a2f32aeb7703',
 '8dff4181-60e7-4254-8fed-5f55cf0d03af',
 '8e1f256f-a1c5-4fd7-a3d2-1700246865cb',
 '8eae140b-fe11-497c-acfa-f4f48f3b4257',
 '8eeabff0-11a9-4613-9a58-a591f5a62bc8',
 '902472bc-519b-4c8f-87c3-1c70a6e9ee99',
 '9170ede8-cd5e-44af-94e5-86281a78cf74',
 '92922369-ef10-4376-baab-a53da93ee367',
 '939d9d0f-ee72-4324-97d0-4fee78bfbf25',
 '93cfe43e-c3b8-47ea-a646-20d35833f761',
 '943ca910-0cab-42ff-999d-c8cd1ffd3e57',
 '94878ae1-10dd-44ef-9839-5e03fd6fb0bf',
 '9487c937-53b1-429f-9a6f-03f2f938928d',
 '94e806da-ed02-44eb-b822-6d51f86d617a',
 '955840e9-01f6-4ee1-b3d7-a97ede0fb85e',
 '960fdca0-d538-478b-8310-f5d9fc42c2a5',
 '96bc93ab-3544-4a5d-b182-6d531ed1cda0',
 '979f5c4a-6c79-48fb-a8fc-553bd67ae1d9',
 '984ac457-91e0-48ac-8a10-054f34ce829c',
 '9955512b-5faf-44fe-a151-78ca35b5c605',
 '9a7302b2-98cc-419e-9438-4832d832af0b',
 '9b43b8f4-8f98-4a97-b52a-53ddbe4285bf',
 '9d6b246e-571c-4171-97e9-5910a73a9619',
 '9dbb82f4-dc06-417f-a857-f2e01cff58bc',
 '9e6f3a40-d299-48fb-8365-38458192631b',
 '9f0740a8-3a26-419f-a397-092235b02aa8',
 '9fd8a5c9-5817-48f0-8948-97a6d611ce38',
 'a08275be-b81c-4e55-8fb1-af4789f0c12c',
 'a130d1a6-4676-4630-92d2-c160fb12f2f6',
 'a136fe70-216f-4f74-ab31-65bec2cfcd3b',
 'a138a9b9-90ba-4bd9-8ab5-4a43ed813d80',
 'a1410b4d-bcd2-4e9d-b880-e46f90a8e18d',
 'a1dfb605-013e-4695-8cc5-321cfd02f17d',
 'a275c756-6339-421f-b0a8-36723e983579',
 'a331a5f9-9bbb-48d9-a4f8-cce69cd72707',
 'a33a50b6-3fff-4916-a084-f1ffec9205cc',
 'a5cac149-28ef-4d9a-a1b0-4b29e8323933',
 'a7a1b87c-8c57-4beb-a1ae-fcf9f489f4b7',
 'a868fa94-dd0e-432d-8ced-45dbd19e25a5',
 'a8d3cc2f-0cd1-45c3-a065-7fa34fe817d8',
 'a9c467c7-15bc-4165-910c-7b725798cb5e',
 'aa5376c0-758d-4bb5-90b2-e76ef09a2ef3',
 'ab51b31b-3f2d-4869-98c5-e0ec719a4c3f',
 'ab5dfa22-6e75-4713-8cca-3efdf1d4b375',
 'ac4ac984-d94b-4beb-afca-b0e66cbc35dc',
 'ac6ea5f2-6329-48aa-8b0a-03f37c00acf9',
 'ad2f5d6a-115b-48c5-b2cb-1b29fcd41478',
 'ae6f666e-2397-4468-8184-735063a20abe',
 'ae8ee3c4-e205-48d6-bd4a-71c2c2d7715f',
 'aea5dda3-468d-4750-838d-981938477fe5',
 'b071dfb8-b47e-47cf-b1a4-a9c3470157f7',
 'b11d3ec0-b31d-4bab-9dae-92ba6c9ec664',
 'b1a22d9e-886d-45b3-9625-b462acb57a94',
 'b25fff44-4a0e-4658-ac71-e1d93793cf39',
 'b564a07f-c4cb-4c3b-8d70-328b6ce2ec9a',
 'b80a2ab6-1ecd-41ad-8095-8843fbd5f38c',
 'b862cbae-d8ac-483a-b6fd-9b2d1ddc305c',
 'b8e1bb56-ae3a-4277-9854-0ea29d9304fe',
 'b9571da8-5b58-4fe1-ba51-7155c6118595',
 'b98786a9-d53c-4f35-b577-fea67878bdff',
 'b9a227a8-f7de-43e3-b141-5e0bfc725bde',
 'b9ad548f-5b4a-4c1d-b0f4-1a8b9c6578ef',
 'ba4ae377-a003-4012-a954-67b3c7f5d6c3',
 'bacd44da-9829-4caa-b990-51eefa61c275',
 'bb5e5d47-4600-4dfa-a1fe-7738b5c53151',
 'bbffdcbe-e99e-4df3-9fe3-25d6161269fd',
 'bd81c268-5d6e-432e-a9c5-06ca54d1e800',
 'bdccdfe6-0bcb-4e5d-958d-be4eb6aa7452',
 'be81038d-ba9a-4819-9904-98365f60020d',
 'bed53cb6-3f5d-44bb-9f3f-2bb16ba1d5d6',
 'bf2700f6-d93c-46ca-a4d3-cfd54eccab39',
 'bf8c61b6-b6c5-4e39-ae37-fddfa700ceff',
 'bf90576d-77b2-40ac-a041-0ee15bc52cdb',
 'c09b292b-a783-43a1-9658-2f3e0a6919e9',
 'c13a5f5c-50e0-427f-9719-84972bc81c30',
 'c24b62a3-800e-4ff2-805b-643a61aae9a3',
 'c3094067-1016-44e5-b84f-7fff0585b8db',
 'c35c6225-d66d-44a8-bbf0-75fcffcb42e2',
 'c6ccbfbd-a49e-471f-b0a5-4808614b691e',
 'c6ee5497-e3c5-4a74-a0ba-bf31c42c242d',
 'c75f518d-f9f6-40dc-91d7-83fade5b4da8',
 'c8ebbf3a-bfac-4326-960c-4a3b28fc1280',
 'c94331d8-1da3-4da8-8d1d-1776d7d6fa02',
 'ca85bc4b-2a70-47c0-9820-9d6fa175d082',
 'caa9bf33-e832-4fc0-b2d0-120376fd9f0b',
 'cabaf3b2-56ab-4780-8a94-a34cc182d7f5',
 'cb922e7a-6f92-46f8-93c6-13b40a0235a7',
 'cbee4df2-d403-4b40-8064-ebcdb0a51217',
 'cc8043ea-a149-421c-9148-bf3d516724e7',
 'cd00e137-abc2-46f1-98c7-46649e542d0a',
 'cdeb37da-8798-40b8-b291-4ec139264e5e',
 'cdfa3598-4e14-4125-9900-d7ff9bacf7da',
 'ce37dfea-d4a4-4cd5-9033-11ccb4029fe1',
 'ce6c365d-6e18-4b20-8215-450381dbe9aa',
 'd03e007b-f9d0-43c7-8b69-489dfa790170',
 'd09c7049-b24d-41f5-aded-8bbd1802bc16',
 'd1c66f8b-48b1-4d6d-800e-b24694f786d6',
 'd2c6ee62-6646-4b39-ba7e-98599c8c2445',
 'd2eb9b6b-6a71-42c9-96ca-c772a84b06ce',
 'd333ea40-f59d-47b9-8d32-b10539c1726b',
 'd3856849-9bef-4e38-9ff7-d6b82c10bb83',
 'd5ead7fa-d65b-422d-82ce-4f8ceb12f55b',
 'd7371cd5-4542-4a2d-9033-69396af9e8ba',
 'd753d4ce-4fa7-46cd-b277-b051377e15ae',
 'd9424cf9-0504-4989-9cc7-4324e5d92efd',
 'd97a5a1b-8b46-4c2f-b099-09a4df69b991',
 'd9e1a099-2387-4c64-9ecd-6d0afe7df7e2',
 'daa5d233-20a9-49d9-9854-72d8131cae25',
 'db63a218-000c-4b08-8ed5-8ad11e3fa76b',
 'dbaa4211-1b44-4b75-8428-e375e3f05eda',
 'dc0a55b5-ee10-4de6-9300-4e6a1ccc8579',
 'ddbc79c3-876e-42f7-a5db-7c5b01bec2bd',
 'ded55282-adf3-4fc2-b4a4-780b4fffa344',
 'e2601a85-fd21-4957-a444-57ce98bb46b7',
 'e2cb9520-ce06-4a58-9dd1-ab79d69ad610',
 'e3179e45-ddfc-45ef-b2b0-8604f2f08ba9',
 'e47610a0-8083-4323-b64f-6d9bff4efb41',
 'e5d7cb2d-b31f-4891-80f7-f391aa9e3997',
 'e6d4b7ae-f359-4d19-9a6a-b59b71e518ae',
 'e7c31978-3877-41ad-8b80-8c034ebd1891',
 'e9548e51-7815-4c70-8a09-134c1c4a7ce4',
 'e9865e1d-50b1-43c2-9314-3846175f2662',
 'e9946f53-f654-40c1-ab7d-937e77dfd040',
 'ea564277-34e5-4911-ae00-2cc0c8596371',
 'ea643702-92f0-4c00-9b82-b9d3dbbaa301',
 'eb491260-b6e4-49e0-a2ed-d9d1fe35a11c',
 'ecdfc405-27f3-4ce1-8f1b-db98c8f713e6',
 'ed8081f1-9a79-4105-8a55-33267c808377',
 'ee673c98-85b6-4edb-bde6-c1c8522a57a5',
 'eeded35b-a57c-4c14-acc1-0b69d294dda3',
 'ef4c21ac-649e-49a6-a580-31907c244502',
 'f02d5226-932b-43cb-8256-703de06ce6ab',
 'f0f9a01e-9347-4d2e-a5c2-3347e2fed1b4',
 'f2090347-4f9c-4006-81a4-fcbcbcfd9db1',
 'f3768ba3-0e46-45b8-989a-60d3357faebe',
 'f3b4882c-9bb3-43c3-a259-702ff17fdd0d',
 'f4504b6a-a6a2-4820-9945-dbaae7f1366f',
 'f501792a-edb0-4238-88d4-2e814e31de08',
 'f533dd63-dffd-4bd3-829f-7be9d0cf5fc7',
 'f54f74b2-2ecc-41c4-a664-03b621311242',
 'f58a14f6-9051-4be8-a3e3-f8c537f41bf7',
 'f6858889-c6da-47ee-ba77-f264052429b2',
 'f9298efb-436d-4f60-9167-8e7ad1141fb0',
 'fa8c3b8a-db25-445f-ad75-5e7bfb60f81c',
 'fb239061-82eb-4436-a5da-9207d63547b9',
 'fc400448-b908-4d6e-87ab-622c44d84c2c',
 'fcb62510-6826-40a4-9f31-ad9ab88899d9',
 'fded572a-322f-4086-8419-e513aafd3e73',
 'fe1517be-f754-480e-b1ed-c4044925e817',
 'fe1ef4f8-afa4-4abc-83a3-17269f37baa5',
 'feef5d7a-6577-4e6d-bf4a-6b480d22abd0',
 'ff0f1dc7-3a60-4f7a-ab2d-94fe96c80bf7'}

In [279]:
only_districts_new_3 = get_districts_from_house_new(df_dadata, sql_engine)

In [151]:
only_districts_t_3_2 = only_districts_new_3[0].sort_values('district_id', ascending=False).drop_duplicates('ad_id').sort_index()

In [152]:
only_districts_t_3_2

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
0,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145,12041,59391,195616
5,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140,27297,57091,195625
10,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362,29764,56729,195833
11,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362,20587,55859,195838
18,db4fca76-1985-4f4d-b3df-d70797583673,286671319,362,11811,55786,195844
...,...,...,...,...,...,...
21814,61020d70-dddf-4988-af02-bc0c5be7613b,286738634,362,29761,60033,272731
21819,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,168,14584,31730,272786
21824,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155,30902,58483,272800
21826,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151,14590,58250,272849
21827,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140,26570,31280,272886

In [160]:
only_districts_t_3_2[only_districts_t_3_2.ad_id.isin(only_districts_t_3[only_districts_t_3.duplicated(subset=['ad_id'])].ad_id.to_list())]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
11,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362,20587,55859,195838
18,db4fca76-1985-4f4d-b3df-d70797583673,286671319,362,11811,55786,195844
40,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364,12108,55535,225469
55,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,364,12108,55535,254872
65,835f082f-7119-4448-8462-568b58641918,2737217495,364,11879,57418,254882
...,...,...,...,...,...,...
21721,8e8296d8-f3e1-4478-961f-b50781bae779,2893828232,364,12108,55535,272355
21745,a983c5f8-d1ec-488a-8e16-be1857ba2232,2939197136,362,83875,32814,272374
21752,a67cf00d-90aa-43bd-927c-526eb024298e,2901604913,364,11584,31468,272377
21755,a67cf00d-90aa-43bd-927c-526eb024298e,2711837453,364,11584,31468,272379
21773,835f082f-7119-4448-8462-568b58641918,2766218965,364,11879,57418,272393

In [164]:
only_districts_t_3_2 = only_districts_new_3[0].drop_duplicates(subset=['house_fias_id', 'ad_id', 'district_id'], keep='last')

In [167]:
asdads=only_districts_t_3_2[only_districts_t_3_2.ad_id.isin(only_districts_t_3[only_districts_t_3.duplicated(subset=['ad_id'])].ad_id.to_list())]

In [172]:
asdads=only_districts_t_3_2[only_districts_t_3_2.ad_id.isin(only_districts_t_3[only_districts_t_3.duplicated(subset=['ad_id'])].ad_id.to_list())]
cnt = {}
for i, val in asdads.iterrows():
    try:
        cnt[val.ad_id].append(val.district_id)
    except:
        cnt[val.ad_id] = [val.district_id]

In [173]:
cnt

{'286668339': [362, 153],
 '286666050': [364, 165],
 '286671319': [362, 153],
 '2878344292': [364, 165],
 '2737217495': [364, 165],
 '2903855216': [362, 148],
 '2855726664': [364, 165],
 '2929138710': [364, 175],
 '2916832617': [364, 165],
 '2820632542': [364, 144],
 '2894597501': [364, 165],
 '2857703200': [364, 144],
 '2757208387': [362, 148],
 '2948780130': [364, 144],
 '2916631377': [364, 165],
 '2899543926': [362, 157],
 '3122421404': [364, 165],
 '2619023748': [364, 144],
 '2771608074': [364, 165],
 '2980818526': [364, 165],
 '2867566321': [364, 144],
 '2895555036': [364, 165],
 '3027969870': [364, 165],
 '2743769171': [364, 165],
 '2769205256': [364, 165],
 '2951043066': [364, 165],
 '3051896936': [362, 170],
 '3060006443': [362, 148],
 '2929028920': [362, 157],
 '3092102150': [364, 165],
 '2815678448': [362, 157],
 '2949158169': [364, 165],
 '2630121031': [364, 165],
 '2738171016': [364, 165],
 '2934080040': [362, 157],
 '2612996017': [359, 181],
 '2907723394': [364, 165],
 '2700141727': [364, 165],
 '2376126604': [364, 165],
 '2881217186': [362, 157],
 '2918515281': [364, 165],
 '2937171178': [362, 157],
 '2846923131': [364, 165],
 '2590866426': [364, 165],
 '2976744733': [364, 165],
 '2782124494': [188, 168],
 '2730891373': [362, 157],
 '2911449404': [364, 165],
 '2793895401': [362, 170],
 '3037307235': [364, 144],
 '2139983608': [364, 156],
 '2950998483': [364, 165],
 '2855274386': [362, 157],
 '2719114467': [364, 165],
 '2751413136': [362, 148],
 '2840033994': [362, 157],
 '2976081519': [362, 157],
 '2290025852': [364, 165],
 '2948257748': [364, 165],
 '2301027460': [364, 165],
 '3092716117': [362, 164],
 '2843356277': [364, 165],
 '2896510893': [364, 165],
 '2800984735': [364, 165],
 '2775658775': [364, 165],
 '2870525510': [364, 165],
 '2902808328': [364, 165],
 '2845801262': [362, 148],
 '2917641409': [364, 165],
 '2673672953': [364, 165],
 '2939942895': [364, 165],
 '2859483261': [362, 143],
 '2757965664': [364, 165],
 '2889254348': [362, 164],
 '2904116154': [362, 160],
 '2881341348': [362, 143],
 '2915681042': [364, 165],
 '1593684503': [364, 165],
 '2713196737': [364, 165],
 '2934376148': [364, 165],
 '2596567322': [362, 164],
 '2951541246': [361, 154],
 '2806933478': [361, 154],
 '2799338168': [362, 153],
 '2687797906': [364, 165],
 '2217481796': [362, 153],
 '2919600021': [362, 143],
 '2552687971': [362, 143],
 '2878840743': [364, 165],
 '2801029520': [364, 165],
 '2708111368': [362, 153],
 '2810972783': [362, 143],
 '2982335680': [362, 153],
 '2764619159': [364, 165],
 '2970987402': [360, 178],
 '2548046536': [364, 165],
 '2578761783': [364, 165],
 '2348707519': [362, 143],
 '2784320240': [362, 143],
 '2846144584': [362, 148],
 '2813845109': [360, 163],
 '2715961850': [361, 154],
 '2939572471': [364, 165],
 '2765468519': [362, 143],
 '2836567381': [362, 143],
 '2874428792': [362, 153],
 '2526153000': [362, 153],
 '2814877530': [364, 165],
 '2868344919': [362, 143],
 '2857517114': [362, 143],
 '2887763883': [362, 148],
 '2782661720': [360, 163],
 '2921798143': [362, 180],
 '2460203333': [362, 153],
 '2907709674': [361, 154],
 '2916599342': [362, 143],
 '2813972183': [362, 157],
 '2741327428': [362, 148],
 '2872595007': [364, 165],
 '3002140048': [360, 178],
 '2995253891': [364, 165],
 '3105793466': [361, 154],
 '2837808438': [361, 154],
 '3092282710': [361, 154],
 '2143873048': [364, 165],
 '2584456250': [362, 143],
 '2876454548': [362, 143],
 '2622392242': [362, 153],
 '2848832567': [362, 143],
 '3028331486': [362, 143],
 '2501277879': [362, 143],
 '2922105004': [360, 178],
 '2606020384': [362, 153],
 '2759321592': [360, 178],
 '2754913150': [362, 143],
 '3050334109': [360, 163],
 '2635568827': [362, 148],
 '2858302799': [362, 153],
 '2767431579': [360, 178],
 '3005498066': [360, 163],
 '2907547328': [362, 143],
 '2791129624': [362, 153],
 '2889133042': [362, 143],
 '2894541592': [360, 163],
 '2938983220': [362, 143],
 '2951406380': [360, 178],
 '3018428656': [362, 153],
 '2669905966': [360, 178],
 '2921101355': [362, 153],
 '2965881753': [362, 143],
 '2728189124': [362, 143],
 '2845859443': [362, 160],
 '2869743965': [362, 143],
 '2794727078': [362, 153],
 '2302173784': [360, 163],
 '3027817359': [360, 178],
 '3028679422': [360, 178],
 '3060392536': [360, 178],
 '2935747941': [362, 153],
 '2760520148': [362, 143],
 '2914988538': [362, 143],
 '2619698242': [362, 157],
 '2897613028': [362, 153],
 '2843201610': [362, 160],
 '2907309269': [362, 143],
 '2996516250': [360, 178],
 '2939423630': [362, 143],
 '2889320790': [360, 163],
 '2642196382': [362, 143],
 '2749855376': [360, 178],
 '2843602068': [362, 160],
 '3018255109': [362, 143],
 '2057861403': [360, 163],
 '2746278831': [362, 143],
 '2441718775': [362, 143],
 '2903347782': [364, 165],
 '2992701608': [362, 143],
 '2756014176': [360, 178],
 '2619214598': [362, 153],
 '2970812141': [362, 148],
 '2532231382': [362, 153],
 '2890632981': [360, 178],
 '2811620366': [362, 160],
 '2264196037': [364, 165],
 '2720419477': [364, 156],
 '2794138832': [360, 163],
 '2856636254': [360, 178],
 '2917676851': [362, 153],
 '2324122010': [362, 153],
 '2947808249': [362, 153],
 '2659168223': [364, 165],
 '2921269565': [362, 143],
 '2671768167': [360, 178],
 '3028447774': [360, 163],
 '2688910719': [362, 143],
 '2660153006': [362, 143],
 '2922352363': [360, 178],
 '2932402860': [362, 160],
 '2752678374': [362, 153],
 '2794372460': [362, 143],
 '2864944448': [362, 153],
 '2537562722': [364, 156],
 '2909743972': [362, 170],
 '2419367920': [362, 164],
 '2727660207': [362, 164],
 '2837286589': [360, 142],
 '2868114401': [364, 156],
 '2849385406': [362, 160],
 '2603304386': [364, 156],
 '2647795251': [364, 156],
 '2911003905': [364, 156],
 '2674509294': [362, 170],
 '2779495048': [364, 156],
 '2868456396': [362, 164],
 '2132473342': [362, 164],
 '2938959321': [360, 178],
 '2843757671': [360, 178],
 '2945282769': [362, 180],
 '2735467932': [364, 156],
 '2924399693': [360, 142],
 '2683833308': [362, 164],
 '2811776875': [364, 156],
 '2951291301': [364, 156],
 '3060611923': [362, 170],
 '3032613745': [362, 160],
 '3018361510': [360, 142],
 '2929850369': [362, 170],
 '2410798948': [364, 156],
 '2895059030': [362, 170],
 '2486969529': [362, 143],
 '2474892006': [362, 143],
 '2910329455': [362, 164],
 '2434122091': [364, 156],
 '3059988188': [364, 156],
 '2996074289': [360, 142],
 '2356082779': [362, 164],
 '2947764403': [362, 160],
 '2838143776': [361, 177],
 '2827055181': [362, 160],
 '2783324156': [362, 153],
 '2630617337': [360, 142],
 '2865641965': [362, 153],
 '2331880370': [362, 160],
 '2855003424': [364, 156],
 '2665965454': [364, 156],
 '2963073770': [362, 164],
 '2324596078': [362, 164],
 '2917675509': [362, 164],
 '3060033025': [362, 164],
 '2945843686': [361, 177],
 '2995761865': [364, 156],
 '2946073394': [362, 160],
 '3060579911': [362, 160],
 '2823451600': [364, 165],
 '2630049047': [362, 164],
 '2621476022': [362, 143],
 '2489760127': [361, 177],
 '2890470722': [362, 180],
 '2861501747': [362, 180],
 '2782956073': [361, 177],
 '2859065062': [362, 160],
 '2859243373': [362, 160],
 '1528999708': [362, 164],
 '2834475459': [362, 160],
 '2868016258': [362, 180],
 '2859497383': [362, 160],
 '2996220440': [360, 163],
 '2919130349': [362, 143],
 '2859043129': [362, 160],
 '2915734375': [362, 160],
 '2868496832': [362, 153],
 '2357803506': [362, 143],
 '2360350337': [362, 143],
 '2897815566': [508, 360, 178],
 '2506379592': [362, 153],
 '2669174267': [362, 160],
 '2415237446': [362, 143],
 '2945130017': [362, 160],
 '3036759635': [362, 153],
 '2831732637': [360, 178],
 '2858795811': [362, 160],
 '2775190190': [362, 153],
 '2921032614': [362, 160],
 '2976222443': [362, 143],
 '2737985681': [362, 143],
 '2971205496': [362, 153],
 '2685939767': [360, 178],
 '2855932222': [362, 160],
 '2971211135': [362, 160],
 '1464675348': [364, 165],
 '2591037667': [364, 156],
 '2809745524': [362, 143],
 '2787009803': [362, 153],
 '2823615825': [362, 180],
 '2980221225': [362, 143],
 '2990159566': [362, 170],
 '2125711637': [360, 178],
 '2908290481': [362, 143],
 '2758383103': [362, 180],
 '2787433858': [362, 157],
 '2959032016': [362, 153],
 '2963751721': [362, 157],
 '2962823960': [362, 164],
 '3027633740': [362, 164],
 '2854971008': [362, 153],
 '2910111533': [362, 160],
 '2906258290': [360, 142],
 '2538138140': [361, 177],
 '2941227569': [362, 153],
 '2939758801': [362, 160],
 '2794600715': [362, 160],
 '2716988519': [362, 153],
 '3092291078': [360, 163],
 '2619428742': [362, 160],
 '2548525560': [362, 143],
 '2945366181': [362, 160],
 '2779430964': [362, 160],
 '2883696427': [508, 360, 178],
 '2925822069': [362, 143],
 '2925939104': [362, 180],
 '2971727198': [362, 180],
 '3091991128': [364, 165],
 '2900043222': [362, 153],
 '3092352542': [362, 153],
 '2806579786': [362, 153],
 '2931995626': [362, 160],
 '2840885936': [362, 153],
 '3060298827': [362, 153],
 '2546204111': [362, 180],
 '2768677942': [362, 153],
 '2906853352': [360, 178],
 '2931602985': [362, 153],
 '2539328664': [362, 160],
 '3005570339': [360, 178],
 '2907765810': [362, 153],
 '2504276944': [362, 160],
 '2934763681': [362, 143],
 '2878870088': [360, 163],
 '3002409804': [362, 143],
 '2924730079': [362, 160],
 '2835065019': [362, 143],
 '2845829017': [360, 163],
 '2442206272': [360, 163],
 '2612433827': [362, 180],
 '3056652874': [360, 178],
 '2713779051': [362, 143],
 '2674397770': [362, 153],
 '2951083175': [361, 154],
 '2919074152': [361, 154],
 '2791746110': [360, 178],
 '2859535722': [362, 160],
 '2859592311': [362, 160],
 '2859425420': [362, 160],
 '2859602736': [362, 160],
 '2859472073': [362, 160],
 '2858845954': [362, 160],
 '2858854334': [362, 160],
 '2859529527': [362, 160],
 '2859474000': [362, 160],
 '2859465781': [362, 160],
 '2859066093': [362, 160],
 '2859743411': [362, 160],
 '2859670037': [362, 160],
 '2859717259': [362, 160],
 '2859689089': [362, 160],
 '2859077663': [362, 160],
 '2859572471': [362, 160],
 '2847053521': [362, 153],
 '2815705808': [362, 153],
 '2814928943': [362, 153],
 '2783398436': [362, 153],
 '2815386270': [362, 153],
 '2815091293': [362, 153],
 '2859560068': [362, 160],
 '2859683793': [362, 160],
 '2859591334': [362, 160],
 '2859740151': [362, 160],
 '2859727744': [362, 160],
 '2859287086': [362, 160],
 '2859105931': [362, 160],
 '2859312714': [362, 160],
 '2858828907': [362, 160],
 '2859115452': [362, 160],
 '2859021387': [362, 160],
 '2859676188': [362, 160],
 '2859111918': [362, 160],
 '2858891334': [362, 160],
 '2859406729': [362, 160],
 '2859773938': [362, 160],
 '2859010873': [362, 160],
 '2859770674': [362, 160],
 '2859292009': [362, 160],
 '2859131234': [362, 160],
 '2859369824': [362, 160],
 '2859195927': [362, 160],
 '2859526996': [362, 160],
 '2858845566': [362, 160],
 '2859530946': [362, 160],
 '2859562026': [362, 160],
 '2859491961': [362, 160],
 '2859513684': [362, 160],
 '2859310200': [362, 160],
 '2859619260': [362, 160],
 '2859371874': [362, 160],
 '2859690805': [362, 160],
 '2859245667': [362, 160],
 '2859301633': [362, 160],
 '2858953069': [362, 160],
 '2859214997': [362, 160],
 '2858799455': [362, 160],
 '2858966654': [362, 160],
 '2859447290': [362, 160],
 '2859415723': [362, 160],
 '2859051261': [362, 160],
 '2859388198': [362, 160],
 '2859049495': [362, 160],
 '2859433805': [362, 160],
 '2859118311': [362, 160],
 '2635446208': [362, 148],
 '2769142119': [364, 156],
 '2934681288': [362, 160],
 '2738297516': [362, 143],
 '2667204627': [362, 170],
 '2965952959': [359, 181],
 '2616358282': [360, 163],
 '2790805464': [362, 157],
 '2918617311': [362, 180],
 '2814267700': [362, 153],
 '2976309816': [360, 163],
 '2847006939': [362, 153],
 '2862831921': [364, 156],
 '2699148505': [364, 165],
 '2682671830': [364, 156],
 '2907150389': [360, 178],
 '2790018441': [360, 163],
 '2847071267': [360, 178],
 '2782888088': [360, 163],
 '2937523156': [360, 178],
 '2935827743': [362, 153],
 '2598737882': [362, 148],
 '2679323364': [362, 180],
 '3082575509': [362, 143],
 '3042688316': [362, 143],
 '2824740616': [362, 153],
 '2691969430': [362, 148],
 '2970776423': [362, 143],
 '2391940564': [364, 165],
 '2885138676': [360, 163],
 '2926677931': [361, 186],
 '2428112276': [364, 156],
 '2727369421': [362, 160],
 '3028433167': [362, 180],
 '2920010296': [362, 143],
 '2836230567': [362, 143],
 '3014087323': [362, 143],
 '3050376863': [360, 163],
 '2758653625': [360, 178],
 '2855289015': [362, 148],
 '2387909253': [364, 156],
 '2811546443': [362, 164],
 '2759393204': [362, 148],
 '2897006226': [360, 178],
 '2979786803': [364, 144],
 '2823453495': [362, 170],
 '2932415977': [362, 148],
 '1981978881': [360, 163],
 '3032126112': [364, 175],
 '2769425462': [364, 165],
 '2747830589': [360, 142],
 '3059907584': [188, 168],
 '2938935331': [362, 148],
 '2878004370': [364, 165],
 '2356769533': [360, 163],
 '2896205064': [360, 163],
 '2383955085': [362, 170],
 '2918898492': [362, 157],
 '3092574399': [364, 175],
 '2814894882': [360, 178],
 '2958630195': [362, 153],
 '2739305658': [361, 177],
 '2762008531': [362, 143],
 '2939683595': [362, 143],
 '2948270058': [360, 142],
 '2619063905': [362, 143],
 '2651535420': [362, 157],
 '2743459831': [362, 160],
 '2735564850': [360, 163],
 '2590137593': [362, 143],
 '2945156922': [360, 178],
 '2491484173': [360, 163],
 '3059785218': [359, 181],
 '2919420358': [362, 143],
 '2884223354': [364, 144],
 '2755682499': [362, 160],
 '2904149547': [362, 143],
 '2957183915': [360, 163],
 '2431486023': [360, 178],
 '2980144491': [361, 177],
 '2584494082': [364, 144],
 '2791848485': [362, 157],
 '2889758069': [360, 178],
 '2934388156': [361, 154],
 '2957689006': [362, 345],
 '3050483341': [362, 157],
 '2719664300': [362, 170],
 '2412660050': [360, 163],
 '2870412897': [364, 165],
 '2826078118': [362, 180],
 '2843085353': [362, 143],
 '2782337226': [360, 163],
 '2996498281': [364, 165],
 '3018402579': [362, 143],
 '2756102681': [362, 143],
 '3060447116': [362, 143],
 '2735513722': [359, 181],
 '2931729514': [362, 148],
 '2963821571': [362, 164],
 '2424828492': [364, 165],
 '2643069267': [362, 170],
 '2810398547': [362, 153],
 '3002617581': [362, 164],
 '2913109709': [360, 178],
 '2739104360': [362, 164],
 '2849690315': [362, 143],
 '2782713576': [362, 143],
 '2638305050': [364, 165],
 '2888700037': [360, 178],
 '2821443460': [362, 180],
 '2783154039': [362, 153],
 '2724667943': [364, 165],
 '2680381784': [360, 178],
 '2630064290': [362, 143],
 '2784117039': [364, 144],
 '2774021208': [362, 143],
 '2855908329': [360, 163],
 '2878499352': [364, 165],
 '2843362707': [362, 160],
 '2824134195': [364, 144],
 '2692535407': [362, 170],
 '2616032837': [362, 148],
 '2331104177': [360, 178],
 '2934475076': [362, 143],
 '2938246353': [364, 156],
 '2911529098': [364, 165],
 '2830748176': [362, 143],
 '2486800948': [362, 143],
 '3049843293': [360, 178],
 '3002490996': [362, 164],
 '3020540774': [362, 160],
 '2779169446': [362, 143],
 '2349750236': [362, 164],
 '2793706375': [362, 143],
 '2495490661': [364, 165],
 '2633222974': [364, 144],
 '2734172278': [362, 143],
 '2882582940': [362, 160],
 '2946171715': [362, 143],
 '2964259391': [364, 165],
 '2927371210': [360, 178],
 '2858607332': [362, 160],
 '2703011034': [362, 148],
 '2800857454': [364, 144],
 '2763079773': [362, 170],
 '2654658354': [362, 143],
 '2457003810': [362, 148],
 '2857189305': [364, 165],
 '2619566601': [360, 178],
 '2758525364': [362, 143],
 '2842269846': [360, 163],
 '2681921708': [362, 143],
 '1885780263': [360, 163],
 '2675655734': [360, 163],
 '2240394328': [360, 163],
 '2874971897': [364, 156],
 '2900863466': [362, 143],
 '2698786706': [360, 163],
 '2608773652': [364, 165],
 '2783566717': [362, 143],
 '2651168730': [362, 157],
 '2890223651': [362, 148],
 '2799129989': [362, 170],
 '2740847101': [360, 178],
 '2882806619': [364, 175],
 '2239283840': [364, 156],
 '2897466619': [362, 180],
 '2425060030': [364, 165],
 '2738874031': [360, 142],
 '3037178295': [364, 144],
 '2919049504': [360, 163],
 '2517559786': [364, 165],
 '2939445276': [362, 148],
 '2907733357': [364, 165],
 '3028386183': [360, 163],
 '2988024100': [364, 175],
 '2819110525': [360, 163],
 '2825152124': [359, 181],
 '3005621431': [360, 163],
 '2911257706': [362, 153],
 '2762306687': [364, 156],
 '2857014994': [362, 157],
 '2488001612': [362, 160],
 '2916261385': [362, 157],
 '2399939583': [362, 180],
 '3018178362': [362, 164],
 '2906292317': [362, 180],
 '2256148372': [362, 170],
 '2809089403': [362, 143],
 '3018086935': [362, 164],
 '2970598153': [362, 153],
 '2368588105': [362, 160],
 '2641366881': [362, 170],
 '2917588590': [362, 143],
 '2907666888': [359, 181],
 '2185929163': [362, 160],
 '2646056487': [362, 164],
 '2858749560': [364, 156],
 '2775681004': [362, 143],
 '2858616532': [362, 157],
 '2783727553': [362, 143],
 '2682432651': [360, 178],
 '2125904171': [360, 178],
 '2948253619': [362, 160],
 '2836624698': [362, 170],
 '2769798066': [362, 143],
 '2764515240': [362, 170],
 '2781691458': [362, 157],
 '2542254791': [362, 164],
 '2662031841': [364, 144],
 '2260031398': [364, 156],
 '2986406218': [360, 163],
 '2387880524': [362, 180],
 '2906874694': [362, 153],
 '2245397507': [362, 170],
 '2963305512': [362, 164],
 '2874363412': [362, 170],
 '2804772786': [362, 153],
 '2764388957': [362, 160],
 '2561066149': [362, 153],
 '2859451844': [362, 160],
 '2859756703': [362, 160],
 '2859146836': [362, 160],
 '2739759028': [362, 157],
 '2858977822': [362, 160],
 '2858841645': [362, 160],
 '2859046939': [362, 160],
 '2859359290': [362, 160],
 '3027847515': [359, 181],
 '2968557654': [362, 164],
 '3122623910': [362, 143],
 '2782123484': [362, 148],
 '2901678862': [362, 143],
 '2854912511': [359, 181],
 '2939843969': [362, 170],
 '3122180489': [360, 178],
 '2963082641': [362, 164],
 '3002100993': [362, 143],
 '2910158006': [362, 164],
 '3050639012': [362, 148],
 '2638479963': [364, 156],
 '2901154977': [362, 143],
 '2894009915': [359, 181],
 '2947990195': [362, 170],
 '3092218359': [362, 170],
 '2957791178': [362, 157],
 '2919149810': [362, 164],
 '3122465020': [360, 178],
 '2948871302': [362, 148],
 '2901685704': [362, 143],
 '2766676401': [362, 148],
 '3122686048': [360, 163],
 '2907663625': [362, 153],
 '3090068986': [360, 178],
 '3122272685': [360, 178],
 '2762894636': [362, 170],
 '2711545263': [362, 157],
 '2798554956': [362, 157],
 '3090180460': [360, 163],
 '2848688095': [359, 181],
 '3002153678': [362, 160],
 '3091854631': [365, 187],
 '2891005019': [362, 164],
 '3020682652': [362, 170],
 '2681247902': [359, 181],
 '2452407383': [362, 157],
 '2875004443': [362, 153],
 '2387891355': [362, 157],
 '2713040563': [362, 164],
 '3026614950': [362, 143],
 '2926002189': [362, 180],
 '2933828739': [362, 164],
 '2707769003': [362, 170],
 '2963491630': [362, 164],
 '2894781974': [362, 153],
 '2691216872': [359, 181],
 '2957550831': [359, 181],
 '3170094680': [359, 181],
 '2503938553': [359, 181],
 '2692564742': [359, 181],
 '2764225695': [365, 187],
 '2639497166': [359, 181],
 '2373400133': [359, 181],
 '2976636248': [359, 181],
 '2824859754': [365, 187],
 '2787989301': [359, 181],
 '2678185690': [365, 187],
 '2855666984': [359, 181],
 '2400107753': [362, 170],
 '2906812675': [362, 157],
 '2517468892': [362, 157],
 '2991899475': [359, 181],
 '2895663190': [359, 181],
 '2781256477': [359, 181],
 '2620098951': [365, 187],
 '2877863831': [362, 157],
 '2479718901': [359, 181],
 '2870278876': [359, 181],
 '2814473742': [359, 181],
 '2957617901': [362, 148],
 '2558423690': [362, 148],
 '1806539239': [359, 181],
 '3000495201': [359, 181],
 '2582884541': [362, 148],
 '2887541123': [362, 148],
 '2711782866': [359, 181],
 '2782981024': [361, 166],
 '3050007051': [359, 181],
 '3060239936': [359, 181],
 '2534814283': [359, 181],
 '2957478328': [359, 181],
 '2632116307': [362, 148],
 '3050281664': [362, 180],
 '2888699395': [360, 163],
 '2534820564': [362, 180],
 '2926326652': [362, 180],
 '2417808502': [359, 181],
 '3034180477': [359, 181],
 '2933191802': [362, 170],
 '2473139147': [359, 181],
 '2971015940': [362, 157],
 '2846885627': [359, 181],

In [287]:
only_districts_new_3 = get_districts_from_house_new(df_dadata, sql_engine)

In [288]:
only_districts_t_3_2 = only_districts_new_3[0].sort_values('district_id', ascending=False).drop_duplicates('ad_id').sort_index()

In [289]:
only_districts_t_3_2 = only_districts_new_3[0].sort_values('district_id', ascending=False).drop_duplicates('ad_id', keep='first').sort_index()

In [290]:
asdads_2=only_districts_t_3_2[only_districts_t_3_2.ad_id.isin(only_districts_t_3[only_districts_t_3.duplicated(subset=['ad_id'])].ad_id.to_list())]

In [291]:
cnt = {}
for i, val in asdads_2.iterrows():
    try:
        cnt[val.ad_id].append(val.district_id)
    except:
        cnt[val.ad_id] = [val.district_id]

In [292]:
len(cnt)

1205

In [293]:
cnt

{'286668339': [362],
 '286671319': [362],
 '286666050': [364],
 '2878344292': [364],
 '2737217495': [364],
 '2903855216': [362],
 '2855726664': [364],
 '2929138710': [364],
 '2916832617': [364],
 '2820632542': [364],
 '2894597501': [364],
 '2857703200': [364],
 '2757208387': [362],
 '2948780130': [364],
 '2916631377': [364],
 '2899543926': [362],
 '3122421404': [364],
 '2619023748': [364],
 '2771608074': [364],
 '2980818526': [364],
 '2867566321': [364],
 '2895555036': [364],
 '3027969870': [364],
 '2743769171': [364],
 '2769205256': [364],
 '2951043066': [364],
 '3051896936': [362],
 '3060006443': [362],
 '2929028920': [362],
 '3092102150': [364],
 '2815678448': [362],
 '2949158169': [364],
 '2630121031': [364],
 '2738171016': [364],
 '2934080040': [362],
 '2612996017': [359],
 '2907723394': [364],
 '2700141727': [364],
 '2376126604': [364],
 '2881217186': [362],
 '2918515281': [364],
 '2937171178': [362],
 '2846923131': [364],
 '2590866426': [364],
 '2976744733': [364],
 '2782124494': [188],
 '2730891373': [362],
 '2911449404': [364],
 '2793895401': [362],
 '3037307235': [364],
 '2139983608': [364],
 '2950998483': [364],
 '2855274386': [362],
 '2719114467': [364],
 '2751413136': [362],
 '2840033994': [362],
 '2976081519': [362],
 '2290025852': [364],
 '2948257748': [364],
 '2301027460': [364],
 '3092716117': [362],
 '2843356277': [364],
 '2896510893': [364],
 '2800984735': [364],
 '2775658775': [364],
 '2870525510': [364],
 '2902808328': [364],
 '2845801262': [362],
 '2917641409': [364],
 '2673672953': [364],
 '2939942895': [364],
 '2859483261': [362],
 '2757965664': [364],
 '2889254348': [362],
 '2904116154': [362],
 '2881341348': [362],
 '2915681042': [364],
 '1593684503': [364],
 '2713196737': [364],
 '2934376148': [364],
 '2596567322': [362],
 '2951541246': [361],
 '2806933478': [361],
 '2799338168': [362],
 '2687797906': [364],
 '2217481796': [362],
 '2919600021': [362],
 '2552687971': [362],
 '2878840743': [364],
 '2801029520': [364],
 '2708111368': [362],
 '2810972783': [362],
 '2982335680': [362],
 '2764619159': [364],
 '2970987402': [360],
 '2548046536': [364],
 '2578761783': [364],
 '2348707519': [362],
 '2784320240': [362],
 '2846144584': [362],
 '2813845109': [360],
 '2715961850': [361],
 '2939572471': [364],
 '2765468519': [362],
 '2836567381': [362],
 '2874428792': [362],
 '2526153000': [362],
 '2814877530': [364],
 '2868344919': [362],
 '2857517114': [362],
 '2887763883': [362],
 '2782661720': [360],
 '2921798143': [362],
 '2460203333': [362],
 '2907709674': [361],
 '2916599342': [362],
 '2813972183': [362],
 '2741327428': [362],
 '2872595007': [364],
 '3002140048': [360],
 '2995253891': [364],
 '3105793466': [361],
 '2837808438': [361],
 '3092282710': [361],
 '2143873048': [364],
 '2584456250': [362],
 '2876454548': [362],
 '2622392242': [362],
 '2848832567': [362],
 '3028331486': [362],
 '2501277879': [362],
 '2922105004': [360],
 '2606020384': [362],
 '2759321592': [360],
 '2754913150': [362],
 '3050334109': [360],
 '2635568827': [362],
 '2858302799': [362],
 '2767431579': [360],
 '3005498066': [360],
 '2907547328': [362],
 '2791129624': [362],
 '2889133042': [362],
 '2894541592': [360],
 '2938983220': [362],
 '2951406380': [360],
 '3018428656': [362],
 '2669905966': [360],
 '2921101355': [362],
 '2965881753': [362],
 '2728189124': [362],
 '2845859443': [362],
 '2869743965': [362],
 '2794727078': [362],
 '2302173784': [360],
 '3027817359': [360],
 '3028679422': [360],
 '3060392536': [360],
 '2935747941': [362],
 '2760520148': [362],
 '2914988538': [362],
 '2619698242': [362],
 '2897613028': [362],
 '2843201610': [362],
 '2907309269': [362],
 '2996516250': [360],
 '2939423630': [362],
 '2889320790': [360],
 '2642196382': [362],
 '2749855376': [360],
 '2843602068': [362],
 '3018255109': [362],
 '2057861403': [360],
 '2746278831': [362],
 '2441718775': [362],
 '2903347782': [364],
 '2992701608': [362],
 '2756014176': [360],
 '2619214598': [362],
 '2970812141': [362],
 '2532231382': [362],
 '2890632981': [360],
 '2811620366': [362],
 '2264196037': [364],
 '2720419477': [364],
 '2794138832': [360],
 '2856636254': [360],
 '2917676851': [362],
 '2324122010': [362],
 '2947808249': [362],
 '2659168223': [364],
 '2921269565': [362],
 '2671768167': [360],
 '3028447774': [360],
 '2688910719': [362],
 '2660153006': [362],
 '2922352363': [360],
 '2932402860': [362],
 '2752678374': [362],
 '2794372460': [362],
 '2864944448': [362],
 '2537562722': [364],
 '2909743972': [362],
 '2419367920': [362],
 '2727660207': [362],
 '2837286589': [360],
 '2868114401': [364],
 '2849385406': [362],
 '2603304386': [364],
 '2647795251': [364],
 '2911003905': [364],
 '2674509294': [362],
 '2779495048': [364],
 '2868456396': [362],
 '2132473342': [362],
 '2938959321': [360],
 '2843757671': [360],
 '2945282769': [362],
 '2735467932': [364],
 '2924399693': [360],
 '2683833308': [362],
 '2811776875': [364],
 '2951291301': [364],
 '3060611923': [362],
 '3032613745': [362],
 '3018361510': [360],
 '2929850369': [362],
 '2410798948': [364],
 '2895059030': [362],
 '2486969529': [362],
 '2474892006': [362],
 '2910329455': [362],
 '2434122091': [364],
 '3059988188': [364],
 '2996074289': [360],
 '2356082779': [362],
 '2947764403': [362],
 '2838143776': [361],
 '2827055181': [362],
 '2783324156': [362],
 '2630617337': [360],
 '2865641965': [362],
 '2331880370': [362],
 '2855003424': [364],
 '2665965454': [364],
 '2963073770': [362],
 '2324596078': [362],
 '2917675509': [362],
 '3060033025': [362],
 '2945843686': [361],
 '2995761865': [364],
 '2946073394': [362],
 '3060579911': [362],
 '2823451600': [364],
 '2630049047': [362],
 '2621476022': [362],
 '2489760127': [361],
 '2890470722': [362],
 '2861501747': [362],
 '2782956073': [361],
 '2859065062': [362],
 '2859243373': [362],
 '1528999708': [362],
 '2834475459': [362],
 '2868016258': [362],
 '2859497383': [362],
 '2996220440': [360],
 '2919130349': [362],
 '2859043129': [362],
 '2915734375': [362],
 '2868496832': [362],
 '2357803506': [362],
 '2360350337': [362],
 '2897815566': [508],
 '2506379592': [362],
 '2669174267': [362],
 '2415237446': [362],
 '2945130017': [362],
 '3036759635': [362],
 '2831732637': [360],
 '2858795811': [362],
 '2775190190': [362],
 '2921032614': [362],
 '2976222443': [362],
 '2737985681': [362],
 '2971205496': [362],
 '2685939767': [360],
 '2855932222': [362],
 '2971211135': [362],
 '1464675348': [364],
 '2591037667': [364],
 '2809745524': [362],
 '2787009803': [362],
 '2823615825': [362],
 '2980221225': [362],
 '2990159566': [362],
 '2125711637': [360],
 '2908290481': [362],
 '2758383103': [362],
 '2787433858': [362],
 '2959032016': [362],
 '2963751721': [362],
 '2962823960': [362],
 '3027633740': [362],
 '2854971008': [362],
 '2910111533': [362],
 '2906258290': [360],
 '2538138140': [361],
 '2941227569': [362],
 '2939758801': [362],
 '2794600715': [362],
 '2716988519': [362],
 '3092291078': [360],
 '2619428742': [362],
 '2548525560': [362],
 '2945366181': [362],
 '2779430964': [362],
 '2883696427': [508],
 '2925822069': [362],
 '2925939104': [362],
 '2971727198': [362],
 '3091991128': [364],
 '2900043222': [362],
 '3092352542': [362],
 '2806579786': [362],
 '2931995626': [362],
 '2840885936': [362],
 '3060298827': [362],
 '2546204111': [362],
 '2768677942': [362],
 '2906853352': [360],
 '2931602985': [362],
 '2539328664': [362],
 '3005570339': [360],
 '2907765810': [362],
 '2504276944': [362],
 '2934763681': [362],
 '2878870088': [360],
 '3002409804': [362],
 '2924730079': [362],
 '2835065019': [362],
 '2845829017': [360],
 '2442206272': [360],
 '2612433827': [362],
 '3056652874': [360],
 '2713779051': [362],
 '2674397770': [362],
 '2951083175': [361],
 '2919074152': [361],
 '2791746110': [360],
 '2859535722': [362],
 '2859592311': [362],
 '2859425420': [362],
 '2859602736': [362],
 '2859472073': [362],
 '2858845954': [362],
 '2858854334': [362],
 '2859529527': [362],
 '2859474000': [362],
 '2859465781': [362],
 '2859066093': [362],
 '2859743411': [362],
 '2859670037': [362],
 '2859717259': [362],
 '2859689089': [362],
 '2859077663': [362],
 '2859572471': [362],
 '2847053521': [362],
 '2815705808': [362],
 '2814928943': [362],
 '2783398436': [362],
 '2815386270': [362],
 '2815091293': [362],
 '2859560068': [362],
 '2859683793': [362],
 '2859591334': [362],
 '2859740151': [362],
 '2859727744': [362],
 '2859287086': [362],
 '2859105931': [362],
 '2859312714': [362],
 '2858828907': [362],
 '2859115452': [362],
 '2859021387': [362],
 '2859676188': [362],
 '2859111918': [362],
 '2858891334': [362],
 '2859406729': [362],
 '2859773938': [362],
 '2859010873': [362],
 '2859770674': [362],
 '2859292009': [362],
 '2859131234': [362],
 '2859369824': [362],
 '2859195927': [362],
 '2859526996': [362],
 '2858845566': [362],
 '2859530946': [362],
 '2859562026': [362],
 '2859491961': [362],
 '2859513684': [362],
 '2859310200': [362],
 '2859619260': [362],
 '2859371874': [362],
 '2859690805': [362],
 '2859245667': [362],
 '2859301633': [362],
 '2858953069': [362],
 '2859214997': [362],
 '2858799455': [362],
 '2858966654': [362],
 '2859447290': [362],
 '2859415723': [362],
 '2859051261': [362],
 '2859388198': [362],
 '2859049495': [362],
 '2859433805': [362],
 '2859118311': [362],
 '2635446208': [362],
 '2769142119': [364],
 '2934681288': [362],
 '2738297516': [362],
 '2667204627': [362],
 '2965952959': [359],
 '2616358282': [360],
 '2790805464': [362],
 '2918617311': [362],
 '2814267700': [362],
 '2976309816': [360],
 '2847006939': [362],
 '2862831921': [364],
 '2699148505': [364],
 '2682671830': [364],
 '2907150389': [360],
 '2790018441': [360],
 '2847071267': [360],
 '2782888088': [360],
 '2937523156': [360],
 '2935827743': [362],
 '2598737882': [362],
 '2679323364': [362],
 '3082575509': [362],
 '3042688316': [362],
 '2824740616': [362],
 '2691969430': [362],
 '2970776423': [362],
 '2391940564': [364],
 '2885138676': [360],
 '2926677931': [361],
 '2428112276': [364],
 '2727369421': [362],
 '3028433167': [362],
 '2920010296': [362],
 '2836230567': [362],
 '3014087323': [362],
 '3050376863': [360],
 '2758653625': [360],
 '2855289015': [362],
 '2387909253': [364],
 '2811546443': [362],
 '2759393204': [362],
 '2897006226': [360],
 '2979786803': [364],
 '2823453495': [362],
 '2932415977': [362],
 '1981978881': [360],
 '3032126112': [364],
 '2769425462': [364],
 '2747830589': [360],
 '3059907584': [188],
 '2938935331': [362],
 '2878004370': [364],
 '2356769533': [360],
 '2896205064': [360],
 '2383955085': [362],
 '2918898492': [362],
 '3092574399': [364],
 '2814894882': [360],
 '2958630195': [362],
 '2739305658': [361],
 '2762008531': [362],
 '2939683595': [362],
 '2948270058': [360],
 '2619063905': [362],
 '2651535420': [362],
 '2743459831': [362],
 '2735564850': [360],
 '2590137593': [362],
 '2945156922': [360],
 '2491484173': [360],
 '3059785218': [359],
 '2919420358': [362],
 '2884223354': [364],
 '2755682499': [362],
 '2904149547': [362],
 '2957183915': [360],
 '2431486023': [360],
 '2980144491': [361],
 '2584494082': [364],
 '2791848485': [362],
 '2889758069': [360],
 '2934388156': [361],
 '2957689006': [362],
 '3050483341': [362],
 '2719664300': [362],
 '2412660050': [360],
 '2870412897': [364],
 '2826078118': [362],
 '2843085353': [362],
 '2782337226': [360],
 '2996498281': [364],
 '3018402579': [362],
 '2756102681': [362],
 '3060447116': [362],
 '2735513722': [359],
 '2931729514': [362],
 '2963821571': [362],
 '2424828492': [364],
 '2643069267': [362],
 '2810398547': [362],
 '3002617581': [362],
 '2913109709': [360],
 '2739104360': [362],
 '2849690315': [362],
 '2782713576': [362],
 '2638305050': [364],
 '2888700037': [360],
 '2821443460': [362],
 '2783154039': [362],
 '2724667943': [364],
 '2680381784': [360],
 '2630064290': [362],
 '2784117039': [364],
 '2774021208': [362],
 '2855908329': [360],
 '2878499352': [364],
 '2843362707': [362],
 '2824134195': [364],
 '2692535407': [362],
 '2616032837': [362],
 '2331104177': [360],
 '2934475076': [362],
 '2938246353': [364],
 '2911529098': [364],
 '2830748176': [362],
 '2486800948': [362],
 '3049843293': [360],
 '3002490996': [362],
 '3020540774': [362],
 '2779169446': [362],
 '2349750236': [362],
 '2793706375': [362],
 '2495490661': [364],
 '2633222974': [364],
 '2734172278': [362],
 '2882582940': [362],
 '2946171715': [362],
 '2964259391': [364],
 '2927371210': [360],
 '2858607332': [362],
 '2703011034': [362],
 '2800857454': [364],
 '2763079773': [362],
 '2654658354': [362],
 '2457003810': [362],
 '2857189305': [364],
 '2619566601': [360],
 '2758525364': [362],
 '2842269846': [360],
 '2681921708': [362],
 '1885780263': [360],
 '2675655734': [360],
 '2240394328': [360],
 '2874971897': [364],
 '2900863466': [362],
 '2698786706': [360],
 '2608773652': [364],
 '2783566717': [362],
 '2651168730': [362],
 '2890223651': [362],
 '2799129989': [362],
 '2740847101': [360],
 '2882806619': [364],
 '2239283840': [364],
 '2897466619': [362],
 '2425060030': [364],
 '2738874031': [360],
 '3037178295': [364],
 '2919049504': [360],
 '2517559786': [364],
 '2939445276': [362],
 '2907733357': [364],
 '3028386183': [360],
 '2988024100': [364],
 '2819110525': [360],
 '2825152124': [359],
 '3005621431': [360],
 '2911257706': [362],
 '2762306687': [364],
 '2857014994': [362],
 '2488001612': [362],
 '2916261385': [362],
 '2399939583': [362],
 '3018178362': [362],
 '2906292317': [362],
 '2256148372': [362],
 '2809089403': [362],
 '3018086935': [362],
 '2970598153': [362],
 '2368588105': [362],
 '2641366881': [362],
 '2917588590': [362],
 '2907666888': [359],
 '2185929163': [362],
 '2646056487': [362],
 '2858749560': [364],
 '2775681004': [362],
 '2858616532': [362],
 '2783727553': [362],
 '2682432651': [360],
 '2125904171': [360],
 '2948253619': [362],
 '2836624698': [362],
 '2769798066': [362],
 '2764515240': [362],
 '2781691458': [362],
 '2542254791': [362],
 '2662031841': [364],
 '2260031398': [364],
 '2986406218': [360],
 '2387880524': [362],
 '2906874694': [362],
 '2245397507': [362],
 '2963305512': [362],
 '2874363412': [362],
 '2804772786': [362],
 '2764388957': [362],
 '2561066149': [362],
 '2859451844': [362],
 '2859756703': [362],
 '2859146836': [362],
 '2739759028': [362],
 '2858977822': [362],
 '2858841645': [362],
 '2859046939': [362],
 '2859359290': [362],
 '3027847515': [359],
 '2968557654': [362],
 '3122623910': [362],
 '2782123484': [362],
 '2901678862': [362],
 '2854912511': [359],
 '2939843969': [362],
 '3122180489': [360],
 '2963082641': [362],
 '3002100993': [362],
 '2910158006': [362],
 '3050639012': [362],
 '2638479963': [364],
 '2901154977': [362],
 '2894009915': [359],
 '2947990195': [362],
 '3092218359': [362],
 '2957791178': [362],
 '2919149810': [362],
 '3122465020': [360],
 '2948871302': [362],
 '2901685704': [362],
 '2766676401': [362],
 '3122686048': [360],
 '2907663625': [362],
 '3090068986': [360],
 '3122272685': [360],
 '2762894636': [362],
 '2711545263': [362],
 '2798554956': [362],
 '3090180460': [360],
 '2848688095': [359],
 '3002153678': [362],
 '3091854631': [365],
 '2891005019': [362],
 '3020682652': [362],
 '2681247902': [359],
 '2452407383': [362],
 '2875004443': [362],
 '2387891355': [362],
 '2713040563': [362],
 '3026614950': [362],
 '2926002189': [362],
 '2933828739': [362],
 '2707769003': [362],
 '2963491630': [362],
 '2894781974': [362],
 '2691216872': [359],
 '2957550831': [359],
 '3170094680': [359],
 '2503938553': [359],
 '2692564742': [359],
 '2764225695': [365],
 '2639497166': [359],
 '2373400133': [359],
 '2976636248': [359],
 '2824859754': [365],
 '2787989301': [359],
 '2678185690': [365],
 '2855666984': [359],
 '2400107753': [362],
 '2906812675': [362],
 '2517468892': [362],
 '2991899475': [359],
 '2895663190': [359],
 '2781256477': [359],
 '2620098951': [365],
 '2877863831': [362],
 '2479718901': [359],
 '2870278876': [359],
 '2814473742': [359],
 '2957617901': [362],
 '2558423690': [362],
 '1806539239': [359],
 '3000495201': [359],
 '2582884541': [362],
 '2887541123': [362],
 '2711782866': [359],
 '2782981024': [361],
 '3050007051': [359],
 '3060239936': [359],
 '2534814283': [359],
 '2957478328': [359],
 '2632116307': [362],
 '3050281664': [362],
 '2888699395': [360],
 '2534820564': [362],
 '2926326652': [362],
 '2417808502': [359],
 '3034180477': [359],
 '2933191802': [362],
 '2473139147': [359],
 '2971015940': [362],
 '2846885627': [359],
 '2677057488': [362],
 '2752718892': [364],
 '2933622917': [362],
 '2870302462': [362],
 '3020012157': [364],
 '2511943610': [359],
 '2889442145': [362],
 '3060314323': [364],
 '2422910218': [364],
 '2724607296': [361],
 '2819630973': [364],
 '2865360349': [362],
 '2926107618': [362],
 '2892764640': [364],
 '2495587704': [359],
 '2849043592': [364],
 '3017790027': [364],
 '2996338150': [364],
 '2819705604': [364],
 '2494518265': [361],
 '3060339437': [364],
 '2651608609': [364],
 '2634899090': [359],
 '2907638432': [364],
 '2686679024': [361],
 '2491220548': [364],
 '2879570353': [364],
 '2852191322': [362],
 '2918923999': [364],
 '2614455720': [364],
 '2888926324': [364],
 '2105518895': [364],
 '2641654058': [364],
 '2684016679': [364],
 '2675115889': [364],
 '2947891191': [359],
 '2945516059': [359],
 '2779070107': [364],
 '2915996157': [362],
 '3069142121': [362],
 '2656342380': [364],
 '2647181028': [364],
 '2986577637': [364],
 '916744696': [362],
 '2883643680': [364],
 '2729563304': [364],
 '2836756746': [364],
 '2721393177': [361],
 '2597702938': [364],
 '2937131581': [364],
 '2996112919': [364],
 '2846110782': [364],
 '2361243733': [364],
 '2857826457': [364],
 '3056416023': [364],
 '2843241098': [364],
 '2872659341': [364],
 '2874937756': [364],
 '2676668556': [364],
 '2678689283': [364],
 '2971231777': [364],
 '2717167553': [364],
 '2986716249': [364],
 '2774316099': [364],
 '2783611103': [364],
 '2889277196': [359],
 '2855355652': [364],
 '2761454331': [364],
 '2638485929': [364],
 '2813982086': [361],
 '2759793160': [364],
 '2770903777': [362],
 '2855037713': [364],
 '2894188424': [364],
 '1815147409': [364],
 '2868828243': [362],
 '2619260467': [362],
 '2372660947': [364],
 '2903410843': [364],
 '2623671429': [364],
 '2875645884': [364],
 '2944554232': [364],
 '2996563984': [364],
 '2990059127': [364],
 '2876760639': [364],
 '2938631307': [364],
 '3092016955': [364],
 '3037117230': [364],
 '2809562379': [364],
 '2938293864': [364],
 '2977480355': [364],
 '2759247376': [362],
 '2934253517': [364],
 '2897308617': [364],
 '2422669967': [364],
 '2937154915': [362],
 '2408301539': [360],
 '2843347399': [361],
 '3060325758': [361],
 '3106568126': [362],
 '2623120522': [364],
 '2427262165': [362],
 '2867943104': [362],
 '2944120916': [364],
 '2912563496': [364],
 '2618286925': [365],
 '2988053766': [362],
 '2963998722': [360],
 '2920751979': [364],
 '2981364521': [364],
 '2794291114': [362],
 '3092358801': [360],
 '2823338285': [360],
 '2613837890': [364],
 '2905440763': [364],
 '2756701844': [360],
 '2980928397': [364],
 '2853428326': [364],
 '2988840790': [362],
 '2796398037': [362],
 '2947769491': [361],
 '2896999912': [360],
 '3050372638': [360],
 '2199316160': [364],
 '2743392477': [364],
 '2812407646': [362],
 '2715529577': [362],
 '3002442838': [362],
 '2826376586': [362],
 '2964389045': [364],
 '2896018285': [364],
 '3052203326': [362],
 '2880001928': [362],
 '2783427204': [362],
 '3060246127': [362],
 '2939119253': [362],
 '2821012579': [362],
 '2578986034': [360],
 '2805190971': [362],
 '2907419826': [362],
 '2700400331': [364],
 '2731663994': [362],
 '2871040722': [364],
 '2791855385': [362],
 '2279106510': [362],
 '2968324496': [362],
 '2759581911': [360],
 '2878359186': [362],
 '2766490840': [362],
 '2949357232': [360],
 '2302514978': [360],
 '2362179798': [364],
 '2710941543': [362],
 '2596416291': [362],
 '2779423524': [360],
 '2867237165': [360],
 '2887308727': [362],
 '2715664631': [362],
 '2635476858': [360],
 '2735013730': [360],
 '2888255337': [362],
 '2760925340': [364],
 '2645544238': [360],
 '2873680386': [362],
 '2873355088': [360],
 '2907368775': [362],
 '2782169906': [362],
 '3036788380': [362],
 '2971152614': [362],

In [313]:
only_districts_new_3 = get_districts_from_house_new(df_dadata, sql_engine)

In [315]:
only_districts_t_3_2 = only_districts_new_3[0].sort_values('district_id', ascending=False).drop_duplicates('ad_id', keep='first').sort_index()

In [316]:
asdads_2=only_districts_t_3_2[only_districts_t_3_2.ad_id.isin(only_districts_t_3[only_districts_t_3.duplicated(subset=['ad_id'])].ad_id.to_list())]

In [317]:
only_districts_t_3_2

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
7,bafaaf6a-3893-4e8d-ae60-29ae0ccb66e2,286670939,NaN,NaN,29914,195832
9,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362.0,19121.0,30887,195833
14,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362.0,29947.0,55859,195838
15,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364.0,12108.0,55535,195839
18,ba3e9f38-e9ff-4f51-b1e3-26f7a154da45,286672479,359.0,18995.0,33929,195842
...,...,...,...,...,...,...
23574,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151.0,13483.0,58250,272601
23576,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140.0,26570.0,31280,272638
23578,1658e177-40e0-4101-861b-81e20e9b0267,286719615,140.0,12072.0,34728,272667
23583,3cc5e75f-e65d-42e1-aaff-853204fadc9f,286770391,168.0,16992.0,33837,272687
23587,61020d70-dddf-4988-af02-bc0c5be7613b,286738634,362.0,20168.0,34352,272731

In [318]:
cnt = {}
for i, val in asdads_2.iterrows():
    try:
        cnt[val.ad_id].append(val.district_id)
    except:
        cnt[val.ad_id] = [val.district_id]

In [319]:
len(cnt)

1205

In [320]:
cnt

{'286668339': [362.0],
 '286666050': [364.0],
 '286671319': [362.0],
 '2878344292': [364.0],
 '2737217495': [364.0],
 '2903855216': [362.0],
 '2855726664': [364.0],
 '2929138710': [364.0],
 '2916832617': [364.0],
 '2820632542': [364.0],
 '2894597501': [364.0],
 '2857703200': [364.0],
 '2757208387': [362.0],
 '2948780130': [364.0],
 '2916631377': [364.0],
 '2899543926': [362.0],
 '3122421404': [165.0],
 '2619023748': [364.0],
 '2771608074': [364.0],
 '2980818526': [364.0],
 '2867566321': [364.0],
 '2895555036': [364.0],
 '3027969870': [364.0],
 '2743769171': [165.0],
 '2769205256': [364.0],
 '2951043066': [364.0],
 '3051896936': [170.0],
 '3060006443': [148.0],
 '2929028920': [157.0],
 '3092102150': [364.0],
 '2815678448': [157.0],
 '2949158169': [364.0],
 '2630121031': [364.0],
 '2738171016': [364.0],
 '2934080040': [157.0],
 '2612996017': [359.0],
 '2907723394': [364.0],
 '2700141727': [364.0],
 '2376126604': [364.0],
 '2881217186': [362.0],
 '2918515281': [364.0],
 '2937171178': [362.0],
 '2846923131': [364.0],
 '2590866426': [364.0],
 '2976744733': [364.0],
 '2782124494': [188.0],
 '2730891373': [362.0],
 '2911449404': [364.0],
 '2793895401': [362.0],
 '3037307235': [364.0],
 '2139983608': [364.0],
 '2950998483': [364.0],
 '2855274386': [362.0],
 '2719114467': [364.0],
 '2751413136': [362.0],
 '2840033994': [362.0],
 '2976081519': [362.0],
 '2290025852': [364.0],
 '2948257748': [364.0],
 '2301027460': [364.0],
 '3092716117': [362.0],
 '2843356277': [364.0],
 '2896510893': [364.0],
 '2800984735': [364.0],
 '2775658775': [364.0],
 '2870525510': [364.0],
 '2902808328': [364.0],
 '2845801262': [148.0],
 '2917641409': [364.0],
 '2673672953': [364.0],
 '2939942895': [364.0],
 '2859483261': [362.0],
 '2757965664': [364.0],
 '2889254348': [362.0],
 '2904116154': [362.0],
 '2881341348': [362.0],
 '2915681042': [364.0],
 '1593684503': [364.0],
 '2713196737': [364.0],
 '2934376148': [364.0],
 '2596567322': [362.0],
 '2951541246': [361.0],
 '2806933478': [154.0],
 '2799338168': [362.0],
 '2687797906': [364.0],
 '2217481796': [362.0],
 '2919600021': [362.0],
 '2552687971': [143.0],
 '2878840743': [364.0],
 '2801029520': [364.0],
 '2708111368': [362.0],
 '2810972783': [362.0],
 '2982335680': [362.0],
 '2764619159': [364.0],
 '2970987402': [360.0],
 '2548046536': [364.0],
 '2578761783': [364.0],
 '2348707519': [362.0],
 '2784320240': [143.0],
 '2846144584': [148.0],
 '2813845109': [360.0],
 '2715961850': [361.0],
 '2939572471': [364.0],
 '2765468519': [362.0],
 '2836567381': [362.0],
 '2874428792': [362.0],
 '2526153000': [362.0],
 '2814877530': [364.0],
 '2868344919': [362.0],
 '2857517114': [362.0],
 '2887763883': [362.0],
 '2782661720': [360.0],
 '2921798143': [362.0],
 '2460203333': [362.0],
 '2907709674': [361.0],
 '2916599342': [362.0],
 '2813972183': [157.0],
 '2741327428': [148.0],
 '2872595007': [364.0],
 '3002140048': [360.0],
 '2995253891': [364.0],
 '3105793466': [361.0],
 '2837808438': [361.0],
 '3092282710': [361.0],
 '2143873048': [364.0],
 '2584456250': [362.0],
 '2876454548': [362.0],
 '2622392242': [362.0],
 '2848832567': [362.0],
 '3028331486': [362.0],
 '2501277879': [362.0],
 '2922105004': [360.0],
 '2606020384': [362.0],
 '2759321592': [178.0],
 '2754913150': [362.0],
 '3050334109': [360.0],
 '2635568827': [362.0],
 '2858302799': [362.0],
 '2767431579': [360.0],
 '3005498066': [360.0],
 '2907547328': [362.0],
 '2791129624': [362.0],
 '2889133042': [362.0],
 '2894541592': [360.0],
 '2938983220': [143.0],
 '2951406380': [360.0],
 '3018428656': [362.0],
 '2669905966': [360.0],
 '2921101355': [362.0],
 '2965881753': [362.0],
 '2728189124': [143.0],
 '2845859443': [362.0],
 '2869743965': [143.0],
 '2794727078': [362.0],
 '2302173784': [360.0],
 '3027817359': [360.0],
 '3028679422': [360.0],
 '3060392536': [360.0],
 '2935747941': [362.0],
 '2760520148': [362.0],
 '2914988538': [362.0],
 '2619698242': [362.0],
 '2897613028': [362.0],
 '2843201610': [362.0],
 '2907309269': [143.0],
 '2996516250': [360.0],
 '2939423630': [362.0],
 '2889320790': [360.0],
 '2642196382': [362.0],
 '2749855376': [360.0],
 '2843602068': [362.0],
 '3018255109': [362.0],
 '2057861403': [360.0],
 '2746278831': [362.0],
 '2441718775': [143.0],
 '2903347782': [364.0],
 '2992701608': [362.0],
 '2756014176': [178.0],
 '2619214598': [362.0],
 '2970812141': [148.0],
 '2532231382': [362.0],
 '2890632981': [360.0],
 '2811620366': [362.0],
 '2264196037': [364.0],
 '2720419477': [364.0],
 '2794138832': [360.0],
 '2856636254': [360.0],
 '2917676851': [362.0],
 '2324122010': [362.0],
 '2947808249': [362.0],
 '2659168223': [364.0],
 '2921269565': [362.0],
 '2671768167': [360.0],
 '3028447774': [360.0],
 '2688910719': [362.0],
 '2660153006': [362.0],
 '2922352363': [360.0],
 '2932402860': [362.0],
 '2752678374': [362.0],
 '2794372460': [362.0],
 '2864944448': [362.0],
 '2537562722': [364.0],
 '2909743972': [362.0],
 '2419367920': [362.0],
 '2727660207': [362.0],
 '2837286589': [360.0],
 '2868114401': [364.0],
 '2849385406': [362.0],
 '2603304386': [364.0],
 '2647795251': [364.0],
 '2911003905': [364.0],
 '2674509294': [362.0],
 '2779495048': [364.0],
 '2868456396': [362.0],
 '2132473342': [362.0],
 '2938959321': [360.0],
 '2843757671': [360.0],
 '2945282769': [362.0],
 '2735467932': [364.0],
 '2924399693': [360.0],
 '2683833308': [362.0],
 '2811776875': [364.0],
 '2951291301': [364.0],
 '3060611923': [362.0],
 '3032613745': [362.0],
 '3018361510': [360.0],
 '2929850369': [362.0],
 '2410798948': [364.0],
 '2895059030': [362.0],
 '2486969529': [362.0],
 '2474892006': [362.0],
 '2910329455': [362.0],
 '2434122091': [156.0],
 '3059988188': [364.0],
 '2996074289': [360.0],
 '2356082779': [362.0],
 '2947764403': [362.0],
 '2838143776': [361.0],
 '2827055181': [362.0],
 '2783324156': [362.0],
 '2630617337': [360.0],
 '2865641965': [362.0],
 '2331880370': [362.0],
 '2855003424': [364.0],
 '2665965454': [364.0],
 '2963073770': [362.0],
 '2324596078': [362.0],
 '2917675509': [362.0],
 '3060033025': [362.0],
 '2945843686': [361.0],
 '2995761865': [364.0],
 '2946073394': [362.0],
 '3060579911': [362.0],
 '2823451600': [364.0],
 '2630049047': [362.0],
 '2621476022': [362.0],
 '2489760127': [177.0],
 '2890470722': [362.0],
 '2861501747': [180.0],
 '2782956073': [361.0],
 '2859065062': [362.0],
 '2859243373': [362.0],
 '1528999708': [362.0],
 '2834475459': [362.0],
 '2868016258': [362.0],
 '2859497383': [362.0],
 '2996220440': [163.0],
 '2919130349': [362.0],
 '2859043129': [362.0],
 '2915734375': [362.0],
 '2868496832': [362.0],
 '2357803506': [362.0],
 '2360350337': [362.0],
 '2897815566': [360.0],
 '2506379592': [362.0],
 '2669174267': [362.0],
 '2415237446': [143.0],
 '2945130017': [362.0],
 '3036759635': [362.0],
 '2831732637': [360.0],
 '2858795811': [362.0],
 '2775190190': [362.0],
 '2921032614': [362.0],
 '2976222443': [362.0],
 '2737985681': [362.0],
 '2971205496': [362.0],
 '2685939767': [360.0],
 '2855932222': [362.0],
 '2971211135': [362.0],
 '1464675348': [364.0],
 '2591037667': [364.0],
 '2809745524': [362.0],
 '2787009803': [362.0],
 '2823615825': [180.0],
 '2980221225': [362.0],
 '2990159566': [362.0],
 '2125711637': [178.0],
 '2908290481': [362.0],
 '2758383103': [362.0],
 '2787433858': [362.0],
 '2959032016': [362.0],
 '2963751721': [362.0],
 '2962823960': [362.0],
 '3027633740': [362.0],
 '2854971008': [362.0],
 '2910111533': [362.0],
 '2906258290': [360.0],
 '2538138140': [361.0],
 '2941227569': [362.0],
 '2939758801': [362.0],
 '2794600715': [362.0],
 '2716988519': [362.0],
 '3092291078': [360.0],
 '2619428742': [362.0],
 '2548525560': [362.0],
 '2945366181': [362.0],
 '2779430964': [362.0],
 '2883696427': [360.0],
 '2925822069': [362.0],
 '2925939104': [362.0],
 '2971727198': [362.0],
 '3091991128': [364.0],
 '2900043222': [362.0],
 '3092352542': [362.0],
 '2806579786': [362.0],
 '2931995626': [362.0],
 '2840885936': [362.0],
 '3060298827': [362.0],
 '2546204111': [362.0],
 '2768677942': [362.0],
 '2906853352': [360.0],
 '2931602985': [362.0],
 '2539328664': [362.0],
 '3005570339': [178.0],
 '2907765810': [362.0],
 '2504276944': [362.0],
 '2934763681': [362.0],
 '2878870088': [360.0],
 '3002409804': [362.0],
 '2924730079': [362.0],
 '2835065019': [362.0],
 '2845829017': [360.0],
 '2442206272': [360.0],
 '2612433827': [362.0],
 '3056652874': [178.0],
 '2713779051': [362.0],
 '2674397770': [362.0],
 '2951083175': [361.0],
 '2919074152': [361.0],
 '2791746110': [360.0],
 '2859535722': [362.0],
 '2859592311': [362.0],
 '2859425420': [362.0],
 '2859602736': [362.0],
 '2859472073': [362.0],
 '2858845954': [362.0],
 '2858854334': [362.0],
 '2859529527': [362.0],
 '2859474000': [362.0],
 '2859465781': [362.0],
 '2859066093': [362.0],
 '2859743411': [362.0],
 '2859670037': [362.0],
 '2859717259': [362.0],
 '2859689089': [362.0],
 '2859077663': [362.0],
 '2859572471': [362.0],
 '2847053521': [362.0],
 '2815705808': [362.0],
 '2814928943': [362.0],
 '2783398436': [362.0],
 '2815386270': [362.0],
 '2815091293': [362.0],
 '2859560068': [362.0],
 '2859683793': [362.0],
 '2859591334': [362.0],
 '2859740151': [362.0],
 '2859727744': [362.0],
 '2859287086': [362.0],
 '2859105931': [362.0],
 '2859312714': [362.0],
 '2858828907': [362.0],
 '2859115452': [362.0],
 '2859021387': [362.0],
 '2859676188': [362.0],
 '2859111918': [362.0],
 '2858891334': [362.0],
 '2859406729': [362.0],
 '2859773938': [362.0],
 '2859010873': [362.0],
 '2859770674': [362.0],
 '2859292009': [362.0],
 '2859131234': [362.0],
 '2859369824': [362.0],
 '2859195927': [362.0],
 '2859526996': [362.0],
 '2858845566': [362.0],
 '2859530946': [362.0],
 '2859562026': [362.0],
 '2859491961': [362.0],
 '2859513684': [362.0],
 '2859310200': [362.0],
 '2859619260': [362.0],
 '2859371874': [362.0],
 '2859690805': [362.0],
 '2859245667': [362.0],
 '2859301633': [362.0],
 '2858953069': [362.0],
 '2859214997': [362.0],
 '2858799455': [362.0],
 '2858966654': [362.0],
 '2859447290': [362.0],
 '2859415723': [362.0],
 '2859051261': [362.0],
 '2859388198': [362.0],
 '2859049495': [362.0],
 '2859433805': [362.0],
 '2859118311': [362.0],
 '2635446208': [362.0],
 '2769142119': [364.0],
 '2934681288': [362.0],
 '2738297516': [362.0],
 '2667204627': [362.0],
 '2965952959': [359.0],
 '2616358282': [360.0],
 '2790805464': [362.0],
 '2918617311': [362.0],
 '2814267700': [362.0],
 '2976309816': [360.0],
 '2847006939': [362.0],
 '2862831921': [156.0],
 '2699148505': [364.0],
 '2682671830': [364.0],
 '2907150389': [360.0],
 '2790018441': [360.0],
 '2847071267': [360.0],
 '2782888088': [360.0],
 '2937523156': [360.0],
 '2935827743': [362.0],
 '2598737882': [362.0],
 '2679323364': [362.0],
 '3082575509': [362.0],
 '3042688316': [362.0],
 '2824740616': [362.0],
 '2691969430': [362.0],
 '2970776423': [362.0],
 '2391940564': [364.0],
 '2885138676': [360.0],
 '2926677931': [361.0],
 '2428112276': [364.0],
 '2727369421': [362.0],
 '3028433167': [362.0],
 '2920010296': [362.0],
 '2836230567': [362.0],
 '3014087323': [362.0],
 '3050376863': [360.0],
 '2758653625': [360.0],
 '2855289015': [362.0],
 '2387909253': [364.0],
 '2811546443': [362.0],
 '2759393204': [362.0],
 '2897006226': [360.0],
 '2979786803': [364.0],
 '2823453495': [362.0],
 '2932415977': [362.0],
 '1981978881': [360.0],
 '3032126112': [364.0],
 '2769425462': [364.0],
 '2747830589': [360.0],
 '3059907584': [188.0],
 '2938935331': [362.0],
 '2878004370': [364.0],
 '2356769533': [360.0],
 '2896205064': [360.0],
 '2383955085': [362.0],
 '2918898492': [157.0],
 '3092574399': [364.0],
 '2814894882': [360.0],
 '2958630195': [362.0],
 '2739305658': [361.0],
 '2762008531': [362.0],
 '2939683595': [362.0],
 '2948270058': [360.0],
 '2619063905': [362.0],
 '2651535420': [362.0],
 '2743459831': [362.0],
 '2735564850': [360.0],
 '2590137593': [143.0],
 '2945156922': [178.0],
 '2491484173': [360.0],
 '3059785218': [359.0],
 '2919420358': [362.0],
 '2884223354': [364.0],
 '2755682499': [362.0],
 '2904149547': [362.0],
 '2957183915': [360.0],
 '2431486023': [360.0],
 '2980144491': [361.0],
 '2584494082': [364.0],
 '2791848485': [362.0],
 '2889758069': [360.0],
 '2934388156': [361.0],
 '2957689006': [345.0],
 '3050483341': [362.0],
 '2719664300': [362.0],
 '2412660050': [360.0],
 '2870412897': [364.0],
 '2826078118': [362.0],
 '2843085353': [362.0],
 '2782337226': [360.0],
 '2996498281': [364.0],
 '3018402579': [362.0],
 '2756102681': [362.0],
 '3060447116': [362.0],
 '2735513722': [359.0],
 '2931729514': [362.0],
 '2963821571': [362.0],
 '2424828492': [364.0],
 '2643069267': [362.0],
 '2810398547': [362.0],
 '3002617581': [362.0],
 '2913109709': [178.0],
 '2739104360': [362.0],
 '2849690315': [362.0],
 '2782713576': [143.0],
 '2638305050': [364.0],
 '2888700037': [360.0],
 '2821443460': [362.0],
 '2783154039': [362.0],
 '2724667943': [364.0],
 '2680381784': [360.0],
 '2630064290': [143.0],
 '2784117039': [144.0],
 '2774021208': [362.0],
 '2855908329': [360.0],
 '2878499352': [364.0],
 '2843362707': [362.0],
 '2824134195': [364.0],
 '2692535407': [362.0],
 '2616032837': [362.0],
 '2331104177': [360.0],
 '2934475076': [362.0],
 '2938246353': [156.0],
 '2911529098': [364.0],
 '2830748176': [362.0],
 '2486800948': [362.0],
 '3049843293': [360.0],
 '3002490996': [362.0],
 '3020540774': [362.0],
 '2779169446': [143.0],
 '2349750236': [362.0],
 '2793706375': [362.0],
 '2495490661': [364.0],
 '2633222974': [364.0],
 '2734172278': [362.0],
 '2882582940': [362.0],
 '2946171715': [362.0],
 '2964259391': [364.0],
 '2927371210': [360.0],
 '2858607332': [362.0],
 '2703011034': [362.0],
 '2800857454': [364.0],
 '2763079773': [362.0],
 '2654658354': [362.0],
 '2457003810': [148.0],
 '2857189305': [364.0],
 '2619566601': [360.0],
 '2758525364': [143.0],
 '2842269846': [360.0],
 '2681921708': [362.0],
 '1885780263': [360.0],
 '2675655734': [360.0],
 '2240394328': [360.0],
 '2874971897': [364.0],
 '2900863466': [362.0],
 '2698786706': [360.0],
 '2608773652': [364.0],
 '2783566717': [143.0],
 '2651168730': [362.0],
 '2890223651': [362.0],
 '2799129989': [362.0],
 '2740847101': [360.0],
 '2882806619': [175.0],
 '2239283840': [364.0],
 '2897466619': [362.0],
 '2425060030': [364.0],
 '2738874031': [360.0],
 '3037178295': [364.0],
 '2919049504': [360.0],
 '2517559786': [364.0],
 '2939445276': [362.0],
 '2907733357': [364.0],
 '3028386183': [360.0],
 '2988024100': [364.0],
 '2819110525': [360.0],
 '2825152124': [359.0],
 '3005621431': [360.0],
 '2911257706': [362.0],
 '2762306687': [364.0],
 '2857014994': [362.0],
 '2488001612': [362.0],
 '2916261385': [362.0],
 '2399939583': [362.0],
 '3018178362': [362.0],
 '2906292317': [362.0],
 '2256148372': [362.0],
 '2809089403': [362.0],
 '3018086935': [362.0],
 '2970598153': [362.0],
 '2368588105': [362.0],
 '2641366881': [362.0],
 '2917588590': [362.0],
 '2907666888': [359.0],
 '2185929163': [362.0],
 '2646056487': [362.0],
 '2858749560': [364.0],
 '2775681004': [143.0],
 '2858616532': [157.0],
 '2783727553': [143.0],
 '2682432651': [360.0],
 '2125904171': [360.0],
 '2948253619': [362.0],
 '2836624698': [362.0],
 '2769798066': [362.0],
 '2764515240': [362.0],
 '2781691458': [362.0],
 '2542254791': [362.0],
 '2662031841': [364.0],
 '2260031398': [364.0],
 '2986406218': [360.0],
 '2387880524': [362.0],
 '2906874694': [362.0],
 '2245397507': [362.0],
 '2963305512': [362.0],
 '2874363412': [362.0],
 '2804772786': [362.0],
 '2764388957': [362.0],
 '2561066149': [362.0],
 '2859451844': [362.0],
 '2859756703': [362.0],
 '2859146836': [362.0],
 '2739759028': [362.0],
 '2858977822': [362.0],
 '2858841645': [362.0],
 '2859046939': [362.0],
 '2859359290': [362.0],
 '3027847515': [359.0],
 '2968557654': [362.0],
 '3122623910': [362.0],
 '2782123484': [362.0],
 '2901678862': [362.0],
 '2854912511': [359.0],
 '2939843969': [362.0],
 '3122180489': [360.0],
 '2963082641': [362.0],
 '3002100993': [362.0],
 '2910158006': [362.0],
 '3050639012': [362.0],
 '2638479963': [364.0],
 '2901154977': [362.0],
 '2894009915': [181.0],
 '2947990195': [362.0],
 '3092218359': [362.0],
 '2957791178': [362.0],
 '2919149810': [362.0],
 '3122465020': [360.0],
 '2948871302': [362.0],
 '2901685704': [362.0],
 '2766676401': [362.0],
 '3122686048': [163.0],
 '2907663625': [362.0],
 '3090068986': [360.0],
 '3122272685': [360.0],
 '2762894636': [362.0],
 '2711545263': [362.0],
 '2798554956': [362.0],
 '3090180460': [163.0],
 '2848688095': [359.0],
 '3002153678': [362.0],
 '3091854631': [365.0],
 '2891005019': [362.0],
 '3020682652': [362.0],
 '2681247902': [359.0],
 '2452407383': [362.0],
 '2875004443': [362.0],
 '2387891355': [362.0],
 '2713040563': [362.0],
 '3026614950': [362.0],
 '2926002189': [362.0],
 '2933828739': [362.0],
 '2707769003': [362.0],
 '2963491630': [362.0],
 '2894781974': [362.0],
 '2691216872': [359.0],
 '2957550831': [359.0],
 '3170094680': [359.0],
 '2503938553': [359.0],
 '2692564742': [359.0],
 '2764225695': [365.0],
 '2639497166': [359.0],
 '2373400133': [359.0],
 '2976636248': [359.0],
 '2824859754': [365.0],
 '2787989301': [359.0],
 '2678185690': [365.0],
 '2855666984': [359.0],
 '2400107753': [362.0],
 '2906812675': [362.0],
 '2517468892': [362.0],
 '2991899475': [359.0],
 '2895663190': [359.0],
 '2781256477': [359.0],
 '2620098951': [365.0],
 '2877863831': [157.0],
 '2479718901': [359.0],
 '2870278876': [359.0],
 '2814473742': [359.0],
 '2957617901': [362.0],
 '2558423690': [362.0],
 '1806539239': [359.0],
 '3000495201': [359.0],
 '2582884541': [362.0],
 '2887541123': [362.0],
 '2711782866': [181.0],
 '2782981024': [361.0],
 '3050007051': [359.0],
 '3060239936': [359.0],
 '2534814283': [359.0],
 '2957478328': [359.0],
 '2632116307': [362.0],
 '3050281664': [362.0],
 '2888699395': [360.0],
 '2534820564': [362.0],
 '2926326652': [362.0],
 '2417808502': [359.0],
 '3034180477': [359.0],
 '2933191802': [362.0],
 '2473139147': [359.0],
 '2971015940': [362.0],
 '2846885627': [359.0],
 '2677057488': [362.0],
 '2752718892': [364.0],
 '2933622917': [362.0],
 '2870302462': [362.0],
 '3020012157': [364.0],
 '2511943610': [359.0],
 '2889442145': [157.0],
 '3060314323': [364.0],
 '2422910218': [364.0],
 '2724607296': [166.0],
 '2819630973': [364.0],
 '2865360349': [148.0],
 '2926107618': [157.0],
 '2892764640': [364.0],
 '2495587704': [181.0],
 '2849043592': [364.0],
 '3017790027': [364.0],
 '2996338150': [364.0],
 '2819705604': [364.0],
 '2494518265': [166.0],
 '3060339437': [364.0],
 '2651608609': [364.0],
 '2634899090': [181.0],
 '2907638432': [364.0],
 '2686679024': [361.0],
 '2491220548': [364.0],
 '2879570353': [364.0],
 '2852191322': [157.0],
 '2918923999': [364.0],
 '2614455720': [364.0],
 '2888926324': [364.0],
 '2105518895': [364.0],
 '2641654058': [144.0],
 '2684016679': [364.0],
 '2675115889': [364.0],
 '2947891191': [359.0],
 '2945516059': [359.0],
 '2779070107': [364.0],
 '2915996157': [362.0],
 '3069142121': [157.0],
 '2656342380': [364.0],
 '2647181028': [364.0],
 '2986577637': [364.0],
 '916744696': [160.0],
 '2883643680': [364.0],
 '2729563304': [364.0],
 '2836756746': [364.0],
 '2721393177': [154.0],
 '2597702938': [364.0],
 '2937131581': [364.0],
 '2996112919': [364.0],
 '2846110782': [364.0],
 '2361243733': [364.0],
 '2857826457': [364.0],
 '3056416023': [364.0],
 '2843241098': [364.0],
 '2872659341': [364.0],
 '2874937756': [364.0],
 '2676668556': [364.0],
 '2678689283': [364.0],
 '2971231777': [364.0],
 '2717167553': [364.0],
 '2986716249': [364.0],
 '2774316099': [364.0],
 '2783611103': [364.0],
 '2889277196': [359.0],
 '2855355652': [364.0],
 '2761454331': [364.0],
 '2638485929': [364.0],
 '2813982086': [361.0],
 '2759793160': [364.0],
 '2770903777': [362.0],
 '2855037713': [364.0],
 '2894188424': [364.0],
 '1815147409': [364.0],
 '2868828243': [362.0],
 '2619260467': [362.0],
 '2372660947': [364.0],
 '2903410843': [364.0],
 '2623671429': [144.0],
 '2875645884': [364.0],
 '2944554232': [364.0],
 '2996563984': [364.0],
 '2990059127': [364.0],
 '2876760639': [364.0],
 '2938631307': [364.0],
 '3092016955': [364.0],
 '3037117230': [364.0],
 '2809562379': [364.0],
 '2938293864': [364.0],
 '2977480355': [364.0],
 '2759247376': [362.0],
 '2934253517': [364.0],

In [154]:
only_districts_t_3_2[only_districts_t_3_2.house_fias_id == '8e8296d8-f3e1-4478-961f-b50781bae779']

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
40,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364,12108,55535,225469
55,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,364,12108,55535,254872
482,8e8296d8-f3e1-4478-961f-b50781bae779,2630121031,364,12108,55535,255161
999,8e8296d8-f3e1-4478-961f-b50781bae779,2917641409,364,12108,55535,255455
1158,8e8296d8-f3e1-4478-961f-b50781bae779,1593684503,364,12108,55535,255558
1273,8e8296d8-f3e1-4478-961f-b50781bae779,2878840743,364,12108,55535,255623
1443,8e8296d8-f3e1-4478-961f-b50781bae779,2939572471,364,12108,55535,255739
14645,8e8296d8-f3e1-4478-961f-b50781bae779,2105518895,364,12108,55535,267988
21721,8e8296d8-f3e1-4478-961f-b50781bae779,2893828232,364,12108,55535,272355

In [ ]:
only_districts_new_3 = get_districts_from_house_new(df_dadata, sql_engine)

In [135]:
only_districts_t_3 = only_districts_new_3[0].drop_duplicates(subset=['house_fias_id', 'ad_id', 'district_id'], keep='last')

In [136]:
only_districts_t_3

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
28,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145,12417,59391,225246
33,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140,29095,57091,225255
37,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362,29764,56729,225463
38,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362,20587,55859,225468
39,dd8e2491-d700-446b-b326-db25e84e2699,286668339,153,29947,55859,225468
...,...,...,...,...,...,...
21818,d2c07781-3fc3-4c95-b639-e1791a2a9b20,286774591,360,62716,55796,272748
21821,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,168,26187,57531,272786
21824,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155,30902,58483,272800
21826,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151,14590,58250,272849
21828,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140,82716,57092,272886

In [143]:
only_districts_t_3[only_districts_t_3.duplicated(subset=['ad_id'])]

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
39,dd8e2491-d700-446b-b326-db25e84e2699,286668339,153,29947,55859,225468
42,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,165,32339,55535,225469
47,db4fca76-1985-4f4d-b3df-d70797583673,286671319,153,29770,55786,225474
57,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,165,32339,55535,254872
66,835f082f-7119-4448-8462-568b58641918,2737217495,165,31173,57418,254882
...,...,...,...,...,...,...
21723,8e8296d8-f3e1-4478-961f-b50781bae779,2893828232,165,32339,55535,272355
21747,a983c5f8-d1ec-488a-8e16-be1857ba2232,2939197136,157,32383,58512,272374
21754,a67cf00d-90aa-43bd-927c-526eb024298e,2901604913,165,34514,57267,272377
21757,a67cf00d-90aa-43bd-927c-526eb024298e,2711837453,165,34514,57267,272379
21774,835f082f-7119-4448-8462-568b58641918,2766218965,165,31173,57418,272393

In [157]:
1207  - 9708

-8501

In [144]:
only_districts_t_3[only_districts_t_3.house_fias_id=='dd8e2491-d700-446b-b326-db25e84e2699']

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
38,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362,20587,55859,225468
39,dd8e2491-d700-446b-b326-db25e84e2699,286668339,153,29947,55859,225468
5848,dd8e2491-d700-446b-b326-db25e84e2699,3036759635,362,20587,55859,258696
5849,dd8e2491-d700-446b-b326-db25e84e2699,3036759635,153,29947,55859,258696
5863,dd8e2491-d700-446b-b326-db25e84e2699,2775190190,362,20587,55859,258712
5864,dd8e2491-d700-446b-b326-db25e84e2699,2775190190,153,29947,55859,258712
16859,dd8e2491-d700-446b-b326-db25e84e2699,2753352174,362,20587,55859,269400
16860,dd8e2491-d700-446b-b326-db25e84e2699,2753352174,153,29947,55859,269400

In [139]:
only_districts_t_3_fin = only_districts_t_3.sort_values('district_id', ascending=False).drop_duplicates('ad_id').sort_index()

In [140]:
only_districts_t_3_fin

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
28,0d16ac08-b574-4d23-8a84-cd2f4743dbfe,286609058,145,12417,59391,225246
33,f497ab65-93b8-4603-b015-3100e8c4440d,286576712,140,29095,57091,225255
37,bd65f050-d1d6-4007-a6b1-f55974c7d990,286665597,362,29764,56729,225463
38,dd8e2491-d700-446b-b326-db25e84e2699,286668339,362,20587,55859,225468
40,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364,12108,55535,225469
...,...,...,...,...,...,...
21818,d2c07781-3fc3-4c95-b639-e1791a2a9b20,286774591,360,62716,55796,272748
21821,91cbe4fe-cb96-4cb7-a163-a6f76154492d,286732683,168,26187,57531,272786
21824,e1cfb759-79ba-4b13-9b92-bb9e0b304b66,285715297,155,30902,58483,272800
21826,2e66fbf7-4bc5-4834-807e-4d28b8addbe0,286738612,151,14590,58250,272849
21828,d95d39ea-0e07-408d-88f8-da2bf421aa7e,286787304,140,82716,57092,272886

In [147]:
only_districts_t_3_fin[only_districts_t_3_fin.house_fias_id=='8e8296d8-f3e1-4478-961f-b50781bae779']

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
40,8e8296d8-f3e1-4478-961f-b50781bae779,286666050,364,12108,55535,225469
55,8e8296d8-f3e1-4478-961f-b50781bae779,2878344292,364,12108,55535,254872
482,8e8296d8-f3e1-4478-961f-b50781bae779,2630121031,364,12108,55535,255161
999,8e8296d8-f3e1-4478-961f-b50781bae779,2917641409,364,12108,55535,255455
1158,8e8296d8-f3e1-4478-961f-b50781bae779,1593684503,364,12108,55535,255558
1273,8e8296d8-f3e1-4478-961f-b50781bae779,2878840743,364,12108,55535,255623
1443,8e8296d8-f3e1-4478-961f-b50781bae779,2939572471,364,12108,55535,255739
14645,8e8296d8-f3e1-4478-961f-b50781bae779,2105518895,364,12108,55535,267988
21721,8e8296d8-f3e1-4478-961f-b50781bae779,2893828232,364,12108,55535,272355

In [145]:
only_districts_t_3_fin[only_districts_t_3_fin.district_id.isna()]

Empty DataFrame
Columns: [house_fias_id, ad_id, district_id, house_id, jkh_id, dadata_houses_id]
Index: []

In [138]:
only_districts_t_3[only_districts_t_3.house_fias_id == '163abf87-030e-4aa2-ba28-a9881a95a4bc']

,house_fias_id,ad_id,district_id,house_id,jkh_id,dadata_houses_id
11098,163abf87-030e-4aa2-ba28-a9881a95a4bc,2804890158,147,62780,59954,265474

In [ ]:
only_districts_new_3[only_districts_new_3]

In [242]:
8501 - 13237

-4736

In [ ]:
only_districts_new[only_districts_new.ad_id]

In [312]:
def get_districts_from_house_new(df, engine):
    unique_fias = tuple(df.dropna(subset='house_fias_id').house_fias_id.unique())
#     get_districts_query = \
#         """select dh.house_fias_id, dh.ad_id, jh.district_id, h.id as house_id, jh.id as jkh_id, dh.id as dadata_houses_id
#             from dadata_houses dh 
#             left join jkh_houses jh on jh.house_fias_id = dh.house_fias_id 
#             left join houses h on h.jkh_id = jh.id
#             where h.jkh_id != 0
#             and jh.district_id is not null
#             and dh.ad_id is not null
#             and dh.house_fias_id in {}""".format(unique_fias)
    get_districts_query = \
    """select dh.house_fias_id, dh.ad_id, jh.district_id, h.id as house_id, jh.id as jkh_id, dh.id as dadata_houses_id
            from dadata_houses dh 
            left join jkh_houses jh 
            on (jh.house_fias_id = dh.house_fias_id and dh.ad_id is not null)
            left join houses h 
            on h.jkh_id = jh.id
            where h.jkh_id != 0
            -- and jh.district_id is not null
            and dh.house_fias_id in {}""".format(unique_fias)
    get_districts_query_2 = \
    """select dh.house_fias_id, dh.ad_id, jh.district_id, h.id as house_id, jh.id as jkh_id, dh.id as dadata_houses_id
            from dadata_houses dh 
            join jkh_houses jh 
            on (jh.house_fias_id = dh.house_fias_id and dh.ad_id is not null)
            join houses h 
            on (h.jkh_id = jh.id and jh.id is not null and h.jkh_id != 0 and h.jkh_id is not null)
            where h.jkh_id != 0
            and dh.house_fias_id in {}""".format(unique_fias)
    get_districts_query_3 = \
    """select dh.house_fias_id, dh.ad_id, jh.district_id, h.id as house_id, jh.id as jkh_id, dh.id as dadata_houses_id
            from dadata_houses dh 
            join jkh_houses jh 
            on (jh.house_fias_id = dh.house_fias_id and dh.ad_id is not null)
            left outer join houses h 
            on (h.jkh_id = jh.id and jh.id is not null and h.jkh_id != 0 and h.jkh_id is not null)
            where dh.house_fias_id in {}""".format(unique_fias)
#     try:
#         con_obj = engine.connect()
#         con_obj.close()
#     except:
#         try:
#             server, engine = get_sql_engine()
#             logging.info('подключение к базе восстановлено')
#         except Exception as exc:
#             logging.error('не удается подключиться к базе: {}'.format(traceback.format_exc()))
#             return None, exc
    try:
        time.sleep(3)
        con_obj = engine.connect()
        districts_db = pd.read_sql(text(get_districts_query_3), con=con_obj)
        con_obj.close()
        exc = None
    except Exception as exc:
        logging.error('get districts from house connection failed')
        logging.error(traceback.format_exc())
        districts_db = None
    return districts_db, exc

# апдейт

In [18]:
exist_ad_id = get_exist_ad_id(sql_engine, 'cian')[0].ad_id.to_list()

In [36]:
df_cian_realty_exist___ = df_cian_realty[df_cian_realty.ad_id.isin([])][list_realty_cols]

In [38]:
len(df_cian_realty_exist___)

0

In [120]:
df_cian_realty_new

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
1189,2,270328443,5.0,NaN,6,Краснодарский край; Анапа; Владимирская улица;...,95.0,20,20,https://anapa.cian.ru/sale/flat/270328443/,2023-03-27,None,274,NaN,1
3306,2,278996199,5.0,NaN,3,Краснодарский край; Анапа; Алексеевка мкр; ули...,35.0,6,7,https://anapa.cian.ru/sale/flat/278996199/,2023-03-27,None,274,Собственник,1
3433,2,279241124,5.0,NaN,2,Краснодарский край; Анапа; Таманская улица; 12...,26.0,5,6,https://anapa.cian.ru/sale/flat/279241124/,2023-03-27,None,274,Агентство недвижимости,1
3622,2,279601823,5.0,NaN,3,Краснодарский край; Анапа; улица Толстого; 26,35.5,2,7,https://anapa.cian.ru/sale/flat/279601823/,2023-03-27,None,274,Представитель застройщика,1
4159,2,280802412,5.0,NaN,3,Краснодарский край; Анапа; 18/3 ЖК,44.7,7,15,https://anapa.cian.ru/sale/flat/280802412/,2023-03-27,None,274,Застройщик,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103599,2,285370017,17.0,387.0,4,Томская область; Томск; р-н Кировский; д. Лоск...,57.1,2,4,https://tomsk.cian.ru/sale/flat/285370017/,2023-03-27,None,274,NaN,1
103600,2,285370096,17.0,405.0,4,Томская область; Томск; р-н Октябрьский; мкр. ...,53.0,8,10,https://tomsk.cian.ru/sale/flat/285370096/,2023-03-27,None,274,Агентство недвижимости,1
103601,2,285370463,17.0,417.0,4,Томская область; Томск; р-н Ленинский; мкр. Ра...,53.0,6,10,https://tomsk.cian.ru/sale/flat/285370463/,2023-03-27,None,274,Агентство недвижимости,1
103602,2,285373005,17.0,394.0,3,Томская область; Томск; р-н Ленинский; Черемош...,31.5,7,10,https://tomsk.cian.ru/sale/flat/285373005/,2023-03-27,None,274,Агентство недвижимости,1
103603,2,285373491,17.0,391.0,5,Томская область; Томск; р-н Октябрьский; улица...,56.0,2,5,https://tomsk.cian.ru/sale/flat/285373491/,2023-03-27,None,274,Риелтор,1

In [19]:
df_cian_realty_exist = df_cian_realty[df_cian_realty.ad_id.isin(exist_ad_id)][list_realty_cols]
df_cian_realty_new = df_cian_realty[~df_cian_realty.ad_id.isin(exist_ad_id)][list_realty_cols]

In [24]:
df_cian_realty_exist.head(3)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
0,2,210197059,5.0,NaN,5,Краснодарский край; Анапа; улица Горького; 2А,107.0,7,12,https://anapa.cian.ru/sale/flat/210197059/,2023-03-27,None,274,Собственник,1
1,2,213575526,5.0,NaN,5,Краснодарский край; Анапа; улица Краснозеленых...,106.0,6,7,https://anapa.cian.ru/sale/flat/213575526/,2023-03-27,None,274,Риелтор,1
2,2,232012292,5.0,NaN,2,Краснодарский край; Анапа; улица Ленина; 194,20.0,1,9,https://anapa.cian.ru/sale/flat/232012292/,2023-03-27,None,274,Риелтор,1

In [ ]:
# обновление данных
df_cian_realty_exist.to_sql(name='temp_realty', con=sql_engine, if_exists='append', chunksize=7000, method='multi', index=False)

con_obj = sql_engine.connect()
common_ids = tuple(df_cian_realty_exist.ad_id)
update_table_query = f"""update realty join temp_realty on realty.ad_id=temp_realty.ad_id
                        set realty.source_id = temp_realty.source_id,
                            realty.city_id = temp_realty.city_id,
                            realty.district_id = temp_realty.district_id,
                            realty.type_id = temp_realty.type_id,
                            realty.addr = temp_realty.addr,
                            realty.square = temp_realty.square,
                            realty.floor = temp_realty.floor,
                            realty.house_floors = temp_realty.house_floors,
                            realty.link = temp_realty.link,
                            realty.date = temp_realty.date,
                            realty.status = temp_realty.status,
                            realty.version = temp_realty.version,
                            realty.offer_from = temp_realty.offer_from,
                            realty.status_new = temp_realty.status_new,
                            realty.house_id = temp_realty.house_id
                         WHERE realty.ad_id in {common_ids}"""
con_obj.execute(text(update_table_query))
con_obj.commit()
con_obj.close()

In [ ]:
# очистка данных из temp_realty
con_obj = sql_engine.connect()
con_obj.execute(text(clear_temp_table_query))
con_obj.commit()
con_obj.close()

In [ ]:
# добавление данных 
df_cian_realty_new.to_sql(name='realty', con=sql_engine, if_exists='append', chunksize=7000, method='multi', index=False)