In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import sys
sys.path.insert(1, 'C:/Users/pnknv/Documents/GitHub/yadisk_loader')
from main_utils import *

In [3]:
ssh_host, ssh_port, ssh_username, ssh_password, \
database_username, database_password, database_name, \
localhost, localhost_port, table_name, ya_token, ya_api, ya_link = get_config()

In [4]:
sql_server, sql_engine = get_sql_engine()

In [5]:
city_df, source_df, exc_code = get_tables_info(sql_engine)

In [6]:
city_df

    id              name           url_avito  population
0    1       Владивосток         vladivostok           0
1    2         Краснодар           krasnodar           0
2    3              Сочи               sochi           0
3    4      Новороссийск        novorossiysk           0
4    5             Анапа               anapa           0
5    6           Армавир             armavir           0
6    7         Челябинск         chelyabinsk           0
7    8      Магнитогорск        magnitogorsk           0
8    9             Миасс               miass           0
9   10           Копейск             kopeysk           0
10  11          Златоуст            zlatoust           0
11  12            Казань               kazan           0
12  13  Набережные Челны  naberezhnye_chelny           0
13  14        Нижнекамск         nizhnekamsk           0
14  15       Альметьевск           almetevsk           0
15  16      Зеленодольск         zelenodolsk           0
16  17             Томск               tomsk           0
17  18       Новосибирск         novosibirsk           0
18  19           Саратов             saratov           0
19  20       Калининград         kaliningrad           0
20  21          Тольятти            tolyatti           0
21  22            Самара              samara           0
22  23        Красноярск         krasnoyarsk           0
23  56         fake city                None           0

# list files

In [7]:
files = os.listdir('saved_shit/')

In [8]:
files_avito = [i for i in files if 'циан' not in i]
files_cian = [i for i in files if 'циан' in i]

In [9]:
test_cian = pd.read_csv('saved_shit/' + files_cian[0], delimiter=',')

In [16]:
test_cian['city'] = test_cian['Адрес'].apply(lambda x: x.split(';')[1])

In [45]:
test_avito = pd.read_csv('saved_shit/' + files_avito[0], delimiter=';')

In [46]:
test_avito['city'] = test_avito['Ссылка'].apply(lambda x: x.split('/')[3])

In [41]:
def count_unique_addr(df, cities):
    cities = cities[1:]
    val = []
    for city in cities:
        val.append(len(df[df.city == city]['Адрес'].unique()))
    return val

# avito

In [42]:
city_list = test_avito.city.unique().tolist()
city_list.insert(0, 'date')
df_avito = pd.DataFrame(columns=city_list)
for file in files_avito:
    test_avito = pd.read_csv('saved_shit/' + file, delimiter=';')
    test_avito['Адрес'] = test_avito.apply(lambda row: avito_addr_from_row(row, city_df), axis=1)
    test_avito['city'] = test_avito['Ссылка'].apply(lambda x: x.split('/')[3])
    date = file[:8]
    counts = count_unique_addr(test_avito, city_list)
    counts.insert(0, date)
    df_avito.loc[len(df_avito)] = counts

In [43]:
df_avito

,date,tomsk,armavir,chelyabinsk,novorossiysk,kazan,krasnodar,novosibirsk,krasnoyarsk,sochi
0,08-09-23,1297,317,2477,1046,3694,6659,5129,2681,5626
1,09-09-23,1190,314,2560,1022,3650,6745,5050,2812,5681
2,10-09-23,1260,308,2511,990,3646,6494,4997,2689,5722
3,11-09-23,1329,323,2586,1055,3627,6682,5150,2815,5728
4,12-09-23,1327,315,2493,1042,3650,6896,5172,2860,5731
5,13-09-23,1262,305,2442,1026,3659,6719,5226,2690,5606
6,14-09-23,1327,330,2535,1017,3707,6518,5121,2594,5454
7,15-09-23,1264,327,2478,982,3682,6702,5027,2679,4978
8,16-09-23,1261,313,2501,997,3620,6455,5098,2701,5724
9,17-09-23,1217,333,2512,1013,3586,6548,5067,2678,5746
10,18-09-23,1417,329,2747,1035,3676,6653,5304,3062,6468

In [55]:
df_avito.to_excel('avito_stats.xlsx')

# cian

In [53]:
city_list = test_cian.city.unique().tolist()
city_list = [i for i in city_list if i in city_df.name.to_list()]
city_list.insert(0, 'date')
df_cian = pd.DataFrame(columns=city_list)
for file in files_cian:
    test_cian = pd.read_csv('saved_shit/' + file, delimiter=',')
    test_cian['city'] = test_cian['Адрес'].apply(lambda x: x.split(';')[1])
    date = file[5:13]
    counts = count_unique_addr(test_cian, city_list)
    counts.insert(0, date)
    df_cian.loc[len(df_cian)] = counts

In [54]:
df_cian

,date,Сочи,Новороссийск,Краснодар,Новосибирск,Казань,Саратов,Калининград,Челябинск,Томск,Анапа,Армавир,Копейск,Красноярск
0,08-09-23,3628,894,4287,7887,3697,1663,2013,1978,1526,932,119,0,2152
1,09-09-23,3652,893,4269,7990,3749,1665,2013,1944,1530,957,118,0,2136
2,10-09-23,3414,891,4263,7946,3737,1640,2012,1949,1534,962,118,0,2132
3,11-09-23,3600,873,4252,7489,3702,1640,2005,1944,1508,957,120,2,2154
4,12-09-23,3551,903,4256,7860,3762,1662,2024,1927,1510,955,119,0,2159
5,13-09-23,3610,898,4260,7846,3733,1631,2024,1919,1484,939,119,0,2179
6,14-09-23,3387,904,4279,7880,3066,1643,2021,1891,1502,948,116,0,2163
7,15-09-23,3470,907,4269,7825,3695,1522,2025,1848,1470,942,116,0,2159
8,16-09-23,3613,909,4274,7900,3698,1646,2028,1870,1510,962,123,0,2175
9,17-09-23,3657,907,4284,7820,3670,1649,2024,1853,1505,961,118,0,2156
10,18-09-23,3600,889,4287,7766,3666,1629,2007,1878,1500,955,118,1,2080

In [56]:
df_cian.to_excel('cian_stats.xlsx')

In [7]:
cian['ad_id'] = cian['Ссылка'].apply(lambda x: x.split('/')[-2])

In [8]:
cian['ad_id'] = cian['ad_id'].astype('int64')

In [15]:
def get_exist_ad_id(engine, source):
    source_id = 2 if source == 'cian' else 3
    ad_id_query = f'SELECT ad_id FROM realty where source_id = {source_id}'
    try:
        con_obj = engine.connect()
        ad_id_db = pd.read_sql(text(ad_id_query), con=con_obj)
        con_obj.close()
        exc_code = None
    except Exception as exc:
        logging.error(traceback.format_exc())
        ad_id_db = None
        exc_code = exc.code
    return ad_id_db, exc_code

In [16]:
ads_prod, exc_code = get_exist_ad_id(sql_engine, 'cian')

In [17]:
len(cian[~cian.ad_id.isin(ads_prod.ad_id.to_list())])

20

# money

In [57]:
files = os.listdir('saved_shit/')

In [58]:
files_avito = [i for i in files if 'циан' not in i]
files_cian = [i for i in files if 'циан' in i]

In [59]:
test_cian = pd.read_csv('saved_shit/' + files_cian[0], delimiter=',')

In [60]:
test_cian['ad_id'] = test_cian['Ссылка'].apply(lambda x: x.split('/')[-2])
test_cian['ad_id'] = test_cian['ad_id'].astype('int64')

In [61]:
test_cian

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Адрес,Дата публикации,Тип продавца,Продавец,ad_id
0,https://krasnodar.cian.ru/sale/flat/286046952/,"2-комн. кв., 70 м², 5/12 этаж",2-комн. кв.,70 м²,5/12 этаж,5700000,81429,ЖК «Парус»,Краснодарский край;Краснодар;Прикубанский;мкр....,"вчера (вчера, 12:55)",Агентство недвижимости,ЧФК-Недвижимость,286046952
1,https://krasnodar.cian.ru/sale/flat/286032732/,"2-комн. кв., 51,5 м², 2/10 этаж",2-комн. кв.,"51,5 м²",2/10 этаж,5700000,110680,NaN,Краснодарский край;Краснодар;Прикубанский;мкр....,"пять дней назад (25 апр, 18:22)",Агентство недвижимости,ЭТАЖИ-КУБАНЬ,286032732
2,https://krasnodar.cian.ru/sale/flat/286032730/,"1-комн. кв., 40 м², 7/22 этаж",1-комн. кв.,40 м²,7/22 этаж,5700000,142500,NaN,Краснодарский край;Краснодар;Прикубанский;улиц...,"пять дней назад (25 апр, 18:22)",Агентство недвижимости,ЭТАЖИ-КУБАНЬ,286032730
3,https://krasnodar.cian.ru/sale/flat/286029930/,"1-комн. кв., 47,8 м², 14/20 этаж",1-комн. кв.,"47,8 м²",14/20 этаж,5700000,119247,ЖК «Грани»,Краснодарский край;Краснодар;Прикубанский;улиц...,"2 недели назад (11 апр, 13:58)",Риелтор,ID 55338816,286029930
4,https://krasnodar.cian.ru/sale/flat/286020566/,"3-комн. кв., 66 м², 7/9 этаж",3-комн. кв.,66 м²,7/9 этаж,5700000,86364,ЖК «Sport Village»,Краснодарский край;Краснодар;Прикубанский;мкр....,"неделю назад (20 апр, 13:23)",Агентство недвижимости,Девелопмент-Юг,286020566
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117291,https://sochi.cian.ru/sale/flat/277480315/,"3-комн. кв., 60 м², 2/11 этаж",3-комн. кв.,60 м²,2/11 этаж,13000000,216667,NaN,Краснодарский край;Сочи;р-н Центральный;мкр. Д...,"четыре дня назад (27 апр, 09:18)",Собственник,ID 94977241,277480315
117292,https://sochi.cian.ru/sale/flat/277459856/,"3-комн. кв., 101 м², 11/17 этаж",3-комн. кв.,101 м²,11/17 этаж,12300000,121782,NaN,Краснодарский край;Сочи;р-н Центральный;мкр. Ц...,"2 недели назад (13 апр, 13:54)",Агентство недвижимости,Черноморский проспект,277459856
117293,https://sochi.cian.ru/sale/flat/277438444/,"Апартаменты-студия, 25 м², 4/5 этаж",Апартаменты-студия,25 м²,4/5 этаж,12500000,500000,NaN,Краснодарский край;Сочи;р-н Центральный;мкр. Ц...,"2 недели назад (17 апр, 17:58)",Риелтор,Виктор Захаров,277438444
117294,https://sochi.cian.ru/sale/flat/277347516/,"Студия, 12 м², 4/4 этаж",Студия,12 м²,4/4 этаж,13000000,1083333,NaN,Краснодарский край;Сочи;р-н Центральный;мкр. Н...,"полгода назад (19 сен, 23:58)",Собственник,ID 93157894,277347516
117295,https://sochi.cian.ru/sale/flat/277334666/,"3-комн. кв., 93 м², 6/20 этаж",3-комн. кв.,93 м²,6/20 этаж,12900000,138710,NaN,Краснодарский край;Сочи;р-н Центральный;мкр. М...,"2 недели назад (11 апр, 19:04)",Агентство недвижимости,ID 53767050,277334666

In [62]:
test_avito = pd.read_csv('saved_shit/' + files_avito[0], delimiter=';')

In [63]:
test_avito['ad_id'] = test_avito['Ссылка'].apply(lambda x: x.split('_')[-1])
test_avito['ad_id'] = test_avito['ad_id'].astype('int64')

In [64]:
test_avito

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Район,Улица,Дата публикации,Тип продавца,Продавец,Ссылка на продавца,Завершённых объявлений,ad_id
0,https://www.avito.ru/tomsk/kvartiry/apartament...,"Апартаменты-студия, 29 м², 5/5 эт.",Апартаменты-студия,29 м²,5/5 эт.,1975000,68103,NaN,р-н Ленинский,"микрорайон Черемошники, Кузнецкий пер., 5",12 часов назад,Частное лицо,NaN,NaN,NaN,3169985711
1,https://www.avito.ru/tomsk/kvartiry/1-k._kvart...,"1-к. квартира, 34,9 м², 4/6 эт.",1-к. квартира,"34,9 м²",4/6 эт.,3700000,106017,NaN,р-н Кировский,"ул. Матросова, 6",6 дней назад,Частное лицо,NaN,NaN,NaN,2739762184
2,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 36 м², 1/2 эт.",2-к. квартира,36 м²,1/2 эт.,2600000,72222,NaN,р-н Октябрьский,"ул. Мичурина, 99Ас4",22 часа назад,Агентство,ОФИС ПРОДАЖ «ЗАСТРОЙЩИКА»,https://www.avito.ru/user/c245de34b6855769043d...,388,2861453708
3,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 37 м², 3/5 эт.",2-к. квартира,37 м²,3/5 эт.,3350000,90541,NaN,р-н Ленинский,"ул. Говорова, 18",4 часа назад,Частное лицо,NaN,NaN,NaN,2859068275
4,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 44,8 м², 3/5 эт.",2-к. квартира,"44,8 м²",3/5 эт.,5400000,120536,NaN,р-н Кировский,"ул. Гоголя, 61",2 часа назад,Частное лицо,NaN,NaN,NaN,2920724735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200832,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 7/24 эт.",2-к. квартира,"64,2 м²",7/24 эт.,11877000.0,185000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2919396604
200833,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 8/24 эт.",2-к. квартира,"64,2 м²",8/24 эт.,11877000.0,185000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2918873627
200834,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 6/24 эт.",2-к. квартира,"64,2 м²",6/24 эт.,11877000.0,185000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2918970728
200835,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 5/24 эт.",2-к. квартира,"64,2 м²",5/24 эт.,11556000.0,180000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2919298481
200836,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 3/24 эт.",2-к. квартира,"64,2 м²",3/24 эт.,11556000.0,180000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2918860133

In [65]:
files_avito = sorted(files_avito, key=lambda x: datetime.strptime(x[:8], '%d-%m-%y'))
files_cian = sorted(files_cian, key=lambda x: datetime.strptime(x[5:13], '%d-%m-%y'))

In [66]:
files_avito

['25-04-23 (без дублей).csv',
 '26-04-23 (без дублей).csv',
 '27-04-23 (без дублей).csv',
 '28-04-23 (без дублей).csv',
 '29-04-23 (без дублей).csv',
 '30-04-23 (без дублей).csv',
 '01-05-23 (без дублей).csv',
 '02-05-23 (без дублей).csv',
 '03-05-23 (без дублей).csv',
 '04-05-23 (без дублей).csv',
 '05-05-23 (без дублей).csv',
 '06-05-23 (без дублей).csv',
 '07-05-23 (без дублей).csv',
 '08-05-23 (без дублей).csv',
 '09-05-23 (без дублей).csv',
 '10-05-23 (без дублей).csv',
 '11-05-23 (без дублей).csv',
 '12-05-23 (без дублей).csv',
 '13-05-23 (без дублей).csv',
 '14-05-23 (без дублей).csv',
 '15-05-23 (без дублей).csv',
 '16-05-23 (без дублей).csv',
 '17-05-23 (без дублей).csv',
 '18-05-23 (без дублей).csv']

In [67]:
files_cian

['циан 25-04-23 (без дублей).csv',
 'циан 26-04-23 (без дублей).csv',
 'циан 27-04-23 (без дублей).csv',
 'циан 28-04-23 (без дублей).csv',
 'циан 29-04-23 (без дублей).csv',
 'циан 30-04-23 (без дублей).csv',
 'циан 01-05-23 (без дублей).csv',
 'циан 02-05-23 (без дублей).csv',
 'циан 03-05-23 (без дублей).csv',
 'циан 04-05-23 (без дублей).csv',
 'циан 05-05-23 (без дублей).csv',
 'циан 06-05-23 (без дублей).csv',
 'циан 07-05-23 (без дублей).csv',
 'циан 08-05-23 (без дублей).csv',
 'циан 09-05-23 (без дублей).csv',
 'циан 10-05-23 (без дублей).csv',
 'циан 11-05-23 (без дублей).csv',
 'циан 12-05-23 (без дублей).csv',
 'циан 13-05-23 (без дублей).csv',
 'циан 14-05-23 (без дублей).csv',
 'циан 15-05-23 (без дублей).csv',
 'циан 16-05-23 (без дублей).csv',
 'циан 17-05-23 (без дублей).csv',
 'циан 18-05-23 (без дублей).csv',
 'циан 19-05-23 (без дублей).csv']

In [68]:
len(files_avito)

24

In [69]:
len(files_cian)

25

In [70]:
def avito_addr_from_row(row, city_df):
    # добавление города для совпадения форматов
    try:
        addr = city_df[city_df.url_avito == row['city']]['name'].values[0]
        addr += '; '
    except:
        addr = ''
    # добавляем район, в авито он может быть None
    try:
        if len(row['Район']) == 0:
            pass
        else:
            addr += row['Район']
            addr += '; '
    except:
        pass
    # добавляем улицу, дом, пр. в авито он может быть None
    try:
        for value in row['Улица'].split(', '):
            addr += value
            addr += '; '
    except:
        pass
    # drop duplicates
    addr = addr[:-2]
    if len(addr.split('; ')) != len(set(addr.split('; '))):
        addr = '; '.join(list(dict.fromkeys(addr.split('; '))))
    return addr

In [71]:
city_df, source_df, exc_code = get_tables_info(sql_engine)

In [72]:
city_df

    id              name           url_avito  population
0    1       Владивосток         vladivostok           0
1    2         Краснодар           krasnodar           0
2    3              Сочи               sochi           0
3    4      Новороссийск        novorossiysk           0
4    5             Анапа               anapa           0
5    6           Армавир             armavir           0
6    7         Челябинск         chelyabinsk           0
7    8      Магнитогорск        magnitogorsk           0
8    9             Миасс               miass           0
9   10           Копейск             kopeysk           0
10  11          Златоуст            zlatoust           0
11  12            Казань               kazan           0
12  13  Набережные Челны  naberezhnye_chelny           0
13  14        Нижнекамск         nizhnekamsk           0
14  15       Альметьевск           almetevsk           0
15  16      Зеленодольск         zelenodolsk           0
16  17             Томск               tomsk           0
17  18       Новосибирск         novosibirsk           0
18  19           Саратов             saratov           0
19  20       Калининград         kaliningrad           0
20  21          Тольятти            tolyatti           0
21  22            Самара              samara           0

In [73]:
test_avito['city'] = test_avito['Ссылка'].apply(lambda x: x.split('/')[3])

In [74]:
test_avito['addr'] = test_avito.apply(lambda row: avito_addr_from_row(row, city_df), axis=1)

In [75]:
test_avito

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Район,Улица,Дата публикации,Тип продавца,Продавец,Ссылка на продавца,Завершённых объявлений,ad_id,city,addr
0,https://www.avito.ru/tomsk/kvartiry/apartament...,"Апартаменты-студия, 29 м², 5/5 эт.",Апартаменты-студия,29 м²,5/5 эт.,1975000,68103,NaN,р-н Ленинский,"микрорайон Черемошники, Кузнецкий пер., 5",12 часов назад,Частное лицо,NaN,NaN,NaN,3169985711,tomsk,Томск; р-н Ленинский; микрорайон Черемошники; ...
1,https://www.avito.ru/tomsk/kvartiry/1-k._kvart...,"1-к. квартира, 34,9 м², 4/6 эт.",1-к. квартира,"34,9 м²",4/6 эт.,3700000,106017,NaN,р-н Кировский,"ул. Матросова, 6",6 дней назад,Частное лицо,NaN,NaN,NaN,2739762184,tomsk,Томск; р-н Кировский; ул. Матросова; 6
2,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 36 м², 1/2 эт.",2-к. квартира,36 м²,1/2 эт.,2600000,72222,NaN,р-н Октябрьский,"ул. Мичурина, 99Ас4",22 часа назад,Агентство,ОФИС ПРОДАЖ «ЗАСТРОЙЩИКА»,https://www.avito.ru/user/c245de34b6855769043d...,388,2861453708,tomsk,Томск; р-н Октябрьский; ул. Мичурина; 99Ас4
3,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 37 м², 3/5 эт.",2-к. квартира,37 м²,3/5 эт.,3350000,90541,NaN,р-н Ленинский,"ул. Говорова, 18",4 часа назад,Частное лицо,NaN,NaN,NaN,2859068275,tomsk,Томск; р-н Ленинский; ул. Говорова; 18
4,https://www.avito.ru/tomsk/kvartiry/2-k._kvart...,"2-к. квартира, 44,8 м², 3/5 эт.",2-к. квартира,"44,8 м²",3/5 эт.,5400000,120536,NaN,р-н Кировский,"ул. Гоголя, 61",2 часа назад,Частное лицо,NaN,NaN,NaN,2920724735,tomsk,Томск; р-н Кировский; ул. Гоголя; 61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200832,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 7/24 эт.",2-к. квартира,"64,2 м²",7/24 эт.,11877000.0,185000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2919396604,krasnodar,Краснодар; р-н Карасунский; ул. Новороссийская...
200833,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 8/24 эт.",2-к. квартира,"64,2 м²",8/24 эт.,11877000.0,185000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2918873627,krasnodar,Краснодар; р-н Карасунский; ул. Новороссийская...
200834,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 6/24 эт.",2-к. квартира,"64,2 м²",6/24 эт.,11877000.0,185000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2918970728,krasnodar,Краснодар; р-н Карасунский; ул. Новороссийская...
200835,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 5/24 эт.",2-к. квартира,"64,2 м²",5/24 эт.,11556000.0,180000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2919298481,krasnodar,Краснодар; р-н Карасунский; ул. Новороссийская...
200836,https://www.avito.ru/krasnodar/kvartiry/2-k._k...,"2-к. квартира, 64,2 м², 3/24 эт.",2-к. квартира,"64,2 м²",3/24 эт.,11556000.0,180000.0,"ЖК ""Рекорд"" 2 очередь",р-н Карасунский,"ул. Новороссийская, лит. 2",3 недели назад,Застройщик,"ЖК ""Рекорд"" 2 очередь",https://www.avito.ru/user/9baab164afea22c5cf7a...,NaN,2918860133,krasnodar,Краснодар; р-н Карасунский; ул. Новороссийская...

In [81]:
len(list(test_avito.addr.unique()))

33958

In [79]:
# avito
diff_list = []
for i in range(len(files_avito)):
    if i - 1 >=0:
        print('compare ' + files_avito[i], files_avito[i-1])
        test_avito_1 = pd.read_csv('saved_shit/' + files_avito[i], delimiter=';')
        test_avito_1['ad_id'] = test_avito_1['Ссылка'].apply(lambda x: x.split('_')[-1])
        test_avito_1['ad_id'] = test_avito_1['ad_id'].astype('int64')
        test_avito_1['city'] = test_avito['Ссылка'].apply(lambda x: x.split('/')[3])
        test_avito_1['addr'] = test_avito_1.apply(lambda row: avito_addr_from_row(row, city_df), axis=1)
        

        test_avito_pre = pd.read_csv('saved_shit/' + files_avito[i - 1], delimiter=';')
        test_avito_pre['ad_id'] = test_avito_pre['Ссылка'].apply(lambda x: x.split('_')[-1])
        test_avito_pre['ad_id'] = test_avito_pre['ad_id'].astype('int64')
        test_avito_pre['city'] = test_avito['Ссылка'].apply(lambda x: x.split('/')[3])
        test_avito_pre['addr'] = test_avito_1.apply(lambda row: avito_addr_from_row(row, city_df), axis=1)

        # рассчет по записям
        
        diff_ad_id = len(set(test_avito_1.ad_id.to_list()) - set(test_avito_pre.ad_id.to_list()))

        print(diff_ad_id, 'записей между 2 файлами; в рублях:                       ', diff_ad_id * 0.15)
        
        diff_all_ad_id = len(set(test_avito_1.ad_id.to_list()) - set(all_ad_id))
        print(diff_all_ad_id, 'записей между новым файлом и всеми остальными; в рублях: ', diff_all_ad_id * 0.15)
        all_ad_id.extend(test_avito_1.ad_id.to_list())
        
        # рассчет по адресам
        
        
        
        print()
    else: # first file
        test_avito_new = pd.read_csv('saved_shit/' + files_avito[i], delimiter=';')
        test_avito_new['ad_id'] = test_avito_new['Ссылка'].apply(lambda x: x.split('_')[-1])
        test_avito_new['ad_id'] = test_avito_new['ad_id'].astype('int64')
        
        all_ad_id = test_avito_new.ad_id.to_list()
        
        print('первый файл - все новые: ', len(set(test_avito_new.ad_id.to_list())))
        print()

первый файл - все новые:  172756

compare 26-04-23 (без дублей).csv 25-04-23 (без дублей).csv
18960 записей между 2 файлами; в рублях:                        2844.0
18960 записей между новым файлом и всеми остальными; в рублях:  2844.0

compare 27-04-23 (без дублей).csv 26-04-23 (без дублей).csv
12043 записей между 2 файлами; в рублях:                        1806.45
6829 записей между новым файлом и всеми остальными; в рублях:  1024.35

compare 28-04-23 (без дублей).csv 27-04-23 (без дублей).csv
25723 записей между 2 файлами; в рублях:                        3858.45
16228 записей между новым файлом и всеми остальными; в рублях:  2434.2

compare 29-04-23 (без дублей).csv 28-04-23 (без дублей).csv
19246 записей между 2 файлами; в рублях:                        2886.9
6237 записей между новым файлом и всеми остальными; в рублях:  935.55

compare 30-04-23 (без дублей).csv 29-04-23 (без дублей).csv
13862 записей между 2 файлами; в рублях:                        2079.2999999999997
2453 записей между новым файлом и всеми остальными; в рублях:  367.95

compare 01-05-23 (без дублей).csv 30-04-23 (без дублей).csv
17128 записей между 2 файлами; в рублях:                        2569.2
2397 записей между новым файлом и всеми остальными; в рублях:  359.55

compare 02-05-23 (без дублей).csv 01-05-23 (без дублей).csv
21430 записей между 2 файлами; в рублях:                        3214.5
3324 записей между новым файлом и всеми остальными; в рублях:  498.59999999999997

compare 03-05-23 (без дублей).csv 02-05-23 (без дублей).csv
19807 записей между 2 файлами; в рублях:                        2971.0499999999997
3982 записей между новым файлом и всеми остальными; в рублях:  597.3

compare 04-05-23 (без дублей).csv 03-05-23 (без дублей).csv
18613 записей между 2 файлами; в рублях:                        2791.95
3507 записей между новым файлом и всеми остальными; в рублях:  526.05

compare 05-05-23 (без дублей).csv 04-05-23 (без дублей).csv
22163 записей между 2 файлами; в рублях:                        3324.45
5314 записей между новым файлом и всеми остальными; в рублях:  797.1

compare 06-05-23 (без дублей).csv 05-05-23 (без дублей).csv
18727 записей между 2 файлами; в рублях:                        2809.0499999999997
2664 записей между новым файлом и всеми остальными; в рублях:  399.59999999999997

compare 07-05-23 (без дублей).csv 06-05-23 (без дублей).csv
12720 записей между 2 файлами; в рублях:                        1908.0
1995 записей между новым файлом и всеми остальными; в рублях:  299.25

compare 08-05-23 (без дублей).csv 07-05-23 (без дублей).csv
12548 записей между 2 файлами; в рублях:                        1882.1999999999998
1707 записей между новым файлом и всеми остальными; в рублях:  256.05

In [87]:
# cian
diff_list = []
for i in range(len(files_cian)):
    if i - 1 >=0:
        print('compare ' + files_cian[i], files_cian[i-1])
        test_cian_1 = pd.read_csv('saved_shit/' + files_cian[i], delimiter=',')
        test_cian_1['ad_id'] = test_cian_1['Ссылка'].apply(lambda x: x.split('/')[-2])
        test_cian_1['ad_id'] = test_cian_1['ad_id'].astype('int64')

        test_cian_pre = pd.read_csv('saved_shit/' + files_cian[i - 1], delimiter=',')
        test_cian_pre['ad_id'] = test_cian_pre['Ссылка'].apply(lambda x: x.split('/')[-2])
        test_cian_pre['ad_id'] = test_cian_pre['ad_id'].astype('int64')

        diff_ad_id = len(set(test_cian_1.ad_id.to_list()) - set(test_cian_pre.ad_id.to_list()))

        print(diff_ad_id, 'записей между 2 файлами; в рублях:                       ', diff_ad_id * 0.15)
        
        diff_all_ad_id = len(set(test_cian_1.ad_id.to_list()) - set(all_ad_id))
        print(diff_all_ad_id, 'записей между новым файлом и всеми остальными; в рублях: ', diff_all_ad_id * 0.15)
        all_ad_id.extend(test_cian_1.ad_id.to_list())
        print()
    else: # first file
        test_cian_new = pd.read_csv('saved_shit/' + files_cian[i], delimiter=',')
        test_cian_new['ad_id'] = test_cian_new['Ссылка'].apply(lambda x: x.split('/')[-2])
        test_cian_new['ad_id'] = test_cian_new['ad_id'].astype('int64')
        
        all_ad_id = test_cian_new.ad_id.to_list()
        
        print('первый файл - все новые: ', len(set(test_avito_new.ad_id.to_list())))
        print()

первый файл - все новые:  172756

compare циан 26-04-23 (без дублей).csv циан 25-04-23 (без дублей).csv
5751 записей между 2 файлами; в рублях:                        862.65
5751 записей между новым файлом и всеми остальными; в рублях:  862.65

compare циан 27-04-23 (без дублей).csv циан 26-04-23 (без дублей).csv
32326 записей между 2 файлами; в рублях:                        4848.9
9316 записей между новым файлом и всеми остальными; в рублях:  1397.3999999999999

compare циан 28-04-23 (без дублей).csv циан 27-04-23 (без дублей).csv
9441 записей между 2 файлами; в рублях:                        1416.1499999999999
4697 записей между новым файлом и всеми остальными; в рублях:  704.55

compare циан 29-04-23 (без дублей).csv циан 28-04-23 (без дублей).csv
10451 записей между 2 файлами; в рублях:                        1567.6499999999999
2538 записей между новым файлом и всеми остальными; в рублях:  380.7

compare циан 30-04-23 (без дублей).csv циан 29-04-23 (без дублей).csv
8297 записей между 2 файлами; в рублях:                        1244.55
1672 записей между новым файлом и всеми остальными; в рублях:  250.79999999999998

compare циан 01-05-23 (без дублей).csv циан 30-04-23 (без дублей).csv
8055 записей между 2 файлами; в рублях:                        1208.25
2592 записей между новым файлом и всеми остальными; в рублях:  388.8

compare циан 02-05-23 (без дублей).csv циан 01-05-23 (без дублей).csv
14760 записей между 2 файлами; в рублях:                        2214.0
3854 записей между новым файлом и всеми остальными; в рублях:  578.1

compare циан 03-05-23 (без дублей).csv циан 02-05-23 (без дублей).csv
14927 записей между 2 файлами; в рублях:                        2239.0499999999997
6076 записей между новым файлом и всеми остальными; в рублях:  911.4

compare циан 04-05-23 (без дублей).csv циан 03-05-23 (без дублей).csv
11917 записей между 2 файлами; в рублях:                        1787.55
4198 записей между новым файлом и всеми остальными; в рублях:  629.6999999999999

compare циан 05-05-23 (без дублей).csv циан 04-05-23 (без дублей).csv
14502 записей между 2 файлами; в рублях:                        2175.2999999999997
5107 записей между новым файлом и всеми остальными; в рублях:  766.05

compare циан 06-05-23 (без дублей).csv циан 05-05-23 (без дублей).csv
9811 записей между 2 файлами; в рублях:                        1471.6499999999999
2257 записей между новым файлом и всеми остальными; в рублях:  338.55

compare циан 07-05-23 (без дублей).csv циан 06-05-23 (без дублей).csv
5636 записей между 2 файлами; в рублях:                        845.4
1495 записей между новым файлом и всеми остальными; в рублях:  224.25

In [80]:
files_avito[0]

'25-04-23 (без дублей).csv'

In [81]:
files_avito[-1]

'08-05-23 (без дублей).csv'

In [82]:
test_avito_1 = pd.read_csv('saved_shit/' + files_avito[0], delimiter=';')
test_avito_1['ad_id'] = test_avito_1['Ссылка'].apply(lambda x: x.split('_')[-1])
test_avito_1['ad_id'] = test_avito_1['ad_id'].astype('int64')

test_avito_last = pd.read_csv('saved_shit/' + files_avito[-1], delimiter=';')
test_avito_last['ad_id'] = test_avito_last['Ссылка'].apply(lambda x: x.split('_')[-1])
test_avito_last['ad_id'] = test_avito_last['ad_id'].astype('int64')

In [83]:
set(test_avito_1.ad_id.to_list()) - set(test_avito_last.ad_id.to_list())

{2950299649,
 2602303494,
 2433613835,
 2868903949,
 2782265362,
 2892759059,
 2919104530,
 2858549269,
 2752774165,
 2393899032,
 2466775066,
 2791440416,
 2670198822,
 2824601644,
 2985951277,
 2912157743,
 2851733552,
 2668494899,
 2951086135,
 2970615868,
 2892759104,
 2613837890,
 2919497794,
 2700476485,
 2872049736,
 2906783819,
 2588541006,
 2950037584,
 2618949713,
 2531524689,
 2996699220,
 2748448858,
 2937978979,
 2748055653,
 2921070697,
 2901934188,
 2427715692,
 2700345453,
 2570322030,
 2872311922,
 2759196788,
 2591686778,
 2742681722,
 2409365633,
 2606104706,
 2920939651,
 2730098826,
 2891972747,
 2944663691,
 2711486608,
 2548301970,
 2911502486,
 2810445974,
 2624192664,
 2855272602,
 2887516315,
 2780561565,
 2864840862,
 2694578333,
 2987786398,
 2625765537,
 2654470309,
 2720792742,
 2670198953,
 2740715689,
 2192310442,
 2608857263,
 2538602672,
 2869952689,
 2759327921,
 3027894452,
 2875982005,
 2918842550,
 2776760503,
 2805072064,
 2766143681,
 2709389505,
 2826830026,
 2104885456,
 2485649617,
 2512388308,
 2600992989,
 2899837150,
 2386559198,
 2841903327,
 2638479586,
 2492203240,
 2073297130,
 2902065387,
 2872180972,
 2856452333,
 2423259377,
 2987917554,
 2772959473,
 2912420083,
 2872574204,
 2674393347,
 2730754323,
 2567962900,
 3041919255,
 2752381207,
 2746089751,
 2593784092,
 2276458782,
 2945057055,
 2827354403,
 2715943204,
 3058565414,
 2718826797,
 2938503471,
 2719875375,
 2871001398,
 2456813880,
 2797994297,
 2918842682,
 2880045372,
 2588541244,
 3018457406,
 3014394176,
 2700607812,
 2988441926,
 2412380490,
 3018326351,
 2877686097,
 2905997650,
 2484470098,
 2784624982,
 2537947478,
 2748055897,
 2718826846,
 2537947489,
 2538078566,
 2925134188,
 2852782445,
 2699821421,
 2968256878,
 2759459185,
 2783707507,
 2873491828,
 2904031606,
 2589196670,
 2439643519,
 2754871680,
 2806120837,
 2600468870,
 2474901898,
 2538209675,
 2623799690,
 2548564365,
 2644640142,
 2206990737,
 2484732317,
 2992243104,
 2892235169,
 2770731426,
 2855535015,
 3017933224,
 2766143913,
 3024486830,
 2374631864,
 2970091963,
 2834694592,
 2227044801,
 3122528708,
 2570060231,
 966001096,
 2824208845,
 2538734030,
 2700607952,
 2743337424,
 2700083675,
 2520777180,
 2805334492,
 2823291358,
 2790523358,
 2834563554,
 3028025827,
 3028550117,
 2855010790,
 2945843686,
 2570584553,
 2914910700,
 2892366324,
 2759066104,
 2447376892,
 2484601341,
 2869166588,
 2740847101,
 2456289793,
 2871656964,
 2588148228,
 2624979461,
 2763522567,
 2580677127,
 2570715661,
 3028681232,
 2892759572,
 2688025109,
 2897084949,
 2740453916,
 2475688476,
 2001863198,
 2538603047,
 2538340904,
 2452619818,
 2905080364,
 2257453613,
 2921333295,
 2741109300,
 2871001653,
 2700608060,
 2865496640,
 2248671810,
 2673738317,
 2700214862,
 2265973328,
 2747925072,
 2644640340,
 2959868501,
 2611348056,
 2970354270,
 3074425442,
 3026715237,
 2931950183,
 2700739175,
 2988180072,
 2941649511,
 2889745003,
 2859598445,
 2819228279,
 2475033209,
 2896429694,
 2824209028,
 2769420939,
 2802057874,
 2827354772,
 2382365341,
 2892104349,
 2848457375,
 2226520733,
 2661286561,
 2288386720,
 2550399654,
 2871263910,
 2849112746,
 2743206577,
 2459173558,
 2573992631,
 2910716602,
 2959868604,
 2391540414,
 2934178498,
 2699952839,
 2970485449,
 2665611978,
 2837054162,
 2699821778,
 2728002260,
 2838364886,
 2916090586,
 2847802086,
 2658927337,
 2797470453,
 2927362806,
 2875851518,
 2955936513,
 2237924102,
 2828796678,
 2945975049,
 2700477193,
 2661286668,
 2857894669,
 2700215053,
 3028288281,
 2475688729,
 2850816798,
 2838102817,
 2644902690,
 2658665251,
 2829976355,
 2602435363,
 2827748137,
 2748449596,
 2966422333,
 2374370110,
 2872050496,
 2428764993,
 2966291264,
 2791441220,
 2887254854,
 2895381319,
 2615542600,
 3058697034,
 2550006603,
 2851734350,
 2985952085,
 2283144021,
 2932212574,
 2755003233,
 2771256162,
 2335310701,
 2820408174,
 2973631342,
 2644640624,
 2861826930,
 2805072755,
 2723808120,
 3000107903,
 2748711824,
 2475688849,
 2873492369,
 2742420371,
 2490368916,
 3058566037,
 2748187545,
 2550793114,
 2538734500,
 2661811109,
 2456552359,
 2595881896,
 2920809386,
 2892366762,
 2888696748,
 2838234036,
 2661548981,
 3018720187,
 2374501309,
 3001811901,
 2889745343,
 2635072450,
 2699953091,
 2699822030,
 2926183376,
 2905605075,
 2858550229,
 2869691349,
 2846622680,
 2700477404,
 2837578726,
 2658796520,
 2714239981,
 2892366832,
 2891711477,
 2589852664,
 2925921274,
 2008155131,
 3170370556,
 2538734591,
 2790917123,
 2913207302,
 2752644103,
 2786722823,
 2726036489,
 3042051084,
 2382889997,
 2758935570,
 2456421396,
 2462188569,
 2858943518,
 2530214942,
 2827093023,
 2851210272,
 2703098910,
 2660893738,
 2842690605,
 2456421421,
 2889352241,
 2973500465,
 2850817083,
 2971010118,
 2878866505,
 2876113993,
 2794193996,
 2938766416,
 2523792465,
 2912814162,
 2970747987,
 2916353110,
 2475295834,
 2951480414,
 2868905057,
 2411988066,
 2850817128,
 2699953258,
 2468217965,
 2889614449,
 2565342323,
 2856715380,
 2602697845,
 2448426102,
 2817000566,
 2994078836,
 2568488057,
 2809660537,
 2877162626,
 2982020234,
 2853438606,
 2538341520,
 2893415570,
 2919629977,
 2475033754,
 2994472092,
 2823423133,
 2314601633,
 2929460389,
 2976122027,
 2856846508,
 2713453744,
 964297905,
 2742289587,
 2384069813,
 2369389750,
 602670262,
 2659583158,
 2538341564,
 2828534976,
 2698642624,
 2897347780,
 2570060997,
 2506622153,
 2464810185,
 2919367887,
 2641495252,
 2878735573,
 2988573911,
 2847671511,
 2645689567,
 2719876327,
 2944402667,
 2777810159,
 2538472691,
 2786723060,
 2700215544,
 2442921211,
 2808743175,
 3052143885,
 2791572749,
 2601911570,
 2951480596,
 2233992473,
 2950169883,
 3026453789,
 2787509538,
 2897347875,
 2329150759,
 2909275436,
 2954102061,
 2926970159,
 3018589489,
 2912421178,
 3024094526,
 2791441727,
 2017330494,
 2919368003,
 2871395653,
 2748843336,
 2443445581,
 3058435407,
 2838496592,
 2854487377,
 2999846226,
 2699953493,
 2861172056,
 2657879389,
 2967995750,
 2748188008,
 2855798125,
 2846885230,
 2412250477,
 2883192175,
 2889221485,
 2816345462,
 1356596600,
 2959869314,
 2538734980,
 2731935109,
 2897216906,
 2963408270,
 2474902926,
 2900886931,
 2699953558,
 2538210712,
 2723153305,
 2745566620,
 2972976543,
 2436367776,
 2816607651,
 2988443046,
 2909537704,
 2700608940,
 2759853486,
 2217346485,
 2797995445,
 2699953597,
 2569930177,
 2823947722,
 2927232461,
 2889876949,
 2850424280,
 2831680985,
 2732066270,
 3028157919,
 2770208224,
 2959869411,
 2956723689,
 2970617325,
 2570454509,
 3050702322,
 2885289459,
 2946369014,
 3050046967,
 2891449848,
 2570454520,
 2949907962,
 2856584699,
 3058697724,
 2837841404,
 2783053314,
 2411464199,
 2875852296,
 2700609036,
 2893547021,
 2759591438,
 2835613201,
 3028682260,
 2988574229,
 2700215836,
 2491024926,
 2925921825,
 2489058851,
 2878866992,
 2851341872,
 2926052915,
 2806253111,
 2864842302,
 3001812544,
 2538473024,
 2980316741,
 2627470917,
 2937980491,
 2847278668,
 3026191950,
 2752513614,
 2934572627,
 2623407701,
 2970224214,
 2921989724,
 2880308839,
 3028026984,
 2873493099,
 2968127086,
 2654602864,
 2864973425,
 2677016178,
 2991982198,
 2937980535,
 2968389238,
 2816083577,
 2850162297,
 2234386051,
 2965898884,
 2746746501,
 2912421518,
 2538079888,
 2538079890,
 2760509076,
 3090679449,
 2994603675,
 2129135273,
 2759591594,
 2824210089,
 2697987759,
 2919106223,
 2700609207,
 2883585722,
 2818705085,
 2985952957,
 2969831105,
 2474903233,
 2498365134,
 2857371344,
 2876245714,
 2871527127,
 2699953880,
 2440824537,
 2578581213,
 2871789283,
 2970224356,
 2715551465,
 2883978988,
 2791180013,
 2449999600,
 2921465587,
 2994079476,
 2718435061,
 2898003707,
 2888435459,
 2988181252,
 2889221900,
 2889221906,
 2907571991,
 2859206426,
 2788427547,
 2897217309,
 2826962720,
 2538080038,
 2331248423,
 2907834159,
 2700478256,
 2601256755,
 2856716083,
 2913732412,
 3090024252,
 2455897921,
 2900363076,
 2969962313,
 2625898314,
 2922383179,
 2784233299,
 2728527700,
 2659845974,
 3027765082,
 2699954011,
 2879522652,
 2790917981,
 2888959840,
 2870216544,
 3018590052,
 3025799013,
 2669021030,
 2808350568,
 2298611569,
 2889484155,
 2862483324,
 2571896707,
 2538342280,
 2658928526,
 2607024022,
 2475165595,
 2475558812,
 2795374494,
 2988050336,
 2748712865,
 2907178919,
 2995390376,
 2730100658,
 2768111540,
 2912421814,
 2877425598,
 2871527361,
 2456815555,
 2538735557,
 2739013576,
 2878998472,
 2474903502,
 3002730449,
 2988181461,
 3028289494,
 2700609502,
 2751465440,
 2940471266,
 2785282019,
 2970748900,
 2624194534,
 2879129574,
 2819360744,
 2700347370,
 2383546347,
 2826831850,
 2136606701,
 2720401398,
 2871658489,
 2347108350,
 3027896322,
 2742159377,
 2680555540,
 2901280788,
 2537949206,
 2699823131,
 2645690401,
 2988312610,
 2703624228,
 2793801765,
 2794981426,
 3092121651,
 2570324020,
 2668234805,
 2875852853,
 2443970613,
 1887569976,
 2870741046,
 2970355773,
 2823948355,
 2921465924,
 2887518278,
 2884372554,
 2941257812,
 3037202518,
 2698250327,
 2790131799,
 2879916122,
 2916616283,
 2280786016,
 2742159459,
 2907441253,
 2835089512,
 2970093674,
 2801535092,
 2527332469,
 2780170360,
 2933262462,
 2995128446,
 3089762434,
 2812676230,
 2787117191,
 2870478986,
 2906785930,
 2889746580,
 2809661589,
 2419591318,
 2799306902,
 3060402328,
 2723022998,
 2869037211,
 2801666203,
 2783971489,
 2924873898,
 2677934255,
 2661288115,
 2640447672,
 2700085433,
 2549221560,
 2888698048,
 2949908680,
 2622228684,
 2784626901,
 2728659161,
 2474903770,
 2738882779,
 2935621853,
 2801928414,
 2704804065,
 2136082658,
 2714896611,
 2594572514,
 2720270565,
 2542799080,
 3041921259,
 2685929707,
 2550532335,
 2482899185,
 2787903731,
 2929461493,
 2806515959,
 2699954423,
 3014527226,
 2114586876,
 2531526911,
 2700478719,
 2865236225,
 2475165958,
 2774927627,
 2780301584,
 2806384914,
 2475428116,
 2824079641,
 2538342681,
 2283276571,
 2934704413,
 2694318368,
 2439776556,
 2676885817,
 2826832186,
 2988706113,
 3026454850,
 2873624899,
 2475821379,
 2889353543,
 2700085578,
 2901674317,
 2888304983,
 2951743834,
 2700216671,
 2944928096,
 2189953379,
 3074689379,
 3020294499,
 2806778216,
 2807040361,
 2523793770,
 2936408425,
 2475690351,
 2889091439,
 2920810865,
 2970487151,
 2987788662,
 2543716727,
 2970093947,
 2901412224,
 2916223363,
 2987919749,
 2837055880,
 2572945800,
 2478049672,
 2700478862,
 2661681551,
 2315913622,
 2807302555,
 2624719262,
 2700216735,
 2635467166,
 2731280801,
 2661288355,
 2933918116,
 2904820133,
 1956383143,
 2988050860,
 2850949548,
 3017935278,
 2478574003,
 2970094004,
 2538473909,
 2899839418,
 2606762428,
 3017804225,
 2956200385,
 2957117893,
 2905606598,
 2449476038,
 2843347399,
 2456816073,
 2721319374,
 2578581967,
 2438597072,
 2934966746,
 2870217180,
 2815035871,
 2146306531,
 2782661100,
 2806254061,
 2784758258,
 2490108404,
 2871659001,
 2630093305,
 2729576957,
 2807826941,
 2742028802,
 2856323588,
 2553285128,
 2926578184,
 2970225162,
 2538473994,
 2426538508,
 2991983124,
 2829060632,
 2598767128,
 2412644891,
 2919631388,
 2783840797,
 2706639391,
 2130577953,
 2970225186,
 2500069922,
 2892761635,
 2661157411,
 2799831599,
 2847148601,
 2846755385,
 2700741181,
 2700741186,
 2919238211,
 2784627267,
 2613447236,
 2529167947,
 2847935052,
 2787248727,
 2569800296,
 2699823729,
 2664041080,
 2730232441,
 2956069498,
 2700085883,
 3027503740,
 2816346744,
 2987788922,
 2936408699,
 2511604352,
 2699823744,
 2818968199,
 2700216981,
 2874018455,
 2926054040,
 2538736280,
 2791049890,
 2475821732,
 2994473636,
 2799831720,
 2700479146,
 2857765547,
 2641103536,
 2549353138,
 2982677182,
 2756709060,
 2232421062,
 2884373191,
 2550270666,
 2908621516,
 2671774418,
 2474773209,
 2723023585,
 2845182690,
 2484603626,
 2925267690,
 2904951531,
 2464811767,
 3018590969,
 2534279932,
 2900888317,
 2638220031,
 2872838919,
 2857896713,
 2382498572,
 2563115788,
 2912029454,
 3050572559,
 2987789083,
 2855930652,
 2286816027,
 2907048739,
 2693663525,
 2921073446,
 2464418604,
 2882800433,
 2839546678,
 2395867959,
 2570455866,
 2740194107,
 2602568519,
 2779646791,
 2270432075,
 2571897677,
 2204109648,
 2786200400,
 2737441616,
 2922515282,
 2748058448,
 2939685723,
 2992638812,
 2871659357,
 2969832286,
 2987920223,
 1975389026,
 2892630885,
 2928282474,
 2017201010,
 2192051067,
 2748451707,
 2970094461,
 2774141823,
 2663254914,
 2676099983,
 2919107476,
 2877950870,
 2538081175,
 2823555992,
 2907048854,
 2839153566,
 2824604574,
 2585398177,
 3026193316,
 3050703781,
 2827226027,
 2516716466,
 2830633913,
 2806254522,
 2817395644,
 2700217279,
 2988051394,
 3026193349,
 2467564489,
 2855013324,
 2538081232,
 3050572753,
 2822638548,
 2702445528,
 2848984026,
 3058568158,
 2791705583,
 2542668784,
 2988051444,
 2550008820,
 2911898625,
 2245397507,
 2563247108,
 2805992452,
 2839284744,
 2699824140,
 2299530253,
 2753563671,
 2988182553,
 ...}