In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
import sys
sys.path.insert(1, 'C:/Users/pnknv/Documents/GitHub/yadisk_loader')
from main_utils import *

# logging

In [3]:
import logging
import time
from test_logging import *
from pathlib import Path
import shutil

In [4]:
local_save_dir_data = create_load_save_dir('data')

In [5]:
for i in range(0,2):
    logging.basicConfig(filename=(Path.cwd()/'ya_loader.log').as_posix(), filemode='w', encoding='cp1251', 
                    level=logging.DEBUG, format='%(asctime)s [%(levelname)-8s] %(message)s')
    num = 0
    while num<4:
        time.sleep(2)
        logging.info('ok run log in oth')
        some_val_from_lto = log_test_other(num)
        logging.info(f'this is whacha get {some_val_from_lto}')
        if num == 2:
            odd_num = log_test_tqdm(7)
            logging.info(f'odd num list is: {odd_num}')
        else:
            logging.info(f'num is {num} so were not ready to tqdm')
            time.sleep(5)   
        num += 1
    src_file = Path.cwd()/'ya_loader.log'
    dst_file = Path(local_save_dir_data)/f'log_{get_today_date()}.log'
    shutil.copy(src_file, dst_file)

In [12]:
a = pd.read_csv(Path.cwd()/'saved_data_csv/cian_dadata_request_26_04_2023.csv', encoding='cp1251', index_col=0)

In [13]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27694 entries, 0 to 27693
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_fias_id  23784 non-null  object
 1   data           27694 non-null  object
 2   geo_lat        27694 non-null  float64
 3   geo_lon        27694 non-null  float64
 4   street         27367 non-null  object
 5   house          27569 non-null  object
 6   qc             27694 non-null  int64
 7   result         27694 non-null  object
 8   qc_geo         27694 non-null  int64
 9   ad_id          27694 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.3+ MB

In [14]:
a

,house_fias_id,data,geo_lat,geo_lon,street,house,qc,result,qc_geo,ad_id
0,a3062811-f3ce-45e2-a05d-556d7f688b4d,{'source': 'Республика Татарстан; Набережные Ч...,55.709690,52.373213,Николая Мальнева,3,0,"Респ Татарстан, г Набережные Челны, ул Николая...",0,277413781
1,NaN,{'source': 'Республика Татарстан; Набережные Ч...,55.698329,52.327857,NaN,3,1,"Респ Татарстан, г Набережные Челны, п Красные ...",0,279271829
2,9e8b0478-ceda-481e-ae0f-4dff24dbf2b0,{'source': 'Республика Татарстан; Набережные Ч...,55.743462,52.395916,Вазила Мавликова,3,0,"Респ Татарстан, г Набережные Челны, ул Вазила ...",4,285793261
3,4f388b64-35f9-430f-a2e9-8679a552c369,{'source': 'Республика Татарстан; Казань; р-н ...,55.738383,49.159615,NaN,3,1,"г Казань, тер Военный городок-33, д 3",0,286529782
4,4f388b64-35f9-430f-a2e9-8679a552c369,{'source': 'Республика Татарстан; Казань; р-н ...,55.738383,49.159615,NaN,3,1,"г Казань, тер Военный городок-33, д 3",0,286529795
...,...,...,...,...,...,...,...,...,...,...
27689,NaN,{'source': 'Новосибирская область; Новосибирск...,55.024230,82.927921,Октябрьская магистраль,50,1,"г Новосибирск, ул Октябрьская магистраль, д 50",2,286253139
27690,a3353f93-eba0-42d2-8875-8f921679d4c6,{'source': 'Новосибирская область; Новосибирск...,55.055793,82.914566,Красный,104,1,"г Новосибирск, пр-кт Красный, д 104",0,284839197
27691,68cc8e55-cded-44f0-855d-cb36cefa73c6,{'source': 'Новосибирская область; Новосибирск...,55.065257,82.912848,Красный,218/4,1,"г Новосибирск, пр-кт Красный, д 218/4",1,282949106
27692,NaN,{'source': 'Новосибирская область; Новосибирск...,55.058940,82.916811,Овражная,2А,1,"г Новосибирск, ул Овражная, д 2А",2,286627092
27693,NaN,{'source': 'Новосибирская область; Новосибирск...,55.058940,82.916811,Овражная,2А,1,"г Новосибирск, ул Овражная, д 2А",2,286627386

In [19]:
len(set([123123, 123, 277413781]) - set(a.ad_id.astype(int).to_list()))

2

In [39]:
local_save_dir_data = create_load_save_dir('data')

In [41]:
Path.cwd()/'ya_loader.log'

WindowsPath('C:/Users/pnknv/Documents/GitHub/yadisk_loader/dev_check_jupyter/ya_loader.log')

In [49]:
local_save_dir_data

'C:/Users/pnknv/Documents/GitHub/yadisk_loader/dev_check_jupyter/saved_data_csv'

In [51]:
Path(local_save_dir_data)/f'log_{get_today_date()[:10]}.log'

WindowsPath('C:/Users/pnknv/Documents/GitHub/yadisk_loader/dev_check_jupyter/saved_data_csv/log_27/04/2023.log')

In [42]:
Path.cwd()/local_save_dir_data/'ya_loader.log'

WindowsPath('C:/Users/pnknv/Documents/GitHub/yadisk_loader/dev_check_jupyter/saved_data_csv/ya_loader.log')

In [55]:
get_today_date()

'27/04/2023, 22:27:20'

In [59]:
get_today_date()[:10].replace(f'/', '_')

'27_04_2023'

In [60]:
src_file = Path.cwd()/'ya_loader.log'

dst_file = Path(local_save_dir_data)/f'log_{get_today_date()[:10].replace("/", "_")}.log'

src_file.rename(dst_file)

WindowsPath('C:/Users/pnknv/Documents/GitHub/yadisk_loader/dev_check_jupyter/saved_data_csv/log_27_04_2023.log')

In [ ]:
Path.

In [3]:
### логи работают

In [ ]:
### добавить

Необходимо создать алгоритм обновления существующих и добавления несуществующих файлов в realty </br>
В prices необходимо добавлять все пришедшие цены

# вопросы 
### 0. ЧТО НУЖНО ДОБАВИТЬ
 <b>ad_id в realty и houses в bigint</b> </br> 
 <b>добавить колонку с названиями городов из авито из ссылки</b> </br> 
 <b>добавить индекс к ad_id realty</b> </br>
 <b>добавлять темповую таблицу для обновления realty</b> </br>

### 1. Колонки 
Какие из колонок могут измениться? </br> 
Ключ: ад_айди + ссылка, все остальные на новые значения, STATUS = ? STATUS_NEW=? house_id=?
### 2. Обновление тест базы
Как часто происходи?

In [13]:
st_time = datetime.now()
print('Скрипт запущен: ', get_today_date())

Скрипт запущен:  27/04/2023, 21:26:03

In [14]:
ssh_host, ssh_port, ssh_username, ssh_password, \
database_username, database_password, database_name, \
localhost, localhost_port, table_name, ya_token, ya_api, ya_link = get_config()

In [15]:
local_save_dir_avito = create_load_save_dir('avito')
local_save_dir_cian = create_load_save_dir('cian')

In [24]:
sql_server, sql_engine = get_sql_engine(ssh_host, ssh_port, ssh_username, ssh_password, localhost,
                                        localhost_port, database_username, database_password, database_name)

In [25]:
sql_engine

Engine(mariadb+pymysql://app_nedvizhk_usr:***@127.0.0.1:53755/app_nedvizhka_db)

In [26]:
sql_engine.connect()

In [7]:
handled_files_avito = get_saved_files_names('avito')
handled_files_cian = get_saved_files_names('cian')

In [8]:
files_to_process_avito = ['27-03-23 (без дублей).csv']
files_to_process_cian = ['циан 14-04-23 (без дублей) new.csv']

#### функции для новой таблицы

In [10]:
create_table_query = \
    """CREATE TABLE `temp_realty` (
      `id` int(11) NOT NULL AUTO_INCREMENT,
      `source_id` int(11) DEFAULT NULL,
      `ad_id` BIGINT DEFAULT NULL,
      `city_id` int(11) DEFAULT NULL,
      `district_id` int(11) DEFAULT NULL,
      `type_id` int(11) DEFAULT NULL,
      `addr` varchar(255) DEFAULT NULL,
      `square` float DEFAULT '0',
      `floor` int(11) DEFAULT NULL,
      `house_floors` int(11) DEFAULT NULL,
      `link` varchar(512) DEFAULT NULL,
      `date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
      `status` int(11) DEFAULT '0',
      `version` int(11) DEFAULT '0',
      `offer_from` varchar(255) DEFAULT NULL,
      `status_new` int(1) NOT NULL DEFAULT '0',
      `house_id` int(11) DEFAULT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 AVG_ROW_LENGTH=2048 ROW_FORMAT=DYNAMIC;"""

index_show_query = \
f"""SHOW indexes FROM temp_realty"""

index_create_query = \
f"""CREATE INDEX index_ad_id_temp
    ON temp_realty (ad_id);"""

clear_temp_table_query = \
    """DELETE FROM temp_realty"""

In [27]:
def get_exist_ad_id(engine, source):
    source_id = 2 if source == 'cian' else 3
    ad_id_query = f'SELECT ad_id FROM realty where source_id = {source_id}'
    try:
        con_obj = engine.connect()
        ad_id_db = pd.read_sql(text(ad_id_query), con=con_obj)
        con_obj.close()
        exc_code = None
    except Exception as exc:
        print(traceback.format_exc())
        ad_id_db = None
        exc_code = exc.code
    return ad_id_db, exc_code

In [28]:
exist_ad_id, exc_code = get_exist_ad_id(sql_engine, 'cian')

In [36]:
try:
    con_obj = engine.connect()
    con_obj.close()
except:
    server, engine = get_sql_engine(ssh_host, ssh_port, ssh_username, ssh_password, localhost,
                                        localhost_port, database_username, database_password, database_name)
    print('подключение к базе восстановлено')

In [38]:
try:
    1/0
except Exception as exc:
    print(exc)

division by zero

In [29]:
exist_ad_id

            ad_id
0       272391397
1       272330693
2       272390645
3       272382949
4       272328204
...           ...
742514  285376232
742515  285766622
742516  285765451
742517  273587329
742518  284808119

[742519 rows x 1 columns]

2023-04-27 21:51:00,023| ERROR   | Socket exception: Удаленный хост принудительно разорвал существующее подключение (10054)

In [14]:
def get_date_from_name(fname):
    try:
        return datetime.strptime(fname.replace("(без дублей)", "").replace("циан", "").replace(" ", "")[:8], "%d-%m-%y")
    except:
        return datetime.strptime(Path(fname).stem.replace("(без дублей)", "").replace("циан", "").replace(" ", "")[:8],
                                 "%d-%m-%y")

In [15]:
def get_index_temp(engine):
    index_show_query = \
        f"""SHOW indexes FROM temp_realty"""
    try:
        con_obj = engine.connect()
        index_db = pd.read_sql(text(index_show_query), con=con_obj)
        con_obj.close()
        exc_code = None
    except Exception as exc:
        print(traceback.format_exc())
        index_db = None
        exc_code = exc.code
    return index_db, exc_code

In [16]:
con_obj = sql_engine.connect()
try:
    con_obj.execute(text(create_table_query))
    if 'index_ad_id_temp' in get_index_temp(sql_engine)[0].Key_name.to_list():
        pass
    else:
        con_obj.execute(text(index_create_query))
    con_obj.commit()
    print('Временная таблица создана')
except:
    con_obj.execute(text(clear_temp_table_query))
    con_obj.commit()
    print('Временная таблица очищена')
con_obj.close()

Временная таблица очищена

In [22]:
ilya_c[ilya_c['Адрес'].apply(lambda x: 'кварталы 38' in x)]

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Адрес,Дата публикации,Тип продавца,Продавец
2,https://kazan.cian.ru/sale/flat/285520808/,"3-комн. кв., 64,9 м², 4/9 этаж",3-комн. кв.,"64,9 м²",4/9 этаж,7700000,118644,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"неделю назад (5 апр, 00:17)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ
3,https://kazan.cian.ru/sale/flat/285520807/,"3-комн. кв., 65,8 м², 6/9 этаж",3-комн. кв.,"65,8 м²",6/9 этаж,7600000,115502,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"9 часов назад (сегодня, 00:41)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ
38,https://kazan.cian.ru/sale/flat/286089243/,"2-комн. кв., 50,5 м², 2/9 этаж",2-комн. кв.,"50,5 м²",2/9 этаж,7700000,152475,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"вчера (12 апр, 22:52)",Собственник,ID 101964921
49,https://kazan.cian.ru/sale/flat/285991792/,"1-комн. кв., 43,2 м², 14/16 этаж",1-комн. кв.,"43,2 м²",14/16 этаж,7649000,177060,"ЖК «ул. Академика Лаврентьева, 11»",Республика Татарстан;Казань;р-н Ново-Савиновск...,"три дня назад (10 апр, 11:05)",Агентство недвижимости,Лас Вегас - Офис продаж
60,https://kazan.cian.ru/sale/flat/284292121/,"3-комн. кв., 64,5 м², 2/9 этаж",3-комн. кв.,"64,5 м²",2/9 этаж,7500000,116279,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"два дня назад (11 апр, 12:30)",Агентство недвижимости,Макромир Казань
...,...,...,...,...,...,...,...,...,...,...,...,...
82039,https://kazan.cian.ru/sale/flat/284071519/,"2-комн. кв., 50,7 м², 6/9 этаж",2-комн. кв.,"50,7 м²",6/9 этаж,6850000,135108,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"17 часов назад (сегодня, 00:41)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ
82042,https://kazan.cian.ru/sale/flat/284049781/,"3-комн. кв., 65,9 м², 1/9 этаж",3-комн. кв.,"65,9 м²",1/9 этаж,6700000,101669,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"неделю назад (7 апр, 09:38)",Агентство недвижимости,Центральное агентство недвижимости
82047,https://kazan.cian.ru/sale/flat/284012160/,"3-комн. кв., 68,5 м², 1/9 этаж",3-комн. кв.,"68,5 м²",1/9 этаж,6500000,94891,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"2 недели назад (30 мар, 17:27)",Агентство недвижимости,Домотека
82073,https://kazan.cian.ru/sale/flat/280572686/,"3-комн. кв., 65,9 м², 1/9 этаж",3-комн. кв.,"65,9 м²",1/9 этаж,6700000,101669,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"2 месяца назад (21 янв, 20:31)",Собственник,ID 16737042
82112,https://kazan.cian.ru/sale/flat/254605850/,"2-комн. кв., 57 м², 1/15 этаж",2-комн. кв.,57 м²,1/15 этаж,6350000,111404,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"полгода назад (5 сен, 09:29)",Риелтор,ID 48339885

In [66]:
def get_districts_1(engine):
    districts_query = f"SELECT DISTINCT id, city_id, name FROM districts"
    try:
        con_obj = engine.connect()
        districts_query_db = pd.read_sql(text(districts_query), con=con_obj)
        con_obj.close()
    except Exception as exc:
        try:
            con_obj.close()
            print(exc)
            districts_query_db = None
        except:
            print(exc)
            districts_query_db = None
    return districts_query_db

In [67]:
def district_from_rn_mkrn_1(realty_row, all_districts, sql_engine):
    # для записи новых районов создадим датафрейм и получим последний id района
    add_districts_df = pd.DataFrame(columns=['city_id', 'name'])
    current_max_id = all_districts.id.max()
    # для работы функции создадим объекты текущего р-н и мкр
    current_rn = None
    current_mkrn = None
    if not np.isnan(realty_row['city_id']):
        for addr_part in realty_row.addr.split(';')[:4]:
            if 'мкр.' in addr_part:
                current_mkrn = addr_part.replace(' мкр. ', '').replace('мкр. ', '')
                continue
            elif 'р-н' in addr_part:
                current_rn = addr_part.replace(' р-н ', '').replace('р-н ', '')
                continue
            else:
                continue
        if current_rn == None and current_mkrn == None:
            return None
        else:
            district_name = current_mkrn if current_mkrn != None else current_rn
            district_intersection = all_districts[(all_districts.city_id == realty_row.city_id) & (all_districts.name == district_name)]
            if len(district_intersection) == 0:
                # обновление данных из districts на случай если дистрикт добавлялся во время исполнения скрипта
                all_districts_upd = get_districts_1(sql_engine)
                district_intersection_upd = all_districts_upd[
                    (all_districts_upd.city_id == realty_row.city_id) & (all_districts_upd.name == district_name)]
                current_max_id = int(all_districts_upd.id.max())
                # если в обновленном districts нет данных о районе - добавляем
                if len(district_intersection_upd) == 0:
                    add_districts_df.loc[len(add_districts_df)] = [realty_row.city_id, district_name]
#                     add_districts_df.to_sql(name='districts', con=sql_engine, if_exists='append', method='multi', index=False)
                    print('добавлен новый район {} "{}" в districts функцией district_from_rn_mkrn'.format(current_max_id + 1, district_name))
                    return current_max_id + 1
                # если данные о районе есть, возвращаем id
                else:
                    return district_intersection_upd.iloc[0, 0]
            else:
                return district_intersection.iloc[0, 0]
    else:
        return None

In [82]:
def create_realty_1(df, fname, sql_engine, source, dict_realty_type=dict_realty_cian_avito):
    try:
        # new table
        cian_realty = pd.DataFrame()

        # сбор данных из таблиц в бд
        city_df, source_df, exc_code = get_tables_info(sql_engine)

        # удаление дубликатов
        df.drop_duplicates(subset=['Ссылка'], keep='last', inplace=True)
        df.reset_index(drop=True, inplace=True)
        
        # add source
        df['source'] = df['Ссылка'].apply(lambda x: x.split('.')[1])

        # source_id
        source_df_dict = source_df.set_index('id').to_dict()['name']
        cian_realty['source_id'] = df['source'].apply(lambda x: source_id_from_link(x, source_df_dict, 'cian'))

        # ad_id
        cian_realty['ad_id'] = df['Ссылка'].apply(lambda x: x.split('/')[-2])
        
        # city
        df['city'] = df['Адрес'].apply(lambda x: x.split(';')[1])

        # city_id
        city_df_dict = city_df.set_index('id').to_dict()['name']
        cian_realty['city_id'] = df['city'].apply(lambda x: city_id_from_link(x, city_df_dict))

        # удалить записи где city_id пустой (записи городов, которые не присутствуют в списке городов для парсинга)
        # ind_to_drop = cian_realty[(cian_realty['city_id'].isna())].index.tolist()
        # cian_realty.drop(ind_to_drop, inplace=True)
        # df.drop(ind_to_drop, inplace=True)
        # cian_realty.city_id = cian_realty.city_id.astype(int)

        # type_id

        cian_realty['type_id'] = df['Комнат'].apply(lambda x: type_id_from_room(x, dict_realty_type))
        # удалить записи аукционов и других объяв где не опредлен type_id
        ind_to_drop = cian_realty[(cian_realty['type_id'].isna())].index.tolist()
        cian_realty.drop(ind_to_drop, inplace=True)
        df.drop(ind_to_drop, inplace=True)
        cian_realty.type_id = cian_realty.type_id.astype(int)
        
        print('check')
        print(len(df[df['Адрес'].apply(lambda x: ',' in x)]))
        
        # addr
#         cian_realty['addr'] = df['Адрес'].apply(lambda x: x.replace(',',';'))
        cian_realty['addr'] = df['Адрес']
    
        print('check')
        print(len(cian_realty[cian_realty.addr.apply(lambda x: ',' in x)]))
    
        # district_id после addr потому что в нем используется адрес
        all_districts = get_districts_1(sql_engine)
        cian_realty['district_id'] = cian_realty.apply(
            lambda row: district_from_rn_mkrn_1(row, all_districts, sql_engine), axis=1)

        # square
        cian_realty['square'] = df['Площадь'].apply(lambda x: square_from_ploshad(x))

        # floor
        cian_realty['floor'], cian_realty['house_floors'] = zip(*df['Этаж'].apply(floor_floors_from_etazh))

        # link
        cian_realty['link'] = df['Ссылка']

        # date
        file_date = get_date_from_name(fname)
        cian_realty['date'] = file_date

        # status
        cian_realty['status'] = 0

        # version
        current_source = cian_realty.source_id.unique()[0]
        current_date = datetime.now().date()
        last_version = get_version_db(sql_engine, current_date, current_source)[0].iloc[0, 0]
        if last_version == None:
            current_version = 1
        else:
            current_version = last_version + 1

        cian_realty['version'] = current_version

        # offer_from
        cian_realty['offer_from'] = df['Тип продавца']

        # status_new
        cian_realty['status_new'] = 1

        # add fields of price and price_sqrm
        cian_realty['price'], cian_realty['price_sqrm'] = df['Цена'], df['Цена за м2']

        # delete rows where one of important values isna
        cian_realty_check = cian_realty[['source_id', 'ad_id', 'type_id', 'addr', 'link', 'date', 'version']]
        values_na_ind = cian_realty_check[cian_realty_check.isna().any(axis=1)].index
        if len(values_na_ind) > 0:
            cian_realty = cian_realty.drop(values_na_ind)

        cian_realty_to_return = cian_realty[['source_id', 'ad_id', 'city_id', 'district_id', 'type_id',
                                             'addr', 'square', 'floor','house_floors', 'link', 'date',
                                             'status', 'version', 'offer_from', 'status_new', 'price', 'price_sqrm']]
    except Exception as ex:
        print(traceback.format_exc())
        cian_realty_to_return = pd.DataFrame()
        file_date = None
    return cian_realty_to_return, file_date

In [83]:
def process_realty_1(local_dir, file_to_process, sql_engine, source):
    saved_files = get_local_files(local_dir)
    realty_df = pd.DataFrame()
    file_date = None
    for f_ind in range(len(saved_files)):
        if Path(saved_files[f_ind]).name == file_to_process:
            try:
                if source == 'avito':
                    saved_file = pd.read_csv(saved_files[f_ind], delimiter=';', encoding='utf8')
                    realty_df, file_date = create_realty_1(saved_file, Path(saved_files[f_ind]).stem,
                                                         sql_engine, 'avito')
                elif source == 'cian':
                    saved_file = pd.read_csv(saved_files[f_ind], delimiter=',', encoding='utf8')
                    realty_df, file_date = create_realty_1(saved_file, Path(saved_files[f_ind]).stem,
                                                         sql_engine, 'cian')
            except Exception as ex:
                print(traceback.format_exc())
                print('Не удалось прочитать файл из {}: '.format(source), Path(saved_files[f_ind]))
        else:
            pass
    if len(realty_df) != 0:
        print('Успешно обработан файл {} для realty'.format(file_to_process))
        error_status = False
        return realty_df, file_date, error_status
    else:
        error_status = True
        print('Файл {} не удалось обнаружить для realty'.format(file_to_process))
        return realty_df, file_date, error_status

In [105]:
new_c = pd.read_csv('циан 14-04-23 (без дублей) new.csv', delimiter=',', encoding='utf8')

In [106]:
new_c['addr'] = new_c['Адрес']

In [131]:
new_c[new_c.addr.apply(lambda x: 'кварталы' in x)]

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Адрес,Дата публикации,Тип продавца,Продавец,addr
2,https://kazan.cian.ru/sale/flat/285520808/,"3-комн. кв., 64,9 м², 4/9 этаж",3-комн. кв.,"64,9 м²",4/9 этаж,7700000,118644,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"неделю назад (5 апр, 00:17)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ,Республика Татарстан;Казань;р-н Ново-Савиновск...
3,https://kazan.cian.ru/sale/flat/285520807/,"3-комн. кв., 65,8 м², 6/9 этаж",3-комн. кв.,"65,8 м²",6/9 этаж,7600000,115502,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"9 часов назад (сегодня, 00:41)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ,Республика Татарстан;Казань;р-н Ново-Савиновск...
10,https://kazan.cian.ru/sale/flat/285472812/,"3-комн. кв., 65,6 м², 7/9 этаж",3-комн. кв.,"65,6 м²",7/9 этаж,7300000,111280,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"7 часов назад (сегодня, 03:22)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ,Республика Татарстан;Казань;р-н Ново-Савиновск...
16,https://kazan.cian.ru/sale/flat/285465376/,"1-комн. кв., 46,2 м², 9/15 этаж",1-комн. кв.,"46,2 м²",9/15 этаж,7600000,164502,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"неделю назад (2 апр, 20:46)",Собственник,ID 101337528,Республика Татарстан;Казань;р-н Ново-Савиновск...
19,https://kazan.cian.ru/sale/flat/285439290/,"1-комн. кв., 65 м², 7/9 этаж",1-комн. кв.,65 м²,7/9 этаж,7230000,111231,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"вчера (вчера, 10:42)",Агентство недвижимости,КАИР,Республика Татарстан;Казань;р-н Ново-Савиновск...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82079,https://kazan.cian.ru/sale/flat/280460331/,"2-комн. кв., 50,7 м², 9/9 этаж",2-комн. кв.,"50,7 м²",9/9 этаж,6500000,128205,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"6 часов назад (сегодня, 10:57)",Агентство недвижимости,Альтера,Республика Татарстан;Казань;р-н Ново-Савиновск...
82080,https://kazan.cian.ru/sale/flat/280446216/,"1-комн. кв., 50,9 м², 14/18 этаж",1-комн. кв.,"50,9 м²",14/18 этаж,6871500,135000,ЖК «Акварель»,Республика Татарстан;Казань;р-н Ново-Савиновск...,"неделю назад (6 апр, 10:15)",Агентство недвижимости,ID 78901442,Республика Татарстан;Казань;р-н Ново-Савиновск...
82081,https://kazan.cian.ru/sale/flat/280434852/,"2-комн. кв., 52 м², 2/9 этаж",2-комн. кв.,52 м²,2/9 этаж,6500000,125000,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"вчера (вчера, 17:50)",Агентство недвижимости,ФЛЭТ,Республика Татарстан;Казань;р-н Ново-Савиновск...
82089,https://kazan.cian.ru/sale/flat/280318936/,"1-комн. кв., 44,6 м², 2/19 этаж",1-комн. кв.,"44,6 м²",2/19 этаж,6700000,150224,ЖК «Золотая середина»,Республика Татарстан;Казань;р-н Ново-Савиновск...,"вчера (вчера, 17:50)",Агентство недвижимости,ФЛЭТ,Республика Татарстан;Казань;р-н Ново-Савиновск...
82112,https://kazan.cian.ru/sale/flat/254605850/,"2-комн. кв., 57 м², 1/15 этаж",2-комн. кв.,57 м²,1/15 этаж,6350000,111404,NaN,Республика Татарстан;Казань;р-н Ново-Савиновск...,"полгода назад (5 сен, 09:29)",Риелтор,ID 48339885,Республика Татарстан;Казань;р-н Ново-Савиновск...

In [108]:
new_c[new_c.addr.apply(lambda x: 'кварталы 38' in x)].iloc[1,8]

'Республика Татарстан;Казань;р-н Ново-Савиновский;мкр. кварталы 38;27;улица Академика Лаврентьева;4'

In [109]:
new_c[new_c.addr.apply(lambda x: 'кварталы 38' in x)].iloc[1,0]

'https://kazan.cian.ru/sale/flat/285520807/'

In [115]:
test_c = new_c[new_c.addr.apply(lambda x: ',' in x)]

In [125]:
def tryx(x):
    try:
        return x.split(';')[3]
    except:
        return None

In [127]:
test_c['test_distr'] = test_c.addr.apply(lambda x: tryx(x))

In [129]:
test_c.test_distr.unique()

array(['мкр. 7,8', 'мкр. 9,10,11', 'мкр. кварталы 29,30'], dtype=object)

In [ ]:
all_districts = get_districts_1(sql_engine)
cian_realty['district_id'] = cian_realty.apply(lambda row: district_from_rn_mkrn_1(row, all_districts, sql_engine), axis=1)

In [84]:
# check cian from ilya
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty_1(local_save_dir_cian, filename,
                                                                      sql_engine, 'cian')

    # проверка состояния
    if error_file_processing:
        print('Ошибка при обработке файлов из CIAN {}. Перезапуск скрипта...'.format(filename))
        error_processing_files = True
        break
    else:
        error_processing_files = False
        print('Выгрузка в таблицу realty обработанного файла из cian:', filename)

обработка файла циан 14-04-23 (без дублей) new.csv для cian
check
278
check
278
добавлен новый район 506 "кварталы 38" в districts функцией district_from_rn_mkrn
добавлен новый район 506 "кварталы 38" в districts функцией district_from_rn_mkrn
добавлен новый район 506 "кварталы 25" в districts функцией district_from_rn_mkrn

KeyboardInterrupt:

In [42]:
df_cian_realty

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,price,price_sqrm
0,2,279841013,12.0,362.0,3,Республика Татарстан; Казань; р-н Советский; м...,41.0,1,20,https://kazan.cian.ru/sale/flat/279841013/,2023-04-10,0,287,Агентство недвижимости,1,6790000,165610
1,2,279841011,12.0,176.0,3,Республика Татарстан; Казань; р-н Советский; м...,40.0,10,16,https://kazan.cian.ru/sale/flat/279841011/,2023-04-10,0,287,Агентство недвижимости,1,6800000,170000
2,2,279830163,12.0,506.0,4,Республика Татарстан; Казань; р-н Приволжский;...,53.5,9,9,https://kazan.cian.ru/sale/flat/279830163/,2023-04-10,0,287,Агентство недвижимости,1,6700000,125234
3,2,279806940,12.0,362.0,3,Республика Татарстан; Казань; р-н Советский; у...,35.9,6,17,https://kazan.cian.ru/sale/flat/279806940/,2023-04-10,0,287,Агентство недвижимости,1,6980000,194429
4,2,279798485,12.0,147.0,4,Республика Татарстан; Казань; р-н Вахитовский;...,53.0,6,9,https://kazan.cian.ru/sale/flat/279798485/,2023-04-10,0,287,NaN,1,6500000,122642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67854,2,284260313,12.0,143.0,4,Республика Татарстан; Казань; р-н Советский; м...,55.5,3,10,https://kazan.cian.ru/sale/flat/284260313/,2023-04-10,0,287,Агентство недвижимости,1,6990000,125946
67855,2,284252006,12.0,155.0,5,Республика Татарстан; Казань; р-н Советский; м...,71.0,1,10,https://kazan.cian.ru/sale/flat/284252006/,2023-04-10,0,287,NaN,1,6800000,95775
67856,2,284241806,12.0,362.0,4,Республика Татарстан; Казань; р-н Советский; у...,48.5,3,19,https://kazan.cian.ru/sale/flat/284241806/,2023-04-10,0,287,Агентство недвижимости,1,6700000,138144
67857,2,284240049,12.0,507.0,4,Республика Татарстан; Казань; р-н Ново-Савинов...,49.8,2,9,https://kazan.cian.ru/sale/flat/284240049/,2023-04-10,0,287,Агентство недвижимости,1,6900000,138554
67858,2,284236587,12.0,143.0,5,Республика Татарстан; Казань; р-н Советский; м...,68.0,4,7,https://kazan.cian.ru/sale/flat/284236587/,2023-04-10,0,287,Агентство недвижимости,1,6600000,97059

In [46]:
df_cian_realty.city_id.value_counts().sort_index()

2.0     33323
4.0      5425
5.0      7858
6.0       163
7.0      5019
12.0    11257
13.0        4
15.0        1
17.0     4693
Name: city_id, dtype: int64

In [ ]:
# check avito from ilya
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty_1(local_save_dir_cian, filename,
                                                                      sql_engine, 'cian')

    # проверка состояния
    if error_file_processing:
        print('Ошибка при обработке файлов из CIAN {}. Перезапуск скрипта...'.format(filename))
        error_processing_files = True
        break
    else:
        error_processing_files = False
        print('Выгрузка в таблицу realty обработанного файла из cian:', filename)

In [ ]:
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty(local_save_dir_cian, '27-03-23.csv',
                                                                      sql_engine, 'cian')

    # проверка состояния
    if error_file_processing:
        print('Ошибка при обработке файлов из CIAN {}. Перезапуск скрипта...'.format(filename))
        error_processing_files = True
        break
    else:
        error_processing_files = False
        print('Выгрузка в таблицу realty обработанного файла из cian:', filename)

    # выгрузка и обновление данных в таблице realty
#     error_create_temp_realty, error_getting_ad_id, error_loading_into_realty, error_updating_realty = \
#         load_and_update_realty_db(sql_engine, df_cian_realty, 'cian')

#     if any([error_create_temp_realty, error_getting_ad_id,
#             error_loading_into_realty,error_updating_realty]):
#         close_sql_connection(sql_server, sql_engine)
#         print('Ошибка:', show_error([error_create_temp_realty, error_getting_ad_id,
#                                      error_loading_into_realty, error_updating_realty]))
#         print('Не удалось добавить данные в таблицу {}. Перезапуск скрипта...'.format('realty'))
#         time.sleep(10)
#         break

In [29]:
df_cian_realty.head(5)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new,price,price_sqrm
0,2,210197059,5.0,NaN,5,Краснодарский край; Анапа; улица Горького; 2А,107.0,7,12,https://anapa.cian.ru/sale/flat/210197059/,2023-03-27,0,287,Собственник,1,24000000,224299
1,2,213575526,5.0,NaN,5,Краснодарский край; Анапа; улица Краснозеленых...,106.0,6,7,https://anapa.cian.ru/sale/flat/213575526/,2023-03-27,0,287,Риелтор,1,10100000,95283
2,2,232012292,5.0,NaN,2,Краснодарский край; Анапа; улица Ленина; 194,20.0,1,9,https://anapa.cian.ru/sale/flat/232012292/,2023-03-27,0,287,Риелтор,1,2100000,105000
3,2,233965925,5.0,NaN,3,Краснодарский край; Анапа; улица Толстого; 81,29.0,1,3,https://anapa.cian.ru/sale/flat/233965925/,2023-03-27,0,287,Агентство недвижимости,1,4500000,155172
4,2,239179225,5.0,NaN,7,Краснодарский край; Анапа; Владимирская улица;...,140.0,13,13,https://anapa.cian.ru/sale/flat/239179225/,2023-03-27,0,287,Собственник,1,15300000,109286

In [ ]:
df_cian_realty.head(5)

In [59]:
ilya_c = pd.read_csv('циан 01-04-23 (без дублей).csv', delimiter=';', encoding='utf8')

In [60]:
ilya_c

,Ссылка,Заголовок,Комнат,Площадь,Этаж,Цена,Цена за м2,Название жк,Адрес,Дата публикации,Тип продавца,Продавец
0,https://kazan.cian.ru/sale/flat/278951388/,"1-комн. кв., 40 м², 5/18 этаж",1-комн. кв.,40 м²,5/18 этаж,6500000,162500,ЖК «Молодежный»,"Республика Татарстан, Казань, р-н Советский, м...","неделю назад (23 мар, 17:34)",Агентство недвижимости,Премьер
1,https://kazan.cian.ru/sale/flat/278945093/,"3-комн. кв., 71 м², 2/9 этаж",3-комн. кв.,71 м²,2/9 этаж,6700000,94366,NaN,"Республика Татарстан, Казань, р-н Приволжский,...","3 недели назад (6 мар, 17:51)",Риелтор,Руслан Гаптелбариев
2,https://kazan.cian.ru/sale/flat/278939145/,"1-комн. кв., 39,1 м², 7/7 этаж",1-комн. кв.,"39,1 м²",7/7 этаж,6600000,168798,NaN,"Республика Татарстан, Казань, р-н Советский, м...","вчера (вчера, 18:35)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ
3,https://kazan.cian.ru/sale/flat/278871110/,"1-комн. кв., 32,7 м², 5/9 этаж",1-комн. кв.,"32,7 м²",5/9 этаж,6500000,198777,NaN,"Республика Татарстан, Казань, р-н Вахитовский,...","вчера (вчера, 17:52)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ
4,https://kazan.cian.ru/sale/flat/278838651/,"1-комн. кв., 42,8 м², 8/14 этаж",1-комн. кв.,"42,8 м²",8/14 этаж,6590000,153972,NaN,"Республика Татарстан, Казань, р-н Ново-Савинов...","вчера (вчера, 18:34)",Агентство недвижимости,ЭТАЖИ КАЗАНЬ
...,...,...,...,...,...,...,...,...,...,...,...,...
67593,https://anapa.cian.ru/sale/flat/285539567/,"1-комн. кв., 37,3 м², 5/8 этаж",1-комн. кв.,"37,3 м²",5/8 этаж,5500000,147453,ЖК «Времена года»,"Краснодарский край, Анапа, улица Мирная","вчера (вчера, 14:33)",Агентство недвижимости,Академия
67594,https://anapa.cian.ru/sale/flat/285533182/,"1-комн. кв., 34,7 м², 13/13 этаж",1-комн. кв.,"34,7 м²",13/13 этаж,5350000,154179,ЖК «Лазурный»,"Краснодарский край, Анапа, Крестьянская улица","два дня назад (30 мар, 11:24)",Агентство недвижимости,Анапа-Партнер
67595,https://anapa.cian.ru/sale/flat/285531619/,"1-комн. кв., 41,1 м², 3/14 этаж",1-комн. кв.,"41,1 м²",3/14 этаж,5700000,138686,ЖК «Лазурный»,"Краснодарский край, Анапа, Крестьянская улица,...","вчера (вчера, 11:58)",Агентство недвижимости,ПрайдPRO
67596,https://anapa.cian.ru/sale/flat/285526541/,"1-комн. кв., 33 м², 1/16 этаж",1-комн. кв.,33 м²,1/16 этаж,5300000,160606,ЖК «Два Адмирала»,"Краснодарский край, Анапа, улица Ленина","10 часов назад (сегодня, 12:26)",NaN,ID 44315944
67597,https://anapa.cian.ru/sale/flat/285523095/,"1-комн. кв., 36 м², 5/8 этаж",1-комн. кв.,36 м²,5/8 этаж,5300000,147222,NaN,"Краснодарский край, Анапа, улица Омелькова, 28","два дня назад (30 мар, 02:20)",Агентство недвижимости,Альтернатива

In [61]:
ilya_c[ilya_c['Адрес'].apply(lambda x: 'армавир' in x)]

Empty DataFrame
Columns: [Ссылка, Заголовок, Комнат, Площадь, Этаж, Цена, Цена за м2, Название жк, Адрес, Дата публикации, Тип продавца, Продавец]
Index: []

In [62]:
ilya_c['city'] = ilya_c['Ссылка'].apply(lambda x: x.split('//')[1].split('.')[0])

In [63]:
ilya_c['city'].value_counts()

krasnodar       33402
kazan           11033
anapa            8208
novorossiysk     5536
chelyabinsk      5055
tomsk            4364
Name: city, dtype: int64

In [50]:
ilya_a = pd.read_csv("13-04-23 (без дублей).csv", delimiter=';', encoding='utf8')

In [51]:
ilya_a['city'] = ilya_a['Ссылка'].apply(lambda x: x.split('/')[3])

In [52]:
ilya_a['city'].value_counts()

krasnodar       82135
kazan           19440
chelyabinsk      7375
novorossiysk     4659
anapa            2688
tomsk            2145
armavir           734
Name: city, dtype: int64

In [17]:
def create_realty_1(df, fname, sql_engine, source, dict_realty_type=dict_realty_cian_avito):
    try:
        # new table
        cian_realty = pd.DataFrame()

        # сбор данных из таблиц в бд
        city_df, source_df, exc_code = get_tables_info(sql_engine)

        # удаление дубликатов
        df.drop_duplicates(subset=['Ссылка'], keep='last', inplace=True)
        df.reset_index(drop=True, inplace=True)
        
        # add source
        df['source'] = df['Ссылка'].apply(lambda x: x.split('.')[1])

        # source_id
        source_df_dict = source_df.set_index('id').to_dict()['name']
        cian_realty['source_id'] = df['source'].apply(lambda x: source_id_from_link(x, source_df_dict, 'cian'))

        # ad_id
        cian_realty['ad_id'] = df['Ссылка'].apply(lambda x: x.split('/')[-2])
        
        # city
        df['city'] = df['Адрес'].apply(lambda x: x.split(', ')[1])

        # city_id
        city_df_dict = city_df.set_index('id').to_dict()['name']
        cian_realty['city_id'] = df['city'].apply(lambda x: city_id_from_link(x, city_df_dict))

        # удалить записи где city_id пустой (записи городов, которые не присутствуют в списке городов для парсинга)
        # ind_to_drop = cian_realty[(cian_realty['city_id'].isna())].index.tolist()
        # cian_realty.drop(ind_to_drop, inplace=True)
        # df.drop(ind_to_drop, inplace=True)
        # cian_realty.city_id = cian_realty.city_id.astype(int)

        # type_id

        cian_realty['type_id'] = df['Комнат'].apply(lambda x: type_id_from_room(x, dict_realty_type))
        # удалить записи аукционов и других объяв где не опредлен type_id
        ind_to_drop = cian_realty[(cian_realty['type_id'].isna())].index.tolist()
        cian_realty.drop(ind_to_drop, inplace=True)
        df.drop(ind_to_drop, inplace=True)
        cian_realty.type_id = cian_realty.type_id.astype(int)

        # addr
        cian_realty['addr'] = df['Адрес'].apply(lambda x: x.replace(',',';'))

        # district_id после addr потому что в нем используется адрес
        all_districts = get_districts_1(sql_engine)
        cian_realty['district_id'] = cian_realty.apply(
            lambda row: district_from_rn_mkrn(row, all_districts, sql_engine), axis=1)

        # square
        cian_realty['square'] = df['Площадь']

        # floor
        cian_realty['floor'], cian_realty['house_floors'] = df['floor'], df['house_floors']

        # link
        cian_realty['link'] = df['link']

        # date
        file_date = get_date_from_name(fname)
        cian_realty['date'] = file_date

        # status
        cian_realty['status'] = 0

        # version
        current_source = cian_realty.source_id.unique()[0]
        current_date = datetime.now().date()
        last_version = get_version_db(sql_engine, current_date, current_source)[0].iloc[0, 0]
        if last_version == None:
            current_version = 1
        else:
            current_version = last_version + 1

        cian_realty['version'] = current_version

        # offer_from
        cian_realty['offer_from'] = df['offer_from']

        # status_new
        cian_realty['status_new'] = 1

        # add fields of price and price_sqrm
        cian_realty['price'], cian_realty['price_sqrm'] = df['price'], df['price_sqrm']

        # delete rows where one of important values isna
        cian_realty_check = cian_realty[['source_id', 'ad_id', 'type_id', 'addr', 'link', 'date', 'version']]
        values_na_ind = cian_realty_check[cian_realty_check.isna().any(axis=1)].index
        if len(values_na_ind) > 0:
            cian_realty = cian_realty.drop(values_na_ind)

        cian_realty_to_return = cian_realty[['source_id', 'ad_id', 'city_id', 'district_id', 'type_id',
                                             'addr', 'square', 'floor','house_floors', 'link', 'date',
                                             'status', 'version', 'offer_from', 'status_new', 'price', 'price_sqrm']]
    except Exception as ex:
        print(traceback.format_exc())
        cian_realty_to_return = pd.DataFrame()
        file_date = None
    return cian_realty_to_return, file_date

In [16]:
def process_realty_1(local_dir, file_to_process, sql_engine, source):
    saved_files = get_local_files(local_dir)
    realty_df = pd.DataFrame()
    file_date = None
    for f_ind in range(len(saved_files)):
        if Path(saved_files[f_ind]).name == file_to_process:
            try:
                if source == 'avito':
                    saved_file = pd.read_csv(saved_files[f_ind], delimiter=';', encoding='utf8')
                    realty_df, file_date = create_realty_1(saved_file, Path(saved_files[f_ind]).stem,
                                                         sql_engine, 'avito')
                elif source == 'cian':
                    saved_file = pd.read_csv(saved_files[f_ind], delimiter=',', encoding='cp1251')
                    realty_df, file_date = create_realty_1(saved_file, Path(saved_files[f_ind]).stem,
                                                         sql_engine, 'cian')
            except Exception as ex:
                print(traceback.format_exc())
                print('Не удалось прочитать файл из {}: '.format(source), Path(saved_files[f_ind]))
        else:
            pass
    if len(realty_df) != 0:
        print('Успешно обработан файл {} для realty'.format(file_to_process))
        error_status = False
        return realty_df, file_date, error_status
    else:
        error_status = True
        print('Файл {} не удалось обнаружить для realty'.format(file_to_process))
        return realty_df, file_date, error_status

In [ ]:
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty(local_save_dir_cian, '27-03-23.csv',
                                                                      sql_engine, 'cian')

    # проверка состояния
    if error_file_processing:
        print('Ошибка при обработке файлов из CIAN {}. Перезапуск скрипта...'.format(filename))
        error_processing_files = True
        break
    else:
        error_processing_files = False
        print('Выгрузка в таблицу realty обработанного файла из cian:', filename)

    # выгрузка и обновление данных в таблице realty
#     error_create_temp_realty, error_getting_ad_id, error_loading_into_realty, error_updating_realty = \
#         load_and_update_realty_db(sql_engine, df_cian_realty, 'cian')

#     if any([error_create_temp_realty, error_getting_ad_id,
#             error_loading_into_realty,error_updating_realty]):
#         close_sql_connection(sql_server, sql_engine)
#         print('Ошибка:', show_error([error_create_temp_realty, error_getting_ad_id,
#                                      error_loading_into_realty, error_updating_realty]))
#         print('Не удалось добавить данные в таблицу {}. Перезапуск скрипта...'.format('realty'))
#         time.sleep(10)
#         break

обработка файла циан 10-04-23 (без дублей).csv для cian

In [18]:
error_create_temp_realty, error_getting_ad_id, error_loading_into_realty, error_updating_realty = \
        load_and_update_realty_db(sql_engine, df_cian_realty, 'cian')

Временная таблица очищена
Загрузка новых объявлений в таблицу
новые объявления добавлены, переход к обновлению существующих
new_algo2
Обновление данных завершено

In [19]:
error_create_temp_realty, error_getting_ad_id, error_loading_into_realty, error_updating_realty

(False, False, False, False)

In [16]:
for filename in files_to_process_cian:
    # обработка realty циан
    print('обработка файла {} для cian'.format(filename))
    df_cian_realty, file_date, error_file_processing = process_realty(local_save_dir_cian, filename,
                                                                      sql_engine, 'cian')

    # проверка состояния
    if error_file_processing:
        print('Ошибка при обработке файлов из CIAN {}. Перезапуск скрипта...'.format(filename))
        error_processing_files = True
        break
    else:
        error_processing_files = False
        print('Выгрузка в таблицу realty обработанного файла из cian:', filename)

    # загрузка realty в таблицу
    try:
#         df_cian_realty[list_realty_cols].to_sql(name='realty', con=sql_engine, if_exists='append',
#                                chunksize=7000, method='multi', index=False)
        # df_cian_realty.to_csv(f'{filename}_test_cian_realty.csv')
        error_writing_files = False
    except Exception as exc:
        print(exc)
        print('Не удалось добавить данные в таблицу {}. Перезапуск скрипта...'.format('realty'))
        error_writing_files = True
        break

обработка файла 27-03-23.csv для cian
Успешно обработан файл 27-03-23.csv для realty
Выгрузка в таблицу realty обработанного файла из cian: 27-03-23.csv

# апдейт

In [18]:
exist_ad_id = get_exist_ad_id(sql_engine, 'cian')[0].ad_id.to_list()

In [36]:
df_cian_realty_exist___ = df_cian_realty[df_cian_realty.ad_id.isin([])][list_realty_cols]

In [38]:
len(df_cian_realty_exist___)

0

In [120]:
df_cian_realty_new

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
1189,2,270328443,5.0,NaN,6,Краснодарский край; Анапа; Владимирская улица;...,95.0,20,20,https://anapa.cian.ru/sale/flat/270328443/,2023-03-27,None,274,NaN,1
3306,2,278996199,5.0,NaN,3,Краснодарский край; Анапа; Алексеевка мкр; ули...,35.0,6,7,https://anapa.cian.ru/sale/flat/278996199/,2023-03-27,None,274,Собственник,1
3433,2,279241124,5.0,NaN,2,Краснодарский край; Анапа; Таманская улица; 12...,26.0,5,6,https://anapa.cian.ru/sale/flat/279241124/,2023-03-27,None,274,Агентство недвижимости,1
3622,2,279601823,5.0,NaN,3,Краснодарский край; Анапа; улица Толстого; 26,35.5,2,7,https://anapa.cian.ru/sale/flat/279601823/,2023-03-27,None,274,Представитель застройщика,1
4159,2,280802412,5.0,NaN,3,Краснодарский край; Анапа; 18/3 ЖК,44.7,7,15,https://anapa.cian.ru/sale/flat/280802412/,2023-03-27,None,274,Застройщик,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103599,2,285370017,17.0,387.0,4,Томская область; Томск; р-н Кировский; д. Лоск...,57.1,2,4,https://tomsk.cian.ru/sale/flat/285370017/,2023-03-27,None,274,NaN,1
103600,2,285370096,17.0,405.0,4,Томская область; Томск; р-н Октябрьский; мкр. ...,53.0,8,10,https://tomsk.cian.ru/sale/flat/285370096/,2023-03-27,None,274,Агентство недвижимости,1
103601,2,285370463,17.0,417.0,4,Томская область; Томск; р-н Ленинский; мкр. Ра...,53.0,6,10,https://tomsk.cian.ru/sale/flat/285370463/,2023-03-27,None,274,Агентство недвижимости,1
103602,2,285373005,17.0,394.0,3,Томская область; Томск; р-н Ленинский; Черемош...,31.5,7,10,https://tomsk.cian.ru/sale/flat/285373005/,2023-03-27,None,274,Агентство недвижимости,1
103603,2,285373491,17.0,391.0,5,Томская область; Томск; р-н Октябрьский; улица...,56.0,2,5,https://tomsk.cian.ru/sale/flat/285373491/,2023-03-27,None,274,Риелтор,1

In [19]:
df_cian_realty_exist = df_cian_realty[df_cian_realty.ad_id.isin(exist_ad_id)][list_realty_cols]
df_cian_realty_new = df_cian_realty[~df_cian_realty.ad_id.isin(exist_ad_id)][list_realty_cols]

In [24]:
df_cian_realty_exist.head(3)

,source_id,ad_id,city_id,district_id,type_id,addr,square,floor,house_floors,link,date,status,version,offer_from,status_new
0,2,210197059,5.0,NaN,5,Краснодарский край; Анапа; улица Горького; 2А,107.0,7,12,https://anapa.cian.ru/sale/flat/210197059/,2023-03-27,None,274,Собственник,1
1,2,213575526,5.0,NaN,5,Краснодарский край; Анапа; улица Краснозеленых...,106.0,6,7,https://anapa.cian.ru/sale/flat/213575526/,2023-03-27,None,274,Риелтор,1
2,2,232012292,5.0,NaN,2,Краснодарский край; Анапа; улица Ленина; 194,20.0,1,9,https://anapa.cian.ru/sale/flat/232012292/,2023-03-27,None,274,Риелтор,1

In [ ]:
# обновление данных
df_cian_realty_exist.to_sql(name='temp_realty', con=sql_engine, if_exists='append', chunksize=7000, method='multi', index=False)

con_obj = sql_engine.connect()
common_ids = tuple(df_cian_realty_exist.ad_id)
update_table_query = f"""update realty join temp_realty on realty.ad_id=temp_realty.ad_id
                        set realty.source_id = temp_realty.source_id,
                            realty.city_id = temp_realty.city_id,
                            realty.district_id = temp_realty.district_id,
                            realty.type_id = temp_realty.type_id,
                            realty.addr = temp_realty.addr,
                            realty.square = temp_realty.square,
                            realty.floor = temp_realty.floor,
                            realty.house_floors = temp_realty.house_floors,
                            realty.link = temp_realty.link,
                            realty.date = temp_realty.date,
                            realty.status = temp_realty.status,
                            realty.version = temp_realty.version,
                            realty.offer_from = temp_realty.offer_from,
                            realty.status_new = temp_realty.status_new,
                            realty.house_id = temp_realty.house_id
                         WHERE realty.ad_id in {common_ids}"""
con_obj.execute(text(update_table_query))
con_obj.commit()
con_obj.close()

In [ ]:
# очистка данных из temp_realty
con_obj = sql_engine.connect()
con_obj.execute(text(clear_temp_table_query))
con_obj.commit()
con_obj.close()

In [ ]:
# добавление данных 
df_cian_realty_new.to_sql(name='realty', con=sql_engine, if_exists='append', chunksize=7000, method='multi', index=False)